@media (min-width: 992px) and (max-width: 1199px) {
  header .head-mid .head-right .call {
    margin-left: 21px;
    font-size: 24px; }
    header .head-mid .head-right .call span {
      font-size: 21px; }
  header .head-mid .head-right .search-from {
    max-width: 372px; }
    header .head-mid .head-right .search-from form.form-search input.form-control {
      max-width: 322px; }
  header .head-main .sidebar-nav {
    max-width: 209px; }
    header .head-main .sidebar-nav ul li a.Currency {
      font-size: 13px;
      padding: 7px 14px; }
    header .head-main .sidebar-nav ul li ul li a {
      padding: 0 15px; }
    header .head-main .sidebar-nav ul li ul li ul {
      left: 209px; }
  header .head-main .navigation .navbar .navbar-collapse .navbar-nav li a {
    font-size: 14px;
    padding: 17px 10px; }
  header .mini-cart {
    max-width: 183px; }
    header .mini-cart a {
      font-size: 14px;
      padding: 23px 11px; }
      header .mini-cart a i {
        font-size: 19px; }

  .slider-zone .carousel-inner .item .carousel-caption {
    padding-top: 4%; }

  .our-services .services-section ul li {
    max-width: 243px; }
    .our-services .services-section ul li a {
      padding: 0 0px; }
      .our-services .services-section ul li a h3 {
        font-size: 19px; }
  .our-services .services-section ul#test li.list-2 {
    left: -29px;
    top: 52px; }
  .our-services .services-section ul#test li.list-3 {
    left: -29px;
    top: 177px; }
  .our-services .services-section ul#test1 li.list-1 {
    left: 27px;
    top: 122px; }
  .our-services .services-section ul#test1 li.list-2 {
    left: 30px;
    top: 274px; }
  .our-services .services-section ul#test1 li.list-3 {
    top: 446px;
    right: 343px; }
  .our-services .services-section .bigcircle {
    width: 550px;
    margin: 0 auto;
    height: 550px;
    background-position: center top;
    background-size: cover; }

  #footer-sec .footer-top ul.social li {
    margin-right: 0px; } }
@media (min-width: 768px) and (max-width: 991px) {
  header .head-mid .head-right .call {
    margin-left: 0px;
    font-size: 24px;
    float: right;
    margin-bottom: 13px; }
    header .head-mid .head-right .call span {
      font-size: 21px; }
      header .head-mid .head-right .call span i {
        font-size: 27px; }
  header .head-mid .head-right .search-from {
    max-width: 372px; }
    header .head-mid .head-right .search-from form.form-search input.form-control {
      max-width: 322px; }
  header .head-main .sidebar-nav {
    max-width: 209px; }
    header .head-main .sidebar-nav ul li a.Currency {
      font-size: 13px;
      padding: 7px 14px; }
    header .head-main .sidebar-nav ul li ul li a {
      padding: 0 15px; }
    header .head-main .sidebar-nav ul li ul li ul {
      left: 209px; }
  header .head-main .navigation .navbar .navbar-collapse .navbar-nav li a {
    font-size: 13px;
    padding: 17px 9px; }
  header .mini-cart {
    max-width: 100%;
    display: inline-block;
    margin-top: 0px; }
    header .mini-cart:before {
      display: none; }
    header .mini-cart a {
      font-size: 14px;
      padding: 11px 11px;
      text-align: center; }
      header .mini-cart a i {
        font-size: 19px;
        float: none;
        display: inline-block; }

  .slider-zone .carousel-inner .item .carousel-caption {
    padding-top: 4%; }
    .slider-zone .carousel-inner .item .carousel-caption h1 {
      font-size: 23px;
      line-height: 33px; }

  .our-services .services-section ul li {
    max-width: 195px; }
    .our-services .services-section ul li .circle-box {
      width: 120px;
      text-align: center;
      height: 120px; }
      .our-services .services-section ul li .circle-box .icon img {
        width: 35px; }
      .our-services .services-section ul li .circle-box h4 {
        font-size: 13px; }
    .our-services .services-section ul li a {
      padding: 0 0px; }
      .our-services .services-section ul li a h3 {
        font-size: 15px; }
  .our-services .services-section ul#test li.list-1 {
    left: 265px;
    top: -120px; }
    .our-services .services-section ul#test li.list-1 .circle-box {
      left: -130px;
      top: -12px; }
  .our-services .services-section ul#test li.list-2 {
    left: -29px;
    top: -44px; }
    .our-services .services-section ul#test li.list-2 .circle-box {
      left: 35px;
      top: -134px; }
  .our-services .services-section ul#test li.list-3 {
    left: -29px;
    top: 92px; }
    .our-services .services-section ul#test li.list-3 .circle-box {
      left: 37px;
      top: -127px; }
  .our-services .services-section ul#test1 li.list-1 {
    left: 27px;
    top: 39px; }
    .our-services .services-section ul#test1 li.list-1 .circle-box {
      left: 33px;
      top: -131px; }
  .our-services .services-section ul#test1 li.list-2 {
    left: 30px;
    top: 186px; }
    .our-services .services-section ul#test1 li.list-2 .circle-box {
      left: 35px;
      top: -135px; }
  .our-services .services-section ul#test1 li.list-3 {
    top: 252px;
    right: 262px; }
    .our-services .services-section ul#test1 li.list-3 .circle-box {
      left: -110px;
      top: -20px; }
  .our-services .services-section .bigcircle {
    width: 400px;
    margin: 0 auto;
    height: 400px;
    background-position: center top;
    background-size: cover; }
    .our-services .services-section .bigcircle .circle-content {
      padding-top: 73px;
      max-width: 300px; }
      .our-services .services-section .bigcircle .circle-content h4 {
        font-size: 17px; }
      .our-services .services-section .bigcircle .circle-content p {
        font-size: 15px;
        font-weight: 400;
        line-height: 22px; }
      .our-services .services-section .bigcircle .circle-content .title h3 {
        font-size: 17px;
        margin-bottom: 37px; }

  .document-search .document-box {
    padding: 0 19px; }
    .document-search .document-box h2 {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 15px;
      margin-top: 15px; }
    .document-search .document-box p {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 32px; }

  .pricing-section .pricing-box .pricing-panel {
    padding: 0 11px; }
    .pricing-section .pricing-box .pricing-panel span.sign {
      margin-right: 0px; }
    .pricing-section .pricing-box .pricing-panel span.price {
      font-size: 57px; }
    .pricing-section .pricing-box .pricing-panel span.year {
      font-size: 16px; }

  #footer-sec .footer-top ul.social li {
    margin-right: 0px; }
    #footer-sec .footer-top ul.social li a {
      width: 35px;
      height: 35px;
      font-size: 19px;
      line-height: 39px; } }
@media (max-width: 767px) {
  header .head-mid a.logo {
    display: block;
    text-align: center; }
  header .head-mid .top-links {
    text-align: center;
    margin-bottom: 6px; }
    header .head-mid .top-links ul li {
      margin-left: 0px;
      margin-bottom: 6px; }
  header .head-mid .head-right {
    float: none;
    margin-left: 0px; }
    header .head-mid .head-right .call {
      margin-left: 0px;
      font-size: 18px;
      float: none;
      margin-bottom: 14px;
      text-align: center; }
      header .head-mid .head-right .call span {
        font-size: 16px; }
        header .head-mid .head-right .call span i {
          font-size: 25px; }
    header .head-mid .head-right .search-from {
      max-width: 300px; }
      header .head-mid .head-right .search-from form.form-search input.form-control {
        max-width: 240px; }
  header .head-main .sidebar-nav {
    float: none;
    max-width: 100%; }
    header .head-main .sidebar-nav ul li ul li ul {
      position: relative;
      top: 0;
      left: 0;
      margin: 0; }
      header .head-main .sidebar-nav ul li ul li ul li a {
        padding-left: 40px; }
  header .head-main .navigation {
    width: 100%;
    float: none; }
    header .head-main .navigation .navbar-toggle {
      border: solid 2px #fbb924;
      border-radius: 0px;
      margin: 10px 0 10px; }
      header .head-main .navigation .navbar-toggle .icon-bar {
        background: #fbb924; }
    header .head-main .navigation .navbar .navbar-collapse .navbar-nav li a {
      padding: 12px 14px;
      text-align: center;
      font-size: 14px;
      border-top: solid 1px rgba(255, 255, 255, 0.2); }
  header .mini-cart {
    float: none;
    max-width: 100%;
    margin-top: 0px; }
    header .mini-cart:before {
      display: none; }
    header .mini-cart a {
      padding: 10px 14px;
      text-align: center; }
      header .mini-cart a i {
        float: none;
        display: inline-block; }

  .slider-zone .talk-banner {
    display: none; }
  .slider-zone .talk-banner.in-mobile {
    display: block;
    padding: 16px 15px; }
    .slider-zone .talk-banner.in-mobile h2 {
      margin-bottom: 20px; }
  .slider-zone .carousel-indicators {
    bottom: 0px; }
    .slider-zone .carousel-indicators li {
      width: 8px;
      height: 8px;
      margin: 3px 3px 16px; }
  .slider-zone .carousel-inner .item .carousel-caption {
    padding-top: 13px; }
    .slider-zone .carousel-inner .item .carousel-caption h2 {
      font-size: 15px;
      margin-bottom: 0px;
      padding-bottom: 9px; }
      .slider-zone .carousel-inner .item .carousel-caption h2:after {
        width: 100px;
        border-top: solid 1px #fbb924; }
    .slider-zone .carousel-inner .item .carousel-caption h1 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 30px; }

  .title h2 {
    font-size: 25px; }

  .document-search {
    padding: 66px 0 0px; }
    .document-search .document-box.mid-box {
      margin-top: 0px; }
    .document-search .document-box {
      margin-bottom: 93px; }

  .our-services .services-section {
    margin-bottom: 20px;
    margin-top: 76px; }
    .our-services .services-section ul#test {
      position: relative; }
      .our-services .services-section ul#test li.list-1 {
        left: 0px;
        top: 0px; }
      .our-services .services-section ul#test li.list-2 {
        left: 0px;
        top: 0px; }
      .our-services .services-section ul#test li.list-3 {
        left: 0px;
        top: 0px; }
    .our-services .services-section ul#test1 {
      position: relative; }
      .our-services .services-section ul#test1 li.list-1 {
        left: 0px;
        top: 0px; }
      .our-services .services-section ul#test1 li.list-2 {
        left: 0px;
        top: 0px; }
      .our-services .services-section ul#test1 li.list-3 {
        left: 0px;
        top: 0px; }
    .our-services .services-section ul li {
      max-width: 100%;
      border: none;
      background: #1c4b9e;
      margin-bottom: 14px;
      padding: 0px; }
      .our-services .services-section ul li .circle-box {
        display: none; }
      .our-services .services-section ul li a {
        padding: 17px 10px;
        text-align: center; }
        .our-services .services-section ul li a h3 {
          font-size: 17px;
          color: #fff;
          text-transform: uppercase;
          font-weight: 600; }
        .our-services .services-section ul li a p {
          text-align: center;
          color: #fff;
          font-weight: 400; }
      .our-services .services-section ul li:hover .circle-box {
        display: none; }
    .our-services .services-section .bigcircle {
      background: #1c4b9e;
      width: 100%;
      margin: 0 auto;
      padding: 10px 10px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      border-radius: 15px;
      height: 100%; }
      .our-services .services-section .bigcircle .circle-content {
        padding-top: 0px;
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
        background: #ffffff;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        border-radius: 15px;
        padding-bottom: 20px; }
        .our-services .services-section .bigcircle .circle-content h4 {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 10px;
          padding: 11px 20px 0; }
        .our-services .services-section .bigcircle .circle-content p {
          font-size: 14px;
          line-height: 20px; }
        .our-services .services-section .bigcircle .circle-content .title {
          background: #1c4b9e; }
          .our-services .services-section .bigcircle .circle-content .title h3 {
            font-size: 19px;
            margin-bottom: 6px;
            padding: 22px 0px; }

  .pricing-section .pricing-box.yellow-box {
    margin-top: 30px;
    margin-bottom: 30px; }

  footer#footer-sec .footer-links {
    margin-bottom: 30px; }
  footer#footer-sec .copyright {
    padding: 14px 30px; }
    footer#footer-sec .copyright p {
      font-size: 14px; } }

/*# sourceMappingURL=responsive.css.map */
