$white-color:#ffffff;
$black-color:#000000;
$light-greay:#f2f2f2;
$main-blue:#1c4b9e;
$yellow-color:#fbb924;
$font-color:#505050;
$darkgrey-color:#393939;
$search-border:#edecec;
$dark-blue-color:#2a378e;
$blue-border:#3463a6;
$yellow-border:#fee69b;
$light-border:#f2f2f2;
$price-blue:#245aa6;
$grey-light-border:#f4f4f4;
$button-more:#326bbb;
$footer-color:#141414;
$footer-font-color:#737373;
$yello-price:#feb91d;
$grey-bg-color:#f1f1f1;
$document-color:#5f5f5f;
$product-img-color:#fbfafa;
$priceing-bg:#fbfbfb;
$login-color:#a3a3a3;
$text-field-color:#d2d2d2;



