/*.container{
    margin: 0 auto;
    width: 50%;
}

.content{
    padding: 5px;
    margin: 0 auto;
}
.content span{
    width: 250px;
}*/

.dz-message{
    text-align: center;
    font-size: 28px;
}
.submitBtn {
	margin-top: 15px;
}

.dropzone.dz-clickable span {
    width: 100%;
background: url(../../img/upload.png) center center no-repeat;
padding: 220px 0 0 0;
background-size: 150px;
}
.dropzonePage { width: 100%; margin-top: 15px; }

.dropzone-list-view{
	max-height:500px;
	overflow-y: scroll;
}

.container.dropzonePage .content { padding: 0px; margin-bottom: 10px; }