@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
Ghtml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #505050;
  overflow-x: hidden;
  line-height: 22px; }

::-webkit-input-placeholder {
  opacity: 1; }

::-moz-placeholder {
  opacity: 1; }

:-ms-input-placeholder {
  opacity: 1; }

:-moz-placeholder {
  opacity: 1; }

ol, ul {
  list-style: none outside none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: 600; }

html {
  font-size: 100%; }

a:focus {
  outline: medium none !important; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none; }

a {
  color: #000000;
  font-size: 13px; }

a:hover {
  color: #000000;
  text-decoration: none; }

img {
  box-sizing: border-box;
  height: auto;
  max-width: 100%; }

p {
  font-weight: 400;
  line-height: 20px;
  font-size: 16px; }

.clearfix {
  *zoom: 1; }

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0; }

.clearfix:after {
  clear: both; }

a.user-conversation {
  background: #fbb924;
  color: #000000;
  font-size: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  position: fixed;
  bottom: 30px;
  text-align: center;
  right: 30px;
  padding-top: 12px;
  box-shadow: 1px 2px 11px 1px rgba(0, 0, 0, 0.2); }
  a.user-conversation:hover {
    box-shadow: 1px 2px 11px 1px #fbb924; }
  a.user-conversation img {
    width: 36px;
    height: auto;
    display: block;
    margin: 0 auto; }

#lets-talk-model .modal-dialog {
  max-width: 400px;
  width: 100%; }
  #lets-talk-model .modal-dialog .modal-header {
    border-bottom: none; }
    #lets-talk-model .modal-dialog .modal-header h4.modal-title {
      color: #000000;
      font-size: 26px;
      font-weight: 700;
      text-align: center; }
  #lets-talk-model .modal-dialog .modal-body {
    padding: 15px 30px; }
  #lets-talk-model .modal-dialog .form-group input.form-control {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.04) inset;
    color: #393939;
    display: block;
    font-size: 15px;
    height: 48px;
    line-height: normal;
    margin: 0;
    padding: 0 20px;
    text-align: left; }
  #lets-talk-model .modal-dialog .form-group button.button.submit {
    background: #fbb924;
    border: medium none;
    border-radius: 5px;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%; }
  #lets-talk-model .modal-dialog .form-group p {
    color: #000000;
    font-size: 13px;
    font-weight: 600;
    text-align: center; }

header .head-mid {
  padding: 11px 0; }
  header .head-mid a.logo {
    display: block; }
    header .head-mid a.logo img {
      width: 132px; }
  header .head-mid .top-links {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-bottom: 21px;
    margin-top: 7px; }
    header .head-mid .top-links li {
      display: inline-block;
      margin-left: 11px; }
      header .head-mid .top-links li.login a {
        background: #1c4b9e; }
      header .head-mid .top-links li a {
        display: block;
        width: 163px;
        text-align: center;
        font-size: 17px;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        background: #fbb924;
        padding: 11px 0; }
        header .head-mid .top-links li a span.icon {
          margin-right: 10px; }
  header .head-mid .head-right {
    display: inline-block;
    width: 100%; }
    header .head-mid .head-right .call {
      float: left;
      font-size: 31px;
      font-weight: 700;
      color: #1c4b9e;
      text-transform: uppercase;
      padding-top: 7px;
      margin-left: 67px; }
      header .head-mid .head-right .call span {
        color: #fbb924;
        font-size: 24px; }
        header .head-mid .head-right .call span i {
          font-size: 37px;
          -ms-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          position: relative;
          top: 5px; }
    header .head-mid .head-right .search-from {
      float: right;
      width: 100%;
      max-width: 405px; }
      header .head-mid .head-right .search-from form.form-search {
        margin-top: 0px;
        background: #ffffff;
        border: solid 1px #edecec; }
        header .head-mid .head-right .search-from form.form-search input.form-control {
          float: left;
          width: 100%;
          max-width: 355px;
          background: none;
          border: none;
          color: #000000;
          font-size: 13px;
          line-height: 34px;
          text-transform: none;
          padding: 0px 14px;
          opacity: 1;
          height: 45px; }
        header .head-mid .head-right .search-from form.form-search button.btn.btn-sm {
          float: left;
          background: #1c4b9e;
          border: none;
          color: #fff;
          padding: 0;
          text-align: center;
          width: 100%;
          max-width: 48px;
          font-size: 17px;
          line-height: 47px;
          border-radius: 0px; }
header .head-main {
  background: #1c4b9e; }
  header .head-main .sidebar-nav {
    background: #2a378e;
    width: 100%;
    float: left;
    max-width: 250px;
    margin-right: 3px; }
    header .head-main .sidebar-nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      header .head-main .sidebar-nav ul li {
        display: inline-block;
        position: relative;
        width: 100%;
        z-index: 999; }
        header .head-main .sidebar-nav ul li a.Currency {
          font-size: 15px;
          color: #ffffff;
          font-weight: 600;
          text-transform: uppercase;
          padding: 7px 14px; }
          header .head-main .sidebar-nav ul li a.Currency i {
            float: right;
            color: #fbb924;
            margin-top: 11px;
            font-size: 20px; }
        header .head-main .sidebar-nav ul li a {
          line-height: 40px;
          padding: 0 12px;
          margin: 0 12px;
          color: #fff;
          text-decoration: none;
          display: block; }
          header .head-main .sidebar-nav ul li a:hover, header .head-main .sidebar-nav ul li a:focus, header .head-main .sidebar-nav ul li a:active {
            color: #fbb924; }
        header .head-main .sidebar-nav ul li ul {
          background-color: #2a378e;
          position: absolute;
          left: 0;
          top: 54px;
          /* make this equal to the line-height of the links (specified below) */
          width: 100%;
          display: none; }
          header .head-main .sidebar-nav ul li ul li {
            position: relative;
            margin: 0;
            display: block; }
            header .head-main .sidebar-nav ul li ul li.sidebardropdown a {
              background-image: url(../images/arrow-right.png);
              background-position: 94% 18px;
              background-repeat: no-repeat; }
            header .head-main .sidebar-nav ul li ul li.sidebardropdown ul li.sidebardropdown a {
              background-image: url(../images/arrow-right.png);
              background-position: 94% 18px;
              background-repeat: no-repeat; }
            header .head-main .sidebar-nav ul li ul li.sidebardropdown ul li.sidebardropdown ul li a {
              background: none; }
            header .head-main .sidebar-nav ul li ul li.sidebardropdown ul li a {
              background: none; }
            header .head-main .sidebar-nav ul li ul li a {
              border-bottom: solid 1px #1c4b9e;
              margin: 0 0px;
              padding: 0 26px; }
            header .head-main .sidebar-nav ul li ul li ul {
              position: absolute;
              top: 0;
              left: 250px;
              /* make this equal to the width of the sub nav above */
              margin: 0; }
            header .head-main .sidebar-nav ul li ul li:last-child {
              border-bottom: none; }
header .navigation {
  float: left; }
  header .navigation .navbar {
    min-height: 100%;
    border: none;
    margin-bottom: 0px; }
    header .navigation .navbar .navbar-collapse {
      padding-left: 0px;
      padding-right: 0px;
      box-shadow: none;
      border: none; }
      header .navigation .navbar .navbar-collapse .navbar-nav {
        float: none; }
        header .navigation .navbar .navbar-collapse .navbar-nav li a {
          font-size: 17px;
          color: #ffffff;
          text-transform: uppercase;
          font-weight: 400;
          padding: 17px 14px; }
          header .navigation .navbar .navbar-collapse .navbar-nav li a:hover {
            color: #fbb924;
            background: none; }
          header .navigation .navbar .navbar-collapse .navbar-nav li a:focus {
            background: none; }
        header .navigation .navbar .navbar-collapse .navbar-nav li.active a {
          color: #fbb924;
          background: none; }
header .mini-cart {
  background: #fbb924;
  float: right;
  width: 100%;
  position: relative;
  max-width: 203px;
  margin-top: -14px; }
  header .mini-cart:before {
    content: "";
    position: absolute;
    top: 5px;
    width: 0;
    left: -12px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid rgba(225, 175, 14, 0.9);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */ }
  header .mini-cart a {
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    display: block;
    padding: 23px 14px;
    text-transform: uppercase; }
    header .mini-cart a i {
      font-size: 22px;
      float: left;
      margin-right: 10px; }

.slider-zone .carousel-indicators li {
  width: 13px;
  height: 13px;
  border: none;
  background: #ffffff;
  margin: 3px 6px 16px;
  /* Rotate */
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /* Rotate Origin */
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
  border-radius: 0px; }
  .slider-zone .carousel-indicators li.active {
    background: #fbb924; }
.slider-zone .carousel-inner .item img {
  width: 100%; }
.slider-zone .carousel-inner .item .carousel-caption {
  left: 0px;
  right: 0px;
  background: rgba(6, 27, 58, 0.6);
  top: 0px;
  bottom: 0px;
  text-align: left;
  padding-top: 13%; }
  .slider-zone .carousel-inner .item .carousel-caption h2 {
    color: #fbb924;
    font-weight: bold;
    font-size: 33px;
    text-transform: uppercase;
    margin-bottom: 18px;
    position: relative;
    padding-bottom: 17px; }
    .slider-zone .carousel-inner .item .carousel-caption h2:after {
      content: "";
      position: absolute;
      left: 0px;
      bottom: 0px;
      border-top: solid 3px #fbb924;
      width: 150px; }
  .slider-zone .carousel-inner .item .carousel-caption h1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 38px;
    line-height: 49px;
    text-transform: none;
    margin-bottom: 30px; }
  .slider-zone .carousel-inner .item .carousel-caption a.btn.button {
    background: #fbb924;
    width: 100%;
    margin: 0 auto;
    max-width: 220px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    line-height: 39px;
    font-weight: 600;
    text-transform: uppercase; }
    .slider-zone .carousel-inner .item .carousel-caption a.btn.button:hover {
      background: #1c4b9e;
      color: #ffffff; }
.slider-zone .talk-banner {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  padding: 35px 15px;
  text-shadow: none;
  margin-top: 19px; }
  .slider-zone .talk-banner h2 {
    font-weight: 800;
    font-size: 20px !important;
    color: #000000 !important;
    text-transform: none; }
    .slider-zone .talk-banner h2:after {
      display: none; }
  .slider-zone .talk-banner button.lets-talk {
    background: #fbb924;
    color: #000000;
    font-size: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: none;
    line-height: 50px;
    padding: 0px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 14px; }
    .slider-zone .talk-banner button.lets-talk:hover, .slider-zone .talk-banner button.lets-talk:focus {
      outline: none;
      border: none; }
  .slider-zone .talk-banner span {
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    text-transform: none; }
.slider-zone .talk-banner.in-mobile {
  display: none; }

.title {
  position: relative;
  text-align: center; }
  .title h2 {
    font-size: 34px;
    color: #000000;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px; }
    .title h2 span {
      font-weight: 400; }
  .title span.bar-icon {
    width: 13px;
    height: 13px;
    display: block;
    border: solid 2px #fbb924;
    background: none;
    margin: 3px auto 16px;
    /* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    /* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
    border-radius: 0px; }
    .title span.bar-icon:before {
      content: "";
      position: absolute;
      top: -33px;
      left: -63px;
      border-top: solid 2px #fbb924;
      width: 64px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      /* Rotate Origin */ }
    .title span.bar-icon:after {
      content: "";
      position: absolute;
      top: 40px;
      right: -65px;
      border-top: solid 2px #fbb924;
      width: 64px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      /* Rotate Origin */ }

.document-search {
  background: #f1f1f1;
  padding: 130px 0; }
  .document-search .document-box {
    background: #ffffff;
    border-top: solid 8px #fbb924;
    text-align: center;
    padding: 0 26px; }
    .document-search .document-box .icon-img {
      width: 109px;
      height: 109px;
      line-height: 109px;
      background: #ffffff;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      display: block;
      margin: -50px auto 0;
      -webkit-box-shadow: 0 0px 14px 6px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0px 14px 6px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0px 14px 6px rgba(0, 0, 0, 0.1); }
    .document-search .document-box h2 {
      color: #000000;
      font-size: 24px;
      text-transform: uppercase;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 15px;
      margin-top: 15px; }
    .document-search .document-box p {
      color: #5f5f5f;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
      margin-bottom: 32px; }
    .document-search .document-box a.btn.button {
      background: #fbb924;
      width: 100%;
      margin: 0px auto -23px;
      max-width: 220px;
      text-align: center;
      color: #ffffff;
      font-size: 20px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      line-height: 39px;
      font-weight: 600;
      text-transform: uppercase; }
  .document-search .document-box.mid-box {
    margin-top: -40px; }

.training-courses {
  padding: 50px 0px; }
  .training-courses p {
    text-align: center;
    color: #5f5f5f;
    line-height: 25px; }
  .training-courses .courses-wrap {
    border: solid 1px #f4f4f4;
    padding: 20px 15px;
    margin-top: 40px; }
    .training-courses .courses-wrap span.icon {
      display: block;
      text-align: center; }
    .training-courses .courses-wrap h3 {
      color: #1c4b9e;
      font-size: 20px;
      text-transform: uppercase;
      line-height: 30px;
      font-weight: 700;
      margin-bottom: 15px;
      margin-top: 15px;
      text-align: center; }
    .training-courses .courses-wrap p {
      color: #5f5f5f;
      font-size: 15px;
      line-height: 22px;
      font-weight: 400;
      margin-bottom: 12px;
      text-align: left; }
    .training-courses .courses-wrap a.btn.button {
      background: #fbb924;
      width: 100%;
      margin: 30px auto 0px;
      text-align: center;
      color: #ffffff;
      font-size: 16px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
      line-height: 39px;
      font-weight: 600;
      text-transform: uppercase; }

.our-services {
  padding: 30px 0px; }
  .our-services p {
    text-align: center; }
  .our-services .services-section {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 130px;
    margin-top: 200px; }
    .our-services .services-section ul {
      border: none; }
      .our-services .services-section ul li {
        padding: 0 10px;
        position: relative;
        width: 100%;
        max-width: 424px;
        float: none; }
        .our-services .services-section ul li .circle-box {
          display: none;
          position: absolute;
          left: 0px;
          top: 0px;
          width: 148px;
          text-align: center;
          height: 148px;
          background: #fbb924;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
          .our-services .services-section ul li .circle-box span.icon {
            display: block;
            margin-top: 22px;
            margin-bottom: 9px; }
          .our-services .services-section ul li .circle-box h4 {
            color: #ffffff;
            padding: 0 20px;
            font-size: 17px; }
        .our-services .services-section ul li a {
          display: block;
          text-align: center;
          padding: 0 40px;
          border: none;
          background: none; }
          .our-services .services-section ul li a:focus, .our-services .services-section ul li a:hover {
            background: none;
            border: none; }
          .our-services .services-section ul li a h3 {
            font-size: 23px;
            color: #1c4b9e;
            margin-bottom: 10px;
            font-weight: 700; }
          .our-services .services-section ul li a p {
            font-size: 14px;
            color: #1c4b9e;
            font-weight: 600;
            padding: 0 0px; }
        .our-services .services-section ul li:hover .circle-box {
          display: block; }
    .our-services .services-section ul#test {
      position: absolute;
      left: 0px; }
      .our-services .services-section ul#test li.list-1 {
        left: 353px;
        top: -101px; }
        .our-services .services-section ul#test li.list-1 .circle-box {
          left: -105px;
          top: -31px; }
      .our-services .services-section ul#test li.list-2 {
        left: -114px;
        top: 52px; }
        .our-services .services-section ul#test li.list-2 .circle-box {
          left: 133px;
          top: -169px; }
      .our-services .services-section ul#test li.list-3 {
        left: -107px;
        top: 248px; }
        .our-services .services-section ul#test li.list-3 .circle-box {
          left: 133px;
          top: -169px; }
    .our-services .services-section ul#test1 {
      position: absolute;
      right: 0px; }
      .our-services .services-section ul#test1 li.list-1 {
        left: 77px;
        top: 122px; }
        .our-services .services-section ul#test1 li.list-1 .circle-box {
          left: 133px;
          top: -169px; }
      .our-services .services-section ul#test1 li.list-2 {
        left: 98px;
        top: 323px; }
        .our-services .services-section ul#test1 li.list-2 .circle-box {
          left: 133px;
          top: -169px; }
      .our-services .services-section ul#test1 li.list-3 {
        top: 517px;
        right: 359px; }
        .our-services .services-section ul#test1 li.list-3 .circle-box {
          left: -110px;
          top: -44px; }
    .our-services .services-section .bigcircle {
      background: url(../images/circle-bg.png) no-repeat;
      width: 650px;
      margin: 0 auto;
      height: 650px; }
      .our-services .services-section .bigcircle .circle-content {
        padding-top: 116px;
        width: 100%;
        max-width: 400px;
        text-align: center;
        margin: 0 auto; }
        .our-services .services-section .bigcircle .circle-content .title h3 {
          color: #ffffff;
          font-size: 27px;
          margin-bottom: 88px; }
        .our-services .services-section .bigcircle .circle-content h4 {
          color: #1c4b9e;
          font-size: 27px;
          font-weight: 700;
          margin-bottom: 20px; }
        .our-services .services-section .bigcircle .circle-content p {
          font-size: 19px;
          font-weight: 400;
          line-height: 25px; }

.tangible-products {
  padding: 40px 0px; }
  .tangible-products .amazone-product {
    border: solid 1px #f4f4f4;
    margin-top: 40px; }
    .tangible-products .amazone-product .product-img {
      background: #fbfafa;
      min-height: 308px;
      text-align: center;
      padding-top: 20px;
      margin-bottom: 17px; }
    .tangible-products .amazone-product h3 {
      color: #505050;
      font-size: 16px;
      font-weight: 600;
      padding-left: 15px;
      margin-bottom: 10px; }
    .tangible-products .amazone-product span.price {
      color: #000000;
      font-size: 19px;
      font-weight: 700;
      padding-left: 15px;
      margin-bottom: 17px;
      display: block;
      border-bottom: solid 1px #f4f4f4;
      padding-bottom: 15px; }
    .tangible-products .amazone-product a.btn.button {
      background: #fbb924;
      width: 100%;
      margin: 0px auto 19px;
      max-width: 191px;
      text-align: center;
      color: #000000;
      font-size: 17px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      line-height: 33px;
      font-weight: 600;
      text-transform: uppercase;
      padding: 5px 22px;
      float: none;
      display: block; }
      .tangible-products .amazone-product a.btn.button i {
        font-size: 35px;
        float: left; }

.pricing-section {
  padding: 60px 0;
  background: #fbfbfb; }
  .pricing-section p {
    font-size: 17px;
    color: #505050;
    text-align: center;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 80px; }
  .pricing-section .pricing-box {
    background: #ffffff;
    display: inline-block;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.1); }
    .pricing-section .pricing-box h3.price-name {
      background: #1c4b9e;
      text-align: center;
      font-size: 30px;
      margin-bottom: 43px;
      color: #ffffff;
      padding: 29px 0px;
      position: relative;
      text-transform: uppercase; }
      .pricing-section .pricing-box h3.price-name::after {
        content: "";
        width: 0;
        height: 0;
        border-top: 20px solid #1c4b9e;
        border-left: 17px solid transparent;
        border-right: 17px solid transparent;
        position: absolute;
        bottom: -19px;
        left: 0;
        right: 0px;
        margin: 0 auto; }
    .pricing-section .pricing-box .pricing-panel {
      text-align: center;
      margin-bottom: 20px; }
      .pricing-section .pricing-box .pricing-panel span.sign {
        color: #000000;
        font-size: 24px;
        font-weight: 600;
        position: relative;
        top: -29px;
        margin-right: 13px; }
      .pricing-section .pricing-box .pricing-panel span.price {
        color: #1c4b9e;
        font-size: 69px;
        font-weight: 700;
        position: relative; }
      .pricing-section .pricing-box .pricing-panel span.year {
        color: #000000;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase; }
    .pricing-section .pricing-box .pricing-disc p {
      font-size: 16px;
      padding: 0 40px;
      margin-bottom: 15px; }
    .pricing-section .pricing-box .pricing-icon {
      text-align: center;
      margin-bottom: 20px; }
    .pricing-section .pricing-box .pricing-Tble-DocNam {
      text-align: center; }
      .pricing-section .pricing-box .pricing-Tble-DocNam li {
        border-top: solid 1px #f4f4f4;
        line-height: 34px; }
    .pricing-section .pricing-box .pricing-More {
      border-top: solid 1px #f4f4f4;
      padding-top: 20px;
      padding-bottom: 16px; }
      .pricing-section .pricing-box .pricing-More a.more-btn.btn {
        width: 165px;
        background: #1c4b9e;
        font-size: 17px;
        text-transform: uppercase;
        color: #ffffff;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        border-radius: 30px;
        font-weight: 500;
        line-height: 30px;
        margin: 6px auto;
        -webkit-box-shadow: 0 0px 7px 3px rgba(203, 214, 230, 0.5);
        -moz-box-shadow: 0 0px 7px 3px rgba(203, 214, 230, 0.5);
        box-shadow: 0 0px 7px 3px rgba(203, 214, 230, 0.5);
        display: block; }
        .pricing-section .pricing-box .pricing-More a.more-btn.btn span.icon {
          margin-left: 6px; }
        .pricing-section .pricing-box .pricing-More a.more-btn.btn:hover {
          background: #fbb924;
          color: #ffffff; }
  .pricing-section .pricing-box.yellow-box {
    margin-top: -17px;
    -webkit-box-shadow: 0 10px 17px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 10px 17px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 17px 6px rgba(0, 0, 0, 0.1); }
    .pricing-section .pricing-box.yellow-box h3.price-name {
      background: #feb91d;
      color: #ffffff;
      padding: 37px 0; }
      .pricing-section .pricing-box.yellow-box h3.price-name::after {
        border-top: 20px solid #feb91d; }
    .pricing-section .pricing-box.yellow-box .pricing-panel {
      text-align: center;
      margin-bottom: 20px; }
      .pricing-section .pricing-box.yellow-box .pricing-panel span.price {
        color: #feb91d;
        font-size: 69px;
        font-weight: 700;
        position: relative; }
    .pricing-section .pricing-box.yellow-box .pricing-More a.more-btn.btn {
      width: 165px;
      background: #feb91d;
      color: #ffffff;
      -webkit-box-shadow: 0 0px 7px 3px rgba(203, 214, 230, 0.5);
      -moz-box-shadow: 0 0px 7px 3px rgba(203, 214, 230, 0.5);
      box-shadow: 0 0px 7px 3px rgba(203, 214, 230, 0.5); }
      .pricing-section .pricing-box.yellow-box .pricing-More a.more-btn.btn:hover {
        background: #1c4b9e;
        color: #ffffff; }

#footer-sec .footer-top {
  padding: 44px 0 1px;
  background: #141414;
  color: #ffffff; }
  #footer-sec .footer-top .paypal img {
    width: 80px;
    margin-top: 22px; }
  #footer-sec .footer-top a.footer-logo {
    display: block;
    margin-bottom: 13px; }
    #footer-sec .footer-top a.footer-logo img {
      width: 184px; }
  #footer-sec .footer-top ul.social li {
    display: inline-block;
    margin-right: 12px; }
    #footer-sec .footer-top ul.social li a {
      color: #000000;
      font-size: 22px;
      font-weight: 600;
      display: block;
      width: 50px;
      height: 50px;
      background: #ffffff;
      line-height: 50px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      text-align: center; }
  #footer-sec .footer-top h4 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px; }
  #footer-sec .footer-top ul li a {
    color: #737373;
    font-size: 14px;
    font-weight: 600; }
#footer-sec .copyright {
  background: #000000;
  text-align: center;
  padding: 12px 0; }
  #footer-sec .copyright p {
    color: #737373;
    font-weight: 600; }

.content-pages h1 {
  color: #1c4b9e;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0px; }
.content-pages h2 {
  color: #000000;
  font-size: 29px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0px; }
.content-pages .breadcrumb {
  background: #f2f2f2; }
  .content-pages .breadcrumb ul li {
    float: left;
    position: relative; }
    .content-pages .breadcrumb ul li a {
      display: block;
      padding-right: 40px; }
      .content-pages .breadcrumb ul li a i {
        font-size: 30px;
        color: #1c4b9e; }
      .content-pages .breadcrumb ul li a:after {
        content: "\f105";
        font-family: 'FontAwesome';
        position: absolute;
        right: 13px;
        font-size: 19px;
        top: 6px; }
    .content-pages .breadcrumb ul li span {
      color: #000000;
      font-size: 22px;
      display: block;
      line-height: 30px; }
.content-pages .form-sec {
  width: 100%;
  max-width: 1060px;
  margin: 40px auto 100px;
  background: #ffffff;
  -webkit-box-shadow: 0 0px 45px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0px 45px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 45px 3px rgba(0, 0, 0, 0.1); }
  .content-pages .form-sec .form-info {
    background: #1c4b9e;
    padding: 30px; }
    .content-pages .form-sec .form-info h3 {
      color: #ffffff;
      font-size: 28px;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .content-pages .form-sec .form-info p {
      color: #ffffff;
      font-size: 16px; }
    .content-pages .form-sec .form-info a.create-an-account {
      width: 100%;
      max-width: 290px;
      background: #fbb924;
      color: #ffffff;
      font-size: 17px;
      font-weight: 600;
      display: block;
      text-align: center;
      margin-top: 30px;
      padding: 10px 0px; }
  .content-pages .form-sec .form-wrap {
    padding: 54px 40px 54px 10px; }
    .content-pages .form-sec .form-wrap input[type=text], .content-pages .form-sec .form-wrap input[type=email], .content-pages .form-sec .form-wrap input[type=password] {
      border: solid 1px #d2d2d2;
      background: #fff;
      width: 100%;
      font-size: 15px;
      padding: 10px 12px; }
    .content-pages .form-sec .form-wrap .form-group input[type=submit] {
      background: #fbb924;
      font-size: 17px;
      color: #ffffff;
      font-weight: bold;
      display: block;
      border: none; }
.content-pages .form-sec.login-sec .form-wrap h4 {
  color: #a3a3a3;
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: 700; }
.content-pages .form-sec.login-sec .form-wrap p {
  color: #505050;
  font-size: 15px;
  font-style: italic;
  margin-bottom: 31px;
  font-weight: 300; }
.content-pages .form-sec.login-sec .form-group {
  margin-bottom: 25px; }
  .content-pages .form-sec.login-sec .form-group a.forgot {
    color: #1c4b9e;
    font-size: 13px;
    display: block; }
  .content-pages .form-sec.login-sec .form-group input[type=submit] {
    background: #fbb924;
    font-size: 17px;
    color: #ffffff;
    font-weight: bold;
    display: block;
    border: none;
    width: 100%;
    max-width: 296px;
    padding: 8px 0; }
.content-pages .form-sec.login-sec .form-info {
  padding: 155px 75px; }
.content-pages .form-sec.register-form .form-info {
  text-align: center;
  padding: 130px 60px; }
  .content-pages .form-sec.register-form .form-info span.icon {
    width: 139px;
    height: 139px;
    background: #fbb924;
    text-align: center;
    line-height: 139px;
    color: #1c4b9e;
    font-size: 89px;
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
  .content-pages .form-sec.register-form .form-info h3 {
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 30px; }
  .content-pages .form-sec.register-form .form-info p {
    font-size: 16px;
    font-weight: 300;
    margin-top: 30px;
    line-height: 25px; }

@media (min-width: 992px) and (max-width: 1199px) {
  header .head-mid .head-right .call {
    margin-left: 21px;
    font-size: 24px; }
    header .head-mid .head-right .call span {
      font-size: 21px; }
  header .head-mid .head-right .search-from {
    max-width: 372px; }
    header .head-mid .head-right .search-from form.form-search input.form-control {
      max-width: 322px; }
  header .head-main .sidebar-nav {
    max-width: 209px; }
    header .head-main .sidebar-nav ul li a.Currency {
      font-size: 13px;
      padding: 7px 14px; }
    header .head-main .sidebar-nav ul li ul li a {
      padding: 0 15px; }
    header .head-main .sidebar-nav ul li ul li ul {
      left: 209px; }
  header .head-main .navigation .navbar .navbar-collapse .navbar-nav li a {
    font-size: 14px;
    padding: 17px 10px; }
  header .mini-cart {
    max-width: 183px; }
    header .mini-cart a {
      font-size: 14px;
      padding: 23px 11px; }
      header .mini-cart a i {
        font-size: 19px; }

  .slider-zone .carousel-inner .item .carousel-caption {
    padding-top: 4%; }

  .our-services .services-section ul li {
    max-width: 243px; }
    .our-services .services-section ul li a {
      padding: 0 0px; }
      .our-services .services-section ul li a h3 {
        font-size: 19px; }
  .our-services .services-section ul#test li.list-2 {
    left: -29px;
    top: 52px; }
  .our-services .services-section ul#test li.list-3 {
    left: -29px;
    top: 177px; }
  .our-services .services-section ul#test1 li.list-1 {
    left: 27px;
    top: 122px; }
  .our-services .services-section ul#test1 li.list-2 {
    left: 30px;
    top: 274px; }
  .our-services .services-section ul#test1 li.list-3 {
    top: 446px;
    right: 343px; }
  .our-services .services-section .bigcircle {
    width: 550px;
    margin: 0 auto;
    height: 550px;
    background-position: center top;
    background-size: cover; }

  #footer-sec .footer-top ul.social li {
    margin-right: 0px; } }
@media (min-width: 768px) and (max-width: 991px) {
  header .head-mid .head-right .call {
    margin-left: 0px;
    font-size: 24px;
    float: right;
    margin-bottom: 13px; }
    header .head-mid .head-right .call span {
      font-size: 21px; }
      header .head-mid .head-right .call span i {
        font-size: 27px; }
  header .head-mid .head-right .search-from {
    max-width: 372px; }
    header .head-mid .head-right .search-from form.form-search input.form-control {
      max-width: 322px; }
  header .head-main .sidebar-nav {
    max-width: 209px; }
    header .head-main .sidebar-nav ul li a.Currency {
      font-size: 13px;
      padding: 7px 14px; }
    header .head-main .sidebar-nav ul li ul li a {
      padding: 0 15px; }
    header .head-main .sidebar-nav ul li ul li ul {
      left: 209px; }
  header .head-main .navigation .navbar .navbar-collapse .navbar-nav li a {
    font-size: 13px;
    padding: 17px 9px; }
  header .mini-cart {
    max-width: 100%;
    display: inline-block;
    margin-top: 0px; }
    header .mini-cart:before {
      display: none; }
    header .mini-cart a {
      font-size: 14px;
      padding: 11px 11px;
      text-align: center; }
      header .mini-cart a i {
        font-size: 19px;
        float: none;
        display: inline-block; }

  .slider-zone .carousel-inner .item .carousel-caption {
    padding-top: 4%; }
    .slider-zone .carousel-inner .item .carousel-caption h1 {
      font-size: 23px;
      line-height: 33px; }

  .our-services .services-section ul li {
    max-width: 195px; }
    .our-services .services-section ul li .circle-box {
      width: 120px;
      text-align: center;
      height: 120px; }
      .our-services .services-section ul li .circle-box .icon img {
        width: 35px; }
      .our-services .services-section ul li .circle-box h4 {
        font-size: 13px; }
    .our-services .services-section ul li a {
      padding: 0 0px; }
      .our-services .services-section ul li a h3 {
        font-size: 15px; }
  .our-services .services-section ul#test li.list-1 {
    left: 265px;
    top: -120px; }
    .our-services .services-section ul#test li.list-1 .circle-box {
      left: -130px;
      top: -12px; }
  .our-services .services-section ul#test li.list-2 {
    left: -29px;
    top: -44px; }
    .our-services .services-section ul#test li.list-2 .circle-box {
      left: 35px;
      top: -134px; }
  .our-services .services-section ul#test li.list-3 {
    left: -29px;
    top: 92px; }
    .our-services .services-section ul#test li.list-3 .circle-box {
      left: 37px;
      top: -127px; }
  .our-services .services-section ul#test1 li.list-1 {
    left: 27px;
    top: 39px; }
    .our-services .services-section ul#test1 li.list-1 .circle-box {
      left: 33px;
      top: -131px; }
  .our-services .services-section ul#test1 li.list-2 {
    left: 30px;
    top: 186px; }
    .our-services .services-section ul#test1 li.list-2 .circle-box {
      left: 35px;
      top: -135px; }
  .our-services .services-section ul#test1 li.list-3 {
    top: 252px;
    right: 262px; }
    .our-services .services-section ul#test1 li.list-3 .circle-box {
      left: -110px;
      top: -20px; }
  .our-services .services-section .bigcircle {
    width: 400px;
    margin: 0 auto;
    height: 400px;
    background-position: center top;
    background-size: cover; }
    .our-services .services-section .bigcircle .circle-content {
      padding-top: 73px;
      max-width: 300px; }
      .our-services .services-section .bigcircle .circle-content h4 {
        font-size: 17px; }
      .our-services .services-section .bigcircle .circle-content p {
        font-size: 15px;
        font-weight: 400;
        line-height: 22px; }
      .our-services .services-section .bigcircle .circle-content .title h3 {
        font-size: 17px;
        margin-bottom: 37px; }

  .document-search .document-box {
    padding: 0 19px; }
    .document-search .document-box h2 {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 15px;
      margin-top: 15px; }
    .document-search .document-box p {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 32px; }

  .pricing-section .pricing-box .pricing-panel {
    padding: 0 11px; }
    .pricing-section .pricing-box .pricing-panel span.sign {
      margin-right: 0px; }
    .pricing-section .pricing-box .pricing-panel span.price {
      font-size: 57px; }
    .pricing-section .pricing-box .pricing-panel span.year {
      font-size: 16px; }

  #footer-sec .footer-top ul.social li {
    margin-right: 0px; }
    #footer-sec .footer-top ul.social li a {
      width: 35px;
      height: 35px;
      font-size: 19px;
      line-height: 39px; } }
@media (max-width: 767px) {
  header .head-mid a.logo {
    display: block;
    text-align: center; }
  header .head-mid .top-links {
    text-align: center;
    margin-bottom: 6px; }
    header .head-mid .top-links ul li {
      margin-left: 0px;
      margin-bottom: 6px; }
  header .head-mid .head-right {
    float: none;
    margin-left: 0px; }
    header .head-mid .head-right .call {
      margin-left: 0px;
      font-size: 18px;
      float: none;
      margin-bottom: 14px;
      text-align: center; }
      header .head-mid .head-right .call span {
        font-size: 16px; }
        header .head-mid .head-right .call span i {
          font-size: 25px; }
    header .head-mid .head-right .search-from {
      max-width: 300px; }
      header .head-mid .head-right .search-from form.form-search input.form-control {
        max-width: 240px; }
  header .head-main .sidebar-nav {
    float: none;
    max-width: 100%; }
    header .head-main .sidebar-nav ul li ul li ul {
      position: relative;
      top: 0;
      left: 0;
      margin: 0; }
      header .head-main .sidebar-nav ul li ul li ul li a {
        padding-left: 40px; }
  header .head-main .navigation {
    width: 100%;
    float: none; }
    header .head-main .navigation .navbar-toggle {
      border: solid 2px #fbb924;
      border-radius: 0px;
      margin: 10px 0 10px; }
      header .head-main .navigation .navbar-toggle .icon-bar {
        background: #fbb924; }
    header .head-main .navigation .navbar .navbar-collapse .navbar-nav li a {
      padding: 12px 14px;
      text-align: center;
      font-size: 14px;
      border-top: solid 1px rgba(255, 255, 255, 0.2); }
  header .mini-cart {
    float: none;
    max-width: 100%;
    margin-top: 0px; }
    header .mini-cart:before {
      display: none; }
    header .mini-cart a {
      padding: 10px 14px;
      text-align: center; }
      header .mini-cart a i {
        float: none;
        display: inline-block; }

  .slider-zone .talk-banner {
    display: none; }
  .slider-zone .talk-banner.in-mobile {
    display: block;
    padding: 16px 15px; }
    .slider-zone .talk-banner.in-mobile h2 {
      margin-bottom: 20px; }
  .slider-zone .carousel-indicators {
    bottom: 0px; }
    .slider-zone .carousel-indicators li {
      width: 8px;
      height: 8px;
      margin: 3px 3px 16px; }
  .slider-zone .carousel-inner .item .carousel-caption {
    padding-top: 13px; }
    .slider-zone .carousel-inner .item .carousel-caption h2 {
      font-size: 15px;
      margin-bottom: 0px;
      padding-bottom: 9px; }
      .slider-zone .carousel-inner .item .carousel-caption h2:after {
        width: 100px;
        border-top: solid 1px #fbb924; }
    .slider-zone .carousel-inner .item .carousel-caption h1 {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 30px; }

  .title h2 {
    font-size: 25px; }

  .document-search {
    padding: 66px 0 0px; }
    .document-search .document-box.mid-box {
      margin-top: 0px; }
    .document-search .document-box {
      margin-bottom: 93px; }

  .our-services .services-section {
    margin-bottom: 20px;
    margin-top: 76px; }
    .our-services .services-section ul#test {
      position: relative; }
      .our-services .services-section ul#test li.list-1 {
        left: 0px;
        top: 0px; }
      .our-services .services-section ul#test li.list-2 {
        left: 0px;
        top: 0px; }
      .our-services .services-section ul#test li.list-3 {
        left: 0px;
        top: 0px; }
    .our-services .services-section ul#test1 {
      position: relative; }
      .our-services .services-section ul#test1 li.list-1 {
        left: 0px;
        top: 0px; }
      .our-services .services-section ul#test1 li.list-2 {
        left: 0px;
        top: 0px; }
      .our-services .services-section ul#test1 li.list-3 {
        left: 0px;
        top: 0px; }
    .our-services .services-section ul li {
      max-width: 100%;
      border: none;
      background: #1c4b9e;
      margin-bottom: 14px;
      padding: 0px; }
      .our-services .services-section ul li .circle-box {
        display: none; }
      .our-services .services-section ul li a {
        padding: 17px 10px;
        text-align: center; }
        .our-services .services-section ul li a h3 {
          font-size: 17px;
          color: #fff;
          text-transform: uppercase;
          font-weight: 600; }
        .our-services .services-section ul li a p {
          text-align: center;
          color: #fff;
          font-weight: 400; }
      .our-services .services-section ul li:hover .circle-box {
        display: none; }
    .our-services .services-section .bigcircle {
      background: #1c4b9e;
      width: 100%;
      margin: 0 auto;
      padding: 10px 10px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      border-radius: 15px;
      height: 100%; }
      .our-services .services-section .bigcircle .circle-content {
        padding-top: 0px;
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin: 0 auto;
        background: #ffffff;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        border-radius: 15px;
        padding-bottom: 20px; }
        .our-services .services-section .bigcircle .circle-content h4 {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 10px;
          padding: 11px 20px 0; }
        .our-services .services-section .bigcircle .circle-content p {
          font-size: 14px;
          line-height: 20px; }
        .our-services .services-section .bigcircle .circle-content .title {
          background: #1c4b9e; }
          .our-services .services-section .bigcircle .circle-content .title h3 {
            font-size: 19px;
            margin-bottom: 6px;
            padding: 22px 0px; }

  .pricing-section .pricing-box.yellow-box {
    margin-top: 30px;
    margin-bottom: 30px; }

  footer#footer-sec .footer-links {
    margin-bottom: 30px; }
  footer#footer-sec .copyright {
    padding: 14px 30px; }
    footer#footer-sec .copyright p {
      font-size: 14px; } }

/*# sourceMappingURL=stylesheet.css.map */
