@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
Ghtml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #363636;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  line-height: 22px; }

@font-face {
  font-family: 'avenirregular';
  src: url("../fonts/avenir-book_gdi-webfont.woff2") format("woff2"), url("../fonts/avenir-book_gdi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
::-webkit-input-placeholder {
  opacity: 1; }

::-moz-placeholder {
  opacity: 1; }

:-ms-input-placeholder {
  opacity: 1; }

:-moz-placeholder {
  opacity: 1; }

ol, ul {
  list-style: none outside none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: 600; }

html {
  font-size: 100%; }

a:focus {
  outline: medium none !important; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none; }

a {
  color: #444;
  font-size: 14px; }

a:hover {
  color: #000;
  text-decoration: none; }

img {
  box-sizing: border-box;
  height: auto;
  max-width: 100%; }

p {
  font-weight: 300; }

.clearfix {
  *zoom: 1; }

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0; }

.clearfix:after {
  clear: both; }

header .top-black {
  width: 100%;
  height: auto;
  background: #000000;
  padding: 3px;
  color: #fff; }
  header .top-black .login-box {
    color: #fff;
    text-align: right; }
    header .top-black .login-box a {
      color: #fff;
      text-decoration: none;
      padding-left: 5px; }
      header .top-black .login-box a:hover, header .top-black .login-box a:focus {
        color: #b6bfd7; }
header .navbar {
  margin-bottom: 0px;
  border: none; }
  header .navbar .navbar-brand {
    padding: 0px; }
header .navbar-nav {
  float: right;
  margin-right: -15px; }
  header .navbar-nav li a {
    padding: 26px 25px 34px 25px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase; }
    header .navbar-nav li a:hover, header .navbar-nav li a:focus {
      background: #ff4001;
      border-bottom: 14px solid #db3a04;
      padding-bottom: 20px;
      color: #f7f7f7; }
    header .navbar-nav li a.active {
      background: #ff4001;
      border-bottom: 14px solid #db3a04;
      padding-bottom: 20px;
      color: #f7f7f7; }

.slider {
  position: relative; }
  .slider .slide-text {
    color: #000000; }
    .slider .slide-text .slide-text1 {
      background: rgba(255, 255, 255, 0.5);
      padding: 20px;
      margin-bottom: 27px; }
      .slider .slide-text .slide-text1 h1 {
        color: #000000;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 15px; }
      .slider .slide-text .slide-text1 p {
        font-size: 30px;
        font-weight: 400;
        color: #000000;
        line-height: auto;
        margin-bottom: 15px; }
  .slider .bulletin {
    position: absolute;
    bottom: -1px;
    width: 100%;
    z-index: 99999; }
    .slider .bulletin .bulletin-txt {
      background: #009bad;
      color: #f7f7f7;
      font-size: 36px;
      padding: 40px; }
      .slider .bulletin .bulletin-txt h3 {
        font-weight: 600;
        color: #f7f7f7; }
        .slider .bulletin .bulletin-txt h3 span {
          font-weight: 400; }
      .slider .bulletin .bulletin-txt p {
        font-size: 22px; }
    .slider .bulletin .bulletin-cont {
      background: #51c9d7;
      padding: 54px;
      min-height: 138px; }
      .slider .bulletin .bulletin-cont a {
        font-size: 36px;
        text-transform: uppercase;
        color: #000;
        font-weight: 600;
        padding-top: 12px;
        display: block; }

.entery-header {
  text-align: center; }
  .entery-header h2 {
    font-size: 34px;
    text-align: center;
    width: auto;
    border-bottom: 5px solid #009bad;
    margin-bottom: 75px;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 10px; }

.courses {
  display: block;
  padding: 92px 0px; }
  .courses .course-box {
    background: #efefef;
    position: relative;
    padding-bottom: 50px; }
    .courses .course-box h2 {
      font-size: 20px;
      color: #494949;
      margin-top: 15px;
      text-align: center;
      width: auto; }
    .courses .course-box p {
      padding: 15px; }
    .courses .course-box a {
      background-image: url("../images/more-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 72px;
      padding: 26px 22px 22px;
      height: 70px;
      color: #f7f7f7;
      display: block;
      text-align: center;
      position: absolute;
      left: 36%;
      right: 0;
      bottom: -43px; }
    .courses .course-box a:hover {
      background-image: url("../images/more-bg-hover.png");
      transition: background 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s; }

.services {
  display: block;
  padding: 92px 0px;
  /* background-image: url("../images/services.jpg"); */
  background-image: url(../images/login-bg.jpg);
  background-size: cover;
  margin: 30px 0px; }
  .services .entery-header {
    text-align: center; }
    .services .entery-header h2 {
      color: #f7f7f7; }
  .services .services-box {
    position: relative;
    padding-bottom: 50px;
    border: 1px solid #efefef;
    text-align: center;
    padding: 34px 0; }
    .services .services-box h2 {
      font-size: 25px;
      color: #efefef;
      margin-top: 40px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 5px; }
    .services .services-box p {
      padding: 0 25px;
      color: #f7f7f7; }
  .services .services-box:hover {
    border: 1px solid #524444; }

.about {
  display: block;
  padding: 92px 0px;
  img--webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  /* Safari */
  img-transition: width 2s, height 2s, transform 2s; }
  .about .about-box {
    position: relative;
    padding-bottom: 50px;
    text-align: center;
    padding: 40px 20px;
    background: #009bad; }
    .about .about-box .about-box-in {
      border: 1px solid #009bad;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
      /* Safari */
      transition: width 2s, height 2s, transform 2s;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
      /* Safari */
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
      /* Safari */
      transition: width 2s, height 2s, transform 2s;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
      /* Safari */
      transition: width 2s, height 2s, transform 2s; }
    .about .about-box .about-box-in:hover {
      border: 1px solid #fff; }
    .about .about-box:nth-child(2) {
      background: #51c9d7; }
      .about .about-box:nth-child(2) .about-box-in {
        border: 1px solid #51c9d7;
        transition: width 2s, height 2s, transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        /* Safari */
        transition: width 2s, height 2s, transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        /* Safari */
        transition: width 2s, height 2s, transform 2s; }
      .about .about-box:nth-child(2) .about-box-in:hover {
        border: 1px solid #fff; }
    .about .about-box:nth-child(3) {
      background: #db3a04; }
      .about .about-box:nth-child(3) .about-box-in {
        border: 1px solid #db3a04;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        /* Safari */
        transition: width 2s, height 2s, transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        /* Safari */
        transition: width 2s, height 2s, transform 2s; }
      .about .about-box:nth-child(3) .about-box-in:hover {
        border: 1px solid #fff; }
    .about .about-box:nth-child(4) {
      background: #ff4001; }
      .about .about-box:nth-child(4) .about-box-in {
        border: 1px solid #ff4001;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        /* Safari */
        transition: width 2s, height 2s, transform 2s; }
      .about .about-box:nth-child(4) .about-box-in:hover {
        border: 1px solid #fff; }
    .about .about-box h2 {
      font-size: 24px;
      color: #efefef;
      margin-top: 15px;
      text-align: center;
      text-transform: uppercase; }
    .about .about-box p {
      padding: 15px;
      color: #f7f7f7; }
  .about img:hover {
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(350deg); }

.testimonials {
  display: block;
  padding: 92px 0px;
  background-image: url("../images/test.png");
  background-size: cover;
  color: #fff; }
  .testimonials h2 {
    color: #fff; }
  .testimonials .carousel-inner .thumbnails li {
    padding: 5px; }
    .testimonials .carousel-inner .thumbnails li .s-1 {
      border: 1px solid #85807a;
      text-align: center;
      min-height: 300px;
      margin-bottom: 50px; }
  .testimonials .control-box.pager a {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #584949;
    font-size: 30px; }
  .testimonials .left-arrow {
    float: left;
    font-size: 0;
    margin-left: -50px; }
  .testimonials .right-arrow {
    float: right;
    font-size: 0;
    margin-right: -50px; }
  .testimonials #myCarousel > nav {
    margin-bottom: 0;
    position: absolute;
    top: 30%;
    width: 100%; }
  .testimonials .sub-title {
    color: #fff;
    border-bottom: 2px solid #009bad;
    margin-left: 16%;
    width: 69%;
    font-style: italic;
    margin-bottom: 15px; }
  .testimonials .client-name {
    color: #fff;
    font-size: 16px;
    padding-top: 23px;
    text-transform: uppercase; }
  .testimonials .caption > p {
    color: #fff;
    padding: 0 9%; }
  .testimonials .con {
    background: transparent url("../images/test-bottom.png") no-repeat scroll right bottom;
    margin: 0 10%;
    padding-bottom: 11px; }
    .testimonials .con p {
      background: url("../images/test-top.png") no-repeat;
      position: left top;
      color: #fff; }

.watch-video {
  padding: 70px 0;
  background: #f1f2f3; }
  .watch-video .watch-video1 {
    background: #fff url("../images/video-watch.png") no-repeat;
    border: 1px solid #d6d2d2;
    font-size: 18px;
    color: #009bad;
    border-radius: 25px;
    padding: 16px 20px 16px 70px;
    text-align: center; }

footer {
  background: #1a1919;
  padding: 60px 0px 0px;
  color: #c8c8c8; }
  footer .foot-links > p {
    color: #c8c8c8;
    padding-top: 13px; }
  footer .foot-links h4 {
    text-transform: uppercase;
    font-size: 24px;
    color: #c8c8c8;
    font-weight: 700;
    padding-top: 11px; }
  footer .foot-links .links {
    padding-top: 15px; }
    footer .foot-links .links li {
      margin-bottom: 10px;
      background: url("../images/arrow-bottom.png") no-repeat;
      background-position: left;
      padding-left: 25px; }
      footer .foot-links .links li a {
        color: #c8c8c8; }
      footer .foot-links .links li a:hover {
        color: #ff4001; }
  footer .comp-name {
    color: #c8c8c8;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0; }
  footer .contact-de a {
    color: #c8c8c8; }
  footer .contact-de span {
    color: #c8c8c8; }
  footer .contact-de label {
    color: #a1604a;
    padding-right: 6px; }
  footer .copyright {
    background: #000 none repeat scroll 0 0;
    color: #c8c8c8;
    margin-top: 57px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none; }

.contact-de > li {
  word-break: break-all; }

.online-courses {
  display: block;
  padding: 92px 0px;
  background: url("../images/online-c.jpg") repeat scroll 0 0/100% 100%;
  background-size: 100% 100%;
  color: #fff; }
  .online-courses .courses-text {
    background: url("../images/bg-course.png") repeat;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    margin-right: 15px;
    position: absolute;
    bottom: 0px; }
  .online-courses .cor-title {
    font-size: 18px;
    font-weight: 600;
    font-size: 26px;
    padding: 15px;
    width: 100%;
    padding: 10px 0px; }
  .online-courses .read-more-but button {
    border: 0px;
    background: #ff4001;
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px; }
  .online-courses .read-more-but button:hover {
    background: #009bad; }
  .online-courses .courses-img {
    overflow: hidden; }
    .online-courses .courses-img img {
      -webkit-transition: 0.4s ease;
      transition: 0.4s ease; }
  .online-courses .courses-img img:hover, .online-courses .courses-img img:focus {
    transform: scale(1.2); }

.top-banner {
  background: url("../images/about.jpg") no-repeat;
  width: 100%;
  height: auto;
  margin-bottom: 2PX; }
  .top-banner h3 {
    font-size: 30px;
    color: #ff4001;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 100px; }

.inner-page .hadding-top {
  background: #ff4001 url("../images/about1.png") no-repeat scroll right center;
  color: #fff;
  font-size: 26px;
  margin-bottom: 30px;
  padding: 20px; }
.inner-page .in-bold {
  font-size: 16px;
  font-weight: 600; }
.inner-page p {
  font-weight: 400; }
.inner-page .bio {
  background: #009bad url("../images/bio.png") no-repeat;
  background-position: right;
  width: 100%;
  color: #fff;
  font-size: 26px;
  padding: 25px;
  margin-top: 50px; }
.inner-page .about-bott {
  background: #f5f5f5;
  padding: 40px;
  margin-bottom: 30px; }
.inner-page .about-footer {
  background: transparent url("../images/online-c.jpg") no-repeat scroll 100% 100%/100% auto;
  color: #fff;
  display: block;
  padding: 20px 0 200px; }
  .inner-page .about-footer .about-footer1 {
    color: #000;
    padding: 40px; }
    .inner-page .about-footer .about-footer1 .have-u {
      padding: 30px 0px;
      font-weight: bold; }
    .inner-page .about-footer .about-footer1 .have-n {
      background: #fff none repeat scroll 0 0;
      margin-bottom: 28px;
      font-weight: 600;
      font-size: 24px;
      padding: 10px; }
      .inner-page .about-footer .about-footer1 .have-n .normal-t {
        font-weight: 300;
        font-size: 18px; }

.contact-us .we-are {
  background: #009bad url("../images/arrow-bottom1.png") no-repeat;
  padding: 30px 30px 30px 30px;
  color: #fff; }
  .contact-us .we-are .we {
    padding-top: 20px;
    font-weight: 600;
    font-size: 16px; }
.contact-us .top-title {
  text-align: center;
  padding-top: 40px;
  font-size: 16px; }
.contact-us .sub-title {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 0px 30px; }
.contact-us .add-bg {
  background: #eaeaea;
  text-align: center;
  min-height: 220px;
  margin-top: 110px;
  padding: 30px 0px; }
  .contact-us .add-bg span {
    font-weight: 600; }
.contact-us .icon-box {
  width: 115px;
  height: 115px;
  border: 5px solid #FFF;
  background: #00a3b6;
  border-radius: 100%;
  margin: -94px auto 20px; }
.contact-us .icon2 {
  background: #4fc9d6; }
.contact-us .icon3 {
  background: #db3a04; }
.contact-us .icon4 {
  background: #ff4001; }

.contact-foram {
  background: transparent url("../images/online-c.jpg") no-repeat scroll 0 0/100% 100%;
  margin-top: 50px;
  padding: 80px 0px 200px;
  font-size: 14px; }
  .contact-foram .hadding-contact {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase; }
  .contact-foram .send-msg {
    background: #ff4001;
    color: #fff;
    font-size: 18px;
    border-radius: 0%;
    border: 0px;
    padding: 7px 30px; }
  .contact-foram .send-msg:hover {
    background: #018bb9; }
  .contact-foram textarea {
    font-size: 14px;
    border-radius: 0%;
    border: 0px; }
  .contact-foram input {
    font-size: 14px;
    border-radius: 0%;
    border: 0px; }

.how-work {
  padding: 0px 0px 30px; }
  .how-work h3 {
    font-size: 18px;
    padding: 15px;
    color: #fff;
    margin-bottom: 15px;
    background: #ff4001; }
  .how-work .work {
    padding: 30px 0px; }
    .how-work .work h3 {
      background: #009bad; }
  .how-work .right-how {
    float: right; }

.what-we-provide {
  z-index: 9999; }

.login-box .new-account {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase; }
.login-box .login-box-content {
  background: #f3f3f3;
  padding: 30px;
  margin-bottom: 60px;
  margin-top: 30px; }
  .login-box .login-box-content .account-title {
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 17px; }
  .login-box .login-box-content .form-signin .form-control {
    border-radius: 0px;
    padding: 10px;
    height: 45px;
    margin-bottom: 10px; }
  .login-box .login-box-content .form-signin .btn-primary {
    background: #ff4001;
    border-radius: 0px;
    border: 0px; }
  .login-box .login-box-content .form-signin .btn-primary:hover {
    background: #009bad; }
.login-box .checkbox.pull-left {
  float: left;
  padding: 15px 20px;
  width: 100%; }
.login-box .sub-hadding {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 40px 0px; }
.login-box .left-sign {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 4px solid #009bad;
  font-size: 16px;
  margin: 50px 0 100px;
  padding: 30px;
  text-align: center;
  width: 100%; }
.login-box .right-sign {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 4px solid #009bad;
  font-size: 16px;
  margin: 50px 0 100px;
  padding: 30px;
  text-align: center;
  width: 100%; }
.login-box .left-sign a, .login-box .right-sign a {
  color: #000;
  text-decoration: none;
  font-size: 18px; }
.login-box .left-sign a:hover, .login-box .right-sign a:hover {
  color: #000;
  text-decoration: none; }
.login-box .principles {
  padding: 30px;
  background: #f5f5f5;
  border: 4px solid #009bad;
  width: 100%;
  margin: 50px 0px 100px;
  font-size: 16px;
  text-align: center; }
  .login-box .principles .price {
    font-weight: 600;
    font-size: 24px;
    padding: 20px 0px; }
  .login-box .principles .yes-sign {
    margin: 0 auto;
    padding: 10px;
    width: 178px;
    height: 30px; }
    .login-box .principles .yes-sign input {
      float: left; }
    .login-box .principles .yes-sign .sign-me {
      float: left;
      padding-left: 10px; }
.login-box .bottom-text {
  background: #009bad;
  border-radius: 25px 25px 0px 0px;
  text-align: center;
  padding: 30px;
  color: #fff; }
.login-box .principles1 {
  padding: 20px;
  margin: 50px 0 40px;
  text-align: left; }
  .login-box .principles1 .title {
    background: #009bad;
    padding: 5px;
    color: #fff;
    margin-bottom: 10px; }
  .login-box .principles1 .course {
    padding-left: 0px; }
  .login-box .principles1 input {
    border: 1px solid #cecece;
    padding: 3px;
    width: 100%; }
.login-box .button button {
  font-size: 18px;
  font-weight: 600;
  margin: 15px auto 0;
  width: 100%;
  background: #ff4001 none repeat scroll 0 0;
  border: 0px;
  padding: 10px;
  color: #fff; }
.login-box button:hover {
  background: #009bad; }
.login-box .price-test {
  line-height: 27px;
  font-weight: 300;
  font-size: 14px; }
  .login-box .price-test span {
    font-weight: 600;
    font-size: 18px; }
.login-box .course {
  padding: 10px; }
.login-box .top-hadding {
  text-align: center; }

.sign-up-foram .top-hadding2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  padding: 0 15px 30px; }
  .sign-up-foram .top-hadding2 span {
    font-size: 16px;
    font-weight: 300; }
.sign-up-foram .corse-hadding {
  padding: 0px 15px;
  font-weight: 600;
  font-size: 16px;
  background: #009bad none repeat scroll 0 0;
  color: #fff;
  float: left;
  height: auto;
  padding: 5px 10px;
  width: 100%; }
.sign-up-foram .corse-content {
  padding: 0px 15px;
  background: #51c9d7 none repeat scroll 0 0;
  color: #fff;
  float: left;
  height: auto;
  padding: 0px 10px 5px;
  width: 100%; }
.sign-up-foram .Pay-by {
  float: left;
  padding: 15px;
  background: #f5f5f5; }
  .sign-up-foram .Pay-by h3 {
    padding: 0px 0px 15px; }
  .sign-up-foram .Pay-by .vat {
    font-size: 18px;
    padding: 15px 0; }
    .sign-up-foram .Pay-by .vat span {
      font-weight: 600; }
.sign-up-foram .gift {
  background: #009bad none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  border-radius: 25px 0px; }
  .sign-up-foram .gift .fa-gift {
    font-size: 30px;
    margin-right: 10px; }
.sign-up-foram .apply {
  text-align: right; }
  .sign-up-foram .apply input {
    color: #000;
    font-size: 14px;
    padding: 5px; }
.sign-up-foram .crate-pay-box {
  background: #f0f0f0 none repeat scroll 0 0;
  float: left;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%; }
  .sign-up-foram .crate-pay-box .crate-title {
    background: #ff4001;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    border-radius: 10px 0; }
  .sign-up-foram .crate-pay-box label {
    font-size: 14px;
    font-weight: 400; }
  .sign-up-foram .crate-pay-box .address2 {
    width: 100%;
    float: 100%;
    padding-top: 15px; }
  .sign-up-foram .crate-pay-box .indicator, .sign-up-foram .crate-pay-box .indicator1 {
    float: left;
    padding-left: 15px; }
  .sign-up-foram .crate-pay-box .indicator2 {
    background: #009bad none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    width: 100%;
    float: left;
    padding: 8px 15px;
    border-radius: 10px 0;
    font-weight: 600; }
  .sign-up-foram .crate-pay-box .indicator3 {
    float: left;
    text-align: right;
    width: 100%; }
  .sign-up-foram .crate-pay-box .input {
    border-radius: 0px; }
.sign-up-foram .card {
  background: #efefef none repeat scroll 0 0;
  margin: 10px 0;
  padding: 0px; }
  .sign-up-foram .card .card-block {
    padding: 15px; }
  .sign-up-foram .card h5 {
    padding: 7px 0px;
    overflow: none;
    background: #009bad;
    padding: 10px;
    border-radius: 5px; }
  .sign-up-foram .card h5 a {
    color: #fff;
    text-decoration: none; }
.sign-up-foram #accordion {
  margin-bottom: 40px; }
.sign-up-foram .how-do {
  font-size: 18px;
  font-weight: 600;
  font-size: 18px; }

.my-profile .profile-right {
  background: #f1f1f1 none repeat scroll 0 0; }
  .my-profile .profile-right .user-name {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 0px 0px; }
  .my-profile .profile-right .user-address {
    text-align: center;
    padding: 0px 15px 5px; }
  .my-profile .profile-right .user-phone {
    text-align: center;
    padding: 10px 15px 10px;
    background: #009bad;
    color: #fff; }
.my-profile .bio-box {
  background: #f1f1f1;
  padding: 15px;
  margin-bottom: 15px; }
  .my-profile .bio-box h3 {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #acacac;
    margin-bottom: 10px;
    padding-bottom: 10px; }
.my-profile .recent_activities h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 8px 15px;
  background: #009bad;
  color: #fff;
  margin-top: 10px; }
.my-profile .recent_activities .rounded-circle2 {
  width: 50px;
  height: 50px;
  border: 1px solid #d2d2d2;
  border-radius: 100%;
  margin-right: 10px;
  float: left; }
.my-profile .recent_activities .recent_act1 {
  background: #f1f1f1;
  padding: 5px;
  margin-bottom: 10px;
  float: left;
  width: 100%; }
.my-profile .recent_activities .act-con {
  width: 90%;
  height: auto;
  float: left; }
.my-profile .info-box {
  width: 100%;
  padding: 5px 0px; }
  .my-profile .info-box span {
    font-weight: 600; }

.pollcy h3 {
  font-size: 18px;
  padding: 10px;
  background: #009bad;
  color: #fff;
  margin: 15px 0px; }
.pollcy .inner-content {
  padding-bottom: 50px; }
  .pollcy .inner-content h4 {
    font-size: 18px;
    padding-bottom: 10px; }
.pollcy .contact {
  background: #51c9d7;
  padding: 15px;
  margin-top: 15px; }
  .pollcy .contact h4 {
    padding: 15px 0px 10px; }

.newsletter {
  padding: 0px 15px; }
  .newsletter .title {
    font-size: 18px;
    padding-bottom: 5px;
    background: #51c9d7;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: 600; }
  .newsletter h4 {
    font-size: 18px;
    padding-bottom: 10px; }
  .newsletter .news-update {
    background: #f1f1f1;
    margin-bottom: 15px;
    padding: 15px; }
    .newsletter .news-update .captcha {
      background: #51c9d7;
      padding: 15px;
      margin-top: 15px; }
      .newsletter .news-update .captcha .input-box {
        margin-top: 18px; }
    .newsletter .news-update .input-box {
      width: 100%;
      padding: 5px;
      border: 0px; }
  .newsletter .new-update-top {
    padding: 0px 0px 30px; }
  .newsletter label {
    font-weight: 300;
    margin-top: 5px; }
  .newsletter .bottom-button {
    margin: 20px auto 40px;
    width: 175px; }
    .newsletter .bottom-button .left {
      background: #ff4001 none repeat scroll 0 0;
      border: 0 none;
      color: #fff;
      font-size: 16px;
      margin-right: 10px;
      padding: 10px 15px; }
    .newsletter .bottom-button .left:hover {
      background: #009bad none repeat scroll 0 0; }
    .newsletter .bottom-button .right {
      background: #009bad none repeat scroll 0 0;
      border: 0 none;
      color: #fff;
      font-size: 16px;
      margin-right: 10px;
      padding: 10px 15px; }
    .newsletter .bottom-button .right:hover {
      background: #ff4001 none repeat scroll 0 0; }

/* ************************ 20-july-2017 ******************************* */
.login-box .orange-bar-outline {
  border: solid 5px #ff4001;
  margin-bottom: 30px; }
  .login-box .orange-bar-outline .left-sign {
    background-image: url(../images/sign-1.jpg);
    background-repeat: no-repeat;
    height: 327px;
    text-align: center;
    border: 0;
    padding-top: 50px;
    background-size: cover;
    margin: 0px; }
    .login-box .orange-bar-outline .left-sign .head-title {
      color: #fff;
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 50px;
      min-height: 150px; }
    .login-box .orange-bar-outline .left-sign a {
      background: #ff4001;
      padding: 10px 28px;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 0;
      text-decoration: none; }
      .login-box .orange-bar-outline .left-sign a:hover {
        background: #009bad;
        color: #fff; }
.login-box .orange-bar-outline {
  border: solid 3px #ff4001;
  margin-bottom: 30px; }
  .login-box .orange-bar-outline .right-sign {
    background-image: url(../images/sign-2.jpg);
    background-repeat: no-repeat;
    height: 327px;
    text-align: center;
    border: 0;
    padding-top: 50px;
    background-size: cover;
    margin: 0px; }
    .login-box .orange-bar-outline .right-sign .head-title {
      color: #fff;
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 50px; }
    .login-box .orange-bar-outline .right-sign a {
      background: #ff4001;
      padding: 10px 28px;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 0;
      text-decoration: none; }
      .login-box .orange-bar-outline .right-sign a:hover {
        background: #009bad;
        color: #fff; }
.login-box .top-hadding2 {
  text-align: center;
  font-size: 18px;
  max-width: 900px;
  margin: 0 auto;
  line-height: 26px;
  font-style: italic; }

.principles-data {
  background-image: url(../images/principle-data.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 0; }
  .principles-data .top-hadding2 {
    text-align: center;
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 28px;
    font-style: italic;
    color: #fff; }
  .principles-data .four-course-block {
    margin-top: 50px;
    text-align: center; }
    .principles-data .four-course-block .course-image-box {
      overflow: hidden; }
      .principles-data .four-course-block .course-image-box:hover img {
        transform: scale(1.2);
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease; }
    .principles-data .four-course-block .courses-block span {
      background: #009bad;
      display: block;
      padding: 14px 0;
      color: #fff;
      text-transform: uppercase;
      font-size: 17px; }
  .principles-data .border-all {
    border: solid 1px #009bad;
    padding: 15px;
    margin: 50px 0; }
    .principles-data .border-all .principles2 {
      background: #fff;
      border: 0;
      margin: 0; }
      .principles-data .border-all .principles2 p {
        margin-bottom: 15px; }
      .principles-data .border-all .principles2 .price-test {
        line-height: 33px;
        font-weight: 300;
        font-size: 14px; }
      .principles-data .border-all .principles2 .title {
        background: transparent;
        padding: 0;
        margin-bottom: 15px;
        font-size: 24px;
        color: #333; }
      .principles-data .border-all .principles2 .amount {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-top: 15px; }
      .principles-data .border-all .principles2 .course {
        color: #009bad;
        font-size: 18px;
        margin-bottom: 5px; }
      .principles-data .border-all .principles2 .price-test ul li:before {
        content: "\f101";
        font-family: FontAwesome;
        margin-right: 6px;
        color: #ff4001; }
      .principles-data .border-all .principles2 .price-test ul li span {
        color: #ff4001; }
  .principles-data .principles-data-block {
    background: transparent;
    border: 0;
    margin: 50px 0; }
    .principles-data .principles-data-block .sub-title {
      font-size: 36px;
      color: #fff;
      font-weight: bold; }
    .principles-data .principles-data-block .price {
      color: #ff4001;
      font-size: 30px;
      padding: 28px 0px; }
    .principles-data .principles-data-block .content-sub-title {
      color: #fff;
      font-size: 20px; }
    .principles-data .principles-data-block .yes-sign {
      padding: 20px 0;
      height: auto; }
      .principles-data .principles-data-block .yes-sign .sign-me {
        color: #fff; }
    .principles-data .principles-data-block .button {
      width: 220px;
      margin: 0 auto; }

.footer-top .contact-detail ul li i {
  color: #ff4001; }

.login-section {
  padding: 120px 0;
  background-image: url(../images/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  border-bottom: solid 1px #fff;
  position: relative; }
  .login-section .transparent-bg {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: solid 9px #369bc8;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative; }
    .login-section .transparent-bg .login-oval {
      width: 90px;
      height: 90px;
      background: #369bc8;
      position: absolute;
      top: -40px;
      left: -40px;
      border-radius: 50%;
      text-align: center;
      padding-top: 18px; }
      .login-section .transparent-bg .login-oval i {
        font-size: 60px; }
    .login-section .transparent-bg input[type="text"] {
      background-color: rgba(255, 255, 255, 0.5);
      height: 45px;
      color: #000;
      border: 0;
      border-radius: 0;
      box-shadow: none; }
    .login-section .transparent-bg input[type="password"] {
      background-color: rgba(255, 255, 255, 0.5);
      height: 45px;
      color: #000;
      border: 0;
      border-radius: 0;
      box-shadow: none; }
    .login-section .transparent-bg input[type="submit"] {
      background-color: #369bc8;
      color: #fff;
      border: 0;
      border-radius: 0;
      font-size: 22px;
      text-transform: uppercase;
      text-align: center;
      padding: 14px 12px;
      width: 100%;
      box-shadow: none;
      font-weight: bold;
      margin-bottom: 20px; }
      .login-section .transparent-bg input[type="submit"]:hover {
        background: #ff4001; }
    .login-section .transparent-bg .remember-forgot {
      margin: 20px 0; }
      .login-section .transparent-bg .remember-forgot .common-left-side {
        float: left; }
      .login-section .transparent-bg .remember-forgot .common-right-side {
        float: right; }
        .login-section .transparent-bg .remember-forgot .common-right-side a {
          color: #369bc8; }
    .login-section .transparent-bg ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #000; }
    .login-section .transparent-bg ::-moz-placeholder {
      /* Firefox 19+ */
      color: #000; }
    .login-section .transparent-bg :-ms-input-placeholder {
      /* IE 10+ */
      color: #000; }
    .login-section .transparent-bg :-moz-placeholder {
      /* Firefox 18- */
      color: #000; }
    .login-section .transparent-bg h1 {
      font-size: 44px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      margin: 30px 0; }
  .login-section .bottom-transparent {
    background-color: #000;
    border-bottom: solid 5px #369bc8;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500; }
    .login-section .bottom-transparent a {
      text-decoration: none;
      color: #369bc8;
      font-size: 20px;
      font-weight: 500; }

.raise-ticket {
  padding: 100px 0;
  background-image: url(../images/raise-ticket.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff; }
  .raise-ticket h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase; }

.ask-us-ticket {
  padding: 80px 0 0;
  border-bottom: solid 1px #fff; }
  .ask-us-ticket .inner-page {
    margin-bottom: 30px;
    margin-top: 0; }
    .ask-us-ticket .inner-page .bio {
      margin-top: 0;
      font-weight: bold; }
  .ask-us-ticket .author_reply {
    background: transparent;
    margin-bottom: 50px;
    padding: 21px 25px;
    position: relative;
    border: solid 1px #40b4c2;
    border-bottom: solid 4px #40b4c2;
    width: 100%;
    float: left;
    max-width: 800px; }
    .ask-us-ticket .author_reply i {
      color: #40b4c2;
      display: block;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 12px; }
    .ask-us-ticket .author_reply p {
      color: #000000;
      font-style: italic; }
    .ask-us-ticket .author_reply .arrow-down {
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid #1193bd;
      position: absolute;
      bottom: -19px; }
      .ask-us-ticket .author_reply .arrow-down:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 21px solid transparent;
        border-right: 21px solid transparent;
        border-top: 21px solid #fff;
        position: absolute;
        top: -23px;
        left: -21px; }
  .ask-us-ticket .user_reply {
    position: relative;
    background: #ff4001;
    margin-bottom: 50px;
    padding: 21px 25px;
    float: right;
    width: 100%;
    max-width: 693px; }
    .ask-us-ticket .user_reply i {
      color: #fff;
      display: block;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 12px; }
    .ask-us-ticket .user_reply p {
      color: #fff;
      font-style: italic; }
    .ask-us-ticket .user_reply .arrow-down {
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid #ff4001;
      position: absolute;
      right: 20px;
      bottom: -15px; }
  .ask-us-ticket .ask-bg {
    padding: 100px 0;
    background-image: url(../images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; }
    .ask-us-ticket .ask-bg h3 {
      font-size: 32px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 30px; }
    .ask-us-ticket .ask-bg input[type="text"] {
      background-color: transparent;
      height: 52px;
      color: #fff;
      border: solid 1px #fff;
      border-radius: 0;
      box-shadow: none; }
    .ask-us-ticket .ask-bg textarea {
      height: 122px;
      background-color: transparent;
      color: #fff;
      border: solid 1px #fff;
      border-radius: 0;
      box-shadow: none;
      padding: 15px 12px; }
    .ask-us-ticket .ask-bg .submit-send {
      background: #ff4001;
      color: #fff;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: bold;
      padding: 12px 30px;
      border: 0;
      float: right; }
    .ask-us-ticket .ask-bg ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fff; }
    .ask-us-ticket .ask-bg ::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff; }
    .ask-us-ticket .ask-bg :-ms-input-placeholder {
      /* IE 10+ */
      color: #fff; }
    .ask-us-ticket .ask-bg :-moz-placeholder {
      /* Firefox 18- */
      color: #fff; }

/* ************************ 20-july-2017 ******************************* */
@media (max-width: 1199px) and (min-width: 980px) {
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0; }

  header .navbar-nav li a {
    padding: 22px 16px;
    font-size: 14px; }

  body .slide-text {
    top: 50px;
    bottom: 0; }

  body .slider .slide-text .slide-text1 h1 {
    font-size: 28px;
    margin-bottom: 5px; }

  body .slider .slide-text .slide-text1 p {
    font-size: 25px;
    margin-bottom: 10px; }

  body .slider .slide-text .slide-text1 {
    margin-bottom: 15px; }

  .slider .bulletin .bulletin-txt {
    font-size: 26px;
    padding: 22px; }

  .slider .bulletin .bulletin-cont {
    padding: 36px 0;
    min-height: 95px; }

  .slider .bulletin .bulletin-cont a {
    font-size: 26px;
    padding-top: 0; }

  .slider .bulletin .bulletin-txt p {
    font-size: 18px; }

  .services .services-box h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px; }

  .services .services-box p {
    padding: 0 10px; }

  .about .about-box h2 {
    font-size: 20px;
    margin-top: 15px; }

  .about .about-box p {
    padding: 8px 15px; }

  .watch-video .watch-video1 {
    font-size: 15px;
    padding: 16px 20px 16px 110px; } }
@media (min-width: 768px) and (max-width: 991px) {
  header .navbar-brand {
    padding: 0;
    width: 200px; }
  header .navbar {
    margin-bottom: 0px;
    border: none; }
  header .navbar-nav {
    float: right;
    margin-right: -15px; }
    header .navbar-nav li a {
      padding: 18px 10px 14px 10px;
      font-size: 12px; }
      header .navbar-nav li a:hover, header .navbar-nav li a:focus {
        border-bottom: 7px solid #db3a04;
        padding-bottom: 14px; }
      header .navbar-nav li a.active {
        border-bottom: 7px solid #db3a04;
        padding-bottom: 14px; }

  .slider .carousel-indicators {
    display: none; }
  .slider .slide-text {
    padding: 10px 0;
    top: 50px; }
    .slider .slide-text .slide-text1 {
      padding: 12px 0;
      margin-bottom: 10px; }
      .slider .slide-text .slide-text1 h1 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
        line-height: 20px; }
      .slider .slide-text .slide-text1 p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0; }
    .slider .slide-text .btn-default {
      font-size: 16px;
      font-weight: 400;
      padding: 6px 16px; }
  .slider .bulletin .bulletin-txt {
    font-size: 22px;
    padding: 15px; }
    .slider .bulletin .bulletin-txt h3 {
      font-weight: 600; }
      .slider .bulletin .bulletin-txt h3 span {
        font-weight: 400; }
    .slider .bulletin .bulletin-txt p {
      font-size: 16px; }
  .slider .bulletin .bulletin-cont {
    padding: 25px 10px 10px 10px;
    min-height: 77px; }
    .slider .bulletin .bulletin-cont a {
      font-size: 18px;
      text-transform: uppercase; }

  .services {
    padding: 55px 0; }
    .services .services-box {
      border: 1px solid #efefef;
      padding: 5px; }
      .services .services-box p {
        padding: 0px; }
      .services .services-box h2 {
        font-size: 14px; }
      .services .services-box img {
        width: 70px; }

  .entery-header h2 {
    font-size: 22px;
    margin-bottom: 50px;
    padding-bottom: 10px; }

  .online-courses .courses-text {
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
    margin-right: 15px;
    padding: 13px; }

  .online-courses {
    padding: 55px 0px; }
    .online-courses .courses-text {
      font-size: 12px;
      padding: 5px; }
    .online-courses .cor-title {
      font-size: 12px; }

  .about {
    padding: 55px 0px; }
    .about .about-box {
      padding: 5px; }
      .about .about-box h2 {
        font-size: 16px;
        margin-top: 5px; }
      .about .about-box p {
        color: #f7f7f7;
        padding: 5px 15px; }

  footer {
    padding: 40px 0px 0px;
    font-size: 12px; }
    footer .foot-links > p {
      padding-top: 13px; }
    footer .foot-links h4 {
      font-size: 16px; }
    footer .foot-links .links {
      padding-top: 15px; }
      footer .foot-links .links li {
        margin-bottom: 10px;
        padding-left: 25px; }
        footer .foot-links .links li a {
          color: #c8c8c8; }
    footer .comp-name {
      font-size: 12px;
      padding: 10px 0; }
    footer .contact-de span {
      word-break: break-all; }
    footer .contact-de label {
      padding-right: 6px; }
    footer .copyright {
      margin-top: 34px;
      padding: 10px 0; }

  .inner-page .bio {
    font-size: 16px;
    padding: 10px;
    margin-top: 20px; }
  .inner-page .about-bott {
    padding: 20px;
    margin-bottom: 20px; }
  .inner-page .about-footer {
    padding: 10px 0px 20px; }
    .inner-page .about-footer .about-footer1 {
      padding: 20px; }
      .inner-page .about-footer .about-footer1 .have-u {
        padding: 30px 0px; }
      .inner-page .about-footer .about-footer1 .have-n {
        margin-bottom: 28px;
        font-size: 18px;
        padding: 6px; }
        .inner-page .about-footer .about-footer1 .have-n .normal-t {
          font-weight: 300; }

  .top-banner h3 {
    font-size: 20px;
    padding-bottom: 50px;
    padding-top: 50px; }

  .contact-us .add-bg {
    word-break: break-all; }

  .contact-foram {
    padding: 40px 0 50px; }

  .login-box .left-sign {
    width: 100%; }

  .slider .bulletin .bulletin-cont a {
    padding-top: 5px; }

  .services .services-box {
    min-height: 210px; }

  .services .services-box h2 {
    font-size: 14px;
    margin-top: 15px; }

  .services .services-box p {
    padding: 0px;
    font-size: 12px; }

  body .indicators-line > .carousel-indicators {
    bottom: 85px;
    display: block; }

  body .indicators-line > .carousel-indicators li {
    width: 12px;
    height: 12px; }

  .control-round .carousel-control.left {
    left: 1%;
    display: none; }

  .control-round .carousel-control.right {
    right: 1%;
    display: none; } }
@media (max-width: 767px) {
  header .navbar-brand {
    padding: 0;
    width: 154px; }
  header .navbar {
    margin-bottom: 0px;
    border: none;
    padding: 0px; }
  header .icon-bar {
    background: #db3a04; }
  header .navbar-nav {
    float: right;
    margin-right: -15px;
    margin: 0;
    width: 100%;
    background: #dae6e6; }
    header .navbar-nav li a {
      padding: 5px 10px 5px 10px;
      font-size: 12px; }
      header .navbar-nav li a:hover, header .navbar-nav li a:focus {
        border-bottom: 0px solid #db3a04;
        padding-bottom: 5px; }
      header .navbar-nav li a.active {
        border-bottom: 0px solid #db3a04;
        padding-bottom: 5px; }

  .inner-page .hadding-top {
    font-size: 18px; }

  .slider .carousel-indicators {
    display: none; }
  .slider .slide-text {
    padding: 10px 0;
    top: 3%; }
    .slider .slide-text .slide-text1 {
      padding: 3px;
      margin-bottom: 0px;
      line-height: 1px; }
      .slider .slide-text .slide-text1 h1 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0px; }
      .slider .slide-text .slide-text1 p {
        font-size: 12px;
        margin-bottom: 5px; }
    .slider .slide-text .btn-default {
      font-size: 18px;
      font-weight: 400;
      padding: 6px 10px; }
  .slider .bulletin .bulletin-txt {
    font-size: 16px;
    padding: 5px; }
    .slider .bulletin .bulletin-txt p {
      font-size: 14px;
      line-height: 20px; }
  .slider .bulletin .bulletin-cont {
    padding: 13px 10px 10px;
    min-height: 48px; }
    .slider .bulletin .bulletin-cont a {
      font-size: 14px;
      text-transform: uppercase; }

  .services {
    margin: 15px 0px;
    padding: 30px 0; }
    .services .services-box {
      border: 1px solid #efefef;
      margin: 0 auto 5px;
      padding: 5px;
      width: 290px; }
      .services .services-box p {
        padding: 0px; }
      .services .services-box h2 {
        font-size: 14px;
        margin-bottom: 10px; }
      .services .services-box img {
        width: 70px; }

  .entery-header h2 {
    font-size: 22px;
    margin-bottom: 30px;
    padding-bottom: 10px; }

  .online-courses .courses-text {
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
    margin-right: 15px;
    padding: 13px; }

  .online-courses {
    padding: 30px 0px; }
    .online-courses .courses-text {
      font-size: 12px;
      padding: 5px; }
    .online-courses .cor-title {
      font-size: 12px; }
    .online-courses .about-box {
      margin: 0 auto;
      width: 290px; }

  .about {
    padding: 30px 0px; }
    .about .about-box {
      padding: 5px;
      width: 290px;
      margin: 0px auto; }
      .about .about-box h2 {
        font-size: 16px;
        margin-top: 5px; }
      .about .about-box p {
        color: #f7f7f7;
        padding: 5px 15px; }

  footer {
    padding: 30px 0px 0px;
    font-size: 12px; }
    footer .foot-links > p {
      padding-top: 13px; }
    footer .foot-links {
      margin-bottom: 15px; }
      footer .foot-links h4 {
        font-size: 16px; }
      footer .foot-links .links {
        padding-top: 15px; }
        footer .foot-links .links li {
          margin-bottom: 10px;
          padding-left: 25px; }
          footer .foot-links .links li a {
            color: #c8c8c8; }
    footer .comp-name {
      font-size: 12px;
      padding: 10px 0; }
    footer .contact-de span {
      word-break: break-all; }
    footer .contact-de label {
      padding-right: 6px; }
    footer .copyright {
      margin-top: 30px;
      padding: 10px 0; }

  .watch-video {
    padding: 30px 0; }
    .watch-video .watch-video1 {
      font-size: 13px;
      padding: 11px 20px 11px 70px;
      background-size: 80px 100%; }

  .inner-page .bio {
    font-size: 16px;
    padding: 10px;
    margin-top: 20px; }
  .inner-page .about-bott {
    padding: 20px;
    margin-bottom: 20px; }
  .inner-page .about-footer {
    padding: 10px 0px 20px; }
    .inner-page .about-footer .about-footer1 {
      padding: 20px; }
      .inner-page .about-footer .about-footer1 .have-u {
        padding: 30px 0px; }
      .inner-page .about-footer .about-footer1 .have-n {
        margin-bottom: 28px;
        font-size: 18px;
        padding: 6px; }
        .inner-page .about-footer .about-footer1 .have-n .normal-t {
          font-weight: 300; }

  .top-banner h3 {
    font-size: 19px;
    padding-top: 20px;
    text-align: center; }

  .inner-page p {
    font-weight: 400;
    padding: 20px 0; }
    .inner-page p .about-footer1 .about-bott {
      margin-bottom: 10px;
      padding: 10px; }
    .inner-page p .have-u {
      padding: 10px 0; }
  .inner-page .bio {
    background-size: 20px 100%;
    margin-top: 0px; }
  .inner-page .about-footer {
    background: #e8e8e8; }

  .top-banner {
    margin-bottom: 15px; }

  .login-f {
    padding: 15px; }

  .how-work .right-how {
    float: none; }

  .sign-up-foram #accordion {
    padding: 0px 15px; }
  .sign-up-foram .how-do {
    padding: 0px 15px; }

  .services .services-box {
    padding: 20px 10px;
    margin-bottom: 20px; }

  .services .services-box h2 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px; }

  .online-courses {
    background-size: cover; }

  .courses-img-box {
    margin-bottom: 20px; }

  .slider .bulletin {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center; }

  .slider .bulletin .col-xs-8, .slider .bulletin .col-xs-4 {
    width: 100%;
    padding: 15px 15px;
    font-size: 20px; }

  .slider .bulletin .bulletin-txt h3 {
    margin-bottom: 5px; }

  .slider .bulletin .bulletin-cont a {
    padding-top: 0; }

  .slider .slide-text {
    padding: 10px 0;
    bottom: 0;
    top: auto; }

  .slider .bulletin .bulletin-cont a {
    font-size: 16px; }

  .slider .slide-text .slide-text1 {
    padding: 5px 0;
    margin-bottom: 8px;
    line-height: 8px; } }
@media (min-width: 320px) and (max-width: 480px) {
  .slider .slide-text .btn-default {
    font-size: 12px;
    font-weight: 400;
    padding: 10px 10px; } }

/*# sourceMappingURL=style.css.map */
