@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
Ghtml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #363636;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  line-height: 24px; }

@font-face {
  font-family: 'avenirregular';
  src: url("../fonts/avenir-book_gdi-webfont.woff2") format("woff2"), url("../fonts/avenir-book_gdi-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
::-webkit-input-placeholder {
  opacity: 1; }

::-moz-placeholder {
  opacity: 1; }

:-ms-input-placeholder {
  opacity: 1; }

:-moz-placeholder {
  opacity: 1; }

ol, ul {
  list-style: none outside none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: 600; }

html {
  font-size: 100%; }

a:focus {
  outline: medium none !important; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none; }

a {
  color: #444;
  font-size: 14px; }

a:hover {
  color: #000;
  text-decoration: none; }

img {
  box-sizing: border-box;
  height: auto;
  max-width: 100%; }

/* p {
  font-weight: 300;
} */
.clearfix {
  *zoom: 1; }

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0; }

.clearfix:after {
  clear: both; }

header .top-black {
  width: 100%;
  height: auto;
  background: #000000;
  padding: 3px;
  color: #fff; }
  header .top-black .login-box {
    color: #fff;
    text-align: right; }
    header .top-black .login-box a {
      color: #fff;
      text-decoration: none;
      padding-left: 5px; }
      header .top-black .login-box a:hover, header .top-black .login-box a:focus {
        color: #b6bfd7; }
header .navbar {
  margin-bottom: 0px;
  border: none; }
  header .navbar .navbar-brand {
    padding: 0px; }
header .navbar-nav {
  float: right;
  margin-right: -15px; }
  header .navbar-nav li.open a {
    background: #ff4001;
    border-bottom: 14px solid #db3a04;
    color: #fff;
    padding: 24px 25px; }
    header .navbar-nav li.open a:hover, header .navbar-nav li.open a:focus {
      background: #ff4001;
      border-bottom: 14px solid #db3a04;
      color: #f7f7f7;
      /* padding-bottom: 20px; */
      font-weight: bold; }
  header .navbar-nav li a {
    padding: 24px 25px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background: #fff;
    border-bottom: 14px solid #fff;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
    header .navbar-nav li a:hover, header .navbar-nav li a:focus {
      background: #ff4001;
      border-bottom: 14px solid #db3a04;
      /* padding-bottom: 20px; */
      color: #f7f7f7; }
    header .navbar-nav li a.active {
      background: #ff4001;
      border-bottom: 14px solid #db3a04;
      /* padding-bottom: 20px; */
      color: #f7f7f7; }
  header .navbar-nav li .drop-menu-bar {
    background: #ff4001;
    width: 300px !important;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    border: 0;
    z-index: 99999;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    /* top: 90px !important; */ }
    header .navbar-nav li .drop-menu-bar .arrow-top {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid black;
      position: absolute;
      top: 0;
      left: 10px; }
    header .navbar-nav li .drop-menu-bar li {
      margin: 0;
      padding: 0;
      border-bottom: solid 4px #173683; }
      header .navbar-nav li .drop-menu-bar li:hover {
        background: #009bad;
        border-bottom: solid 4px #ff4001;
        font-weight: normal;
        color: #fff; }
      header .navbar-nav li .drop-menu-bar li:last-child {
        border-bottom: 0; }
      header .navbar-nav li .drop-menu-bar li a {
        padding: 10px 12px;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: normal;
        color: #fff;
        background: #2448a3;
        border-bottom: 0;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s; }
        header .navbar-nav li .drop-menu-bar li a:hover {
          background: #ff4001;
          border-bottom: 0;
          font-weight: normal;
          color: #fff; }

.slider {
  position: relative; }
  .slider .slide-text {
    color: #000000; }
    .slider .slide-text .slide-text1 {
      background: rgba(255, 255, 255, 0.5);
      padding: 20px;
      margin-bottom: 27px; }
      .slider .slide-text .slide-text1 h1 {
        color: #000000;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 15px; }
      .slider .slide-text .slide-text1 p {
        font-size: 30px;
        font-weight: 400;
        color: #000000;
        line-height: auto;
        margin-bottom: 15px; }
  .slider .bulletin {
    position: absolute;
    bottom: -1px;
    width: 100%;
    z-index: 99999; }
    .slider .bulletin .bulletin-txt {
      background: #009bad;
      color: #f7f7f7;
      font-size: 36px;
      padding: 40px;
      min-height: 142px; }
      .slider .bulletin .bulletin-txt a {
        color: #fff;
        text-decoration: none; }
        .slider .bulletin .bulletin-txt a h3 {
          font-weight: 600;
          color: #f7f7f7;
          font-size: 36px; }
          .slider .bulletin .bulletin-txt a h3 span {
            font-weight: 400; }
        .slider .bulletin .bulletin-txt a p {
          font-size: 22px; }
    .slider .bulletin .bulletin-cont {
      background: #51c9d7;
      padding: 54px;
      min-height: 138px; }
      .slider .bulletin .bulletin-cont a {
        font-size: 36px;
        text-transform: uppercase;
        color: #000;
        font-weight: 600;
        padding-top: 12px;
        display: block; }

.entery-header {
  text-align: center; }
  .entery-header h2 {
    font-size: 34px;
    text-align: center;
    width: auto;
    border-bottom: 5px solid #009bad;
    margin-bottom: 75px;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 10px; }

.courses {
  display: block;
  padding: 92px 0px; }
  .courses .course-box {
    background: #efefef;
    position: relative;
    padding-bottom: 50px; }
    .courses .course-box h2 {
      font-size: 20px;
      color: #494949;
      margin-top: 15px;
      text-align: center;
      width: auto; }
    .courses .course-box p {
      padding: 15px; }
    .courses .course-box a {
      background-image: url("../images/more-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 72px;
      padding: 26px 22px 22px;
      height: 70px;
      color: #f7f7f7;
      display: block;
      text-align: center;
      position: absolute;
      left: 36%;
      right: 0;
      bottom: -43px; }
    .courses .course-box a:hover {
      background-image: url("../images/more-bg-hover.png");
      transition: background 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s; }

.services {
  display: block;
  padding: 92px 0px;
  /* background-image: url("../images/services.jpg"); */
  background-image: url(../images/login-bg.jpg);
  background-size: cover;
  margin: 30px 0px; }
  .services .entery-header {
    text-align: center; }
    .services .entery-header h2 {
      color: #f7f7f7; }
  .services .services-box {
    position: relative;
    padding-bottom: 50px;
    border: 1px solid #efefef;
    text-align: center;
    padding: 34px 0; }
    .services .services-box h2 {
      font-size: 25px;
      color: #efefef;
      margin-top: 40px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 5px; }
    .services .services-box p {
      padding: 0 25px;
      color: #f7f7f7; }
  .services .services-box:hover {
    border: 1px solid #009bad; }

.about {
  display: block;
  padding: 92px 0px;
  img--webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  /* Safari */
  img-transition: width 2s, height 2s, transform 2s; }
  .about .about-box {
    position: relative;
    padding-bottom: 50px;
    text-align: center;
    padding: 40px 20px;
    background: #009bad; }
    .about .about-box .about-box-in {
      border: 1px solid #009bad;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
      /* Safari */
      transition: width 2s, height 2s, transform 2s;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
      /* Safari */
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
      /* Safari */
      transition: width 2s, height 2s, transform 2s;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
      /* Safari */
      transition: width 2s, height 2s, transform 2s; }
    .about .about-box .about-box-in:hover {
      border: 1px solid #fff; }
    .about .about-box:nth-child(2) {
      background: #51c9d7; }
      .about .about-box:nth-child(2) .about-box-in {
        border: 1px solid #51c9d7;
        transition: width 2s, height 2s, transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        /* Safari */
        transition: width 2s, height 2s, transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        /* Safari */
        transition: width 2s, height 2s, transform 2s; }
      .about .about-box:nth-child(2) .about-box-in:hover {
        border: 1px solid #fff; }
    .about .about-box:nth-child(3) {
      background: #db3a04; }
      .about .about-box:nth-child(3) .about-box-in {
        border: 1px solid #db3a04;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        /* Safari */
        transition: width 2s, height 2s, transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        /* Safari */
        transition: width 2s, height 2s, transform 2s; }
      .about .about-box:nth-child(3) .about-box-in:hover {
        border: 1px solid #fff; }
    .about .about-box:nth-child(4) {
      background: #ff4001; }
      .about .about-box:nth-child(4) .about-box-in {
        border: 1px solid #ff4001;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
        /* Safari */
        transition: width 2s, height 2s, transform 2s; }
      .about .about-box:nth-child(4) .about-box-in:hover {
        border: 1px solid #fff; }
    .about .about-box h2 {
      font-size: 24px;
      color: #efefef;
      margin-top: 15px;
      text-align: center;
      text-transform: uppercase; }
    .about .about-box p {
      padding: 15px;
      color: #f7f7f7; }
  .about img:hover {
    -webkit-transform: rotate(90deg);
    /* Safari */
    transform: rotate(350deg); }

.testimonials {
  display: block;
  padding: 92px 0px;
  background-image: url("../images/test.png");
  background-size: cover;
  color: #fff; }
  .testimonials h2 {
    color: #fff; }
  .testimonials .carousel-inner .thumbnails li {
    padding: 5px; }
    .testimonials .carousel-inner .thumbnails li .s-1 {
      border: 1px solid #85807a;
      text-align: center;
      min-height: 300px;
      margin-bottom: 50px; }
  .testimonials .control-box.pager a {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #584949;
    font-size: 30px; }
  .testimonials .left-arrow {
    float: left;
    font-size: 0;
    margin-left: -50px; }
  .testimonials .right-arrow {
    float: right;
    font-size: 0;
    margin-right: -50px; }
  .testimonials #myCarousel > nav {
    margin-bottom: 0;
    position: absolute;
    top: 30%;
    width: 100%; }
  .testimonials .sub-title {
    color: #fff;
    border-bottom: 2px solid #009bad;
    margin-left: 16%;
    width: 69%;
    font-style: italic;
    margin-bottom: 15px; }
  .testimonials .client-name {
    color: #fff;
    font-size: 16px;
    padding-top: 23px;
    text-transform: uppercase; }
  .testimonials .caption > p {
    color: #fff;
    padding: 0 9%; }
  .testimonials .con {
    background: transparent url("../images/test-bottom.png") no-repeat scroll right bottom;
    margin: 0 10%;
    padding-bottom: 11px; }
    .testimonials .con p {
      background: url("../images/test-top.png") no-repeat;
      position: left top;
      color: #fff; }

.watch-video {
  padding: 70px 0;
  background: #f1f2f3; }
  .watch-video .watch-video1 {
    background: #fff url("../images/video-watch.png") no-repeat;
    border: 1px solid #d6d2d2;
    font-size: 18px;
    color: #009bad;
    border-radius: 25px;
    padding: 16px 20px 16px 70px;
    text-align: center; }

footer {
  background: #1a1919;
  padding: 60px 0px 0px;
  color: #c8c8c8; }
  footer .foot-links > p {
    color: #fff;
    padding-top: 13px; }
  footer .foot-links h4 {
    text-transform: uppercase;
    font-size: 24px;
    color: #ffffff;
    font-weight: 700;
    padding-top: 11px; }
  footer .foot-links .links {
    padding-top: 15px; }
    footer .foot-links .links li {
      margin-bottom: 10px;
      background: url("../images/arrow-bottom.png") no-repeat;
      background-position: left;
      padding-left: 25px; }
      footer .foot-links .links li a {
        color: #ffffff; }
      footer .foot-links .links li a:hover {
        color: #ff4001; }
  footer .comp-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0; }
  footer .contact-de a {
    color: #ffffff; }
  footer .contact-de span {
    color: #ffffff;
    float: left;
    max-width: 220px; }
    footer .contact-de span a {
      font-size: 11px; }
  footer .contact-de label {
    color: #a1604a;
    padding-right: 14px;
    float: left;
    max-width: 30px;
    padding-top: 5px; }
  footer .copyright {
    background: #000 none repeat scroll 0 0;
    color: #c8c8c8;
    margin-top: 57px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none; }

.contact-de > li {
  word-break: break-all;
  clear: both;
  display: inline-block; }

.online-courses {
  display: block;
  padding: 92px 0px;
  background: url("../images/online-c.jpg") repeat scroll 0 0/100% 100%;
  background-size: 100% 100%;
  color: #fff; }
  .online-courses .courses-text {
    background: url("../images/bg-course.png") repeat;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    margin-right: 15px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%; }
  .online-courses .cor-title {
    font-size: 18px;
    font-weight: 600;
    font-size: 26px;
    padding: 15px;
    width: 100%;
    padding: 10px 0px; }
  .online-courses .read-more-but button {
    border: 0px;
    background: #ff4001;
    color: #fff;
    padding: 5px 10px;
    margin-top: 10px; }
  .online-courses .read-more-but button:hover {
    background: #009bad; }
  .online-courses .courses-img {
    overflow: hidden; }
    .online-courses .courses-img img {
      -webkit-transition: 0.4s ease;
      transition: 0.4s ease; }
  .online-courses .courses-img img:hover, .online-courses .courses-img img:focus {
    transform: scale(1.2); }

.top-banner {
  background: url("../images/about.jpg") no-repeat;
  width: 100%;
  height: auto;
  margin-bottom: 2PX; }
  .top-banner h3 {
    font-size: 30px;
    color: #ff4001;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 100px; }

.inner-page .hadding-top {
  background: #ff4001 url("../images/about1.png") no-repeat scroll right center;
  color: #fff;
  font-size: 26px;
  margin-bottom: 30px;
  padding: 20px; }
.inner-page .in-bold {
  font-size: 16px;
  font-weight: 600; }
.inner-page p {
  font-weight: 400; }
.inner-page .bio {
  background: #009bad url("../images/bio.png") no-repeat;
  background-position: right;
  width: 100%;
  color: #fff;
  font-size: 26px;
  padding: 25px;
  margin-top: 50px; }
.inner-page .about-bott {
  background: #f5f5f5;
  padding: 40px;
  margin-bottom: 30px; }
.inner-page .about-footer {
  background: transparent url("../images/online-c.jpg") no-repeat scroll 100% 100%/100% auto;
  color: #fff;
  display: block;
  padding: 20px 0 200px; }
  .inner-page .about-footer .about-footer1 {
    color: #000;
    padding: 40px; }
    .inner-page .about-footer .about-footer1 .have-u {
      padding: 30px 0px;
      font-weight: bold; }
    .inner-page .about-footer .about-footer1 .have-n {
      background: #fff none repeat scroll 0 0;
      margin-bottom: 28px;
      font-weight: 600;
      font-size: 24px;
      padding: 10px; }
      .inner-page .about-footer .about-footer1 .have-n .normal-t {
        font-weight: 300;
        font-size: 18px; }

.contact-us .we-are {
  background: #009bad url("../images/arrow-bottom1.png") no-repeat;
  padding: 30px 30px 30px 30px;
  color: #fff; }
  .contact-us .we-are .we {
    padding-top: 20px;
    font-weight: 600;
    font-size: 16px; }
.contact-us .top-title {
  text-align: center;
  padding-top: 40px;
  font-size: 16px; }
.contact-us .sub-title {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 0px 30px; }
.contact-us .add-bg {
  background: #eaeaea;
  text-align: center;
  min-height: 220px;
  margin-top: 110px;
  padding: 30px 0px; }
  .contact-us .add-bg span {
    font-weight: 600; }
.contact-us .icon-box {
  width: 115px;
  height: 115px;
  border: 5px solid #FFF;
  background: #00a3b6;
  border-radius: 100%;
  margin: -94px auto 20px; }
.contact-us .icon2 {
  background: #4fc9d6; }
.contact-us .icon3 {
  background: #db3a04; }
.contact-us .icon4 {
  background: #ff4001; }

.contact-foram {
  background: transparent url("../images/online-c.jpg") no-repeat scroll 0 0/100% 100%;
  margin-top: 50px;
  padding: 80px 0px 200px;
  font-size: 14px; }
  .contact-foram .hadding-contact {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase; }
  .contact-foram .send-msg {
    background: #ff4001;
    color: #fff;
    font-size: 18px;
    border-radius: 0%;
    border: 0px;
    padding: 7px 30px; }
  .contact-foram .send-msg:hover {
    background: #018bb9; }
  .contact-foram textarea {
    font-size: 14px;
    border-radius: 0%;
    border: 0px; }
  .contact-foram input {
    font-size: 14px;
    border-radius: 0%;
    border: 0px; }

.how-work {
  padding: 0px 0px 30px; }
  .how-work h3 {
    font-size: 18px;
    padding: 15px;
    color: #fff;
    margin-bottom: 15px;
    background: #ff4001; }
  .how-work .work {
    padding: 30px 0px; }
    .how-work .work h3 {
      background: #009bad; }
  .how-work .right-how {
    float: right; }

.what-we-provide {
  z-index: 9999; }

.login-box .new-account {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase; }
.login-box .login-box-content {
  background: #f3f3f3;
  padding: 30px;
  margin-bottom: 60px;
  margin-top: 30px; }
  .login-box .login-box-content .account-title {
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 17px; }
  .login-box .login-box-content .form-signin .form-control {
    border-radius: 0px;
    padding: 10px;
    height: 45px;
    margin-bottom: 10px; }
  .login-box .login-box-content .form-signin .btn-primary {
    background: #ff4001;
    border-radius: 0px;
    border: 0px; }
  .login-box .login-box-content .form-signin .btn-primary:hover {
    background: #009bad; }
.login-box .checkbox.pull-left {
  float: left;
  padding: 15px 20px;
  width: 100%; }
.login-box .sub-hadding {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding: 40px 0px; }
.login-box .left-sign {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 4px solid #009bad;
  font-size: 16px;
  margin: 50px 0 100px;
  padding: 30px;
  text-align: center;
  width: 100%; }
.login-box .right-sign {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 4px solid #009bad;
  font-size: 16px;
  margin: 50px 0 100px;
  padding: 30px;
  text-align: center;
  width: 100%; }
.login-box .left-sign a, .login-box .right-sign a {
  color: #000;
  text-decoration: none;
  font-size: 18px; }
.login-box .left-sign a:hover, .login-box .right-sign a:hover {
  color: #000;
  text-decoration: none; }
.login-box .principles {
  padding: 30px;
  background: #f5f5f5;
  border: 4px solid #009bad;
  width: 100%;
  margin: 50px 0px 100px;
  font-size: 16px;
  text-align: center; }
  .login-box .principles .price {
    font-weight: 600;
    font-size: 24px;
    padding: 20px 0px; }
  .login-box .principles .yes-sign {
    margin: 0 auto;
    padding: 10px;
    width: 178px;
    height: 30px; }
    .login-box .principles .yes-sign input {
      float: left; }
    .login-box .principles .yes-sign .sign-me {
      float: left;
      padding-left: 10px; }
.login-box .bottom-text {
  background: #009bad;
  border-radius: 25px 25px 0px 0px;
  text-align: center;
  padding: 30px;
  color: #fff; }
.login-box .principles1 {
  padding: 20px;
  margin: 50px 0 40px;
  text-align: left; }
  .login-box .principles1 .title {
    background: #009bad;
    padding: 5px;
    color: #fff;
    margin-bottom: 10px; }
  .login-box .principles1 .course {
    padding-left: 0px; }
  .login-box .principles1 input {
    border: 1px solid #cecece;
    padding: 3px;
    width: 100%; }
.login-box .button button {
  font-size: 18px;
  font-weight: 600;
  margin: 15px auto 0;
  width: 100%;
  background: #ff4001 none repeat scroll 0 0;
  border: 0px;
  padding: 10px;
  color: #fff; }
.login-box button:hover {
  background: #009bad; }
.login-box .price-test {
  line-height: 27px;
  font-weight: 300;
  font-size: 14px; }
  .login-box .price-test span {
    font-weight: 600;
    font-size: 18px; }
.login-box .course {
  padding: 10px; }
.login-box .top-hadding {
  text-align: center; }

.sign-up-foram .top-hadding2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  padding: 0 15px 30px; }
  .sign-up-foram .top-hadding2 span {
    font-size: 16px;
    font-weight: 300; }
.sign-up-foram .corse-hadding {
  padding: 0px 15px;
  font-weight: 600;
  font-size: 16px;
  background: #009bad none repeat scroll 0 0;
  color: #fff;
  float: left;
  height: auto;
  padding: 5px 10px;
  width: 100%; }
.sign-up-foram .corse-content {
  padding: 0px 15px;
  background: #51c9d7 none repeat scroll 0 0;
  color: #fff;
  float: left;
  height: auto;
  padding: 0px 10px 5px;
  width: 100%; }
.sign-up-foram .Pay-by {
  float: left;
  padding: 15px;
  background: #f5f5f5; }
  .sign-up-foram .Pay-by h3 {
    padding: 0px 0px 15px; }
  .sign-up-foram .Pay-by .vat {
    font-size: 18px;
    padding: 15px 0; }
    .sign-up-foram .Pay-by .vat span {
      font-weight: 600; }
.sign-up-foram .gift {
  background: #009bad none repeat scroll 0 0;
  color: #fff;
  float: left;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
  width: 100%;
  border-radius: 25px 0px; }
  .sign-up-foram .gift .fa-gift {
    font-size: 30px;
    margin-right: 10px; }
.sign-up-foram .apply {
  text-align: right; }
  .sign-up-foram .apply input {
    color: #000;
    font-size: 14px;
    padding: 5px; }
.sign-up-foram .crate-pay-box {
  background: #f0f0f0 none repeat scroll 0 0;
  float: left;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%; }
  .sign-up-foram .crate-pay-box .crate-title {
    background: #ff4001;
    padding: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    border-radius: 10px 0; }
  .sign-up-foram .crate-pay-box label {
    font-size: 14px;
    font-weight: 400; }
  .sign-up-foram .crate-pay-box .address2 {
    width: 100%;
    float: 100%;
    padding-top: 15px; }
  .sign-up-foram .crate-pay-box .indicator, .sign-up-foram .crate-pay-box .indicator1 {
    float: left;
    padding-left: 15px; }
  .sign-up-foram .crate-pay-box .indicator2 {
    background: #009bad none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    width: 100%;
    float: left;
    padding: 8px 15px;
    border-radius: 10px 0;
    font-weight: 600; }
  .sign-up-foram .crate-pay-box .indicator3 {
    float: left;
    text-align: right;
    width: 100%; }
  .sign-up-foram .crate-pay-box .input {
    border-radius: 0px; }
.sign-up-foram .card {
  background: #efefef none repeat scroll 0 0;
  margin: 10px 0;
  padding: 0px; }
  .sign-up-foram .card .card-block {
    padding: 15px; }
  .sign-up-foram .card h5 {
    padding: 7px 0px;
    overflow: none;
    background: #009bad;
    padding: 10px;
    border-radius: 5px; }
  .sign-up-foram .card h5 a {
    color: #fff;
    text-decoration: none; }
.sign-up-foram #accordion {
  margin-bottom: 40px; }
.sign-up-foram .how-do {
  font-size: 18px;
  font-weight: 600;
  font-size: 18px; }

.my-profile .profile-right {
  background: #f1f1f1 none repeat scroll 0 0; }
  .my-profile .profile-right .user-name {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    padding: 15px 0px 0px; }
  .my-profile .profile-right .user-address {
    text-align: center;
    padding: 0px 15px 5px; }
  .my-profile .profile-right .user-phone {
    text-align: center;
    padding: 10px 15px 10px;
    background: #009bad;
    color: #fff; }
.my-profile .bio-box {
  background: #f1f1f1;
  padding: 15px;
  margin-bottom: 15px; }
  .my-profile .bio-box h3 {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #acacac;
    margin-bottom: 10px;
    padding-bottom: 10px; }
.my-profile .recent_activities h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  padding: 8px 15px;
  background: #009bad;
  color: #fff;
  margin-top: 10px; }
.my-profile .recent_activities .rounded-circle2 {
  width: 50px;
  height: 50px;
  border: 1px solid #d2d2d2;
  border-radius: 100%;
  margin-right: 10px;
  float: left; }
.my-profile .recent_activities .recent_act1 {
  background: #f1f1f1;
  padding: 5px;
  margin-bottom: 10px;
  float: left;
  width: 100%; }
.my-profile .recent_activities .act-con {
  width: 90%;
  height: auto;
  float: left; }
.my-profile .info-box {
  width: 100%;
  padding: 5px 0px; }
  .my-profile .info-box span {
    font-weight: 600; }

.pollcy h3 {
  font-size: 18px;
  padding: 10px;
  background: #009bad;
  color: #fff;
  margin: 15px 0px; }
.pollcy .inner-content {
  padding-bottom: 50px; }
  .pollcy .inner-content h4 {
    font-size: 18px;
    padding-bottom: 10px; }
.pollcy .contact {
  background: #51c9d7;
  padding: 15px;
  margin-top: 15px; }
  .pollcy .contact h4 {
    padding: 15px 0px 10px; }

.newsletter {
  padding: 0px 15px; }
  .newsletter .title {
    font-size: 18px;
    padding-bottom: 5px;
    background: #51c9d7;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: 600; }
  .newsletter h4 {
    font-size: 18px;
    padding-bottom: 10px; }
  .newsletter .news-update {
    background: #f1f1f1;
    margin-bottom: 15px;
    padding: 15px; }
    .newsletter .news-update .captcha {
      background: #51c9d7;
      padding: 15px;
      margin-top: 15px; }
      .newsletter .news-update .captcha .input-box {
        margin-top: 18px; }
    .newsletter .news-update .input-box {
      width: 100%;
      padding: 5px;
      border: 0px; }
  .newsletter .new-update-top {
    padding: 0px 0px 30px; }
  .newsletter label {
    font-weight: 300;
    margin-top: 5px; }
  .newsletter .bottom-button {
    margin: 20px auto 40px;
    width: 175px; }
    .newsletter .bottom-button .left {
      background: #ff4001 none repeat scroll 0 0;
      border: 0 none;
      color: #fff;
      font-size: 16px;
      margin-right: 10px;
      padding: 10px 15px; }
    .newsletter .bottom-button .left:hover {
      background: #009bad none repeat scroll 0 0; }
    .newsletter .bottom-button .right {
      background: #009bad none repeat scroll 0 0;
      border: 0 none;
      color: #fff;
      font-size: 16px;
      margin-right: 10px;
      padding: 10px 15px; }
    .newsletter .bottom-button .right:hover {
      background: #ff4001 none repeat scroll 0 0; }

/* ************************ 20-july-2017 ******************************* */
.login-box .orange-bar-outline {
  border: solid 5px #ff4001;
  margin-bottom: 30px; }
  .login-box .orange-bar-outline .left-sign {
    background-image: url(../images/sign-1.jpg);
    background-repeat: no-repeat;
    height: 327px;
    text-align: center;
    border: 0;
    padding-top: 50px;
    background-size: cover;
    margin: 0px; }
    .login-box .orange-bar-outline .left-sign .head-title {
      color: #fff;
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 50px;
      min-height: 150px; }
    .login-box .orange-bar-outline .left-sign a {
      background: #ff4001;
      padding: 10px 28px;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 0;
      text-decoration: none; }
      .login-box .orange-bar-outline .left-sign a:hover {
        background: #009bad;
        color: #fff; }
    .login-box .orange-bar-outline .left-sign button[type="submit"] {
      background: #ff4001;
      padding: 10px 28px;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 0;
      text-decoration: none;
      border: 0; }
      .login-box .orange-bar-outline .left-sign button[type="submit"] i {
        margin-right: 5px; }
      .login-box .orange-bar-outline .left-sign button[type="submit"]:hover {
        background: #009bad;
        color: #fff; }
.login-box .orange-bar-outline {
  border: solid 3px #ff4001;
  margin-bottom: 30px; }
  .login-box .orange-bar-outline .right-sign {
    background-image: url(../images/sign-2.jpg);
    background-repeat: no-repeat;
    height: 327px;
    text-align: center;
    border: 0;
    padding-top: 50px;
    background-size: cover;
    margin: 0px; }
    .login-box .orange-bar-outline .right-sign .head-title {
      color: #fff;
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 50px; }
    .login-box .orange-bar-outline .right-sign a {
      background: #ff4001;
      padding: 10px 28px;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 0;
      text-decoration: none; }
      .login-box .orange-bar-outline .right-sign a:hover {
        background: #009bad;
        color: #fff; }
    .login-box .orange-bar-outline .right-sign button[type="submit"] {
      background: #ff4001;
      padding: 10px 28px;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 0;
      text-decoration: none;
      border: 0; }
      .login-box .orange-bar-outline .right-sign button[type="submit"] i {
        margin-right: 5px; }
      .login-box .orange-bar-outline .right-sign button[type="submit"]:hover {
        background: #009bad;
        color: #fff; }
.login-box .top-hadding2 {
  text-align: center;
  font-size: 18px;
  max-width: 900px;
  margin: 0 auto;
  line-height: 26px;
  font-style: italic; }

.principles-data {
  background-image: url(../images/principle-data.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 0; }
  .principles-data .top-hadding2 {
    text-align: center;
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 28px;
    font-style: italic;
    color: #fff; }
  .principles-data .four-course-block {
    margin-top: 50px;
    text-align: center; }
    .principles-data .four-course-block .course-image-box {
      overflow: hidden; }
      .principles-data .four-course-block .course-image-box:hover img {
        transform: scale(1.2);
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease; }
    .principles-data .four-course-block .courses-block span {
      background: #009bad;
      display: block;
      padding: 14px 0;
      color: #fff;
      text-transform: uppercase;
      font-size: 17px; }
  .principles-data .border-all {
    border: solid 1px #009bad;
    padding: 15px;
    margin: 50px 0; }
    .principles-data .border-all .principles2 {
      background: #fff;
      border: 0;
      margin: 0; }
      .principles-data .border-all .principles2 p {
        margin-bottom: 15px; }
      .principles-data .border-all .principles2 .price-test {
        line-height: 33px;
        font-weight: 300;
        font-size: 14px; }
      .principles-data .border-all .principles2 .title {
        background: transparent;
        padding: 0;
        margin-bottom: 15px;
        font-size: 24px;
        color: #333; }
      .principles-data .border-all .principles2 .amount {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-top: 15px; }
      .principles-data .border-all .principles2 .course {
        color: #009bad;
        font-size: 18px;
        margin-bottom: 5px; }
      .principles-data .border-all .principles2 .price-test ul li:before {
        content: "\f101";
        font-family: FontAwesome;
        margin-right: 6px;
        color: #ff4001; }
      .principles-data .border-all .principles2 .price-test ul li span {
        color: #ff4001; }
  .principles-data .principles-data-block {
    background: transparent;
    border: 0;
    margin: 50px 0; }
    .principles-data .principles-data-block .sub-title {
      font-size: 36px;
      color: #fff;
      font-weight: bold; }
    .principles-data .principles-data-block .price {
      color: #ff4001;
      font-size: 30px;
      padding: 28px 0px; }
    .principles-data .principles-data-block .content-sub-title {
      color: #fff;
      font-size: 20px; }
    .principles-data .principles-data-block .yes-sign {
      padding: 20px 0;
      height: auto; }
      .principles-data .principles-data-block .yes-sign .sign-me {
        color: #fff; }
    .principles-data .principles-data-block .button {
      width: 220px;
      margin: 0 auto; }

.footer-top .contact-detail ul li i {
  color: #ff4001;
  font-size: 19px; }

.login-section {
  padding: 120px 0;
  background-image: url(../images/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  border-bottom: solid 1px #fff;
  position: relative; }
  .login-section .transparent-bg {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: solid 9px #369bc8;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative; }
    .login-section .transparent-bg .login-oval {
      width: 90px;
      height: 90px;
      background: #369bc8;
      position: absolute;
      top: -40px;
      left: -40px;
      border-radius: 50%;
      text-align: center;
      padding-top: 18px; }
      .login-section .transparent-bg .login-oval .otp i {
        font-size: 50px; }
      .login-section .transparent-bg .login-oval i {
        font-size: 60px; }
    .login-section .transparent-bg input[type="text"] {
      background-color: rgba(255, 255, 255, 0.5);
      height: 45px;
      color: #000;
      border: 0;
      border-radius: 0;
      box-shadow: none; }
    .login-section .transparent-bg input[type="password"] {
      background-color: rgba(255, 255, 255, 0.5);
      height: 45px;
      color: #000;
      border: 0;
      border-radius: 0;
      box-shadow: none; }
    .login-section .transparent-bg input[type="submit"] {
      background-color: #369bc8;
      color: #fff;
      border: 0;
      border-radius: 0;
      font-size: 22px;
      text-transform: uppercase;
      text-align: center;
      padding: 14px 12px;
      width: 100%;
      box-shadow: none;
      font-weight: bold;
      margin-bottom: 10px; }
      .login-section .transparent-bg input[type="submit"]:hover {
        background: #ff4001; }
    .login-section .transparent-bg .remember-forgot {
      margin: 20px 0; }
      .login-section .transparent-bg .remember-forgot .common-left-side {
        float: left; }
      .login-section .transparent-bg .remember-forgot .common-right-side {
        float: right; }
        .login-section .transparent-bg .remember-forgot .common-right-side a {
          color: #369bc8; }
    .login-section .transparent-bg ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #000; }
    .login-section .transparent-bg ::-moz-placeholder {
      /* Firefox 19+ */
      color: #000; }
    .login-section .transparent-bg :-ms-input-placeholder {
      /* IE 10+ */
      color: #000; }
    .login-section .transparent-bg :-moz-placeholder {
      /* Firefox 18- */
      color: #000; }
    .login-section .transparent-bg h1 {
      font-size: 44px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      margin: 30px 0; }
    .login-section .transparent-bg h2 {
      font-size: 38px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      margin: 30px 0; }
    .login-section .transparent-bg .otp-content .otp-section {
      margin: 40px 0 15px; }
      .login-section .transparent-bg .otp-content .otp-section .sub-title {
        font-size: 14px; }
      .login-section .transparent-bg .otp-content .otp-section .otp-goback {
        float: right; }
        .login-section .transparent-bg .otp-content .otp-section .otp-goback a {
          color: #ff4001;
          text-decoration: none;
          text-transform: uppercase; }
    .login-section .transparent-bg .otp-content a {
      font-weight: bold;
      color: #ff4001;
      text-decoration: none; }
      .login-section .transparent-bg .otp-content a:hover {
        text-decoration: none;
        color: #fff; }
    .login-section .transparent-bg .otp-content p {
      margin: 0 0 15px; }
    .login-section .transparent-bg .resend-otp {
      float: right;
      margin-top: 20px; }
      .login-section .transparent-bg .resend-otp a {
        color: #ff4001;
        text-decoration: none; }
  .login-section .bottom-transparent {
    background-color: #000;
    border-bottom: solid 5px #369bc8;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500; }
    .login-section .bottom-transparent a {
      text-decoration: none;
      color: #369bc8;
      font-size: 20px;
      font-weight: 500; }

.raise-ticket {
  padding: 100px 0;
  background-image: url(../images/raise-ticket.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff; }
  .raise-ticket h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase; }

.ask-us-ticket {
  padding: 80px 0 0;
  border-bottom: solid 1px #fff; }
  .ask-us-ticket .inner-page {
    margin-bottom: 30px;
    margin-top: 0; }
    .ask-us-ticket .inner-page .bio {
      margin-top: 0;
      font-weight: bold; }
  .ask-us-ticket .author_reply {
    background: transparent;
    margin-bottom: 50px;
    padding: 21px 25px;
    position: relative;
    border: solid 1px #40b4c2;
    border-bottom: solid 4px #40b4c2;
    width: 100%;
    float: left;
    max-width: 800px; }
    .ask-us-ticket .author_reply i {
      color: #40b4c2;
      display: block;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 12px; }
    .ask-us-ticket .author_reply p {
      color: #000000;
      font-style: italic; }
    .ask-us-ticket .author_reply .arrow-down {
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid #1193bd;
      position: absolute;
      bottom: -19px; }
      .ask-us-ticket .author_reply .arrow-down:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 21px solid transparent;
        border-right: 21px solid transparent;
        border-top: 21px solid #fff;
        position: absolute;
        top: -23px;
        left: -21px; }
  .ask-us-ticket .user_reply {
    position: relative;
    background: #ff4001;
    margin-bottom: 50px;
    padding: 21px 25px;
    float: right;
    width: 100%;
    max-width: 693px; }
    .ask-us-ticket .user_reply i {
      color: #fff;
      display: block;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 12px; }
    .ask-us-ticket .user_reply p {
      color: #fff;
      font-style: italic; }
    .ask-us-ticket .user_reply .arrow-down {
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-top: 16px solid #ff4001;
      position: absolute;
      right: 20px;
      bottom: -15px; }
  .ask-us-ticket .ask-bg {
    padding: 100px 0;
    background-image: url(../images/login-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%; }
    .ask-us-ticket .ask-bg h3 {
      font-size: 32px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 30px; }
    .ask-us-ticket .ask-bg label {
      color: #fff;
      font-size: 16px;
      margin-bottom: 12px; }
    .ask-us-ticket .ask-bg select {
      border: solid 1px #ffffff;
      background: transparent;
      height: 52px;
      color: #fff;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 20px; }
      .ask-us-ticket .ask-bg select option {
        color: #303030; }
    .ask-us-ticket .ask-bg input[type="text"] {
      background-color: transparent;
      height: 52px;
      color: #fff;
      border: solid 1px #fff;
      border-radius: 0;
      box-shadow: none; }
    .ask-us-ticket .ask-bg textarea {
      height: 122px;
      background-color: transparent;
      color: #fff;
      border: solid 1px #fff;
      border-radius: 0;
      box-shadow: none;
      padding: 15px 12px; }
    .ask-us-ticket .ask-bg .submit-send {
      background: #ff4001;
      color: #fff;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: bold;
      padding: 12px 30px;
      border: 0;
      float: right; }
    .ask-us-ticket .ask-bg ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fff; }
    .ask-us-ticket .ask-bg ::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff; }
    .ask-us-ticket .ask-bg :-ms-input-placeholder {
      /* IE 10+ */
      color: #fff; }
    .ask-us-ticket .ask-bg :-moz-placeholder {
      /* Firefox 18- */
      color: #fff; }

.online-courses-section {
  padding: 80px 0; }
  .online-courses-section h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: #ff4001;
    margin-bottom: 20px; }
  .online-courses-section .space-course-online {
    margin-bottom: 30px; }
    .online-courses-section .space-course-online:last-child {
      margin-bottom: 0; }
  .online-courses-section .course-box-development {
    border: solid 1px #e1e1e1;
    padding: 20px;
    box-shadow: 0 5px 0 #fd4002;
    position: relative; }
    .online-courses-section .course-box-development .course-img-box {
      overflow: hidden; }
      .online-courses-section .course-box-development .course-img-box img {
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease; }
        .online-courses-section .course-box-development .course-img-box img:hover {
          transform: scale(1.2); }
    .online-courses-section .course-box-development .course-caption {
      text-align: center;
      font-size: 16px;
      padding: 20px 15px;
      position: absolute;
      bottom: 20px;
      background: rgba(0, 0, 0, 0.6);
      left: 0;
      right: 0;
      margin: 0 auto;
      max-width: 318px;
      color: #fff; }
      .online-courses-section .course-box-development .course-caption .sub-title {
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 5px; }
      .online-courses-section .course-box-development .course-caption p {
        font-size: 12px; }
      .online-courses-section .course-box-development .course-caption a {
        background: #fd4002;
        color: #fff;
        font-size: 12px;
        text-decoration: none;
        padding: 5px 12px;
        display: inline-block;
        text-transform: capitalize;
        margin-top: 8px; }
        .online-courses-section .course-box-development .course-caption a:hover {
          background: #009bad; }

.online-courses-section-detail {
  padding: 80px 0; }
  .online-courses-section-detail .deatil-img-box {
    border: solid 1px #e1e1e1;
    padding: 20px;
    box-shadow: 0 0 60px #c2c2c2; }
    .online-courses-section-detail .deatil-img-box img {
      width: 100%; }
  .online-courses-section-detail .watch-now-btn {
    background: #ff4001;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 24px;
    color: #fff;
    font-weight: bold;
    width: 380px;
    margin: 0 auto;
    display: block;
    margin-top: 30px; }
    .online-courses-section-detail .watch-now-btn span {
      vertical-align: middle;
      display: inline-block; }
      .online-courses-section-detail .watch-now-btn span i {
        font-size: 24px; }
      .online-courses-section-detail .watch-now-btn span img {
        margin-right: 5px; }
    .online-courses-section-detail .watch-now-btn:hover {
      background: #009bad;
      text-decoration: none; }
  .online-courses-section-detail .deatil-content-box h2 {
    color: #ff4001;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 0; }
  .online-courses-section-detail .deatil-content-box strong {
    font-size: 16px;
    color: #2249a3;
    margin-bottom: 25px;
    display: block; }
  .online-courses-section-detail .deatil-content-box p {
    margin-bottom: 20px;
    line-height: 24px; }
  .online-courses-section-detail .deatil-content-box ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none; }
    .online-courses-section-detail .deatil-content-box ul li {
      padding-bottom: 10px; }
      .online-courses-section-detail .deatil-content-box ul li:before {
        content: "\f105";
        font-family: FontAwesome;
        font-size: 16px;
        margin-right: 5px; }
  .online-courses-section-detail .deatil-content-box .read-more {
    background: #ff4001;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    padding: 15px 24px;
    color: #fff;
    font-weight: bold;
    border: 0; }
    .online-courses-section-detail .deatil-content-box .read-more:hover {
      background: #009bad;
      text-decoration: none; }

.indicator .good {
  font-weight: bold; }

.req {
  color: #f00; }

.required-server {
  color: #f00; }

.textqty1 label {
  padding-bottom: 10px;
  color: #ff4001;
  font-weight: bold; }

.partners-top-bar {
  padding: 100px 0;
  background-image: url(../images/partners.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff; }
  .partners-top-bar h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase; }

.partners-section {
  padding: 80px 0; }
  .partners-section .partner-bottom-space {
    margin-bottom: 5px; }
    .partners-section .partner-bottom-space:last-child {
      margin-bottom: 0; }
    .partners-section .partner-bottom-space .partner-block {
      font-size: 16px;
      color: #fd4002;
      text-align: center; }
      .partners-section .partner-bottom-space .partner-block a {
        color: #fd4002;
        padding: 10px 0;
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase; }
    .partners-section .partner-bottom-space .partner-box {
      border: solid 1px #e1e1e1;
      padding: 20px;
      position: relative;
      overflow: hidden;
      -webkit-transition: 0.5s;
      transition: 0.5s;
      cursor: pointer; }
      .partners-section .partner-bottom-space .partner-box:hover {
        -webkit-transform: scale(1); }
        .partners-section .partner-bottom-space .partner-box:hover img {
          -webkit-transition: 0.4s ease;
          transform: scale(1.2); }
        .partners-section .partner-bottom-space .partner-box:hover .caption-box {
          position: absolute;
          top: 0;
          right: 0;
          background: rgba(0, 0, 0, 0.5);
          display: block;
          height: 100%;
          -webkit-transition: 0.4s ease;
          transition: 0.4s ease;
          width: 100%;
          -webkit-transform: scale(1); }
      .partners-section .partner-bottom-space .partner-box .caption-box {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.4);
        display: none;
        height: 100%; }
      .partners-section .partner-bottom-space .partner-box .sub-title {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 15px;
        color: #ff4001;
        text-align: center; }
      .partners-section .partner-bottom-space .partner-box p {
        text-align: center;
        margin-bottom: 15px; }
      .partners-section .partner-bottom-space .partner-box a {
        background: #fd4002;
        padding: 8px 12px;
        display: block;
        color: #fff;
        text-align: center;
        text-transform: capitalize;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 80px; }
        .partners-section .partner-bottom-space .partner-box a i {
          padding-top: 10px; }
        .partners-section .partner-bottom-space .partner-box a:hover {
          background: #0096a7;
          text-decoration: none; }

.training-top-bar {
  padding: 100px 0;
  background-image: url(../images/service-training.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff; }
  .training-top-bar h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase; }

.training-bar-section {
  padding: 80px 0; }
  .training-bar-section h2 {
    color: #ff4001;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 0;
    text-align: center; }
  .training-bar-section p {
    margin-bottom: 15px; }
  .training-bar-section .training-bar-content h3 {
    font-size: 20px;
    color: #2249a3;
    margin-bottom: 20px;
    display: block; }
  .training-bar-section .training-bar-content .regulation-video-btn {
    background: #ff4001;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 24px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px; }
    .training-bar-section .training-bar-content .regulation-video-btn:hover {
      background: #009bad;
      text-decoration: none; }
  .training-bar-section ul {
    margin: 20px 0 0;
    padding: 0;
    list-style: none; }
    .training-bar-section ul li {
      padding: 0 0 5px; }
      .training-bar-section ul li:before {
        content: "\f101";
        font-family: FontAwesome;
        margin-right: 6px; }

.training-person-bar {
  padding: 70px 0;
  background-image: url(../images/countdown-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: solid 1px #fff;
  text-align: center; }
  .training-person-bar .trainer-box {
    text-align: center; }
    .training-person-bar .trainer-box .trainer-box-img {
      width: 250px;
      height: 250px;
      margin: 0 auto;
      border-radius: 50%;
      border: solid 2px #ff4001;
      overflow: hidden;
      margin-bottom: 20px; }
      .training-person-bar .trainer-box .trainer-box-img img {
        border-radius: 50%; }
      .training-person-bar .trainer-box .trainer-box-img:hover {
        border: solid 2px #009bad; }
    .training-person-bar .trainer-box span {
      font-size: 24px;
      color: #fff;
      text-transform: uppercase; }
  .training-person-bar .col-md-3.col-sm-3 {
    float: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 20px; }

.consulting-section {
  padding: 100px 0;
  background-image: url(../images/consulting.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff; }
  .consulting-section h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase; }

.consultancy-section {
  padding: 80px 0; }
  .consultancy-section h2 {
    color: #ff4001;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 0;
    text-align: center; }
  .consultancy-section .consult-space {
    margin: 40px 0 20px; }
    .consultancy-section .consult-space .consult-icons-box {
      text-align: center; }
      .consultancy-section .consult-space .consult-icons-box i {
        background: #2448a3;
        width: 90px;
        height: 90px;
        display: inline-block;
        margin: 0 auto;
        color: #fff;
        font-size: 46px;
        border-radius: 50%;
        padding-top: 22px; }
      .consultancy-section .consult-space .consult-icons-box .sub-title {
        font-size: 20px;
        margin: 15px 0; }

.consultancy-edge {
  text-align: center;
  padding: 60px 0;
  color: #fff;
  background: #ff4001; }
  .consultancy-edge .title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px; }

.consultancy-empowers {
  text-align: center;
  padding: 80px 0; }
  .consultancy-empowers h3 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px; }
  .consultancy-empowers p {
    max-width: 680px;
    margin: 0 auto; }
  .consultancy-empowers .empower-img-section {
    margin-top: 30px; }
    .consultancy-empowers .empower-img-section .overdraft {
      overflow: hidden; }
      .consultancy-empowers .empower-img-section .overdraft img {
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease; }
        .consultancy-empowers .empower-img-section .overdraft img:hover {
          transform: scale(1.2); }

.auditing-heading {
  padding: 100px 0;
  background-image: url(../images/audit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff; }
  .auditing-heading h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase; }

.auditing-section {
  padding: 80px 0; }
  .auditing-section h2 {
    font-size: 26px;
    margin-top: 0;
    color: #ff4001;
    margin-bottom: 15px; }
  .auditing-section p {
    margin-bottom: 15px; }

.audit-icons-block {
  background: #ff4001;
  color: #fff;
  padding: 50px 0; }
  .audit-icons-block .audit-icons-box {
    text-align: center; }
    .audit-icons-block .audit-icons-box i {
      background: #2448a3;
      width: 90px;
      height: 90px;
      display: inline-block;
      margin: 0 auto;
      color: #fff;
      font-size: 46px;
      border-radius: 50%;
      padding-top: 22px; }
    .audit-icons-block .audit-icons-box .sub-title {
      font-size: 20px;
      margin: 15px 0; }

.our-trainer-top {
  padding: 100px 0;
  background-image: url(../images/our-trainers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff; }
  .our-trainer-top h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase; }

.our-trainers-section {
  padding: 80px 0; }
  .our-trainers-section h2 {
    color: #ff4001;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 0;
    text-align: center; }
  .our-trainers-section p i {
    text-align: center;
    display: block;
    font-weight: bold;
    margin-bottom: 30px; }
  .our-trainers-section .trainers-block .work-box {
    padding: 20px 0px 10px;
    margin-bottom: 40px;
    height: auto;
    overflow: hidden;
    text-align: center; }
    .our-trainers-section .trainers-block .work-box a {
      transition: all 0.7s ease 0s;
      display: block; }
      .our-trainers-section .trainers-block .work-box a .icons {
        width: 180px;
        height: 180px;
        overflow: hidden;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        -o-border-radius: 50%;
        display: block;
        margin: 0 auto;
        border: solid 2px #ff4001; }
      .our-trainers-section .trainers-block .work-box a h4 {
        border: 2px solid #58b3d1;
        color: #198db3;
        padding: 12px 0;
        font-size: 20px;
        text-transform: uppercase;
        border-radius: 5px;
        width: 180px;
        margin: 15px auto; }
      .our-trainers-section .trainers-block .work-box a strong {
        color: #ff4001;
        font-size: 22px;
        text-transform: uppercase;
        padding: 15px 0;
        display: block; }
      .our-trainers-section .trainers-block .work-box a span {
        display: block;
        font-size: 16px;
        color: #303030;
        font-weight: normal;
        text-transform: capitalize; }
      .our-trainers-section .trainers-block .work-box a p {
        color: #7d8694;
        font-size: 15px;
        margin: 10px 0px;
        font-weight: 400;
        font-style: italic;
        line-height: 18px;
        display: none; }
      .our-trainers-section .trainers-block .work-box a:hover {
        /* transform: translate(0px, -226px); */
        transform: inherit; }
        .our-trainers-section .trainers-block .work-box a:hover h4 {
          border: 2px solid #ff4001;
          margin-bottom: 10px;
          color: #ff4001;
          border-radius: 5px; }
        .our-trainers-section .trainers-block .work-box a:hover p {
          display: block; }

.contrary-trainers {
  padding: 100px 0;
  background-image: url(../images/trainers-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  background-attachment: fixed;
  color: #fff; }
  .contrary-trainers .title {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold; }
  .contrary-trainers p {
    margin-bottom: 20px; }
  .contrary-trainers a {
    background: #ff4001;
    padding: 10px 18px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    font-size: 15px; }
    .contrary-trainers a:hover {
      background: #009bad;
      text-decoration: none; }

.trainers-bottom {
  padding: 80px 0; }
  .trainers-bottom ul {
    margin: 0 0 15px;
    padding: 0;
    list-style: none; }
    .trainers-bottom ul li {
      margin: 0;
      padding: 0 0 8px; }
      .trainers-bottom ul li:before {
        content: "\f101";
        margin-right: 5px;
        font-family: FontAwesome;
        color: #ff4001; }
  .trainers-bottom p {
    margin-bottom: 15px; }

.selling-top-bar {
  padding: 100px 0;
  background-image: url(../images/selling.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff; }
  .selling-top-bar h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase; }

.selling-bar-section {
  padding: 80px 0; }
  .selling-bar-section h2 {
    font-size: 30px;
    color: #ff4001;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold; }
  .selling-bar-section strong {
    font-size: 22px;
    margin-bottom: 20px;
    display: block; }
  .selling-bar-section p {
    margin-bottom: 20px; }
  .selling-bar-section ul {
    margin: 0 0 15px;
    padding: 0;
    list-style: none; }
    .selling-bar-section ul li {
      margin: 0;
      padding: 0 0 8px; }
      .selling-bar-section ul li:before {
        content: "\f101";
        margin-right: 5px;
        font-family: FontAwesome;
        color: #ff4001; }
  .selling-bar-section .title {
    font-size: 22px;
    margin-bottom: 20px; }
    .selling-bar-section .title:before {
      color: #ff4001;
      content: "\f0a9";
      margin-right: 5px;
      font-family: FontAwesome; }

.selling-conditions {
  padding: 60px 0;
  background-image: url(../images/countdown-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .selling-conditions h2 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold; }
  .selling-conditions strong {
    font-size: 22px;
    margin-bottom: 20px;
    display: block;
    color: #fff; }
  .selling-conditions p {
    margin-bottom: 20px;
    color: #fff; }
  .selling-conditions ul {
    margin: 0 0 15px;
    padding: 0;
    list-style: none; }
    .selling-conditions ul li {
      margin: 0;
      padding: 0 0 8px;
      color: #fff; }
      .selling-conditions ul li:before {
        content: "\f101";
        margin-right: 5px;
        font-family: FontAwesome;
        color: #fff; }

.pricing-top-bar {
  padding: 100px 0;
  background-image: url(../images/pricing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff; }
  .pricing-top-bar h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase; }

.pricing-section {
  padding: 80px 0;
  text-align: center; }

.pricing-hero {
  padding: 60px 0;
  background-image: url(../images/countdown-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: solid 1px #fff; }
  .pricing-hero h3 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center; }
  .pricing-hero strong {
    color: #ff4001;
    display: block;
    margin-bottom: 10px;
    font-size: 20px; }
  .pricing-hero p {
    color: #fff; }

.personalise-course {
  padding: 60px 0;
  background-image: url(../images/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  .personalise-course .personalise-icons-box {
    text-align: center; }
    .personalise-course .personalise-icons-box i {
      background: #2448a3;
      width: 90px;
      height: 90px;
      display: inline-block;
      margin: 0 auto;
      color: #fff;
      font-size: 46px;
      border-radius: 50%;
      padding-top: 22px; }
    .personalise-course .personalise-icons-box .sub-title {
      font-size: 20px;
      margin: 15px 0;
      color: #fff; }
    .personalise-course .personalise-icons-box p {
      color: #fff; }

.check-list-course ul li:before {
  font-family: FontAwesome;
  content: "\f00c";
  color: #ff4001;
  margin-right: 8px; }

.success-message {
  background: #ff4001;
  padding: 20px 0;
  text-align: center; }
  .success-message .tick-success .tick {
    background: transparent;
    border: solid 1px #fff;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    color: #fff;
    border-radius: 50%; }
    .success-message .tick-success .tick i {
      padding-top: 16px; }
  .success-message .heading-top-center {
    color: #fff;
    font-size: 26px;
    padding-top: 33px;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold; }

.success-box .message {
  margin: 0;
  padding-bottom: 30px; }
  .success-box .message h3 {
    color: #009bad;
    font-size: 24px;
    text-transform: uppercase;
    margin: 30px 0 12px; }
  .success-box .message p:before {
    font-family: FontAwesome;
    content: "\f105";
    margin-right: 10px; }
  .success-box .message .col-md-12 {
    padding: 0; }

.captcha-section .captcha-image {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle; }
.captcha-section .captcha-input-box {
  display: inline-block;
  vertical-align: middle; }
  .captcha-section .captcha-input-box .input-box {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 320px;
    font-size: 12px; }

/* ************************ 20-july-2017 ******************************* */
/***************************** 21-sep-2017 **********************************/
.web-common-section {
  padding: 80px 0; }
  .web-common-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #51c9d7;
    /*  &:before{
       content: "\f105";
       font-family: FontAwesome;
       font-size: 22px;
       margin-right: 10px;
       display: inline-block;
       vertical-align: top;
     } */ }
  .web-common-section h3 {
    font-size: 20px;
    margin-bottom: 8px;
    color: #51c9d7; }
  .web-common-section h4 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #51c9d7; }
  .web-common-section p {
    margin-bottom: 20px; }
  .web-common-section ol {
    list-style: decimal;
    margin-bottom: 30px;
    padding-left: 20px; }
    .web-common-section ol li {
      padding-left: 0;
      margin-bottom: .5em; }
  .web-common-section img {
    margin-right: 10px; }
  .web-common-section .web-news-section .news-box {
    background-color: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    -webkit-transition: .3s;
    transition: .3s;
    border: solid 1px #e1e1e1; }
    .web-common-section .web-news-section .news-box .date-month-format {
      background: #51c9d7;
      width: 78px;
      text-align: center;
      padding: 8px;
      color: #fff;
      font-size: 13px;
      position: relative;
      margin-top: -40px;
      z-index: 10;
      margin-bottom: 18px;
      margin-left: 10px; }
      .web-common-section .web-news-section .news-box .date-month-format .date-format {
        font-size: 20px;
        font-weight: bold; }
      .web-common-section .web-news-section .news-box .date-month-format span {
        display: block; }
    .web-common-section .web-news-section .news-box h2 {
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .web-common-section .web-news-section .news-box .read-more-btn {
      background: #ff4001;
      text-transform: uppercase;
      text-decoration: none;
      color: #fff;
      padding: 6px 12px;
      text-align: center;
      margin-top: 8px;
      display: inline-block; }
      .web-common-section .web-news-section .news-box .read-more-btn:hover {
        background: #009bad;
        text-decoration: none; }
  .web-common-section .testimonial-box {
    border: solid 1px #ddd;
    text-align: center;
    padding: 24px 20px;
    margin-bottom: 20px;
    background: #fcfcfc; }
    .web-common-section .testimonial-box h2 {
      color: #ff4001;
      font-size: 30px;
      margin-bottom: 15px; }
    .web-common-section .testimonial-box i {
      font-size: 34px;
      padding: 10px 0;
      color: #51c9d7; }
    .web-common-section .testimonial-box strong {
      font-style: italic;
      color: #ff4001;
      display: block; }

/***************************** 21-sep-2017 **********************************/
@media (max-width: 1199px) and (min-width: 980px) {
  .navbar-collapse {
    padding-right: 0;
    padding-left: 0; }

  header .navbar-nav li a {
    padding: 22px 12px;
    font-size: 14px; }

  header .navbar-nav li.open a {
    padding: 22px 12px; }

  body .slide-text {
    top: 50px;
    bottom: 0; }

  body .slider .slide-text .slide-text1 h1 {
    font-size: 28px;
    margin-bottom: 5px; }

  body .slider .slide-text .slide-text1 p {
    font-size: 25px;
    margin-bottom: 10px; }

  body .slider .slide-text .slide-text1 {
    margin-bottom: 15px; }

  .slider .bulletin .bulletin-txt {
    font-size: 26px;
    padding: 22px; }

  .slider .bulletin .bulletin-cont {
    padding: 36px 0;
    min-height: 95px; }

  .slider .bulletin .bulletin-cont a {
    font-size: 26px;
    padding-top: 0; }

  .slider .bulletin .bulletin-txt p {
    font-size: 18px; }

  .services .services-box h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px; }

  .services .services-box p {
    padding: 0 10px; }

  .about .about-box h2 {
    font-size: 20px;
    margin-top: 15px; }

  .about .about-box p {
    padding: 8px 15px; }

  .watch-video .watch-video1 {
    font-size: 15px;
    padding: 16px 20px 16px 110px; }

  .slider .bulletin .bulletin-txt {
    min-height: 95px; }

  footer .contact-de span {
    color: #ffffff;
    float: left;
    width: 180px;
    font-size: 13px; } }
@media (min-width: 768px) and (max-width: 991px) {
  header .navbar-brand {
    padding: 0;
    width: 200px; }
  header .navbar {
    margin-bottom: 0px;
    border: none; }
  header .navbar-nav {
    float: right;
    margin-right: -15px; }
    header .navbar-nav li a {
      padding: 18px 6px;
      font-size: 12px;
      padding-bottom: 0; }
      header .navbar-nav li a:hover, header .navbar-nav li a:focus {
        border-bottom: 7px solid #db3a04;
        padding-bottom: 14px; }
      header .navbar-nav li a.active {
        border-bottom: 7px solid #db3a04;
        padding-bottom: 14px; }

  .slider .carousel-indicators {
    display: none; }
  .slider .slide-text {
    padding: 10px 0;
    top: 50px; }
    .slider .slide-text .slide-text1 {
      padding: 12px 0;
      margin-bottom: 10px; }
      .slider .slide-text .slide-text1 h1 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
        line-height: 20px; }
      .slider .slide-text .slide-text1 p {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 0; }
    .slider .slide-text .btn-default {
      font-size: 16px;
      font-weight: 400;
      padding: 6px 16px; }
  .slider .bulletin .bulletin-txt {
    font-size: 22px;
    padding: 15px;
    min-height: 77px; }
    .slider .bulletin .bulletin-txt h3 {
      font-weight: 600; }
      .slider .bulletin .bulletin-txt h3 span {
        font-weight: 400; }
    .slider .bulletin .bulletin-txt p {
      font-size: 16px; }
  .slider .bulletin .bulletin-cont {
    padding: 25px 10px 10px 10px;
    min-height: 77px; }
    .slider .bulletin .bulletin-cont a {
      font-size: 18px;
      text-transform: uppercase; }

  .services {
    padding: 55px 0; }
    .services .services-box {
      border: 1px solid #efefef;
      padding: 5px; }
      .services .services-box p {
        padding: 0px; }
      .services .services-box h2 {
        font-size: 14px; }
      .services .services-box img {
        width: 70px; }

  .entery-header h2 {
    font-size: 22px;
    margin-bottom: 50px;
    padding-bottom: 10px; }

  .online-courses .courses-text {
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
    margin-right: 15px;
    padding: 13px; }

  .online-courses {
    padding: 55px 0px; }
    .online-courses .courses-text {
      font-size: 12px;
      padding: 5px; }
    .online-courses .cor-title {
      font-size: 12px; }

  .about {
    padding: 55px 0px; }
    .about .about-box {
      padding: 5px; }
      .about .about-box h2 {
        font-size: 16px;
        margin-top: 5px; }
      .about .about-box p {
        color: #f7f7f7;
        padding: 5px 15px; }

  footer {
    padding: 40px 0px 0px;
    font-size: 12px; }
    footer .foot-links > p {
      padding-top: 13px; }
    footer .foot-links h4 {
      font-size: 16px; }
    footer .foot-links .links {
      padding-top: 15px; }
      footer .foot-links .links li {
        margin-bottom: 10px;
        padding-left: 25px; }
        footer .foot-links .links li a {
          color: #fff; }
    footer .comp-name {
      font-size: 12px;
      padding: 10px 0; }
    footer .contact-de span {
      word-break: break-all; }
    footer .contact-de label {
      padding-right: 6px; }
    footer .copyright {
      margin-top: 34px;
      padding: 10px 0; }

  .inner-page .bio {
    font-size: 16px;
    padding: 10px;
    margin-top: 20px; }
  .inner-page .about-bott {
    padding: 20px;
    margin-bottom: 20px; }
  .inner-page .about-footer {
    padding: 10px 0px 20px; }
    .inner-page .about-footer .about-footer1 {
      padding: 20px; }
      .inner-page .about-footer .about-footer1 .have-u {
        padding: 30px 0px; }
      .inner-page .about-footer .about-footer1 .have-n {
        margin-bottom: 28px;
        font-size: 18px;
        padding: 6px; }
        .inner-page .about-footer .about-footer1 .have-n .normal-t {
          font-weight: 300; }

  .top-banner h3 {
    font-size: 20px;
    padding-bottom: 50px;
    padding-top: 50px; }

  .contact-us .add-bg {
    word-break: break-all; }

  .contact-foram {
    padding: 40px 0 50px; }

  .login-box .left-sign {
    width: 100%; }

  .slider .bulletin .bulletin-cont a {
    padding-top: 5px; }

  .services .services-box {
    min-height: 210px; }

  .services .services-box h2 {
    font-size: 14px;
    margin-top: 15px; }

  .services .services-box p {
    padding: 0px;
    font-size: 12px; }

  body .indicators-line > .carousel-indicators {
    bottom: 85px;
    display: block; }

  body .indicators-line > .carousel-indicators li {
    width: 12px;
    height: 12px; }

  .control-round .carousel-control.left {
    left: 1%;
    display: none; }

  .control-round .carousel-control.right {
    right: 1%;
    display: none; }

  footer .contact-de span {
    color: #ffffff;
    float: left;
    width: 180px;
    font-size: 13px; }

  footer .contact-de span {
    width: 110px; }

  header .navbar-nav li.open a {
    padding: 18px 6px; }

  header .navbar-nav li.open a:hover, header .navbar-nav li.open a:focus {
    border-bottom: 7px solid #db3a04; } }
@media (max-width: 767px) {
  header .navbar-brand {
    padding: 0;
    width: 154px; }
  header .navbar {
    margin-bottom: 0px;
    border: none;
    padding: 0px; }
  header .icon-bar {
    background: #db3a04; }
  header .navbar-nav {
    float: right;
    margin-right: -15px;
    margin: 0;
    width: 100%;
    background: #dae6e6; }
    header .navbar-nav li a {
      padding: 8px 0;
      font-size: 12px;
      background: #ff4001;
      margin-bottom: 1px;
      color: #fff;
      text-align: center;
      border-bottom: 0;
      position: relative; }
      header .navbar-nav li a.has-submenu:before {
        content: "+";
        position: absolute;
        right: 20px; }
      header .navbar-nav li a:hover, header .navbar-nav li a:focus {
        border-bottom: 0px solid #db3a04;
        padding-bottom: 5px; }
      header .navbar-nav li a.active {
        border-bottom: 0px solid #db3a04;
        padding-bottom: 5px; }

  .inner-page .hadding-top {
    font-size: 18px; }

  .slider .carousel-indicators {
    display: none; }
  .slider .slide-text {
    padding: 10px 0;
    top: 3%; }
    .slider .slide-text .slide-text1 {
      padding: 3px;
      margin-bottom: 0px;
      line-height: 1px; }
      .slider .slide-text .slide-text1 h1 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0px; }
      .slider .slide-text .slide-text1 p {
        font-size: 12px;
        margin-bottom: 5px; }
    .slider .slide-text .btn-default {
      font-size: 18px;
      font-weight: 400;
      padding: 6px 10px; }
  .slider .bulletin .bulletin-txt {
    font-size: 16px;
    padding: 5px; }
    .slider .bulletin .bulletin-txt p {
      font-size: 14px;
      line-height: 20px; }
  .slider .bulletin .bulletin-cont {
    padding: 13px 10px 10px;
    min-height: 48px; }
    .slider .bulletin .bulletin-cont a {
      font-size: 14px;
      text-transform: uppercase; }

  .services {
    margin: 15px 0px;
    padding: 30px 0; }
    .services .services-box {
      border: 1px solid #efefef;
      margin: 0 auto 5px;
      padding: 5px;
      width: 290px; }
      .services .services-box p {
        padding: 0px; }
      .services .services-box h2 {
        font-size: 14px;
        margin-bottom: 10px; }
      .services .services-box img {
        width: 70px; }

  .entery-header h2 {
    font-size: 22px;
    margin-bottom: 30px;
    padding-bottom: 10px; }

  .online-courses .courses-text {
    padding: 6px;
    font-size: 12px;
    line-height: 14px;
    margin-right: 15px;
    padding: 13px; }

  .online-courses {
    padding: 30px 0px; }
    .online-courses .courses-text {
      font-size: 12px;
      padding: 5px; }
    .online-courses .cor-title {
      font-size: 12px; }
    .online-courses .about-box {
      margin: 0 auto;
      width: 290px; }

  .about {
    padding: 30px 0px; }
    .about .about-box {
      padding: 5px;
      width: 290px;
      margin: 0px auto; }
      .about .about-box h2 {
        font-size: 16px;
        margin-top: 5px; }
      .about .about-box p {
        color: #f7f7f7;
        padding: 5px 15px; }

  footer {
    padding: 30px 0px 0px;
    font-size: 12px; }
    footer .foot-links > p {
      padding-top: 13px; }
    footer .foot-links {
      margin-bottom: 15px; }
      footer .foot-links h4 {
        font-size: 16px; }
      footer .foot-links .links {
        padding-top: 15px; }
        footer .foot-links .links li {
          margin-bottom: 10px;
          padding-left: 25px; }
          footer .foot-links .links li a {
            color: #c8c8c8; }
    footer .comp-name {
      font-size: 12px;
      padding: 10px 0; }
    footer .contact-de span {
      word-break: break-all; }
    footer .contact-de label {
      padding-right: 6px; }
    footer .copyright {
      margin-top: 30px;
      padding: 10px 0; }

  .watch-video {
    padding: 30px 0; }
    .watch-video .watch-video1 {
      font-size: 13px;
      padding: 11px 20px 11px 70px;
      background-size: 80px 100%; }

  .inner-page .bio {
    font-size: 16px;
    padding: 10px;
    margin-top: 20px; }
  .inner-page .about-bott {
    padding: 20px;
    margin-bottom: 20px; }
  .inner-page .about-footer {
    padding: 10px 0px 20px; }
    .inner-page .about-footer .about-footer1 {
      padding: 20px; }
      .inner-page .about-footer .about-footer1 .have-u {
        padding: 30px 0px; }
      .inner-page .about-footer .about-footer1 .have-n {
        margin-bottom: 28px;
        font-size: 18px;
        padding: 6px; }
        .inner-page .about-footer .about-footer1 .have-n .normal-t {
          font-weight: 300; }

  .top-banner h3 {
    font-size: 19px;
    padding-top: 20px;
    text-align: center; }

  .inner-page p {
    font-weight: 400;
    padding: 20px 0; }
    .inner-page p .about-footer1 .about-bott {
      margin-bottom: 10px;
      padding: 10px; }
    .inner-page p .have-u {
      padding: 10px 0; }
  .inner-page .bio {
    background-size: 20px 100%;
    margin-top: 0px; }
  .inner-page .about-footer {
    background: #e8e8e8; }

  .top-banner {
    margin-bottom: 15px; }

  .login-f {
    padding: 15px; }

  .how-work .right-how {
    float: none; }

  .sign-up-foram #accordion {
    padding: 0px 15px; }
  .sign-up-foram .how-do {
    padding: 0px 15px; }

  .services .services-box {
    padding: 20px 10px;
    margin-bottom: 20px; }

  .services .services-box h2 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px; }

  .online-courses {
    background-size: cover; }

  .courses-img-box {
    margin-bottom: 20px; }

  .slider .bulletin {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center; }

  .slider .bulletin .col-xs-8, .slider .bulletin .col-xs-4 {
    width: 100%;
    padding: 15px 15px;
    font-size: 20px; }

  .slider .bulletin .bulletin-txt h3 {
    margin-bottom: 5px; }

  .slider .bulletin .bulletin-cont a {
    padding-top: 0; }

  .slider .slide-text {
    padding: 10px 0;
    bottom: 0;
    top: auto; }

  .slider .bulletin .bulletin-cont a {
    font-size: 16px; }

  .slider .slide-text .slide-text1 {
    padding: 5px 0;
    margin-bottom: 8px;
    line-height: 8px; }

  .contact-de > li {
    word-break: break-all;
    clear: both;
    display: block; }

  header .navbar-nav li.open a:hover, header .navbar-nav li.open a:focus {
    background: #ff4001;
    border-bottom: 0;
    color: #f7f7f7;
    padding: 8px 0;
    font-weight: bold; }

  header .navbar-nav li.open a {
    background: #ff4001;
    border-bottom: 0;
    color: #fff;
    padding: 8px 0; }

  header .navbar-nav li .drop-menu-bar {
    width: 100% !important;
    border-radius: 0; }

  header .navbar-nav li .drop-menu-bar li {
    border-bottom: 0; }

  /************************ 20-sep-2017 **********************/
  .login-box .orange-bar-outline .left-sign {
    height: auto; }

  .login-box .orange-bar-outline .left-sign .head-title {
    font-size: 30px;
    margin-bottom: 5px;
    min-height: auto;
    line-height: 30px; }

  .login-box .orange-bar-outline .left-sign button[type="submit"] {
    padding: 8px 22px;
    font-size: 18px; }

  .login-box .orange-bar-outline .left-sign button[type="submit"] i {
    margin-right: 5px; }

  .login-box .orange-bar-outline .right-sign {
    height: auto; }

  .login-box .orange-bar-outline .right-sign .head-title {
    font-size: 30px;
    margin-bottom: 5px;
    line-height: 34px; }

  .login-box .orange-bar-outline .right-sign button[type="submit"] {
    padding: 8px 22px;
    font-size: 18px; }

  .login-box .orange-bar-outline .right-sign button[type="submit"] i {
    margin-right: 5px; }

  .login-section .transparent-bg .login-oval {
    left: 0;
    right: 0;
    margin: 0 auto; }

  .login-section .transparent-bg h1 {
    font-size: 35px;
    margin: 50px 0 30px; }

  .online-courses-section-detail .deatil-content-box .read-more {
    border: 0;
    outline: 0;
    width: 100%; }

  .online-courses-section-detail .watch-now-btn {
    width: 100%;
    margin-bottom: 20px; }

  .online-courses-section-detail .watch-now-btn span img {
    margin-right: 0;
    margin-bottom: 10px; }

  .raise-ticket {
    padding: 60px 0; }

  .raise-ticket h1 {
    font-size: 24px; }

  .online-courses-section-detail {
    padding: 50px 0; }

  .online-courses-section-detail .deatil-content-box strong {
    margin-bottom: 10px; }

  .principles-data .principles-data-block .sub-title {
    font-size: 30px; }

  .principles-data .principles-data-block {
    margin: 0 0; }

  .online-courses-section {
    padding: 40px 0; }

  .online-courses-section h2 {
    font-size: 26px; }

  .online-courses-section .course-box-development {
    margin-bottom: 25px; }

  .login-section .transparent-bg h2 {
    font-size: 30px;
    margin: 50px 0 30px; }

  .otp-section img {
    margin: 0 auto;
    display: block; }

  /************************ 20-sep-2017 **********************/ }
@media (min-width: 320px) and (max-width: 480px) {
  .slider .slide-text .btn-default {
    font-size: 12px;
    font-weight: 400;
    padding: 10px 10px; }

  .login-section .transparent-bg {
    margin: 0 15px; }

  .login-section .bottom-transparent {
    margin: 0 15px; } }
.courses-img-box {
  position: relative; }

/*# sourceMappingURL=style.css.map */
