@import 'var';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

Ghtml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #363636;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  line-height: 22px;
}
@font-face {
  font-family: 'avenirregular';
  src: url('../fonts/avenir-book_gdi-webfont.woff2') format('woff2'), url('../fonts/avenir-book_gdi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
:-moz-placeholder {
  opacity: 1;
}
ol, ul {
  list-style: none outside none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: 600;
}
html {
  font-size: 100%;
}
a:focus {
  outline: medium none !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
}
a {
  color: #444;
  font-size: 14px;
}
a:hover {
  color: #000;
  text-decoration: none;
}
img {
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
}
p {
  font-weight: 300;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
header {
  .top-black {
    width: 100%;
    height: auto;
    background: #000000;
    padding: 3px;
    color: #fff;

    .login-box {
      color: #fff;
      text-align: right;

      a {
        color: #fff;
        text-decoration: none;
        padding-left: 5px;

        &:hover, &:focus {
          color: #b6bfd7;
        }
      }
    }
  }
  .navbar {
    margin-bottom: 0px;
    border: none;

    .navbar-brand {
      padding: 0px;
    }
  }
  .navbar-nav {
    float: right;
    margin-right: -15px;

    li {
      a {
        padding: 26px 25px 34px 25px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;

        &:hover, &:focus {
          background: $red-color;
          border-bottom: 14px solid $red-dark-color;
          padding-bottom: 20px;
          color: $white-color
        }
        &.active {
          background: $red-color;
          border-bottom: 14px solid $red-dark-color;
          padding-bottom: 20px;
          color: $white-color;
        }
      }
    }
  }
}
.slider {
  position: relative;

  .slide-text {
    color: $black-color;

    .slide-text1 {
      background: rgba(255, 255, 255, 0.5);
      padding: 20px;
      margin-bottom: 20px;

      h1 {
        color: $black-color;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      p {
        font-size: 30px;
        font-weight: 400;
        color: $black-color;
        line-height: auto;
        margin-bottom: 15px;
      }
    }
  }
  .bulletin {
    position: absolute;
    bottom: -1px;
    width: 100%;
    z-index: 99999;

    .bulletin-txt {
      background: $sky-blue-color;
      color: $white-color;
      font-size: 36px;
      padding: 38px;

      h3 {
        font-weight: 600;
        color: $white-color;

        span {
          font-weight: 400;
        }
      }
      p {
        font-size: 22px;
      }
    }
    .bulletin-cont {
      background: $sky-blue-light;
      padding: 54px;
      min-height: 138px;

      a {
        font-size: 36px;
        text-transform: uppercase;
        color: #000;
        font-weight: 600;
      }
    }
  }
}
.entery-header {
  text-align: center;

  h2 {
    font-size: 30px;
    text-align: center;
    width: auto;
    border-bottom: 5px solid $sky-blue-color;
    margin-bottom: 75px;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
}
.courses {
  display: block;
  padding: 92px 0px;

  .course-box {
    background: $gray-color;
    position: relative;
    padding-bottom: 50px;

    h2 {
      font-size: 20px;
      color: $black-medium-color;
      margin-top: 15px;
      text-align: center;
      width: auto;
    }
    p {
      padding: 15px;
    }
    a {
      background-image: url("../images/more-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 72px;
      padding: 26px 22px 22px;
      height: 70px;
      color: $white-color;
      display: block;
      text-align: center;
      position: absolute;
      left: 36%;
      right: 0;
      bottom: -43px;
    }
    a:hover {
      background-image: url("../images/more-bg-hover.png");
      transition: background 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s;
    }
  }
}
.services {
  display: block;
  padding: 92px 0px;
  background-image: url("../images/services.jpg");
  background-size: cover;
  margin: 30px 0px;

  .entery-header {
    text-align: center;

    h2 {
      color: $white-color;
    }
  }
  .services-box {
    position: relative;
    padding-bottom: 50px;
    border: 2px solid $gray-color;
    text-align: center;
    padding: 40px;

    h2 {
      font-size: 20px;
      color: $gray-color;
      margin-top: 15px;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      padding: 15px;
      color: $white-color;
    }
  }
  .services-box:hover {
    border: 2px solid #524444;
  }
}
.about {
  display: block;
  padding: 92px 0px;

  .about-box {
    position: relative;
    padding-bottom: 50px;
    text-align: center;
    padding: 40px;
    background: $sky-blue-color;

    .about-box-in {
      border: 1px solid $sky-blue-color;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
      transition: width 2s, height 2s, transform 2s;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
      transition: width 2s, height 2s, transform 2s;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
      transition: width 2s, height 2s, transform 2s;
    }
    .about-box-in:hover {
      border: 1px solid #fff;
    }
    &:nth-child(2) {
      background: $sky-blue-light;

      .about-box-in {
        border: 1px solid $sky-blue-light;
        transition: width 2s, height 2s, transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
        transition: width 2s, height 2s, transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
        transition: width 2s, height 2s, transform 2s;
      }
      .about-box-in:hover {
        border: 1px solid #fff;
      }
    }
    &:nth-child(3) {
      background: $red-dark-color;

      .about-box-in {
        border: 1px solid $red-dark-color;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
        transition: width 2s, height 2s, transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
        transition: width 2s, height 2s, transform 2s;
      }
      .about-box-in:hover {
        border: 1px solid #fff;
      }
    }
    &:nth-child(4) {
      background: $red-color;

      .about-box-in {
        border: 1px solid $red-color;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
        transition: width 2s, height 2s, transform 2s;
      }
      .about-box-in:hover {
        border: 1px solid #fff;
      }
    }
    h2 {
      font-size: 20px;
      color: $gray-color;
      margin-top: 15px;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      padding: 15px;
      color: $white-color;
    }
  }
  img: {
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
  }
  img:hover {
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(350deg);
  }
}
.testimonials {
  display: block;
  padding: 92px 0px;
  background-image: url("../images/test.png");
  background-size: cover;
  color: #fff;

  h2 {
    color: #fff;
  }
  .carousel-inner {
    .thumbnails {
      li {
        padding: 5px;

        .s-1 {
          border: 1px solid #85807a;
          text-align: center;
          min-height: 300px;
          margin-bottom: 50px;
        }
      }
    }
  }
  .control-box.pager a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #584949;
    font-size: 30px;
  }
  .left-arrow {
    float: left;
    font-size: 0;
    margin-left: -50px;
  }
  .right-arrow {
    float: right;
    font-size: 0;
    margin-right: -50px;
  }
  #myCarousel > nav {
    margin-bottom: 0;
    position: absolute;
    top: 30%;
    width: 100%;
  }
  .sub-title {
    color: #fff;
    border-bottom: 2px solid #009bad;
    margin-left: 16%;
    width: 69%;
    font-style: italic;
    margin-bottom: 15px;
  }
  .client-name {
    color: #fff;
    font-size: 16px;
    padding-top: 23px;
    text-transform: uppercase;
  }
  .caption > p {
    color: #fff;
    padding: 0 9%;
  }
  .con {
    background: rgba(0, 0, 0, 0) url("../images/test-bottom.png") no-repeat scroll right bottom;
    margin: 0 10%;
    padding-bottom: 11px;

    p {
      background: url("../images/test-top.png") no-repeat;
      position: left top;
      color: #fff;
    }
  }
}
.watch-video {
  padding: 70px 0;
  background: #f1f2f3;

  .watch-video1 {
    background: #fff url("../images/video-watch.png") no-repeat;
    border: 1px solid #d6d2d2;
    font-size: 18px;
    color: #009bad;
    border-radius: 25px;
    padding: 16px 20px 16px 70px;
    text-align: center;
  }
}
footer {
  background: #1a1919;
  padding: 60px 0px 0px;
  color: #c8c8c8;

  .foot-links > p {
    color: #c8c8c8;
    padding-top: 13px;
  }
  .foot-links {
    h4 {
      text-transform: uppercase;
      font-size: 24px;
      color: #c8c8c8;
      font-weight: 700;
      padding-top: 11px;
    }
    .links {
      padding-top: 15px;

      li {
        margin-bottom: 10px;
        background: url("../images/arrow-bottom.png") no-repeat;
        background-position: left;
        padding-left: 25px;

        a {
          color: #c8c8c8;
        }
        a:hover {
          color: #ff4001;
        }
      }
    }
  }
  .comp-name {
    color: #c8c8c8;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
  }
  .contact-de {
    a {
      color: #c8c8c8;
    }
    span {
      color: #c8c8c8;
    }
    label {
      color: #a1604a;
      padding-right: 6px;
    }
  }
  .copyright {
    background: #000 none repeat scroll 0 0;
    color: #c8c8c8;
    margin-top: 57px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
  }
}
.contact-de > li {
  word-break: break-all;
}
.online-courses {
  display: block;
  padding: 92px 0px;
  background: url("../images/online-c.jpg") repeat scroll 0 0 / 100% 100%;
  background-size: 100% 100%;
  color: #fff;

  .courses-text {
    background: url("../images/bg-course.png")repeat;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    margin-right: 15px;
    position: absolute;
    bottom: 0px;
  }
  .cor-title {
    font-size: 18px;
    font-weight: 600;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    padding: 10px 0px;
  }
  .read-more-but {
    button {
      border: 0px;
      background: #ff4001;
      color: #fff;
      padding: 5px 10px;
      margin-top: 10px;
    }
    button:hover {
      background: #009bad;
    }
  }
  .courses-img {
    overflow: hidden;

    img {
      -webkit-transition: 0.4s ease;
      transition: 0.4s ease;
    }
  }
  .courses-img img:hover, .courses-img img:focus {
    transform: scale(1.2);
  }
}
.top-banner {
  background: url("../images/about.jpg") no-repeat;
  width: 100%;
  height: auto;
  margin-bottom: 2PX;

  h3 {
    font-size: 30px;
    color: #ff4001;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.inner-page {
  .hadding-top {
    background: #ff4001 url("../images/about1.png") no-repeat scroll right center;
    color: #fff;
    font-size: 26px;
    margin-bottom: 30px;
    padding: 20px;
  }
  .in-bold {
    font-size: 16px;
    font-weight: 600;
  }
  p {
    font-weight: 400;
  }
  .bio {
    background: #009bad url("../images/bio.png") no-repeat;
    background-position: right;
    width: 100%;
    color: #fff;
    font-size: 26px;
    padding: 25px;
    margin-top: 50px;
  }
  .about-bott {
    background: #f5f5f5;
    padding: 40px;
    margin-bottom: 30px;
  }
  .about-footer {
    background: rgba(0, 0, 0, 0) url("../images/online-c.jpg") no-repeat scroll 100% 100% / 100% auto;
    color: #fff;
    display: block;
    padding: 20px 0 200px;

    .about-footer1 {
      color: #000;
      padding: 40px;

      .have-u {
        padding: 30px 0px;
        font-weight: bold;
      }
      .have-n {
        background: #fff none repeat scroll 0 0;
        margin-bottom: 28px;
        font-weight: 600;
        font-size: 24px;
        padding: 10px;

        .normal-t {
          font-weight: 300;
          font-size: 18px;
        }
      }
    }
  }
}
.contact-us {
  .we-are {
    background: #009bad url("../images/arrow-bottom1.png") no-repeat;
    padding: 30px 30px 30px 30px;
    color: #fff;

    .we {
      padding-top: 20px;
      font-weight: 600;
      font-size: 16px;
    }
  }
  .top-title {
    text-align: center;
    padding-top: 40px;
    font-size: 16px;
  }
  .sub-title {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 0px 30px;
  }
  .add-bg {
    background: #eaeaea;
    text-align: center;
    min-height: 220px;
    margin-top: 110px;
    padding: 30px 0px;

    span {
      font-weight: 600;
    }
  }
  .icon-box {
    width: 115px;
    height: 115px;
    border: 5px solid #FFF;
    background: #00a3b6;
    border-radius: 100%;
    margin: -94px auto 20px;
  }
  .icon2 {
    background: #4fc9d6
  }
  .icon3 {
    background: #db3a04
  }
  .icon4 {
    background: #ff4001
  }
}
.contact-foram {
  background: rgba(0, 0, 0, 0) url("../images/online-c.jpg") no-repeat scroll 0 0 / 100% 100%;
  margin-top: 50px;
  padding: 80px 0px 200px;
  font-size: 14px;

  .hadding-contact {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  .send-msg {
    background: #ff4001;
    color: #fff;
    font-size: 18px;
    border-radius: 0%;
    border: 0px;
    padding: 7px 30px;
  }
  .send-msg:hover {
    background: #018bb9;
  }
  textarea {
    font-size: 14px;
    border-radius: 0%;
    border: 0px;
  }
  input {
    font-size: 14px;
    border-radius: 0%;
    border: 0px;
  }
}
.how-work {
  padding: 0px 0px 30px;

  h3 {
    font-size: 18px;
    padding: 15px;
    color: #fff;
    margin-bottom: 15px;
    background: #ff4001;
  }
  .work {
    padding: 30px 0px;

    h3 {
      background: #009bad;
    }
  }
  .right-how {
    float: right;
  }
}
.what-we-provide {
  z-index: 9999;
}
.login-box {
  .new-account {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
  }
  .login-box-content {
    background: #f3f3f3;
    padding: 30px;
    margin-bottom: 60px;
    margin-top: 30px;
    .account-title {
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 17px;
}

    .form-signin {
      .form-control {
        border-radius: 0px;
        padding: 10px;
        height: 45px;
        margin-bottom: 10px;
      }
      .btn-primary {
        background: #ff4001;
        border-radius: 0px;
        border: 0px;
      }
      .btn-primary:hover {
        background: #009bad;
      }
    }
  }
  .checkbox.pull-left {
    float: left;
    padding: 15px 20px;
    width: 100%;
  }
  .sub-hadding {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 40px 0px;
  }
  .left-sign {
       background: #f5f5f5 none repeat scroll 0 0;
    border: 4px solid #009bad;
    font-size: 16px;
    margin: 50px 0 100px;
    padding: 30px;
    text-align: center;
    width: 100%;
  }
  .right-sign {
      background: #f5f5f5 none repeat scroll 0 0;
    border: 4px solid #009bad;
    font-size: 16px;
    margin: 50px 0 100px;
    padding: 30px;
    text-align: center;
    width: 100%;
  }
  .left-sign a, .right-sign a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
  }
  .left-sign a:hover, .right-sign a:hover {
    color: #000;
    text-decoration: none;
  }


  .principles {
    padding: 30px;
    background: #f5f5f5;
    border: 4px solid #009bad;
    width: 100%;
    margin: 50px 0px 100px;
    font-size: 16px;
    text-align: center;

    .price {
      font-weight: 600;
      font-size: 24px;
      padding: 20px 0px;
    }
    .yes-sign {
      margin: 0 auto;
      padding: 10px;
      width: 178px;
      height: 30px;

      input {
        float: left
      }
      .sign-me {
        float: left;
        padding-left: 10px;
      }
    }
  }
  .bottom-text{ background:#009bad; border-radius: 25px 25px 0px 0px; text-align:center; padding:30px; color:#fff;}
    .principles1{ padding:20px; margin: 50px 0 40px; .title{ background:#009bad; padding:5px; color:#fff; margin-bottom:10px;}  text-align:left;.course{ padding-left:0px;} input {
    border: 1px solid #cecece;
    padding: 3px;
    width: 100%;
} }
  .button {
    button {
      font-size: 18px;
      font-weight: 600;
      margin: 15px auto 0;
      width: 100%;
      background: #ff4001 none repeat scroll 0 0;
      border: 0px;
      padding: 10px;
      color: #fff;
    }
  }
  button:hover {
    background: #009bad;
  }
  .price-test {
    line-height: 27px;
    font-weight: 300;
    font-size: 14px;

    span {
      font-weight: 600;
      font-size: 18px;
    }
  }
  .course {
    padding: 10px;
  }
  .top-hadding {
    text-align: center;
  }
}
.sign-up-foram {
  .top-hadding2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    padding: 0 15px 30px;

    span {
      font-size: 16px;
      font-weight: 300;
    }
  }
  .corse-hadding {
    padding: 0px 15px;
    font-weight: 600;
    font-size: 16px;
    background: #009bad none repeat scroll 0 0;
    color: #fff;
    float: left;
    height: auto;
    padding: 5px 10px;
    width: 100%;
  }
  .corse-content {
    padding: 0px 15px;
    background: #51c9d7 none repeat scroll 0 0;
    color: #fff;
    float: left;
    height: auto;
    padding: 0px 10px 5px;
    width: 100%;
  }
  .Pay-by {
    float: left;
    padding: 15px;
    background: #f5f5f5;

    h3 {
      padding: 0px 0px 15px;
    }
    .vat {
      font-size: 18px;
      padding: 15px 0;

      span {
        font-weight: 600;
      }
    }
  }
  .gift {
    background: #009bad none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    border-radius: 25px 0px;

    .fa-gift {
      font-size: 30px;
      margin-right: 10px;
    }
  }
  .apply {
    text-align: right;

    input {
      color: #000;
      font-size: 14px;
      padding: 5px;
    }
  }
  .crate-pay-box {
    background: #f0f0f0 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;

    .crate-title {
      background: #ff4001;
      padding: 10px;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
      border-radius: 10px 0;
    }
    label {
      font-size: 14px;
      font-weight: 400;
    }
    .address2 {
      width: 100%;
      float: 100%;
      padding-top: 15px;
    }
    .indicator, .indicator1 {
      float: left;
      padding-left: 15px;
    }
    .indicator2 {
      background: #009bad none repeat scroll 0 0;
      color: #fff;
      font-size: 18px;
      width: 100%;
      float: left;
      padding: 8px 15px;
      border-radius: 10px 0;
      font-weight: 600;
    }
    .indicator3 {
      float: left;
      text-align: right;
      width: 100%;
    }
    .input {
      border-radius: 0px;
    }
  }
  .card {
    .card-block {
      padding: 15px;
    }
    background: #efefef none repeat scroll 0 0;
    margin: 10px 0;
    padding: 0px;

    h5 {
      padding: 7px 0px;
      overflow: none;
      background: #009bad;
      padding: 10px;
      border-radius: 5px;
    }
    h5 a {
      color: #fff;
      text-decoration: none;
    }
  }
  #accordion {
    margin-bottom: 40px;
  }
  .how-do {
    font-size: 18px;
    font-weight: 600;
    font-size: 18px;
  }
}
.my-profile {
  .profile-right {
    background: #f1f1f1 none repeat scroll 0 0;

    .user-name {
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      padding: 15px 0px 0px;
    }
    .user-address {
      text-align: center;
      padding: 0px 15px 5px;
    }
    .user-phone {
      text-align: center;
      padding: 10px 15px 10px;
      background: #009bad;
      color: #fff;
    }
  }
  .bio-box {
    background: #f1f1f1;
    padding: 15px;
    margin-bottom: 15px;

    h3 {
      font-size: 18px;
      font-weight: 600;
      border-bottom: 1px solid #acacac;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }
  .recent_activities {
    h3 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
      padding: 8px 15px;
      background: #009bad;
      color: #fff;
      margin-top: 10px;
    }
    .rounded-circle2 {
      width: 50px;
      height: 50px;
      border: 1px solid #d2d2d2;
      border-radius: 100%;
      margin-right: 10px;
      float: left;
    }
    .recent_act1 {
      background: #f1f1f1;
      padding: 5px;
      margin-bottom: 10px;
      float: left;
      width: 100%;
    }
    .act-con {
      width: 90%;
      height: auto;
      float: left;
    }
  }
  .info-box {
    width: 100%;
    padding: 5px 0px;

    span {
      font-weight: 600;
    }
  }
}
.pollcy {
  h3 {
    font-size: 18px;
    padding: 10px;
    background: #009bad;
    color: #fff;
    margin: 15px 0px;
  }
  .inner-content {
    padding-bottom: 50px;

    h4 {
      font-size: 18px;
      padding-bottom: 10px;
    }
  }
  .contact {
    background: #51c9d7;
    padding: 15px;
    margin-top: 15px;

    h4 {
      padding: 15px 0px 10px
    }
  }
}
.newsletter {
  padding: 0px 15px;

  .title {
    font-size: 18px;
    padding-bottom: 5px;
    background: #51c9d7;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .news-update {
    background: #f1f1f1;
    margin-bottom: 15px;
    padding: 15px;

    .captcha {
      background: #51c9d7;
      padding: 15px;
      margin-top: 15px;
      .input-box {
    margin-top: 18px;
}
    }
    .input-box {
      width: 100%;
      padding: 5px;
      border: 0px;
    }
  }
  .new-update-top {
    padding: 0px 0px 30px;
  }
  label {
    font-weight: 300;
    margin-top: 5px;
  }
  .bottom-button {
    margin: 20px auto 40px;
    width: 175px;

    .left {
      background: #ff4001 none repeat scroll 0 0;
      border: 0 none;
      color: #fff;
      font-size: 16px;
      margin-right: 10px;
      padding: 10px 15px;
    }
    .left:hover {
      background: #009bad none repeat scroll 0 0;
    }
    .right {
      background: #009bad none repeat scroll 0 0;
      border: 0 none;
      color: #fff;
      font-size: 16px;
      margin-right: 10px;
      padding: 10px 15px;
    }
    .right:hover {
      background: #ff4001 none repeat scroll 0 0;
    }
  }
}

/* ************************ 20-july-2017 ******************************* */

.login-box{

  .left-sign{
    background-image: url(../images/sign-1.jpg);
    background-repeat: no-repeat;
    height: 327px;
    text-align: center;
    border: 0;
    padding-top: 80px;
    background-size: cover;
    margin: 0px;
    margin-bottom: 30px;
    .head-title{
      color: #fff;
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 50px;
    }
    a{
      background: #ff4001;
      padding: 10px 28px;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 0;
      text-decoration: none;
      &:hover{
        background: #009bad;
        color: #fff;
      }
    }
  }
  
  .right-sign{
    background-image: url(../images/sign-2.jpg);
    background-repeat: no-repeat;
    height: 327px;
    text-align: center;
    border: 0;
    padding-top: 50px;
    background-size: cover;
    margin: 0px;
    margin-bottom: 30px;
    .head-title{
      color: #fff;
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 50px;
    }
    a{
      background: #ff4001;
      padding: 10px 28px;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 0;
      text-decoration: none;
      &:hover{
        background: #009bad;
        color: #fff;
      }
    }
  }
  
  .top-hadding2{
      text-align: center;
      font-size: 18px;
      max-width: 900px;
      margin: 0 auto;
      line-height: 26px;
      font-style: italic;
  }

}

.principles-data{
  background-image: url(../images/principle-data.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 0;
  .top-hadding2{
    text-align: center;
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 28px;
    font-style: italic;
    color: #fff;
  }

  .four-course-block{
    margin-top: 50px;
    text-align: center;
    .course-image-box{
      overflow: hidden;
      &:hover img{
        transform: scale(1.2);
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
      }
    }
    .courses-block span {
        background: #009bad;
        display: block;
        padding: 14px 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 17px;
    }
  }

 .border-all{
   border: solid 1px #009bad;
   padding: 15px;
   margin: 50px 0;
  .principles2{
    background: #fff;
    border: 0;
    margin: 0;
    p{
      margin-bottom: 15px;
    }
     .price-test {
        line-height: 33px;
        font-weight: 300;
        font-size: 14px;
    }
    .title{
      background: transparent;
      padding: 0;
      margin-bottom: 15px;
      font-size: 24px;
      color: #333;
    }
    .amount{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin-top: 15px;
    }
    .course{
      color: #009bad;
      font-size: 18px;
      margin-bottom: 5px;
    }
    .price-test{
       ul{
          li{
            &:before{
              content: "\f101";
              font-family: FontAwesome;
              margin-right: 6px;
              color: #ff4001;
            }
            span{
              color: #ff4001;
            }
          }
       }
    }
  }
  }

  .principles-data-block{
    background: transparent;
    border: 0;
    margin: 50px 0;
    .sub-title{
      font-size: 36px;
      color: #fff;
      font-weight: bold;
    }
    .price{
      color: #ff4001;
      font-size: 30px;
      padding: 28px 0px;
    }
    .content-sub-title {
        color: #fff;
        font-size: 20px;
    }
    .yes-sign{
      padding: 20px 0;
      height: auto;
      .sign-me {
          color: #fff;
      }
    }
    .button{
      width: 220px;
      margin: 0 auto;
    }
  }

}

/* ************************ 20-july-2017 ******************************* */


@media (min-width:768px) and (max-width:991px) {
  header {
    .navbar-brand {
      padding: 0;
      width: 200px;
    }
    .navbar {
      margin-bottom: 0px;
      border: none;
    }
    .navbar-nav {
      float: right;
      margin-right: -15px;

      li {
        a {
          padding: 18px 10px 14px 10px;
          font-size: 12px;

          &:hover, &:focus {
            border-bottom: 7px solid $red-dark-color;
            padding-bottom: 14px;
          }
          &.active {
            border-bottom: 7px solid $red-dark-color;
            padding-bottom: 14px;
          }
        }
      }
    }
  }
  .slider {
    .carousel-indicators {
      display: none;
    }
    .slide-text {
      padding: 10px 0;
      top: 15%;

      .slide-text1 {
        padding: 8px;
        margin-bottom: 20px;

        h1 {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 5px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 15px;
        }
      }
      .btn-default {
        font-size: 16px;
        font-weight: 400;
        padding: 6px 16px;
      }
    }
    .bulletin {
      .bulletin-txt {
        font-size: 22px;
        padding: 15px;

        h3 {
          font-weight: 600;

          span {
            font-weight: 400;
          }
        }
        p {
          font-size: 16px;
        }
      }
      .bulletin-cont {
        padding: 25px 10px 10px 10px;
        min-height: 76px;

        a {
          font-size: 18px;
          text-transform: uppercase;
        }
      }
    }
  }
  .services {
    padding: 55px 0;

    .services-box {
      border: 1px solid #efefef;
      padding: 5px;

      p {
        padding: 0px;
      }
      h2 {
        font-size: 14px;
      }
      img {
        width: 70px;
      }
    }
  }
  .entery-header {
    h2 {
      font-size: 22px;
      margin-bottom: 50px;
      padding-bottom: 10px;
    }
  }
  .online-courses {
    .courses-text {
      padding: 6px;
      font-size: 12px;
      line-height: 14px;
      margin-right: 15px;
      padding: 13px;
    }
  }
  .online-courses {
    padding: 55px 0px;

    .courses-text {
      font-size: 12px;
      padding: 5px;
    }
    .cor-title {
      font-size: 12px;
    }
  }
  .about {
    padding: 55px 0px;

    .about-box {
      padding: 5px;

      h2 {
        font-size: 16px;
        margin-top: 5px;
      }
      p {
        color: #f7f7f7;
        padding: 5px 15px;
      }
    }
  }
  footer {
    padding: 40px 0px 0px;
    font-size: 12px;

    .foot-links > p {
      padding-top: 13px;
    }
    .foot-links {
      h4 {
        font-size: 16px;
      }
      .links {
        padding-top: 15px;

        li {
          margin-bottom: 10px;
          padding-left: 25px;

          a {
            color: #c8c8c8;
          }
        }
      }
    }
    .comp-name {
      font-size: 12px;
      padding: 10px 0;
    }
    .contact-de {
      span {
        word-break: break-all;
      }
      label {
        padding-right: 6px;
      }
    }
    .copyright {
      margin-top: 34px;
      padding: 10px 0;
    }
  }
  .inner-page {
    .bio {
      font-size: 16px;
      padding: 10px;
      margin-top: 20px;
    }
    .about-bott {
      padding: 20px;
      margin-bottom: 20px;
    }
    .about-footer {
      padding: 10px 0px 20px;

      .about-footer1 {
        padding: 20px;

        .have-u {
          padding: 30px 0px;
        }
        .have-n {
          margin-bottom: 28px;
          font-size: 18px;
          padding: 6px;

          .normal-t {
            font-weight: 300;
          }
        }
      }
    }
  }
  .top-banner {
    h3 {
      font-size: 20px;
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }
  .contact-us {
    .add-bg {
      word-break: break-all;
    }
  }
  .contact-foram {
    padding: 40px 0 50px;
  }
  .login-box {
    .left-sign {
      width: 100%;
    }
    .right-sign {
    }
  }
}

@media (max-width:767px) {
  header {
    .navbar-brand {
      padding: 0;
      width: 154px;
    }
    .navbar {
      margin-bottom: 0px;
      border: none;
      padding: 0px;
    }
    .icon-bar {
      background: $red-dark-color;
    }
    .navbar-nav {
      float: right;
      margin-right: -15px;
      margin: 0;
      width: 100%;
      background: #dae6e6;

      li {
        a {
          padding: 5px 10px 5px 10px;
          font-size: 12px;

          &:hover, &:focus {
            border-bottom: 0px solid $red-dark-color;
            padding-bottom: 5px;
          }
          &.active {
            border-bottom: 0px solid $red-dark-color;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
  .inner-page {
    .hadding-top {
      font-size: 18px;
    }
  }
  .slider {
    .carousel-indicators {
      display: none;
    }
    .slide-text {
      padding: 10px 0;
      top: 3%;

      .slide-text1 {
        padding: 3px;
        margin-bottom: 0px;
        line-height: 1px;

        h1 {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 0px;
        }
        p {
          font-size: 12px;
          margin-bottom: 5px;
        }
      }
      .btn-default {
        font-size: 12pxx;
        font-weight: 400;
        padding: 3px 10px;
      }
    }
    .bulletin {
      .bulletin-txt {
        font-size: 16px;
        padding: 5px;

        p {
          font-size: 12px;
          line-height: 10px;
        }
      }
      .bulletin-cont {
        padding: 13px 10px 10px;
        min-height: 48px;

        a {
          font-size: 14px;
          text-transform: uppercase;
        }
      }
    }
  }
  .services {
    margin: 15px 0px;
    padding: 30px 0;

    .services-box {
      border: 1px solid #efefef;
      margin: 0 auto 5px;
      padding: 5px;
      width: 290px;

      p {
        padding: 0px;
      }
      h2 {
        font-size: 14px;
        margin-bottom: 10px;
      }
      img {
        width: 70px;
      }
    }
  }
  .entery-header {
    h2 {
      font-size: 22px;
      margin-bottom: 30px;
      padding-bottom: 10px;
    }
  }
  .online-courses {
    .courses-text {
      padding: 6px;
      font-size: 12px;
      line-height: 14px;
      margin-right: 15px;
      padding: 13px;
    }
  }
  .online-courses {
    padding: 30px 0px;

    .courses-text {
      font-size: 12px;
      padding: 5px;
    }
    .cor-title {
      font-size: 12px;
    }
    .about-box {
      margin: 0 auto;
      width: 290px;
    }
  }
  .about {
    padding: 30px 0px;

    .about-box {
      padding: 5px;
      width: 290px;
      margin: 0px auto;

      h2 {
        font-size: 16px;
        margin-top: 5px;
      }
      p {
        color: #f7f7f7;
        padding: 5px 15px;
      }
    }
  }
  footer {
    padding: 30px 0px 0px;
    font-size: 12px;

    .foot-links > p {
      padding-top: 13px;
    }
    .foot-links {
      margin-bottom: 15px;

      h4 {
        font-size: 16px;
      }
      .links {
        padding-top: 15px;

        li {
          margin-bottom: 10px;
          padding-left: 25px;

          a {
            color: #c8c8c8;
          }
        }
      }
    }
    .comp-name {
      font-size: 12px;
      padding: 10px 0;
    }
    .contact-de {
      span {
        word-break: break-all;
      }
      label {
        padding-right: 6px;
      }
    }
    .copyright {
      margin-top: 30px;
      padding: 10px 0;
    }
  }
  .watch-video {
    padding: 30px 0;

    .watch-video1 {
      font-size: 13px;
      padding: 11px 20px 11px 70px;
      background-size: 80px 100%;
    }
  }
  .inner-page {
    .bio {
      font-size: 16px;
      padding: 10px;
      margin-top: 20px;
    }
    .about-bott {
      padding: 20px;
      margin-bottom: 20px;
    }
    .about-footer {
      padding: 10px 0px 20px;

      .about-footer1 {
        padding: 20px;

        .have-u {
          padding: 30px 0px;
        }
        .have-n {
          margin-bottom: 28px;
          font-size: 18px;
          padding: 6px;

          .normal-t {
            font-weight: 300;
          }
        }
      }
    }
  }
  .top-banner {
    h3 {
      font-size: 19px;
      padding-top: 20px;
      text-align: center;
    }
  }
  .inner-page {
    p {
      font-weight: 400;
      padding: 20px 0;

      .about-footer1 {
        .about-bott {
          margin-bottom: 10px;
          padding: 10px;
        }
      }
      .have-u {
        padding: 10px 0;
      }
    }
    .bio {
      background-size: 20px 100%;
      margin-top: 0px;
    }
    .about-footer {
      background: #e8e8e8;
    }
  }
  .top-banner {
    margin-bottom: 15px;
  }
  .login-f {
    padding: 15px;
  }
  .how-work {
    .right-how {
      float: none;
    }
  }
  .sign-up-foram {
    #accordion {
      padding: 0px 15px;
    }
    .how-do {
      padding: 0px 15px;
    }
  }
  .login-box {
    .left-sign {
    }
    .right-sign {
    }
  }
}