html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
body {
	font-family:Arial, Helvetica, sans-serif; color:#000;
	  line-height: 1;
	background:#f2f2f2;
	  -moz-text-stroke:1px transparent;
	   -o-text-stroke:1px transparent;
	    -ms-text-stroke:1px transparent;
	 -webkit-text-stroke:1px transparent;
	 font-size:14px;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
html {
    font-size: 100%;
    overflow-y: scroll;
}
a:focus {
    outline: medium none !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
a {
    color: #444;
    font-size: 13px;
}
a:hover {
    color: #55c88c; text-decoration:none;
}
img {
    box-sizing: border-box;
    height: auto;
    max-width: 100%;
}


.clearfix {*zoom: 1}
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0
}
.clearfix:after {
	clear:both
}
p{
	margin:0 0 10px;
	line-height:20px;
}

@font-face {
    font-family: 'microsoft_sans_serifregular';
    src: url('../fonts/micross-webfont.eot');
    src: url('../fonts/micross-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/micross-webfont.woff') format('woff'),
         url('../fonts/micross-webfont.ttf') format('truetype'),
         url('../fonts/micross-webfont.svg#microsoft_sans_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/rz266kh-webfont.eot');
    src: url('../fonts/rz266kh-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rz266kh-webfont.woff') format('woff'),
         url('../fonts/rz266kh-webfont.ttf') format('truetype'),
         url('../fonts/rz266kh-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'consolasregular';
    src: url('../fonts/consola-webfont.eot');
    src: url('../fonts/consola-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/consola-webfont.woff') format('woff'),
         url('../fonts/consola-webfont.ttf') format('truetype'),
         url('../fonts/consola-webfont.svg#consolasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'LithosProRegular';
    src: url('../fonts/lithospro-regular.eot');
    src: url('../fonts/lithospro-regular.eot') format('embedded-opentype'),
         url('../fonts/lithospro-regular.woff') format('woff'),
         url('../fonts/lithospro-regular.ttf') format('truetype'),
         url('../fonts/lithospro-regular.svg#LithosProRegular') format('svg');
}





/*****************header section*********************/

.container{
	-webkit-box-shadow:0 0 38px #aeaeae;
	-moz-box-shadow:0 0 38px #aeaeae;
	box-shadow:0 0 38px #aeaeae;
}
#header .header-top{ background-color:#fff; padding:16px 0px 12px;  border-top:solid 1px #1d70b7;}
#header .logo{ float:left; padding-left:25px;}
#header .head-right{ float:right;padding-right:25px;}
#header .sign-in{ text-align:right;}
#header .sign-in a {background-image:url(../images/sign-in-icon.png);background-repeat:no-repeat;background-position:94px 0; margin-left: 22px;display:block;padding-left: 24px;color: #000; font-size: 14px; line-height: 18px; margin-left: 15px;}
#header .sign-in a:hover{ color:#1e7dbf; text-decoration:none;}
#header .socialMedia{ margin-top:20px;}
.soc_icons li{  float:left; margin-left: 4px; }
.soc_icons li a{background-image:url(../images/social-media.png); background-repeat:no-repeat;display: block;height: 24px; width:25px; }
.soc_icons li.item2 a{ background-position:-29px 0;}
.soc_icons li.item3 a{ background-position:-59px 0;}
.soc_icons li.item4 a{ background-position:-89px 0;}
.soc_icons li.item5 a{ background-position:-119px 0;}
.soc_icons li.item6 a{ background-position:-150px 0;}

.soc_icons li a:hover{ opacity:0.4;}

/********header section navigation*************/

.nav-zone{ background:#1e7dbf; box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.3);-moz-box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.3);-ms-box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.3);-o-box-shadow:0px 2px 6px 0px rgba(0, 0, 0, 0.3);
-webkit-box-shadow:0px 2px 6px 0px #62af37; position:relative; z-index:1;}

.navbar{ margin-bottom:0px; padding-left:18px;}
.navbar .menu-inner .nav li { background:url(../images/nav-sep.jpg) no-repeat left; font-family: 'microsoft_sans_serifregular';}
.navbar .menu-inner .nav li a { color:#ffffff; font-size:14px; font-weight:700; padding:14px 18px; display:block; text-shadow:none; border:solid 1px transparent;}
.navbar .menu-inner .nav li a:hover{ background:#1d70b7;  border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px;-o-border-radius:3px; -webkit-border-radius:3px;
 margin-top:-8px;  padding-top: 22px;} 
.navbar .menu-inner .nav li a.active{ background:#1d70b7; border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px;-o-border-radius:3px; -webkit-border-radius:3px;
 margin-top:-8px;  padding-top: 22px; } 
.navbar .menu-inner .nav li:First-Child{ background:none;} 


.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus{background:none;}

/********banner section*************/

.banner{ padding:0px;}
.banner .img_box{ position:relative;max-width:484px;}
.banner .img_box .question-img{position: absolute;left: 66%;top: 45px; z-index:5; width:100%;}
.banner .img_box .student-img{margin-left: 8px;padding-top:65px; position:relative; margin-bottom:-153px;}
.banner .img_box .title{  bottom: 35px;left: 62px;position: absolute;font-family: 'LithosProRegular';}
.banner .img_box .title h1{ font-size:24px; color:#FFF;}
.banner .banner-news{ /*background:url(../images/green-bg.png) no-repeat*/overflow: hidden; position:relative;margin-left: 24px; /* padding-left:93px; padding-right: 122px;padding-top:83px; padding-bottom:51px;*/}
.banner .banner-news img{ display:block;}
.banner .banner-news .detail{left: 100px;
    position: absolute;
    top: 98px;
    width:60%;}
section .slide{
	position:relative;
}
section .slide .title{
	padding: 15px;
    position: absolute;
    right: 3%;
    top: 5%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.75);
}
section .slide .title h1{
	margin:0;
	color:#1d70b7;
	font-size:24px;
	font-family: 'bebasregular';
}
section .slide .title p{
	margin:0;
	line-height:20px;
	font-size:14px;
}
section .widget-header:after {
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid #1d70b7;
    bottom: -7px;
    content: " ";
    height: 0;
    left: 40px;
    margin-left: -5px;
    position: absolute;
    width: 0;
}
section .widget-header {
    background-color: #1d70b7;
    padding: 15px 20px;
    position: relative;
}
section .widget-header .heading-title {
    color: #fff;
    display: inline-block;
    font-size: 24px;
    line-height: 27px;
	font-family: 'microsoft_sans_serifregular';
}

section .item-image:before {
    background-color: rgba(30, 125, 191, 0.75);
    bottom: -100px;
    content: " ";
    height: 200px;
    left: -100px;
    position: absolute;
    transform: rotate(45deg);
    width: 200px;
    z-index: 50;
}
section .item-image:after {
    background-color: rgba(30, 125, 191, 0.75);
    content: " ";
    height: 200px;
    position: absolute;
    right: -100px;
    top: -100px;
    transform: rotate(45deg);
    width: 200px;
    z-index: 50;
}
section .item-image {
    display: block;
    overflow: hidden;
    position: relative;
	margin-bottom:15px;
}

section .overlay {
    min-height: 44px;
}
section .overlay {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    display: block;
    height: 0;
    position: absolute;
    transition: all 0.2s ease 0s;
    width: 100%;
}

section .overlay h3 {
    bottom: 0;
    color: rgb(255, 255, 255);
    display: block;
    font-size: 18px;
    padding: 10px 20px;
    position: absolute;
    text-align: right;
    width: 88%;
	line-height:26px;
}
section .space-over{
	padding:20px 10px;
}
section .welcome-text p{
	margin:0;
	line-height:20px;
}
section .blue{
	background-color:#1d70b7;
	background-image:inherit;
	float: right;
    margin-top: 10px;
}
section .blue:hover, .blue:focus, .blue:active, .blue.active{
	background-color:#145e9e ;
	background-image:inherit;
}
section .sub-banner{
	position:relative;
}
section .sub-banner .title{
	position:absolute;
	top:60px;
	left:5%;
	font-size:60px;
	color:#fff;
}
.page-content p{
	margin:0 0 5px;
}
.page-content input[type="text"]{
	width:40%;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin:10px 0;
	display:block;
	color:#353535;
	height:28px;
}
.page-content textarea{
	width:40%;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin:10px 0;
	display:block;
	height:120px;
	color:#353535;
}
.page-content p{
	margin:0 0 10px;
	line-height:20px;
}
section .breadcums li{
	float:left;
	margin:0;
	padding:5px 10px;
	text-align:center;
	color:#353535;
}
section .breadcums li a{
	margin:0;
	padding:0;
	text-decoration:none;
	color:#353535;
}
section .breadcums li a:hover{
	text-decoration:none;
	color:#1d70b7;
}
section .breadcums li.active{
	color:#1d70b7;
}
section .address h4{
	margin:0 0 10px;
	font-size:16px;
	color:#1d70b7;
}
section .address p{
	margin:0 0 10px;
	font-size:14px;
}
section .submit{
	width:100px;
	background-color:#1d70b7;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	border:0;
	color:#fff;
	padding:10px 15px;
}
section .submit:hover{
	background-color:#125793;
}
section .footer-navigation {
    background: #1d70b7;
	position:relative;
}
section .footer-navigation:after {
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid #1d70b7;
    bottom: -7px;
    content: " ";
    height: 0;
    left: 40px;
    margin-left: -5px;
    position: absolute;
    width: 0;
}
section .footer-navigation ul{
	list-style:none;
	padding:0;
	margin:0;
}
section .footer-navigation ul li {
    display: inline-block;
	float:left;
}
section .footer-navigation li a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 14px;
    line-height: 5px;
    margin-top: 1px;
    padding: 14px;
    text-decoration: none;
    transition: background 0.2s ease 0s;
}
section .footer-navigation li a:hover {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgb(255, 255, 255);
    margin-top: 0;
}
footer{
	background-color:#fff;
	padding:10px;
}
footer .container{
	background-color:inherit;
	box-shadow:none;
}
footer .span6{
	min-height:inherit;
}
footer .copyright{
	text-align:right;
	font-size:12px;
	padding-top: 10px;
}



.banner .banner-news .detail h2{ font-size:22px; color:#010101;   
font-family: 'consolasregular';
    font-weight: 700;
    padding-left: 18px;}
.banner .banner-news .detail h3{ font-size:14px; color:#449613;    font-family: 'bebasregular'; font-weight:normal;padding-left:15px; line-height:18px; margin-top:17px; margin-bottom:16px;}
.banner .banner-news .detail p{ font-size:12px; color:#5e6319; line-height:18px; margin-bottom:18px; padding-left: 6px;padding-right: 10px;}

/********Student choice*************/

.student-choice{ background:#FFF;}
.wrapper{ float:right;  background:#e5e5e5; height:100%; display:block; max-width:656px; width:100%; padding-bottom:12px; padding-top:12px; padding-left:20px; padding-right:10px;}

.student-detail{ float:left;}
.student-detail ul{ padding:0px;}
.student-detail ul li{ line-height:17px;}
.student-detail ul li a{ font-size:12px; color:#000000;}
.student-detail ul li a:hover{ color:#1d70b7;}

.gallery{ background:#FFF; padding:7px 5px 4px; float:right; margin-top:21px;}
.gallery ul li{float:left;}
.gallery a{ display:block; margin-left: 4px;margin-right: 2px;}
.gallery a:hover{ opacity:0.7; }
.tests{ background:#FFF; padding-top:23px; padding-bottom:23px; margin-top:21px; margin-bottom:21px; display:block;}

.tests ul {
    border-left: 1px solid #f1f1f1;
    float: left;
    min-height: 179px;
    padding-left: 38px;
    padding-right: 38px;
}
.tests ul li a {
    color: #000;
    font-size: 12px;
    line-height: 17px;
}
.tests ul li a:hover{ color:#1d70b7;}

.tests ul:First-Child{ border:none;}

/********client logo*************/

.client-logo{ padding:0px; background:#FFF;}
.client-logo li{ float:left; text-align:center; max-width:136px; width:100%;  margin-left: 27px; padding:16px 0;}
.client-logo li a{ display:block; text-align:center;}
.client-logo li a span{ display:block; color:#3e8611; font-size:14px; text-transform:uppercase;}

.client-logo li a img{/*background:#eee;
    box-shadow: 0 0 3px 0 #ccc;-moz-box-shadow: 0 0 3px 0 #ccc;-ms-box-shadow: 0 0 3px 0 #ccc;-o-box-shadow: 0 0 3px 0 #ccc;-webkit-box-shadow: 0 0 3px 0 #ccc;*/
    padding: 3px;}

.client-logo li a img:hover{ opacity:0.7;}
/********footer section*************/
#footer .copyright{ text-align:right;margin-top:21px;margin-bottom:21px;}
#footer .copyright p{ font-size:12px; color:#000;}


/********sign up section*************/

.page-content{ background:#FFF;}
#sign-in {padding: 20px;}
#sign-in input{ width:95%;}
#sign-in select{ width:100%;}
#sign-in label{ font-size:14px; color:#333; font-weight:700; display:block; margin-bottom:5px;}
#sign-in h2{ font-weight:normal; font-size:29px; color:#1d70b7; margin-bottom:10px;}
#sign-in h5{ font-size:18px; font-weight:700; color:#333; margin-bottom:10px;}
#sign-in p{ font-size:13px; color:#333; margin-bottom:10px;}

/*.page-content input, select, textarea{ border-radius:0px; width:100%;}*/
#sign-in .registrationForm{ padding:20px; background:#FFF; border:1px solid #c5c5c5; box-shadow: 0 0 5px #bbbbbb;-moz-box-shadow: 0 0 5px #bbbbbb;-ms-box-shadow: 0 0 5px #bbbbbb;-o-box-shadow: 0 0 5px #bbbbbb;
-webkit-box-shadow: 0 0 5px #bbbbbb;}
.row.ruler{ border-bottom: 1px solid #c5c5c5;margin: 20px 0;}
.delta{ font-size:18px; color:#3e8611;}
.form-group {margin-bottom:11px;}


.registrationForm input[type=submit]{ background:url(../images/nav-bg.jpg) repeat-x; padding:11px 0; margin:0 auto;max-width: 200px; font-size:17px; border-radius:5px; display:block;}
input[type=checkbox]{ width:auto !important; margin-right:7px;}

.login{ padding:20px; background:#FFF; border:1px solid #c5c5c5; box-shadow: 0 0 5px #bbbbbb;-moz-box-shadow: 0 0 5px #bbbbbb;-ms-box-shadow: 0 0 5px #bbbbbb;-o-box-shadow: 0 0 5px #bbbbbb;
-webkit-box-shadow: 0 0 5px #bbbbbb; margin:0 auto; max-width:408px;}
.formSignIn{ margin:0 auto; width:62%;}
.text-right label{ font-weight:normal !important;}
.text-right input[type=checkbox]{ margin:0px;}
.formSignIn input[type=submit]{ background:#1d70b7; padding:5px 0; text-shadow:none; color:#FFF; display:block; margin:0 auto;max-width: 200px; font-size:15px; border-radius:5px; display:block;}




/***************question section********************/

#question-section{ padding:20px;}
#question-section .choose-subject .tab-sep {display: block;float: right;max-width: 307px;width: 100%;}
#question-section .choose-subject { text-align:right; border-bottom:solid 1px #ccc;}
#question-section .choose-subject .timer{ float: left; max-width: 146px;width: 100%;}
#question-section .choose-subject .timer a{background:url(../images/grey-bg.jpg) repeat-x; text-align:center; color:#000; font-size:15px;border: 1px solid #ccc; border-radius:3px 3px; padding:7px 13px; display:block; margin-bottom:6px;}

#question-section .choose-subject .timer a span{display: block;font-size:17px;margin-top: 7px;}
#question-section .choose-subject .submit-subject {float: left;margin-right: 11px;}
#question-section .choose-subject .submit-subject input[type=submit]{
background:url(../images/orange-bg.jpg) repeat-x ;color:#FFF; width:100%; font-size:16px; border:none; border-radius:3px 3px;  padding:17px 43px; display:block; margin-bottom:6px; max-width:148px;}

#question-section .choose-subject .submit-subject input[type=submit]:hover{ background:#000;}

#question-section .choose-subject .tab-subject ul li{ display:block; float:left; margin-right:5px;}
#question-section .choose-subject .tab-subject ul li a{ background:#69b63b; color:#FFF; font-size:13px; border-radius:3px 3px; padding:7px 13px; display:block; margin-bottom:6px; }
#question-section .choose-subject .tab-subject ul li a:hover{ background:#3e8611; color:#FFF; text-decoration:none;}
#question-section .choose-subject .tab-subject ul li a.active{ background:#3e8611; color:#FFF; text-decoration:none;}
#question-section .question-answer{ padding-top:15px;}
#question-section .question h3{ padding:0px; font-size:16px; color:#333; line-height:24px;}
#question-section .question h3 span{ color:#69b63b;}
#question-section .answer .answer-key{ margin-top:15px; margin-bottom:15px;}
#question-section .answer .answer-key label{ line-height:32px;}
#question-section .answer .answer-key label input[type=radio]{ width:auto; margin-top:0px; margin-bottom:3px; margin-right:5px;}
#question-section .click-tab ul li{display:block; float:left; margin-right:5px;}
#question-section .click-tab ul li a{ background:#69b63b; color:#FFF; font-size:13px; border-radius:3px 3px; padding:7px 13px; display:block; margin-bottom:6px;}
#question-section .click-tab ul li a.pre{ background:url(../images/orange-bg.jpg) repeat-x }
#question-section .click-tab ul li a:hover{ background:#000; text-decoration:none;}
.pagination ul { box-shadow:none;}
.pagination ul li{ display:block; float:left; margin-top:5px; margin-bottom:0px; margin-left:4px;}
.pagination ul li a{ border:solid 1px #ddd; min-width:16px; text-align:center;}
.pagination ul li a:hover{ background:#9dd442; color:#FFF;}


/***************instruction section********************/
.instruction-section{ padding:20px; color:#333;}
.instruction-section ol{ padding-left:23px; margin-bottom:20px;}
.instruction-section ol li{ font-size:14px; list-style:decimal; margin-bottom:6px;}
.instruction-section input[type=submit]{background:#69b63b; color:#FFF; font-size:14px; border-radius:3px; padding:7px 13px; margin-bottom:6px; max-width:200px; text-shadow:none;}


/******************dashboard-section***************/

#dashboard-section { padding:20px;	}
#dashboard-section .lobby-navigation{ padding:0px;border:solid 1px #ccc;}
#dashboard-section .lobby-navigation .expanded{clear: both;overflow: hidden;}
#dashboard-section .lobby-navigation strong{ color:#000; font-size:14px; font-weight:700; display:block;}
#dashboard-section .lobby-navigation p{ color:#666; font-size:12px;}
#dashboard-section .lobby-navigation .icon{ float:left; margin-right:10px; padding:10px;background: #e2e2e2; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyZTJlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2RiZGJkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2QxZDFkMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-8 */}
#dashboard-section .lobby-navigation .desc{ padding:0px; margin-left:45px; padding: 7px;border-left: 1px solid #ccc;border-bottom: 1px solid #ccc;}
#dashboard-section .reg-events-links > li{ border-top:solid 1px #eee; padding:10px 0;}
#dashboard-section .reg-events-links > li:First-Child{ border:none;}
#dashboard-section .profile-zone .profile-pic img{ background:#eee; padding:10px;}
#dashboard-section .profile-zone h2{font-size:20px; color:#666; margin-bottom:10px; border-bottom:solid 1px #ccc;}
#dashboard-section .profile-zone p{ font-size:15px; color:#333; padding-bottom:5px; line-height:22px;}
#dashboard-section .profile-zone p strong{ font-size:15px;}





/********media css*************/
@media (max-width: 1200px) {

/*******************banner section*******************/
.banner .img_box .student-img{margin-bottom: 0;padding-top:13px;width:73%;}
.banner .img_box .title{ bottom: 21px;left: 36px;}
.banner .img_box .title h1{ font-size:18px;}
.banner .img_box .question-img{left: 49%;  top:12px;width: 25%;}
.banner .banner-news{ margin-left:0px;}
.banner .banner-news .detail{ left: 89px;top: 83px;}
.banner .banner-news .detail h2{   font-size: 21px;}

.tests ul{padding-left: 17px;padding-right: 17px;}
.client-logo li{max-width:104px;}


/***************question section********************/
#question-section .choose-subject .tab-sep{max-width: 252px;}
#question-section .choose-subject .submit-subject input[type="submit"]{ padding: 17px 25px; max-width:100%;}
#question-section .choose-subject .timer{  max-width: 126px;}


}

@media (min-width: 768px) and (max-width: 979px) {

.nav-zone{ background:#0f76be;}
.navbar{ padding-left:0px;}
.navbar .btn-navbar{ float:left; background:#1764a6; margin-top:10px; margin-bottom:10px; margin-left:10px;}
.navbar .btn-navbar:hover{ background:#1282d0;}
.navbar .menu-inner .nav li { background:none;}
.navbar .menu-inner .nav li a.active{ margin-top:0px;border-radius:0px; padding-top:14px;}
.navbar .menu-inner .nav li a:hover{ margin-top:0px;border-radius:0px; padding-top:14px;}

/*******************banner section*******************/

.banner .img_box .student-img{ margin-bottom:0px; padding-top:12px; width:82%;}
.banner .img_box{ margin-bottom:0px;}
.banner .img_box .question-img{ left: 54%;top: 6px; width: 25%;}
.banner .img_box .title{ bottom:11px;left:53px;}
.banner .img_box .title h1{ font-size:13px;}
.student-img > img {display: block;}
.banner .banner-news{margin-left: 0;}
.banner .banner-news .detail{left: 51px;top: 46px;width: 75%;}
.banner .banner-news .detail h2{ font-size: 18px; padding-left: 32px;}
.banner .banner-news .detail h3{padding-left: 25px; font-size: 13px; margin-bottom: 7px;margin-top: 11px;}
.banner .banner-news .detail p{margin-bottom: 11px;}

/*******************student chice*******************/
.wrapper{ max-width:96%; float:none;}


/*******************test section*******************/
.tests{ padding-bottom:0px;}
.tests ul{ width: 27%; padding-left: 20px;padding-right: 20px; margin-bottom:21px;}

/*******************client logo*******************/
.client-logo li{ max-width:86px; margin-left:15px; text-align:center;}
.client-logo li a span{ font-size:11px;}

/*******************sign in section*******************/

#sign-in input {width: 89%;}
#sign-in h2{ font-size:28px;}
.formSignIn{width: 100%;}

/***************question section********************/

#question-section .choose-subject .tab-subject ul li a{ padding: 7px 12px;}
#question-section .choose-subject .tab-sep{  max-width: 147px;}
#question-section .choose-subject .submit-subject{ margin-right:0px; float:none}
#question-section .choose-subject .timer{  max-width:100%;}

}


@media (max-width: 767px) {
	
#header .logo{ text-align:center; float:none; padding-left:0px;}	
#header .head-right{ text-align:center; float:none;}
#header .head-right{ padding-right:0px;}
#header .sign-in a{background-position:7px 0; margin-left: 0;padding-left: 0;}
#header .sign-in{  width:73px; margin:10px auto;}
#header .socialMedia{  clear: both;overflow: hidden;}
.soc_icons li{ display:inline-block; float:none; margin-left:0px;}
.tests{ padding-bottom:0px; text-align:center;}

	
.nav-zone{ background:#0f76be;}	
.navbar{ padding-left:0px;}
.navbar .btn-navbar{ float:left; background:#1764a6; margin-top:10px; margin-bottom:10px; margin-left:10px;}
.navbar .btn-navbar:hover{ background:#1282d0;}
.navbar .menu-inner .nav li { background:none;}
.navbar .menu-inner .nav li a.active{ margin-top:0px; border-radius:0px; padding-top:14px;}
.navbar .menu-inner .nav li a:hover{ margin-top:0px;border-radius:0px; padding-top:14px;}



/*******************banner section*******************/	
.banner .img_box{ max-width:100%;}	
.banner .img_box .student-img{ width:100%; text-align:center; padding-top:50px; margin-left:0px;}
.banner .img_box .question-img { left: 59%;top:19px; width: 32%;}
.banner .img_box .title{ bottom:7%;text-align: center;width: 100%; left:0px;}
.banner .img_box .title h1{ font-size:22px;}


.banner-news > div {display: none;}
.banner-news{ background:url(../images/pen-img.png) no-repeat bottom right #ebef47;}
.banner .banner-news{ margin-left:0px; position:relative;}
.banner .banner-news .detail{ display:block; left:0px; top:0px; position:relative; width:100%; padding:10px 17px; width:83%;}
.banner .banner-news .detail h2{ padding:0px;}
.banner .banner-news .detail h3{ padding:0px;}
.banner .banner-news .detail p{ padding:0px;}


.wrapper{ float:none; max-width:100%; width:100%; padding-top:15px; padding-bottom:10px; padding-left:0px; padding-right:0px;}
.student-detail {float:none; text-align:center; padding-left:10px; padding-right:10px;}
.student-detail ul li { display:inline-block;}
.student-detail ul li a{ background:#69b63b; color:#FFF; font-size:13px; border-radius:3px 3px; padding:7px 13px; display:block; margin-bottom:6px; }
.student-detail ul li a:hover{ background:#9dd442; color:#FFF; text-decoration:none;}
.gallery { float:none;text-align: center; margin:0 auto;width:94%; background:none; }
.gallery ul li{ display:inline-block; float:none;}
.gallery ul li a{ display:block; margin-top:9px; margin-left:0px; margin-right:6px;}
.gallery a:hover{ opacity:0.7; }
.gallery a img{ background:#FFF; padding:10px;}


/*******************test section*******************/
.tests ul:First-Child{ border-bottom:solid 1px #f1f1f1;}
.tests ul{  width: 100%; padding-left:0px; padding-right:0px; padding-bottom:20px; min-height:100%; border-bottom:solid 1px #f1f1f1; margin-top:20px;}
/*******************client logo*******************/
.client-logo li{ width:50%; max-width:100%; margin-left:0px;}
/*******************footer*******************/
#footer .copyright{ text-align:center;}


/*******************sign in section*******************/
#sign-in input { width: 98%;}
#sign-in .registrationForm{ margin-bottom:21px;}
.login{ max-width:100%;}
.formSignIn{ width:100%;}

.formSignIn .text-right label{ margin-top:5px; text-align:center;}
.text-right input[type="checkbox"]{ margin-right:5px; margin-bottom:3px;}

/***************question section********************/
.tab-subject{ text-align:center;}
#question-section .choose-subject .tab-subject ul li{ display:inline-block; float:none;}
#question-section .choose-subject .tab-sep{ float:none; max-width:305px; margin:10px auto;}
}



@media (min-width: 320px) and (max-width: 480px){ 

.banner .banner-news .detail h2{ font-size:20px;}
.banner .img_box .question-img{top: 15px;left: 61%;}
.banner .img_box .student-img{padding-top: 22px;}
.banner .img_box .title{ bottom:4%; left:-4%;}
.banner .img_box .title h1{ font-size:14px;}
/***************question section********************/
#question-section .choose-subject .submit-subject input[type="submit"]{max-width: 132px;}
#question-section .choose-subject .timer{max-width: 135px;}

}