
.login-f{ max-width:600px; 
  margin:0px auto; 
  background:#f1f1f1; padding:50px;
  margin-bottom:50px;  }


.login-f .tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.login-f .tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.login-f .tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: #009bad;
  color: #fff;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}
.login-f .tab-group li a:hover {
  background: #51c9d7;
  color: #ffffff;
}
.login-f .tab-group .active a {
  background: #ff4001 ;
  color: #ffffff;
}

.login-f .tab-content > div:last-child {
  display: none;
}

.login-f h1 {
  text-align: center;
  color: #000;
  font-weight:600;
  margin: 0 0 40px;
  font-size:24px;
}

.login-f label {
  position: absolute;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color:#000;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size:16px;
  font-weight:400;
}
.login-f label .req {
  margin: 2px;
  color: #1ab188;
}

.login-f label.active {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
.login-f label.active .req {
  opacity: 0;
}

.login-f label.highlight {
  color: #ffffff;
}

.login-f input,.login-f  textarea {
  font-size:14px;
  display: block;
  width: 100%;
  height: 100%;
  padding:10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #000;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
  background: #fff;
}
.login-f input:focus,.login-f  textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

.login-f textarea {
  border: 1px solid #a0b3b0;
  resize: vertical;
}

.login-f .field-wrap {
  position: relative;
  margin-bottom: 20px;
}

.login-f .top-row:after {
  content: "";
  display: table;
  clear: both;
}
.login-f .top-row > div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
.login-f .top-row > div:last-child {
  margin: 0;
}

.login-f .button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size:18px;
  font-weight: 600;
  text-transform: uppercase;
  background: #ff4001;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.login-f .button:hover,.login-f  .button:focus {
  background: #179b77;
}

.login-f .button-block {
  display: block;
  width: 100%;
}

.login-f .forgot {
    padding-bottom: 15px;
    text-align: right;
}