.bs-slider {
	overflow: hidden;
	max-height: 941px;
	position: relative;
	background: #000000
}
.bs-slider:hover {
	cursor: -moz-grab;
	cursor: -webkit-grab
}
.bs-slider:active {
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing
}
.bs-slider .bs-slider-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.bs-slider > .carousel-inner > .item > img, .bs-slider > .carousel-inner > .item > a > img {
	margin: auto;
	width: 100% !important
}
.fade {
	opacity: 1
}
.fade .item {
	top: 0;
	z-index: 1;
	opacity: 0;
	width: 100%;
	position: absolute;
	left: 0 !important;
	display: block !important;
	-webkit-transition: opacity ease-in-out 1s;
	-moz-transition: opacity ease-in-out 1s;
	-ms-transition: opacity ease-in-out 1s;
	-o-transition: opacity ease-in-out 1s;
	transition: opacity ease-in-out 1s
}
.fade .item:first-child {
	top: auto;
	position: relative
}
.fade .item.active {
	opacity: 1;
	z-index: 2;
	-webkit-transition: opacity ease-in-out 1s;
	-moz-transition: opacity ease-in-out 1s;
	-ms-transition: opacity ease-in-out 1s;
	-o-transition: opacity ease-in-out 1s;
	transition: opacity ease-in-out 1s
}
.control-round .carousel-control {
	top: 47%;
	opacity: 0;
	width: 45px;
	height: 45px;
	z-index: 100;
	color: #ffffff;
	display: block;
	font-size: 24px;
	cursor: pointer;
	overflow: hidden;
	line-height: 43px;
	text-shadow: none;
	position: absolute;
	font-weight: normal;
	background: transparent;
	-webkit-border-radius: 100px;
	border-radius: 100px
}
.control-round:hover .carousel-control {
	opacity: 1
}
.control-round .carousel-control.left {
	left: 1%
}
.control-round .carousel-control.right {
	right: 1%
}
.control-round .carousel-control.left:hover, .control-round .carousel-control.right:hover {
	color: #fdfdfd;
	background: rgba(0, 0, 0, 0.5);
	border: 0px transparent
}
.control-round .carousel-control.left>span:nth-child(1) {
	left: 45%
}
.control-round .carousel-control.right>span:nth-child(1) {
	right: 45%
}
.indicators-line > .carousel-indicators {
	right: 0%;
	bottom: 160px;
	left: 0;
	width: 100%;
	height: 20px;
	font-size: 0;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 1px;
	margin:0 auto;

}
.indicators-line > .carousel-indicators li {
	padding: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	text-indent: 0;
	overflow: hidden;
	text-align: left;
	position: relative;
	letter-spacing: 1px;
	background: none;
	-webkit-font-smoothing: antialiased;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-right: 11px;
	-webkit-transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99);
	transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99);
	z-index: 10;
	cursor: pointer
}
.indicators-line > .carousel-indicators li:last-child {
	margin-right: 0
}
.indicators-line > .carousel-indicators li.active {
	margin: 1px 11px 1px 1px;
	background: #fff;
	position: relative;
	-webkit-transition: box-shadow 0.3s ease;
	-moz-transition: box-shadow 0.3s ease;
	-o-transition: box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease
}
/*.indicators-line > .carousel-indicators .active:before {
	transform: scale(0.5);
	background-color: #fff;
	content: "";
	position: absolute;
	left: -1px;
	top: -1px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease
}*/
.slide_style_left {
	text-align: left !important
}
.slide_style_right {
	text-align: right !important
}
.slide_style_center {
	text-align: center !important
}
.slide-text {
	left: 0;
	bottom: 185px;
	right: 0;
	margin: auto;
	padding: 10px;
	position: absolute;
	text-align: left;
	padding: 10px 85px
}
.slide-text > h1 {
	font-size: 87px;
font-weight: bold;
color: #fff;
text-transform: uppercase;
margin-bottom: 27px;
	display: inline-block;
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s
}
.slide-text > p {
  padding: 0;
  font-size: 23px;
  font-weight: 600;
  color: #fff;
	font-weight: 600;
	margin-bottom: 40px;
	letter-spacing: 1px;
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s
}

.slide-text > a.btn-default {
background:#ff4001 ;
border-radius: 0;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  padding: 10px 25px;
  text-transform:capitalize;
	white-space: nowrap;
	border: none;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out
}

.slide-text > a.btn-default:hover{background:#009bad  ;}

/*.slide-text > a.btn-primary {
	color: #ffffff;
	cursor: pointer;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	margin-left: 10px;
	text-align: center;
	padding: 17px 30px;
	white-space: nowrap;
	letter-spacing: 1px;
	background: #00bfff;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out
}*/

.slide-text > a:hover,
.slide-text > a:active {
	color: #ffffff;
	background: #f77142;
	-webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
	transition: background 0.5s ease-in-out, color 0.5s ease-in-out
}


@media (min-width: 992px) and (max-width: 1199px) {

.slide-text {
  top: 20%;
}


.slide-text > a.btn-default {
  font-size: 13px;
}

.indicators-line > .carousel-indicators {
  bottom: 33%;
}


.slide-text > h1 {
  font-size: 59px;
   margin-bottom: 7px;
}

.slide-text > p {
  font-size: 17px;
  margin-bottom: 15px;
  padding: 0;
}



}

@media (min-width: 768px) and (max-width: 991px) {

.slide-text {
  padding: 10px 50px;
    top: 45%;
}

.slide-text h1 {
  font-size: 47px;
  line-height: 46px;
  margin-bottom: 10px;
}
.slide-text > p {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px;
}

.indicators-line > .carousel-indicators {
  bottom: 30%;
}

}


@media  (max-width:767px) {

	.slide-text {
		padding: 10px 23px;
		top: 13%;

	}
	.slide-text h1 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 10px
	}
.slide-text > p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 13px;
}
	.control-round .carousel-control {
		display: none
	}

.indicators-line > .carousel-indicators {
  bottom: 58%;
}



}


@media  (max-width:479px) {
	.slide-text {
		padding: 0px 30px
	}
.slide-text h1 {
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 5px;
}
.slide-text > p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}
	.slide-text > a.btn-default, .slide-text > a.btn-primary {
		font-size: 10px;
		line-height: 10px;
		margin-right: 0px;
		text-align: center;
		padding: 10px 15px
	}
	.indicators-line > .carousel-indicators {
		display: none
	}
}

.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
}
  
.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}