@import 'var';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

Ghtml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #363636;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  line-height: 24px;
}
@font-face {
  font-family: 'avenirregular';
  src: url('../fonts/avenir-book_gdi-webfont.woff2') format('woff2'), url('../fonts/avenir-book_gdi-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
::-webkit-input-placeholder {
  opacity: 1;
}
::-moz-placeholder {
  opacity: 1;
}
:-ms-input-placeholder {
  opacity: 1;
}
:-moz-placeholder {
  opacity: 1;
}
ol, ul {
  list-style: none outside none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  font-weight: normal;
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: 600;
}
html {
  font-size: 100%;
}
a:focus {
  outline: medium none !important;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
}
a {
  color: #444;
  font-size: 14px;
}
a:hover {
  color: #000;
  text-decoration: none;
}
img {
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
}
/* p {
  font-weight: 300;
} */
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
header {
  .top-black {
    width: 100%;
    height: auto;
    background: #000000;
    padding: 3px;
    color: #fff;

    .login-box {
      color: #fff;
      text-align: right;

      a {
        color: #fff;
        text-decoration: none;
        padding-left: 5px;

        &:hover, &:focus {
          color: #b6bfd7;
        }
      }
    }
  }
  .navbar {
    margin-bottom: 0px;
    border: none;

    .navbar-brand {
      padding: 0px;
    }
  }
  .navbar-nav {
    float: right;
    margin-right: -15px;

    li {
      &.open {
       a {
          background: $red-color;
          border-bottom: 14px solid $red-dark-color;
          color: #fff;
          padding: 24px 25px;
          &:hover, &:focus {
            background: $red-color;
            border-bottom: 14px solid $red-dark-color;
            color: $white-color;
            /* padding-bottom: 20px; */
            font-weight: bold;
          }
        }
      }
      a {
        padding: 24px 25px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        background: #fff;
        border-bottom: 14px solid #fff;
        -webkit-transition: all .25s ease;
               -moz-transition: all .25s ease;
                -ms-transition: all .25s ease;
                 -o-transition: all .25s ease;
                    transition: all .25s ease;

        &:hover, &:focus {
          background: $red-color;
          border-bottom: 14px solid $red-dark-color;
          /* padding-bottom: 20px; */
          color: $white-color
        }
        &.active {
          background: $red-color;
          border-bottom: 14px solid $red-dark-color;
          /* padding-bottom: 20px; */
          color: $white-color;
        }
      }
      .drop-menu-bar{
        background: rgba(255,64,1,1);
        width: 300px !important;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
        border: 0;
           z-index: 99999;
           -webkit-transition: all .25s ease;
              -moz-transition: all .25s ease;
               -ms-transition: all .25s ease;
                -o-transition: all .25s ease;
                   transition: all .25s ease;
        /* top: 90px !important; */
         .arrow-top{
             width: 0; 
             height: 0; 
             border-left: 5px solid transparent;
             border-right: 5px solid transparent; 
             border-bottom: 5px solid black;
             position: absolute;
             top: 0;
             left: 10px;
          }
        li{
          margin:0;
          padding: 0;
          border-bottom: solid 4px #173683;
          &:hover{
              background: #009bad;
              border-bottom:solid 4px #ff4001;
              font-weight: normal;
              color: #fff;
            }
          &:last-child{
            border-bottom:0;
          }
            a{
            padding: 10px 12px;
            font-size: 14px;
            text-transform: capitalize;
            font-weight: normal;
            color: #fff;
            background: #2448a3;
            border-bottom: 0;
            -webkit-transition: all .25s ease;
                   -moz-transition: all .25s ease;
                    -ms-transition: all .25s ease;
                     -o-transition: all .25s ease;
                        transition: all .25s ease;
                        transform: translateY(0%);
                          transition-delay: 0s, 0s, 0.3s;
            &:hover{
              background: #ff4001;
              border-bottom: 0;
              font-weight: normal;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
.slider {
  position: relative;

  .slide-text {
    color: $black-color;

    .slide-text1 {
      background: rgba(255, 255, 255, 0.5);
      padding: 20px;
      margin-bottom: 27px;

      h1 {
        color: $black-color;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 15px;
      }
      p {
        font-size: 30px;
        font-weight: 400;
        color: $black-color;
        line-height: auto;
        margin-bottom: 15px;
      }
    }
  }
  .bulletin {
    position: absolute;
    bottom: -1px;
    width: 100%;
    z-index: 99999;

    .bulletin-txt {
      background: $sky-blue-color;
      color: $white-color;
      font-size: 36px;
      padding: 40px;
      min-height: 142px;

      h3 {
        font-weight: 600;
        color: $white-color;

        span {
          font-weight: 400;
        }
      }
      p {
        font-size: 22px;
      }
    }
    .bulletin-cont {
      background: $sky-blue-light;
      padding: 54px;
      min-height: 138px;

      a {
        font-size: 36px;
        text-transform: uppercase;
        color: #000;
        font-weight: 600;
        padding-top: 12px;
        display: block;
      }
    }
  }
}
.entery-header {
  text-align: center;

  h2 {
    font-size: 34px;
    text-align: center;
    width: auto;
    border-bottom: 5px solid $sky-blue-color;
    margin-bottom: 75px;
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
}
.courses {
  display: block;
  padding: 92px 0px;

  .course-box {
    background: $gray-color;
    position: relative;
    padding-bottom: 50px;

    h2 {
      font-size: 20px;
      color: $black-medium-color;
      margin-top: 15px;
      text-align: center;
      width: auto;
    }
    p {
      padding: 15px;
    }
    a {
      background-image: url("../../assets/images/more-bg.png");
      background-repeat: no-repeat;
      background-position: center;
      width: 72px;
      padding: 26px 22px 22px;
      height: 70px;
      color: $white-color;
      display: block;
      text-align: center;
      position: absolute;
      left: 36%;
      right: 0;
      bottom: -43px;
    }
    a:hover {
      background-image: url("../../assets/images/more-bg-hover.png");
      transition: background 0.5s ease-in-out 0s, color 0.5s ease-in-out 0s;
    }
  }
}
.services {
  display: block;
  padding: 92px 0px;
  /* background-image: url("../../assets/images/services.jpg"); */
  background-image: url(../../assets/images/login-bg.jpg);
  background-size: cover;
  margin: 30px 0px;

  .entery-header {
    text-align: center;

    h2 {
      color: $white-color;
    }
  }
  .services-box {
    position: relative;
    padding-bottom: 50px;
    border: 1px solid $gray-color;
    text-align: center;
    padding: 34px 0;

    h2 {
      font-size: 25px;
      color: $gray-color;
      margin-top: 40px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    p {
      padding: 0 25px;
      color: $white-color;
    }
  }
  .services-box:hover {
    border: 1px solid #009bad;
  }
}
.about {
  display: block;
  padding: 92px 0px;

  .about-box {
    position: relative;
    padding-bottom: 50px;
    text-align: center;
    padding: 40px 20px;
    background: $sky-blue-color;

    .about-box-in {
      border: 1px solid $sky-blue-color;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
      transition: width 2s, height 2s, transform 2s;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
      transition: width 2s, height 2s, transform 2s;
      -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
      transition: width 2s, height 2s, transform 2s;
    }
    .about-box-in:hover {
      border: 1px solid #fff;
    }
    &:nth-child(2) {
      background: $sky-blue-light;

      .about-box-in {
        border: 1px solid $sky-blue-light;
        transition: width 2s, height 2s, transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
        transition: width 2s, height 2s, transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
        transition: width 2s, height 2s, transform 2s;
      }
      .about-box-in:hover {
        border: 1px solid #fff;
      }
    }
    &:nth-child(3) {
      background: $red-dark-color;

      .about-box-in {
        border: 1px solid $red-dark-color;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
        transition: width 2s, height 2s, transform 2s;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
        transition: width 2s, height 2s, transform 2s;
      }
      .about-box-in:hover {
        border: 1px solid #fff;
      }
    }
    &:nth-child(4) {
      background: $red-color;

      .about-box-in {
        border: 1px solid $red-color;
        -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
        transition: width 2s, height 2s, transform 2s;
      }
      .about-box-in:hover {
        border: 1px solid #fff;
      }
    }
    h2 {
      font-size: 24px;
      color: $gray-color;
      margin-top: 15px;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      padding: 15px;
      color: $white-color;
    }
  }
  img: {
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
  }
  img:hover {
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(350deg);
  }
}
.testimonials {
  display: block;
  padding: 92px 0px;
  background-image: url("../../assets/images/test.png");
  background-size: cover;
  color: #fff;

  h2 {
    color: #fff;
  }
  .carousel-inner {
    .thumbnails {
      li {
        padding: 5px;

        .s-1 {
          border: 1px solid #85807a;
          text-align: center;
          min-height: 300px;
          margin-bottom: 50px;
        }
      }
    }
  }
  .control-box.pager a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    color: #584949;
    font-size: 30px;
  }
  .left-arrow {
    float: left;
    font-size: 0;
    margin-left: -50px;
  }
  .right-arrow {
    float: right;
    font-size: 0;
    margin-right: -50px;
  }
  #myCarousel > nav {
    margin-bottom: 0;
    position: absolute;
    top: 30%;
    width: 100%;
  }
  .sub-title {
    color: #fff;
    border-bottom: 2px solid #009bad;
    margin-left: 16%;
    width: 69%;
    font-style: italic;
    margin-bottom: 15px;
  }
  .client-name {
    color: #fff;
    font-size: 16px;
    padding-top: 23px;
    text-transform: uppercase;
  }
  .caption > p {
    color: #fff;
    padding: 0 9%;
  }
  .con {
    background: rgba(0, 0, 0, 0) url("../../assets/images/test-bottom.png") no-repeat scroll right bottom;
    margin: 0 10%;
    padding-bottom: 11px;

    p {
      background: url("../../assets/images/test-top.png") no-repeat;
      position: left top;
      color: #fff;
    }
  }
}
.watch-video {
  padding: 70px 0;
  background: #f1f2f3;

  .watch-video1 {
    background: #fff url("../../assets/images/video-watch.png") no-repeat;
    border: 1px solid #d6d2d2;
    font-size: 18px;
    color: #009bad;
    border-radius: 25px;
    padding: 16px 20px 16px 70px;
    text-align: center;
  }
}
footer {
  background: #1a1919;
  padding: 60px 0px 0px;
  color: #c8c8c8;

  .foot-links > p {
    color: #fff;
    padding-top: 13px;
  }
  .foot-links {
    h4 {
      text-transform: uppercase;
      font-size: 24px;
      color: #ffffff;
      font-weight: 700;
      padding-top: 11px;
    }
    .links {
      padding-top: 15px;

      li {
        margin-bottom: 10px;
        background: url("../../assets/images/arrow-bottom.png") no-repeat;
        background-position: left;
        padding-left: 25px;

        a {
          color: #ffffff;
        }
        a:hover {
          color: #ff4001;
        }
      }
    }
  }
  .comp-name {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 0;
  }
  .contact-de {
    a {
      color: #ffffff;
    }
    span {
      color: #ffffff;
      float: left;
      max-width: 220px;
      a{
        font-size: 11px;
      }
    }
    label {
      color: #a1604a;
      padding-right: 14px;
      float: left;
      max-width: 30px;
      padding-top: 5px;
    }
  }
  .copyright {
    background: #000 none repeat scroll 0 0;
    color: #c8c8c8;
    margin-top: 57px;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
  }
}
.contact-de > li {
  word-break: break-all;
  clear: both;
  display: inline-block;
}
.online-courses {
  display: block;
  padding: 92px 0px;
  background: url("../../assets/images/online-c.jpg") repeat scroll 0 0 / 100% 100%;
  background-size: 100% 100%;
  color: #fff;

  .courses-text {
    background: url("../../assets/images/bg-course.png")repeat;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    margin-right: 15px;
    position: absolute;
    bottom: 0px;
  }
  .cor-title {
    font-size: 18px;
    font-weight: 600;
    font-size: 26px;
    padding: 15px;
    width: 100%;
    padding: 10px 0px;
  }
  .read-more-but {
    button {
      border: 0px;
      background: #ff4001;
      color: #fff;
      padding: 5px 10px;
      margin-top: 10px;
    }
    button:hover {
      background: #009bad;
    }
  }
  .courses-img {
    overflow: hidden;

    img {
      -webkit-transition: 0.4s ease;
      transition: 0.4s ease;
    }
  }
  .courses-img img:hover, .courses-img img:focus {
    transform: scale(1.2);
  }
}
.top-banner {
  background: url("../../assets/images/about.jpg") no-repeat;
  width: 100%;
  height: auto;
  margin-bottom: 2PX;

  h3 {
    font-size: 30px;
    color: #ff4001;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
.inner-page {
  .hadding-top {
    background: #ff4001 url("../../assets/images/about1.png") no-repeat scroll right center;
    color: #fff;
    font-size: 26px;
    margin-bottom: 30px;
    padding: 20px;
  }
  .in-bold {
    font-size: 16px;
    font-weight: 600;
  }
  p {
    font-weight: 400;
  }
  .bio {
    background: #009bad url("../../assets/images/bio.png") no-repeat;
    background-position: right;
    width: 100%;
    color: #fff;
    font-size: 26px;
    padding: 25px;
    margin-top: 50px;
  }
  .about-bott {
    background: #f5f5f5;
    padding: 40px;
    margin-bottom: 30px;
  }
  .about-footer {
    background: rgba(0, 0, 0, 0) url("../../assets/images/online-c.jpg") no-repeat scroll 100% 100% / 100% auto;
    color: #fff;
    display: block;
    padding: 20px 0 200px;

    .about-footer1 {
      color: #000;
      padding: 40px;

      .have-u {
        padding: 30px 0px;
        font-weight: bold;
      }
      .have-n {
        background: #fff none repeat scroll 0 0;
        margin-bottom: 28px;
        font-weight: 600;
        font-size: 24px;
        padding: 10px;

        .normal-t {
          font-weight: 300;
          font-size: 18px;
        }
      }
    }
  }
}
.contact-us {
  .we-are {
    background: #009bad url("../../assets/images/arrow-bottom1.png") no-repeat;
    padding: 30px 30px 30px 30px;
    color: #fff;

    .we {
      padding-top: 20px;
      font-weight: 600;
      font-size: 16px;
    }
  }
  .top-title {
    text-align: center;
    padding-top: 40px;
    font-size: 16px;
  }
  .sub-title {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 0px 30px;
  }
  .add-bg {
    background: #eaeaea;
    text-align: center;
    min-height: 220px;
    margin-top: 110px;
    padding: 30px 0px;

    span {
      font-weight: 600;
    }
  }
  .icon-box {
    width: 115px;
    height: 115px;
    border: 5px solid #FFF;
    background: #00a3b6;
    border-radius: 100%;
    margin: -94px auto 20px;
  }
  .icon2 {
    background: #4fc9d6
  }
  .icon3 {
    background: #db3a04
  }
  .icon4 {
    background: #ff4001
  }
}
.contact-foram {
  background: rgba(0, 0, 0, 0) url("../../assets/images/online-c.jpg") no-repeat scroll 0 0 / 100% 100%;
  margin-top: 50px;
  padding: 80px 0px 200px;
  font-size: 14px;

  .hadding-contact {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
  .send-msg {
    background: #ff4001;
    color: #fff;
    font-size: 18px;
    border-radius: 0%;
    border: 0px;
    padding: 7px 30px;
  }
  .send-msg:hover {
    background: #018bb9;
  }
  textarea {
    font-size: 14px;
    border-radius: 0%;
    border: 0px;
  }
  input {
    font-size: 14px;
    border-radius: 0%;
    border: 0px;
  }
}
.how-work {
  padding: 0px 0px 30px;

  h3 {
    font-size: 18px;
    padding: 15px;
    color: #fff;
    margin-bottom: 15px;
    background: #ff4001;
  }
  .work {
    padding: 30px 0px;

    h3 {
      background: #009bad;
    }
  }
  .right-how {
    float: right;
  }
}
.what-we-provide {
  z-index: 9999;
}
.login-box {
  .new-account {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
  }
  .login-box-content {
    background: #f3f3f3;
    padding: 30px;
    margin-bottom: 60px;
    margin-top: 30px;
    .account-title {
    font-size: 16px;
    font-weight: 600;
    padding: 0 0 17px;
}

    .form-signin {
      .form-control {
        border-radius: 0px;
        padding: 10px;
        height: 45px;
        margin-bottom: 10px;
      }
      .btn-primary {
        background: #ff4001;
        border-radius: 0px;
        border: 0px;
      }
      .btn-primary:hover {
        background: #009bad;
      }
    }
  }
  .checkbox.pull-left {
    float: left;
    padding: 15px 20px;
    width: 100%;
  }
  .sub-hadding {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 40px 0px;
  }
  .left-sign {
       background: #f5f5f5 none repeat scroll 0 0;
    border: 4px solid #009bad;
    font-size: 16px;
    margin: 50px 0 100px;
    padding: 30px;
    text-align: center;
    width: 100%;
  }
  .right-sign {
      background: #f5f5f5 none repeat scroll 0 0;
    border: 4px solid #009bad;
    font-size: 16px;
    margin: 50px 0 100px;
    padding: 30px;
    text-align: center;
    width: 100%;
  }
  .left-sign a, .right-sign a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
  }
  .left-sign a:hover, .right-sign a:hover {
    color: #000;
    text-decoration: none;
  }


  .principles {
    padding: 30px;
    background: #f5f5f5;
    border: 4px solid #009bad;
    width: 100%;
    margin: 50px 0px 100px;
    font-size: 16px;
    text-align: center;

    .price {
      font-weight: 600;
      font-size: 24px;
      padding: 20px 0px;
    }
    .yes-sign {
      margin: 0 auto;
      padding: 10px;
      width: 178px;
      height: 30px;

      input {
        float: left
      }
      .sign-me {
        float: left;
        padding-left: 10px;
      }
    }
  }
  .bottom-text{ background:#009bad; border-radius: 25px 25px 0px 0px; text-align:center; padding:30px; color:#fff;}
    .principles1{ padding:20px; margin: 50px 0 40px; .title{ background:#009bad; padding:5px; color:#fff; margin-bottom:10px;}  text-align:left;.course{ padding-left:0px;} input {
    border: 1px solid #cecece;
    padding: 3px;
    width: 100%;
} }
  .button {
    button {
      font-size: 18px;
      font-weight: 600;
      margin: 15px auto 0;
      width: 100%;
      background: #ff4001 none repeat scroll 0 0;
      border: 0px;
      padding: 10px;
      color: #fff;
    }
  }
  button:hover {
    background: #009bad;
  }
  .price-test {
    line-height: 27px;
    font-weight: 300;
    font-size: 14px;

    span {
      font-weight: 600;
      font-size: 18px;
    }
  }
  .course {
    padding: 10px;
  }
  .top-hadding {
    text-align: center;
  }
}
.sign-up-foram {
  .top-hadding2 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    padding: 0 15px 30px;

    span {
      font-size: 16px;
      font-weight: 300;
    }
  }
  .corse-hadding {
    padding: 0px 15px;
    font-weight: 600;
    font-size: 16px;
    background: #009bad none repeat scroll 0 0;
    color: #fff;
    float: left;
    height: auto;
    padding: 5px 10px;
    width: 100%;
  }
  .corse-content {
    padding: 0px 15px;
    background: #51c9d7 none repeat scroll 0 0;
    color: #fff;
    float: left;
    height: auto;
    padding: 0px 10px 5px;
    width: 100%;
  }
  .Pay-by {
    float: left;
    padding: 15px;
    background: #f5f5f5;

    h3 {
      padding: 0px 0px 15px;
    }
    .vat {
      font-size: 18px;
      padding: 15px 0;

      span {
        font-weight: 600;
      }
    }
  }
  .gift {
    background: #009bad none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    border-radius: 25px 0px;

    .fa-gift {
      font-size: 30px;
      margin-right: 10px;
    }
  }
  .apply {
    text-align: right;

    input {
      color: #000;
      font-size: 14px;
      padding: 5px;
    }
  }
  .crate-pay-box {
    background: #f0f0f0 none repeat scroll 0 0;
    float: left;
    padding: 15px;
    margin-bottom: 15px;
    width: 100%;

    .crate-title {
      background: #ff4001;
      padding: 10px;
      color: #fff;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
      border-radius: 10px 0;
    }
    label {
      font-size: 14px;
      font-weight: 400;
    }
    .address2 {
      width: 100%;
      float: 100%;
      padding-top: 15px;
    }
    .indicator, .indicator1 {
      float: left;
      padding-left: 15px;
    }
    .indicator2 {
      background: #009bad none repeat scroll 0 0;
      color: #fff;
      font-size: 18px;
      width: 100%;
      float: left;
      padding: 8px 15px;
      border-radius: 10px 0;
      font-weight: 600;
    }
    .indicator3 {
      float: left;
      text-align: right;
      width: 100%;
    }
    .input {
      border-radius: 0px;
    }
  }
  .card {
    .card-block {
      padding: 15px;
    }
    background: #efefef none repeat scroll 0 0;
    margin: 10px 0;
    padding: 0px;

    h5 {
      padding: 7px 0px;
      overflow: none;
      background: #009bad;
      padding: 10px;
      border-radius: 5px;
    }
    h5 a {
      color: #fff;
      text-decoration: none;
    }
  }
  #accordion {
    margin-bottom: 40px;
  }
  .how-do {
    font-size: 18px;
    font-weight: 600;
    font-size: 18px;
  }
}
.my-profile {
  .profile-right {
    background: #f1f1f1 none repeat scroll 0 0;

    .user-name {
      text-align: center;
      font-weight: 600;
      font-size: 18px;
      padding: 15px 0px 0px;
    }
    .user-address {
      text-align: center;
      padding: 0px 15px 5px;
    }
    .user-phone {
      text-align: center;
      padding: 10px 15px 10px;
      background: #009bad;
      color: #fff;
    }
  }
  .bio-box {
    background: #f1f1f1;
    padding: 15px;
    margin-bottom: 15px;

    h3 {
      font-size: 18px;
      font-weight: 600;
      border-bottom: 1px solid #acacac;
      margin-bottom: 10px;
      padding-bottom: 10px;
    }
  }
  .recent_activities {
    h3 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
      padding: 8px 15px;
      background: #009bad;
      color: #fff;
      margin-top: 10px;
    }
    .rounded-circle2 {
      width: 50px;
      height: 50px;
      border: 1px solid #d2d2d2;
      border-radius: 100%;
      margin-right: 10px;
      float: left;
    }
    .recent_act1 {
      background: #f1f1f1;
      padding: 5px;
      margin-bottom: 10px;
      float: left;
      width: 100%;
    }
    .act-con {
      width: 90%;
      height: auto;
      float: left;
    }
  }
  .info-box {
    width: 100%;
    padding: 5px 0px;

    span {
      font-weight: 600;
    }
  }
}
.pollcy {
  h3 {
    font-size: 18px;
    padding: 10px;
    background: #009bad;
    color: #fff;
    margin: 15px 0px;
  }
  .inner-content {
    padding-bottom: 50px;

    h4 {
      font-size: 18px;
      padding-bottom: 10px;
    }
  }
  .contact {
    background: #51c9d7;
    padding: 15px;
    margin-top: 15px;

    h4 {
      padding: 15px 0px 10px
    }
  }
}
.newsletter {
  padding: 0px 15px;

  .title {
    font-size: 18px;
    padding-bottom: 5px;
    background: #51c9d7;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .news-update {
    background: #f1f1f1;
    margin-bottom: 15px;
    padding: 15px;

    .captcha {
      background: #51c9d7;
      padding: 15px;
      margin-top: 15px;
      .input-box {
    margin-top: 18px;
}
    }
    .input-box {
      width: 100%;
      padding: 5px;
      border: 0px;
    }
  }
  .new-update-top {
    padding: 0px 0px 30px;
  }
  label {
    font-weight: 300;
    margin-top: 5px;
  }
  .bottom-button {
    margin: 20px auto 40px;
    width: 175px;

    .left {
      background: #ff4001 none repeat scroll 0 0;
      border: 0 none;
      color: #fff;
      font-size: 16px;
      margin-right: 10px;
      padding: 10px 15px;
    }
    .left:hover {
      background: #009bad none repeat scroll 0 0;
    }
    .right {
      background: #009bad none repeat scroll 0 0;
      border: 0 none;
      color: #fff;
      font-size: 16px;
      margin-right: 10px;
      padding: 10px 15px;
    }
    .right:hover {
      background: #ff4001 none repeat scroll 0 0;
    }
  }
}

/* ************************ 20-july-2017 ******************************* */

.login-box{

.orange-bar-outline{
  border: solid 5px #ff4001;
  margin-bottom: 30px;
  .left-sign{
    background-image: url(../../assets/images/sign-1.jpg);
    background-repeat: no-repeat;
    height: 327px;
    text-align: center;
    border: 0;
    padding-top: 50px;
    background-size: cover;
    margin: 0px;
    .head-title{
      color: #fff;
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 50px;
      min-height: 150px;
    }
    a{
      background: #ff4001;
      padding: 10px 28px;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 0;
      text-decoration: none;
      &:hover{
        background: #009bad;
        color: #fff;
      }
    }
    button[type="submit"]{
      background: #ff4001;
      padding: 10px 28px;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 0;
      text-decoration: none;
      border: 0;
      &:hover{
        background: #009bad;
        color: #fff;
      }
    }
  }
}

.orange-bar-outline{
  border: solid 3px #ff4001;
  margin-bottom: 30px;
  .right-sign{
    background-image: url(../../assets/images/sign-2.jpg);
    background-repeat: no-repeat;
    height: 327px;
    text-align: center;
    border: 0;
    padding-top: 50px;
    background-size: cover;
    margin: 0px;
    .head-title{
      color: #fff;
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 50px;
    }
    a{
      background: #ff4001;
      padding: 10px 28px;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 0;
      text-decoration: none;
      &:hover{
        background: #009bad;
        color: #fff;
      }
    }
    button[type="submit"]{
      background: #ff4001;
      padding: 10px 28px;
      display: inline-block;
      color: #fff;
      text-transform: uppercase;
      font-size: 20px;
      margin: 10px 0;
      text-decoration: none;
      border: 0;
      &:hover{
        background: #009bad;
        color: #fff;
      }
    }
  }
} 
  
  .top-hadding2{
      text-align: center;
      font-size: 18px;
      max-width: 900px;
      margin: 0 auto;
      line-height: 26px;
      font-style: italic;
  }

}

.principles-data{
  background-image: url(../../assets/images/principle-data.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 60px 0;
  .top-hadding2{
    text-align: center;
    font-size: 18px;
    max-width: 900px;
    margin: 0 auto;
    line-height: 28px;
    font-style: italic;
    color: #fff;
  }

  .four-course-block{
    margin-top: 50px;
    text-align: center;
    .course-image-box{
      overflow: hidden;
      &:hover img{
        transform: scale(1.2);
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
      }
    }
    .courses-block span {
        background: #009bad;
        display: block;
        padding: 14px 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 17px;
    }
  }

 .border-all{
   border: solid 1px #009bad;
   padding: 15px;
   margin: 50px 0;
  .principles2{
    background: #fff;
    border: 0;
    margin: 0;
    p{
      margin-bottom: 15px;
    }
     .price-test {
        line-height: 33px;
        font-weight: 300;
        font-size: 14px;
    }
    .title{
      background: transparent;
      padding: 0;
      margin-bottom: 15px;
      font-size: 24px;
      color: #333;
    }
    .amount{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin-top: 15px;
    }
    .course{
      color: #009bad;
      font-size: 18px;
      margin-bottom: 5px;
    }
    .price-test{
       ul{
          li{
            &:before{
              content: "\f101";
              font-family: FontAwesome;
              margin-right: 6px;
              color: #ff4001;
            }
            span{
              color: #ff4001;
            }
          }
       }
    }
  }
  }

  .principles-data-block{
    background: transparent;
    border: 0;
    margin: 50px 0;
    .sub-title{
      font-size: 36px;
      color: #fff;
      font-weight: bold;
    }
    .price{
      color: #ff4001;
      font-size: 30px;
      padding: 28px 0px;
    }
    .content-sub-title {
        color: #fff;
        font-size: 20px;
    }
    .yes-sign{
      padding: 20px 0;
      height: auto;
      .sign-me {
          color: #fff;
      }
    }
    .button{
      width: 220px;
      margin: 0 auto;
    }
  }

}

.footer-top{
  .contact-detail{
    ul{
      li{
        i{
          color: #ff4001;
          font-size: 19px;
        }
      }
    }
  }
}

.login-section{
  padding: 120px 0;
  background-image: url(../../assets/images/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  border-bottom: solid 1px #fff;
  position: relative;
  .transparent-bg{
     background-color: rgba(0,0,0,0.5);
     border-top:solid 9px #369bc8;
     padding: 20px;
     max-width: 500px;
     margin: 0 auto;
     margin-bottom: 30px;
     position: relative;
     .login-oval{
       width: 90px;
        height: 90px;
        background: #369bc8;
        position: absolute;
        top: -40px;
        left: -40px;
        border-radius: 50%;
        text-align: center;
        padding-top: 18px;
          .otp{
            i{
              font-size: 50px;
            }
          }
        i{
           font-size: 60px;
        }
     }
     input[type="text"]{
      background-color: rgba(255, 255, 255, 0.5);
      height: 45px;
      color: #000;
      border: 0;
      border-radius: 0;
      box-shadow: none;
     }
     input[type="password"]{
      background-color: rgba(255, 255, 255, 0.5);
      height: 45px;
      color: #000;
      border: 0;
      border-radius: 0;
      box-shadow: none;
     }
     input[type="submit"]{
      background-color: #369bc8;
      color: #fff;
      border: 0;
      border-radius: 0;
      font-size: 22px;
      text-transform: uppercase;
      text-align: center;
      padding: 14px 12px;
      width: 100%;
      box-shadow: none;
      font-weight: bold;
      margin-bottom: 10px;
      &:hover{
        background: #ff4001;
      }
     }
     
     .remember-forgot{
        margin: 20px 0;
       .common-left-side{
          float: left;
       }
       .common-right-side{
          float: right;
          a{
            color: #369bc8;
          }
       }
     }
     

     ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
       color: #000;
     }
     ::-moz-placeholder { /* Firefox 19+ */
       color: #000;
     }
     :-ms-input-placeholder { /* IE 10+ */
       color: #000;
     }
     :-moz-placeholder { /* Firefox 18- */
       color: #000;
     }
       
       h1{
         font-size: 44px;
         text-align: center;
         color: #ffffff;
         text-transform: uppercase;
         font-weight: bold;
         margin: 30px 0;
       }

       h2{
         font-size: 38px;
         text-align: center;
         color: #ffffff;
         text-transform: uppercase;
         font-weight: bold;
         margin: 30px 0;
       }

       .otp-content{
        .otp-section{
           margin: 40px 0 15px;
          .sub-title{
             font-size: 14px;
          }
          .otp-goback{
            float: right;
            a{
               color: #ff4001;
               text-decoration: none;
               text-transform: uppercase;
            }
          }
        }
        a{
          font-weight: bold;
          color: #ff4001;
          text-decoration: none;
          &:hover{
            text-decoration: none;
            color: #fff;
          }
        }
        p{
          margin: 0 0 15px;
        }

       }

       .resend-otp{
         float: right;
         margin-top: 20px;
         a{
            color: #ff4001;
            text-decoration: none;
         }
       }

  }

  .bottom-transparent{
     background-color: #000;
     border-bottom:solid 5px #369bc8;
     padding: 20px;
     max-width: 500px;
     margin: 0 auto;
     text-align: center;
     color: #fff;
     font-size: 20px;
     font-weight: 500;
     a{
        text-decoration: none;
        color: #369bc8;
        font-size: 20px;
        font-weight: 500;
     }
  }
}

.raise-ticket{
  padding: 100px 0;
  background-image: url(../../assets/images/raise-ticket.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff;
  h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
  }
}

.ask-us-ticket{
  padding: 80px 0 0;
  border-bottom: solid 1px #fff;
  .inner-page{
    margin-bottom: 30px;
    margin-top: 0;
    .bio{
      margin-top: 0;
      font-weight: bold;
    }
  }
   .author_reply {
      background: transparent;
      margin-bottom: 50px;
      padding: 21px 25px;
      position: relative;
      border: solid 1px #40b4c2;
      border-bottom: solid 4px #40b4c2;
      width: 100%;
      float: left;
      max-width: 800px;
      i {
          color: #40b4c2;
          display: block;
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 12px;
      }
      p {
          color: #000000;
          font-style: italic;
      }
      .arrow-down {
          width: 0;
          height: 0;
          border-left: 16px solid transparent;
          border-right: 16px solid transparent;
          border-top: 16px solid #1193bd;
          position: absolute;
          bottom: -19px;
          &:after{
                content: '';
                width: 0;
                height: 0;
                border-left: 21px solid transparent;
                border-right: 21px solid transparent;
                border-top: 21px solid #fff;
                position: absolute;
                top: -23px;
                left: -21px;
          }
      }
  }

  .user_reply {
      position: relative;
      background: #ff4001;
      margin-bottom: 50px;
      padding: 21px 25px;
      float: right;
      width: 100%;
      max-width: 693px;
      i {
          color: #fff;
          display: block;
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 12px;
      }
      p {
          color: #fff;
          font-style: italic;
      }
      .arrow-down {
        width: 0;
        height: 0;
          border-left: 16px solid transparent;
          border-right: 16px solid transparent;
          border-top: 16px solid #ff4001;
          position: absolute;
          right: 20px;
          bottom: -15px;  
      }
  }

.ask-bg{
  padding: 100px 0;
  background-image: url(../../assets/images/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  h3{
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px;
  }
  label{
    color: #fff;
    font-size: 16px;
    margin-bottom: 12px;
  }
  select{
    border:solid 1px #ffffff;
    background: transparent;
    height: 52px;
    color: #fff;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 20px;
    option{
      color: #303030;
    }
  } 
  input[type="text"]{
   background-color: transparent;
   height: 52px;
   color: #fff;
   border:solid 1px #fff;
   border-radius: 0;
   box-shadow: none;
  }
  textarea{
    height: 122px;
    background-color: transparent;
    color: #fff;
    border:solid 1px #fff;
    border-radius: 0;
    box-shadow: none;
    padding: 15px 12px;
  }

  .submit-send{
    background: #ff4001;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    padding: 12px 30px;
    border: 0;
    float: right;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }
}

}

.online-courses-section{
  padding: 80px 0;
  h2{
    font-size: 32px;
    text-transform: uppercase;
    color: #ff4001;
    margin-bottom: 20px;
  }
  .space-course-online{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .course-box-development{
    border: solid 1px #e1e1e1;
    padding: 20px;
    box-shadow: 0 5px 0 #fd4002;
    position: relative;
     .course-img-box{
        overflow: hidden;
        img {
            -webkit-transition: 0.4s ease;
            transition: 0.4s ease;
            &:hover{
              transform: scale(1.2);
            }
        }
     }
     .course-caption{
        text-align: center;
        font-size: 16px;
        padding: 20px 15px;
        position: absolute;
        bottom: 20px;
        background: rgba(0, 0, 0, 0.6);
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 318px;
        color: #fff;
          .sub-title{
            font-size: 15px;
            text-transform: uppercase;
            margin-bottom: 5px;
          }
          p{
            font-size: 12px;
          }
           a{
              background: #fd4002;
              color: #fff;
              font-size: 12px;
              text-decoration: none;
              padding: 5px 12px;
              display: inline-block;
              text-transform: capitalize;
              margin-top: 8px;
              &:hover{
                background: #009bad;
              }
           }
     }
  }
}

.online-courses-section-detail{
  padding: 80px 0;
   .deatil-img-box{
      border:solid 1px #e1e1e1;
      padding: 20px;
      box-shadow: 0 0 60px #c2c2c2;
   }
   .watch-now-btn{
    background: #ff4001;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 24px;
    color: #fff;
    font-weight: bold;
    width: 380px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    span {
        vertical-align: middle;
        display: inline-block;
        i{
          font-size: 24px;
        }
        img{
          margin-right: 5px;
        }
    }
    &:hover{
      background: #009bad;
      text-decoration: none;
    }
   }
   .deatil-content-box{
      h2{
        color: #ff4001;
        font-size: 22px;
        text-transform: uppercase;
        margin-bottom: 25px;
        margin-top: 0;
      }
      strong{
        font-size: 16px;
        color: #2249a3;
        margin-bottom: 25px;
        display: block;
      }
      p{
        margin-bottom: 20px;
        line-height: 24px;
      }
      ul{
        margin: 0 0 20px;
        padding: 0;
        list-style: none;
        li{
           padding-bottom: 10px;
          &:before{
            content: "\f105";
            font-family: FontAwesome;
            font-size: 16px;
            margin-right: 5px;
          }
        }
      }
      .read-more{
        background: #ff4001;
        font-size: 22px;
        text-transform: uppercase;
        text-align: center;
        display: inline-block;
        padding: 15px 24px;
        color: #fff;
        font-weight: bold;
        &:hover{
          background: #009bad;
          text-decoration: none;
        }
      }
   }
}

.indicator {
  .good{
    font-weight: bold;
  }
}
.req {
    color: #f00;
}
.required-server{
  color: #f00;
}
.textqty1 {
  label {
      padding-bottom: 10px;
      color: #ff4001;
      font-weight: bold;
  }
}

.partners-top-bar{
  padding: 100px 0;
  background-image: url(../../assets/images/partners.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff;
  h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
  }
}
.partners-section{
  padding: 80px 0;
  .partner-bottom-space{
    margin-bottom: 5px;
    &:last-child{
      margin-bottom: 0;
    }

    .partner-block{
       font-size: 16px;
       color: #fd4002;
       text-align: center;
       a{
        color: #fd4002;
        padding: 10px 0;
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
       }
    }
  
    .partner-box{
     border: solid 1px #e1e1e1;
     padding: 20px;
     position: relative;
     overflow: hidden;
     -webkit-transition:0.5s;
     transition: 0.5s;
     cursor: pointer;


     &:hover{
      img{
         -webkit-transition: 0.4s ease;
         transform: scale(1.2);
      }
        -webkit-transform: scale(1);
      .caption-box{
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(0,0,0,0.5);
        display: block;
        height: 100%;
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
        width: 100%; 
        -webkit-transform: scale(1); 
      }
     }

    .caption-box{
      position: absolute;
      top: 0;
      right: 0;
      background: rgba(0,0,0,0.4);
      display: none;
          height: 100%;
    }
     .sub-title {
         font-size: 16px;
         text-transform: uppercase;
         font-weight: bold;
         margin-bottom: 15px;
         color: #ff4001;
         text-align: center;
     }

     p {
         text-align: center;
         margin-bottom: 15px;
     }
    a{
      background: #fd4002;
      padding: 8px 12px;
      display: block;
      color: #fff;
      text-align: center;
      text-transform: capitalize;
      text-decoration: none;
      font-weight: bold;
      font-size: 15px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 auto;
      margin-top: 80px;
      i{
        padding-top: 10px;
      }
      &:hover{
        background: #0096a7;
        text-decoration: none;
      }
    }
   }
}
}

.training-top-bar{
  padding: 100px 0;
  background-image: url(../../assets/images/service-training.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff;
  h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
  }
}

.training-bar-section{
  padding: 80px 0;
  h2{
     color: #ff4001;
     font-size: 36px;
     text-transform: uppercase;
     margin-bottom: 25px;
     margin-top: 0;
     text-align: center;
  }
  p{
    margin-bottom: 15px;
  }
  .training-bar-content{
    h3{
      font-size: 20px;
    color: #2249a3;
    margin-bottom: 20px;
    display: block;
    }
    .regulation-video-btn{
     background: #ff4001;
     font-size: 17px;
     text-transform: uppercase;
     text-align: center;
     padding: 15px 24px;
     color: #fff;
     font-weight: bold;
     display: inline-block;
     margin-top: 10px;
     &:hover{
      background: #009bad;
      text-decoration: none;
     }
    }
  }
  ul{
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
      li{
          padding: 0 0 5px;
        &:before{
          content: "\f101";
          font-family: FontAwesome;
          margin-right: 6px;
        }
      }
  }
}


.training-person-bar{
  padding: 70px 0;
  background-image: url(../../assets/images/countdown-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: solid 1px #fff;
  text-align: center;
  .trainer-box{
      text-align: center;
    .trainer-box-img{
       width: 250px;
       height: 250px;
       margin: 0 auto;
       border-radius:50%;
       border: solid 2px #ff4001;
       overflow: hidden;
       margin-bottom: 20px;
       img{
          border-radius: 50%;
       }
       &:hover{
         border: solid 2px #009bad;
       } 
    }
    span{
       font-size: 24px;
       color: #fff;
       text-transform: uppercase;
    }
  }
  .col-md-3.col-sm-3 {
      float: none;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      margin-bottom: 20px;
  }
}

.consulting-section{
  padding: 100px 0;
  background-image: url(../../assets/images/consulting.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff;
  h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
  }
}
.consultancy-section{
  padding: 80px 0;
  h2{
    color: #ff4001;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 25px;
    margin-top: 0;
    text-align: center;
  }
  .consult-space{
     margin: 40px 0 20px;
    .consult-icons-box{
      text-align: center;
      i{
        background: #2448a3;
        width: 90px;
        height: 90px;
        display: inline-block;
        margin: 0 auto;
        color: #fff;
        font-size: 46px;
        border-radius: 50%;
        padding-top: 22px;
      }
      .sub-title {
          font-size: 20px;
          margin: 15px 0;
      }
    }
  }
  
}

.consultancy-edge{
  text-align: center;
  padding: 60px 0;
  color: #fff;
  background:#ff4001;
  .title {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 25px;
  }
}

.consultancy-empowers{
  text-align: center;
  padding: 80px 0;
   h3{
      font-size: 36px;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 25px;
  }
  p{
    max-width: 680px;
    margin: 0 auto;
  }
  .empower-img-section{
    margin-top: 30px;
    .overdraft{
      overflow: hidden;
      img{
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
        &:hover{
          transform: scale(1.2);
        }
      }
    }
  }

}

.auditing-heading{
  padding: 100px 0;
  background-image: url(../../assets/images/audit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff;
  h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
  }
}

.auditing-section{
  padding: 80px 0;
  h2{
    font-size: 26px;
    margin-top: 0;
    color: #ff4001;
    margin-bottom: 15px;
  }
  p{
    margin-bottom: 15px;
  }
}

.audit-icons-block{
   background: #ff4001;
   color: #fff;
   padding: 50px 0;
  .audit-icons-box{
    text-align: center;
    i{
      background: #2448a3;
      width: 90px;
      height: 90px;
      display: inline-block;
      margin: 0 auto;
      color: #fff;
      font-size: 46px;
      border-radius: 50%;
      padding-top: 22px;
    }
    .sub-title {
        font-size: 20px;
        margin: 15px 0;
    }
  }
}

.our-trainer-top{
  padding: 100px 0;
  background-image: url(../../assets/images/our-trainers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff;
  h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
  }
}

.our-trainers-section{
  padding: 80px 0;
    h2 {
       color: #ff4001;
       font-size: 36px;
       text-transform: uppercase;
       margin-bottom: 25px;
       margin-top: 0;
       text-align: center;
   }
   p{
    i{
      text-align: center;
      display: block;
      font-weight: bold;
      margin-bottom: 30px;
    }
   }

   .trainers-block{
      .work-box{
        padding: 20px 0px 10px;
        margin-bottom: 40px;
        height: 330px;
        overflow: hidden;
        text-align: center;
        a{
          transition: all 0.7s ease 0s;
          display: block;
          .icons{
            width: 206px;
            height: 206px;
            overflow: hidden;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            -o-border-radius: 50%;
            display: block;
            margin: 0 auto;
            border: solid 2px #ff4001;
          }
          h4{
            margin: 5px 0px;
            border: 1px solid #fff;
            color: #198db3;
            padding: 12px 0;
            font-size: 25px;
            text-transform: uppercase;
          }
           span {
              display: block;
              font-size: 16px;
              color: #303030;
              font-weight: normal;
              text-transform: capitalize;
          }
          p{
            color: #7d8694;
            font-size: 15px;
            margin: 10px 0px;
            font-weight: 400;
            font-style: italic;
            line-height: 18px;
            display: none;
          }
          &:hover{
            transform: translate(0px, -226px);
            h4 {
                border: 2px solid #58b3d1;
                margin-bottom: 10px;
                color: #198db3;
                border-radius: 5px;
            }
            p{
              display: block;
            }
          }
        }
      }
   }
}

.contrary-trainers{
  padding: 100px 0;
  background-image: url(../../assets/images/trainers-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  background-attachment: fixed;
  color: #fff;
  .title{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: bold;
  }
  p{
    margin-bottom: 20px;
  }
  a{
      background: #ff4001;
      padding: 10px 18px;
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      display: inline-block;
      font-size: 15px;
      &:hover{
        background:#009bad;
        text-decoration: none;
      }
  }
}

.trainers-bottom{
  padding: 80px 0;
  ul{
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
    li{
       margin: 0;
       padding: 0 0 8px;
       &:before{
          content: "\f101";
          margin-right: 5px;
          font-family: FontAwesome;
          color: #ff4001;
       }
    }
  }
  p{
    margin-bottom: 15px;
  }
}

.selling-top-bar{
  padding: 100px 0;
  background-image: url(../../assets/images/selling.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff;
  h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
  }
}

.selling-bar-section{
  padding: 80px 0;
  h2{
    font-size: 30px;
    color: #ff4001;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
  }
  strong{
    font-size: 22px;
    margin-bottom: 20px;
    display: block;
  }
  p{
    margin-bottom: 20px;
  }
  ul{
    margin: 0 0 15px;
    padding: 0;
    list-style: none;
    li{
       margin: 0;
       padding: 0 0 8px;
       &:before{
          content: "\f101";
          margin-right: 5px;
          font-family: FontAwesome;
          color: #ff4001;
       }
    }
  }
  .title{
     font-size: 22px;
     margin-bottom: 20px;
    &:before{
        color: #ff4001;
        content: "\f0a9";
        margin-right: 5px;
        font-family: FontAwesome;
    }
  }

}

.selling-conditions{
  padding: 60px 0;
  background-image: url(../../assets/images/countdown-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  h2{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: bold;
  }
  strong{
    font-size: 22px;
    margin-bottom: 20px;
    display: block;
    color:#fff;
  }
  p{
    margin-bottom: 20px;
    color:#fff;
  }
  ul{
    margin: 0 0 15px; 
    padding: 0;
    list-style: none;
    li{
       margin: 0;
       padding: 0 0 8px;
       color:#fff;
       &:before{
          content: "\f101";
          margin-right: 5px;
          font-family: FontAwesome;
          color:#fff;
       }
    }
  }
}

.pricing-top-bar{
  padding: 100px 0;
  background-image: url(../../assets/images/pricing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: #fff;
  h1{
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
  }
}

.pricing-section{
  padding: 80px 0;
  text-align: center;
}
.pricing-hero{
  padding: 60px 0;
  background-image: url(../../assets/images/countdown-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: solid 1px #fff;
   h3{
     font-size: 30px;
     color: #fff;
     text-transform: uppercase;
     margin-bottom: 20px;
     font-weight: bold;
     text-align: center;
   }
   strong{
    color: #ff4001;
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
   }
   p{
    color: #fff;
   }
}

.personalise-course{
  padding: 60px 0;
  background-image: url(../../assets/images/login-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
    .personalise-icons-box{
      text-align: center;
        i{
          background: #2448a3;
          width: 90px;
          height: 90px;
          display: inline-block;
          margin: 0 auto;
          color: #fff;
          font-size: 46px;
          border-radius: 50%;
          padding-top: 22px;
        }
        .sub-title {
            font-size: 20px;
            margin: 15px 0;
            color: #fff;
        }
        p{
          color: #fff;
        }
    } 
}
.check-list-course{
  ul{
    li{
      &:before{
        font-family:FontAwesome;
        content: "\f00c";
        color: #ff4001;
        margin-right: 8px;
      }
    }
  }
}

.success-message{
  background:#ff4001;
  padding: 20px 0;
  text-align: center;
  .tick-success{ 
     .tick{
        background: transparent;
        border: solid 1px #fff;
        width: 80px;
        height: 80px;
        margin: 0 auto;
        text-align: center;
        font-size: 48px;
        color: #fff;
        border-radius: 50%;
        i{
          padding-top: 16px;
        }
     }
  }
  .heading-top-center{
    color: #fff;
    font-size: 26px;
    padding-top: 33px;
    text-transform: uppercase;
    text-align: left;
    font-weight: bold;
  }
}
.success-box{
  .message{
    margin: 0;
    padding-bottom: 30px;
    h3{
      color: #009bad;
      font-size: 24px;
      text-transform: uppercase;
      margin: 30px 0 12px;
    }
    p{
        &:before{
          font-family:FontAwesome;
          content: "\f105";
          margin-right: 10px;
        }
    }
    .col-md-12{
      padding: 0;
    }
  }
}

.captcha-section{
  .captcha-image {
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;
  }
  .captcha-input-box {
      display: inline-block;
      vertical-align: middle;
      .input-box {
          margin-bottom: 15px;
          margin-top: 15px;
          width: 320px;
          font-size: 12px;
      }
  }
}

/* ************************ 20-july-2017 ******************************* */

@media (max-width:1199px) and (min-width:980px) {

.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}
header .navbar-nav li a {
    padding: 22px 12px;
    font-size: 14px;
}
header .navbar-nav li.open a {
    padding: 22px 12px;
}
body .slide-text {
    top: 50px;
    bottom: 0;
}
body .slider .slide-text .slide-text1 h1 {
    font-size: 28px;
    margin-bottom: 5px;
}
body .slider .slide-text .slide-text1 p {
    font-size: 25px;
    margin-bottom: 10px;
}
body .slider .slide-text .slide-text1 {
    margin-bottom: 15px;
}
.slider .bulletin .bulletin-txt {
    font-size: 26px;
    padding: 22px;
}
.slider .bulletin .bulletin-cont {
    padding: 36px 0;
    min-height: 95px;
}
.slider .bulletin .bulletin-cont a {
    font-size: 26px;
    padding-top: 0;
}
.slider .bulletin .bulletin-txt p {
    font-size: 18px;
}
.services .services-box h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.services .services-box p {
    padding: 0 10px;
}
.about .about-box h2 {
    font-size: 20px;
    margin-top: 15px;
}
.about .about-box p {
    padding: 8px 15px;
}
.watch-video .watch-video1 {
    font-size: 15px;
    padding: 16px 20px 16px 110px;
}
.slider .bulletin .bulletin-txt {
    min-height: 95px;
}
footer .contact-de span {
    color: #ffffff;
    float: left;
    width: 180px;
    font-size: 13px;
}

}


@media (min-width:768px) and (max-width:991px) {
  header {
    .navbar-brand {
      padding: 0;
      width: 200px;
    }
    .navbar {
      margin-bottom: 0px;
      border: none;
    }
    .navbar-nav {
      float: right;
      margin-right: -15px;

      li {
        a {
          padding: 18px 6px;
          font-size: 12px;
          padding-bottom: 0;

          &:hover, &:focus {
            border-bottom: 7px solid $red-dark-color;
            padding-bottom: 14px;
          }
          &.active {
            border-bottom: 7px solid $red-dark-color;
            padding-bottom: 14px;
          }
        }
      }
    }
  }
  .slider {
    .carousel-indicators {
      display: none;
    }
    .slide-text {
      padding: 10px 0;
      top: 50px;

      .slide-text1 {
        padding: 12px 0;
        margin-bottom: 10px;

        h1 {
          font-size: 20px;
              font-weight: 600;
              margin-bottom: 5px;
              line-height: 20px;
        }
        p {
          font-size: 16px;
          font-weight: 400;
          margin-bottom: 0;
        }
      }
      .btn-default {
        font-size: 16px;
        font-weight: 400;
        padding: 6px 16px;
      }
    }
    .bulletin {
      .bulletin-txt {
        font-size: 22px;
        padding: 15px;
        min-height: 77px;

        h3 {
          font-weight: 600;

          span {
            font-weight: 400;
          }
        }
        p {
          font-size: 16px;
        }
      }
      .bulletin-cont {
        padding: 25px 10px 10px 10px;
        min-height: 77px;

        a {
          font-size: 18px;
          text-transform: uppercase;
        }
      }
    }
  }
  .services {
    padding: 55px 0;

    .services-box {
      border: 1px solid #efefef;
      padding: 5px;

      p {
        padding: 0px;
      }
      h2 {
        font-size: 14px;
      }
      img {
        width: 70px;
      }
    }
  }
  .entery-header {
    h2 {
      font-size: 22px;
      margin-bottom: 50px;
      padding-bottom: 10px;
    }
  }
  .online-courses {
    .courses-text {
      padding: 6px;
      font-size: 12px;
      line-height: 14px;
      margin-right: 15px;
      padding: 13px;
    }
  }
  .online-courses {
    padding: 55px 0px;

    .courses-text {
      font-size: 12px;
      padding: 5px;
    }
    .cor-title {
      font-size: 12px;
    }
  }
  .about {
    padding: 55px 0px;

    .about-box {
      padding: 5px;

      h2 {
        font-size: 16px;
        margin-top: 5px;
      }
      p {
        color: #f7f7f7;
        padding: 5px 15px;
      }
    }
  }
  footer {
    padding: 40px 0px 0px;
    font-size: 12px;

    .foot-links > p {
      padding-top: 13px;
    }
    .foot-links {
      h4 {
        font-size: 16px;
      }
      .links {
        padding-top: 15px;

        li {
          margin-bottom: 10px;
          padding-left: 25px;

          a {
            color: #fff;
          }
        }
      }
    }
    .comp-name {
      font-size: 12px;
      padding: 10px 0;
    }
    .contact-de {
      span {
        word-break: break-all;
      }
      label {
        padding-right: 6px;
      }
    }
    .copyright {
      margin-top: 34px;
      padding: 10px 0;
    }
  }
  .inner-page {
    .bio {
      font-size: 16px;
      padding: 10px;
      margin-top: 20px;
    }
    .about-bott {
      padding: 20px;
      margin-bottom: 20px;
    }
    .about-footer {
      padding: 10px 0px 20px;

      .about-footer1 {
        padding: 20px;

        .have-u {
          padding: 30px 0px;
        }
        .have-n {
          margin-bottom: 28px;
          font-size: 18px;
          padding: 6px;

          .normal-t {
            font-weight: 300;
          }
        }
      }
    }
  }
  .top-banner {
    h3 {
      font-size: 20px;
      padding-bottom: 50px;
      padding-top: 50px;
    }
  }
  .contact-us {
    .add-bg {
      word-break: break-all;
    }
  }
  .contact-foram {
    padding: 40px 0 50px;
  }
  .login-box {
    .left-sign {
      width: 100%;
    }
    .right-sign {
    }
  }
  .slider .bulletin .bulletin-cont a {
      padding-top: 5px;
  }
  .services .services-box {
      min-height: 210px;
  }
  .services .services-box h2 {
    font-size: 14px;
    margin-top: 15px;
  }
  .services .services-box p {
      padding: 0px;
      font-size: 12px;
  }
  body .indicators-line > .carousel-indicators {
      bottom: 85px;
      display: block;
  }
  body .indicators-line > .carousel-indicators li {
      width: 12px;
      height: 12px;
  }
  .control-round .carousel-control.left {
      left: 1%;
      display: none;
  }
  .control-round .carousel-control.right {
      right: 1%;
      display: none;
  }
  footer .contact-de span {
      color: #ffffff;
      float: left;
      width: 180px;
      font-size: 13px;
  }
  footer .contact-de span {
      width: 110px;
  }
  header .navbar-nav li.open a {
      padding: 18px 6px;
  }
  header .navbar-nav li.open a:hover, header .navbar-nav li.open a:focus {
      border-bottom: 7px solid #db3a04;
  }

}

@media (max-width:767px) {
  header {
    .navbar-brand {
      padding: 0;
      width: 154px;
    }
    .navbar {
      margin-bottom: 0px;
      border: none;
      padding: 0px;
    }
    .icon-bar {
      background: $red-dark-color;
    }
    .navbar-nav {
      float: right;
      margin-right: -15px;
      margin: 0;
      width: 100%;
      background: #dae6e6;

      li {
        a {
          padding: 8px 0;
          font-size: 12px;
          background: #ff4001;
          margin-bottom: 1px;
          color: #fff;
          text-align: center;
          border-bottom: 0;
          position: relative;
          &.has-submenu{
            &:before{
              content:"+";
              position: absolute;
              right: 20px;
            }

          }

          &:hover, &:focus {
            border-bottom: 0px solid $red-dark-color;
            padding-bottom: 5px;
          }
          &.active {
            border-bottom: 0px solid $red-dark-color;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
  .inner-page {
    .hadding-top {
      font-size: 18px;
    }
  }
  .slider {
    .carousel-indicators {
      display: none;
    }
    .slide-text {
      padding: 10px 0;
      top: 3%;

      .slide-text1 {
        padding: 3px;
        margin-bottom: 0px;
        line-height: 1px;

        h1 {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 0px;
        }
        p {
          font-size: 12px;
          margin-bottom: 5px;
        }
      }
      .btn-default {
        font-size: 18px;
        font-weight: 400;
        padding: 6px 10px;
      }
    }
    .bulletin {
      .bulletin-txt {
        font-size: 16px;
        padding: 5px;

        p {
          font-size: 14px;
          line-height: 20px;
        }
      }
      .bulletin-cont {
        padding: 13px 10px 10px;
        min-height: 48px;

        a {
          font-size: 14px;
          text-transform: uppercase;
        }
      }
    }
  }
  .services {
    margin: 15px 0px;
    padding: 30px 0;

    .services-box {
      border: 1px solid #efefef;
      margin: 0 auto 5px;
      padding: 5px;
      width: 290px;

      p {
        padding: 0px;
      }
      h2 {
        font-size: 14px;
        margin-bottom: 10px;
      }
      img {
        width: 70px;
      }
    }
  }
  .entery-header {
    h2 {
      font-size: 22px;
      margin-bottom: 30px;
      padding-bottom: 10px;
    }
  }
  .online-courses {
    .courses-text {
      padding: 6px;
      font-size: 12px;
      line-height: 14px;
      margin-right: 15px;
      padding: 13px;
    }
  }
  .online-courses {
    padding: 30px 0px;

    .courses-text {
      font-size: 12px;
      padding: 5px;
    }
    .cor-title {
      font-size: 12px;
    }
    .about-box {
      margin: 0 auto;
      width: 290px;
    }
  }
  .about {
    padding: 30px 0px;

    .about-box {
      padding: 5px;
      width: 290px;
      margin: 0px auto;

      h2 {
        font-size: 16px;
        margin-top: 5px;
      }
      p {
        color: #f7f7f7;
        padding: 5px 15px;
      }
    }
  }
  footer {
    padding: 30px 0px 0px;
    font-size: 12px;

    .foot-links > p {
      padding-top: 13px;
    }
    .foot-links {
      margin-bottom: 15px;

      h4 {
        font-size: 16px;
      }
      .links {
        padding-top: 15px;

        li {
          margin-bottom: 10px;
          padding-left: 25px;

          a {
            color: #c8c8c8;
          }
        }
      }
    }
    .comp-name {
      font-size: 12px;
      padding: 10px 0;
    }
    .contact-de {
      span {
        word-break: break-all;
      }
      label {
        padding-right: 6px;
      }
    }
    .copyright {
      margin-top: 30px;
      padding: 10px 0;
    }
  }
  .watch-video {
    padding: 30px 0;

    .watch-video1 {
      font-size: 13px;
      padding: 11px 20px 11px 70px;
      background-size: 80px 100%;
    }
  }
  .inner-page {
    .bio {
      font-size: 16px;
      padding: 10px;
      margin-top: 20px;
    }
    .about-bott {
      padding: 20px;
      margin-bottom: 20px;
    }
    .about-footer {
      padding: 10px 0px 20px;

      .about-footer1 {
        padding: 20px;

        .have-u {
          padding: 30px 0px;
        }
        .have-n {
          margin-bottom: 28px;
          font-size: 18px;
          padding: 6px;

          .normal-t {
            font-weight: 300;
          }
        }
      }
    }
  }
  .top-banner {
    h3 {
      font-size: 19px;
      padding-top: 20px;
      text-align: center;
    }
  }
  .inner-page {
    p {
      font-weight: 400;
      padding: 20px 0;

      .about-footer1 {
        .about-bott {
          margin-bottom: 10px;
          padding: 10px;
        }
      }
      .have-u {
        padding: 10px 0;
      }
    }
    .bio {
      background-size: 20px 100%;
      margin-top: 0px;
    }
    .about-footer {
      background: #e8e8e8;
    }
  }
  .top-banner {
    margin-bottom: 15px;
  }
  .login-f {
    padding: 15px;
  }
  .how-work {
    .right-how {
      float: none;
    }
  }
  .sign-up-foram {
    #accordion {
      padding: 0px 15px;
    }
    .how-do {
      padding: 0px 15px;
    }
  }
  .login-box {
    .left-sign {
    }
    .right-sign {
    }
  }

  .services .services-box {
      padding: 20px 10px;
      margin-bottom: 20px;
  }
  .services .services-box h2 {
      font-size: 18px;
      margin-bottom: 15px;
      margin-top: 15px;
  }
  .online-courses {
      background-size: cover;
  }
  .courses-img-box {
      margin-bottom: 20px;
  }
  .slider .bulletin {
      position: relative;
      bottom: 0;
      width: 100%;
      text-align: center;
  }
  .slider .bulletin .col-xs-8, .slider .bulletin .col-xs-4 {
      width: 100%;
      padding: 15px 15px;
      font-size: 20px;
  }
  .slider .bulletin .bulletin-txt h3 {
    margin-bottom: 5px;
   }
  .slider .bulletin .bulletin-cont a {
      padding-top: 0;
  }
  .slider .slide-text {
      padding: 10px 0;
      bottom: 0;
      top: auto;
  }
  .slider .bulletin .bulletin-cont a {
      font-size: 16px;
  }
  .slider .slide-text .slide-text1 {
      padding: 5px 0;
      margin-bottom: 8px;
      line-height: 8px;
  }
  .contact-de > li {
      word-break: break-all;
      clear: both;
      display: block;
  }
  header .navbar-nav li.open a:hover, header .navbar-nav li.open a:focus {
      background: #ff4001;
      border-bottom: 0;
      color: #f7f7f7;
      padding: 8px 0;
      font-weight: bold;
  }
  header .navbar-nav li.open a {
      background: #ff4001;
      border-bottom: 0;
      color: #fff;
      padding: 8px 0;
  }
  header .navbar-nav li .drop-menu-bar {
      width: 100% !important;
      border-radius: 0;
  }
  header .navbar-nav li .drop-menu-bar li {
      border-bottom: 0;
  }

}

@media(min-width:320px) and (max-width:480px) {
  .slider .slide-text .btn-default {
      font-size: 12px;
      font-weight: 400;
      padding: 10px 10px;
  }
}