.u-vmenu ul li {
	width: 100%;
	list-style: none;
}
.u-vmenu ul { padding-left: 0px; }
.u-vmenu ul ul{
	display: none;
	padding-left: 0px;
	background: #fcfcfc;
}
.u-vmenu ul li ul li a{
	border-bottom: 1px solid #f1f1f1;
}
.u-vmenu > ul > li {
	/*background: url(../img/vmenu/zakladka.png) left top no-repeat;*/
	background-size: 100% auto;
	background: #fff;
	border-bottom: 1px solid #f1f1f1;
}

.u-vmenu ul li a {
	height: 30px;
	line-height: 30px;
	display: block;
	font-size: 14px;
	color: #707070;
	text-decoration: none;
	outline: none;
}
.skin-blue .u-vmenu .treeview-menu > li.active > a, .skin-blue .u-vmenu .treeview-menu > li > a:hover {
    color: #000;
}
.skin-blue .u-vmenu .treeview-menu > li > a {
    color: #333;
}
.u-vmenu > ul > li > a {
	height: 42px;
	line-height: 42px;
	padding-left: 20px;
}
.u-vmenu > ul > li > ul > li > a {
	padding-left: 30px;
    background-color: rgba(215, 228, 234, 0.8);
}
.u-vmenu > ul > li > ul > li > ul > li > a {
	padding-left: 45px;
    background-color: rgba(215, 228, 234, 0.7);
}
.u-vmenu > ul > li > ul > li > ul > li > ul > li > a {
	padding-left: 60px;
    background-color: rgba(215, 228, 234, 0.6);
}
.u-vmenu > ul > li > ul > li > ul > li > ul > li > ul > li > a {
	padding-left: 75px;
    background-color: rgba(215, 228, 234, 0.5);
}
.u-vmenu > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > a  {
	padding-left: 95px;
    background-color: rgba(215, 228, 234, 0.4);
}
.u-vmenu > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > a  {
	padding-left: 110px;
    background-color: rgba(215, 228, 234, 0.3);
}
.u-vmenu > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > a  {
	padding-left: 125px;
    background-color: rgba(215, 228, 234, 0.2);
}
.u-vmenu > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > a  {
	padding-left: 140px;
    background-color: rgba(215, 228, 234, 0.1);
}
.u-vmenu > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > a  {
	padding-left: 155px;
    background-color: rgba(215, 228, 234, 0.09);
}
.u-vmenu > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > a  {
	padding-left: 170px;
    background-color: rgba(215, 228, 234, 0.06);
}
.u-vmenu > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > a  {
	padding-left: 185px;
    background-color: rgba(215, 228, 234, 0.03);
}
.u-vmenu > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > a  {
	padding-left: 200px;
    background-color: rgba(215, 228, 234, 0.02);
}



.u-vmenu ul li a[data-option='on']{
	background: url(../img/vmenu/on.png) right center no-repeat;
}
.u-vmenu ul li a[data-option='off'] {
	background: url(../img/vmenu/off.png) right center no-repeat;
}
.u-vmenu ul li a.active, .u-vmenu ul li a:hover { color: #000 !important; background-color: #c1dae6 !important; }
.u-vmenu ul li ul li a.active, .u-vmenu ul li ul li a:hover { color: #000 !important; background-color: #d7e4ea !important; }
.u-vmenu > ul.treeview-menu {
    border: 1px solid #fff;
    border-radius: 5px;
    border-top: 3px solid #3c8dbc;
}

ul li.lavel1.parent_level, .u-vmenu ul li.parent_level a.active, .u-vmenu ul li.parent_level a:hover {
 background: #3c8dbc !important;
}
ul li.lavel1.parent_level a {
 color: #fff !important;
 font-size: 16px;
}