@import "variables";
@import "mixin";

@media (min-width:992px) and (max-width:1199px) {
	header {
		.head-mid {
			.head-right {
				.call {
					margin-left: 21px;
					font-size: 24px;

					span {
						font-size: 21px;
					}
				}
				.search-from {
					max-width: 372px;

					form.form-search {
						input.form-control {
							max-width: 322px;
						}
					}
				}
			}
		}
		.head-main {
			.sidebar-nav {
				max-width: 209px;

				ul {
					li {
						a.Currency {
							font-size: 13px;
							padding: 7px 14px;
						}
						ul {
							li {
								a {
									padding: 0 15px;
								}
								ul {
									left: 209px;
								}
							}
						}
					}
				}
			}
			.navigation {
				.navbar {
					.navbar-collapse {
						.navbar-nav {
							li {
								a {
									font-size: 14px;
									padding: 17px 10px;
								}
							}
						}
					}
				}
			}
		}
		.mini-cart {
			max-width: 183px;

			a {
				font-size: 14px;
				padding: 23px 11px;

				i {
					font-size: 19px;
				}
			}
		}
	}
	.slider-zone {
		.carousel-inner {
			.item {
				.carousel-caption {
					padding-top: 4%;
				}
			}
		}
	}
	.our-services {
		.services-section {
			ul {
				li {
					max-width: 243px;

					a {
						padding: 0 0px;

						h3 {
							font-size: 19px;
						}
					}
				}
			}
			ul#test {
				li.list-2 {
					left: -29px;
					top: 52px;
				}
				li.list-3 {
					left: -29px;
					top: 177px;
				}
			}
			ul#test1 {
				li.list-1 {
					left: 27px;
					top: 122px;
				}
				li.list-2 {
					left: 30px;
					top: 274px;
				}
				li.list-3 {
					top: 446px;
					right: 343px;
				}
			}
			.bigcircle {
				width: 550px;
				margin: 0 auto;
				height: 550px;
				background-position: center top;
				background-size: cover;
			}
		}
	}
	#footer-sec {
		.footer-top {
			ul.social {
				li {
					margin-right: 0px;
				}
			}
		}
	}
}
@media (min-width:768px) and (max-width:991px) {
	header {
		.head-mid {
			.head-right {
				.call {
					margin-left: 0px;
					font-size: 24px;
					float: right;
					margin-bottom: 13px;

					span {
						font-size: 21px;

						i {
							font-size: 27px;
						}
					}
				}
				.search-from {
					max-width: 372px;

					form.form-search {
						input.form-control {
							max-width: 322px;
						}
					}
				}
			}
		}
		.head-main {
			.sidebar-nav {
				max-width: 209px;

				ul {
					li {
						a.Currency {
							font-size: 13px;
							padding: 7px 14px;
						}
						ul {
							li {
								a {
									padding: 0 15px;
								}
								ul {
									left: 209px;
								}
							}
						}
					}
				}
			}
			.navigation {
				.navbar {
					.navbar-collapse {
						.navbar-nav {
							li {
								a {
									font-size: 13px;
									padding: 17px 9px;
								}
							}
						}
					}
				}
			}
		}
		.mini-cart {
			max-width: 100%;
			display: inline-block;
			margin-top: 0px;

			&:before {
				display: none;
			}
			a {
				font-size: 14px;
				padding: 11px 11px;
				text-align: center;

				i {
					font-size: 19px;
					float: none;
					display: inline-block;
				}
			}
		}
	}
	.slider-zone {
		.carousel-inner {
			.item {
				.carousel-caption {
					padding-top: 4%;

					h1 {
						font-size: 23px;
						line-height: 33px;
					}
				}
			}
		}
	}
	.our-services {
		.services-section {
			ul {
				li {
					max-width: 195px;

					.circle-box {
						width: 120px;
						text-align: center;
						height: 120px;

						.icon {
							img {
								width: 35px;
							}
						}
						h4 {
							font-size: 13px;
						}
					}
					a {
						padding: 0 0px;

						h3 {
							font-size: 15px;
						}
					}
				}
			}
			ul#test {
				li.list-1 {
					left: 265px;
					top: -120px;

					.circle-box {
						left: -130px;
						top: -12px;
					}
				}
				li.list-2 {
					left: -29px;
					top: -44px;

					.circle-box {
						left: 35px;
						top: -134px;
					}
				}
				li.list-3 {
					left: -29px;
					top: 92px;

					.circle-box {
						left: 37px;
						top: -127px;
					}
				}
			}
			ul#test1 {
				li.list-1 {
					left: 27px;
					top: 39px;

					.circle-box {
						left: 33px;
						top: -131px;
					}
				}
				li.list-2 {
					left: 30px;
					top: 186px;

					.circle-box {
						left: 35px;
						top: -135px;
					}
				}
				li.list-3 {
					top: 252px;
					right: 262px;

					.circle-box {
						left: -110px;
						top: -20px;
					}
				}
			}
			.bigcircle {
				width: 400px;
				margin: 0 auto;
				height: 400px;
				background-position: center top;
				background-size: cover;

				.circle-content {
					padding-top: 73px;
					max-width: 300px;

					h4 {
						font-size: 17px;
					}
					p {
						font-size: 15px;
						font-weight: 400;
						line-height: 22px;
					}
					.title {
						h3 {
							font-size: 17px;
							margin-bottom: 37px;
						}
					}
				}
			}
		}
	}
	.document-search {
		.document-box {
			padding: 0 19px;

			h2 {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 15px;
				margin-top: 15px;
			}
			p {
				font-size: 15px;
				line-height: 24px;
				margin-bottom: 32px;
			}
		}
	}
	.pricing-section {
		.pricing-box {
			.pricing-panel {
				padding: 0 11px;

				span.sign {
					margin-right: 0px;
				}
				span.price {
					font-size: 57px;
				}
				span.year {
					font-size: 16px;
				}
			}
		}
	}
	#footer-sec {
		.footer-top {
			ul.social {
				li {
					margin-right: 0px;

					a {
						width: 35px;
						height: 35px;
						font-size: 19px;
						line-height: 39px;
					}
				}
			}
		}
	}
}
@media (max-width:767px) {
	header {
		.head-mid {
			a.logo {
				display: block;
				text-align: center;
			}
			.top-links {
				text-align: center;
				margin-bottom: 6px;

				ul {
					li {
						margin-left: 0px;
						margin-bottom: 6px;
					}
				}
			}
			.head-right {
				float: none;
				margin-left: 0px;

				.call {
					margin-left: 0px;
					font-size: 18px;
					float: none;
					margin-bottom: 14px;
					text-align: center;

					span {
						font-size: 16px;

						i {
							font-size: 25px;
						}
					}
				}
				.search-from {
					max-width: 300px;

					form.form-search {
						input.form-control {
							max-width: 240px;
						}
					}
				}
			}
		}
		.head-main {
			.sidebar-nav {
				float: none;
				max-width: 100%;

				ul {
					li {
						ul {
							li {
								ul {
									position: relative;
									top: 0;
									left: 0;
									margin: 0;

									li {
										a {
											padding-left: 40px;
										}
									}
								}
							}
						}
					}
				}
			}
			.navigation {
				width: 100%;
				float: none;

				.navbar-toggle {
					border: solid 2px $yellow-color;
					border-radius: 0px;
					margin: 10px 0 10px;

					.icon-bar {
						background: $yellow-color;
					}
				}
				.navbar {
					.navbar-collapse {
						.navbar-nav {
							li {
								a {
									padding: 12px 14px;
									text-align: center;
									font-size: 14px;
									border-top: solid 1px rgba(255, 255, 255, 0.2);
								}
							}
						}
					}
				}
			}
		}
		.mini-cart {
			float: none;
			max-width: 100%;
			margin-top: 0px;

			&:before {
				display: none;
			}
			a {
				padding: 10px 14px;
				text-align: center;

				i {
					float: none;
					display: inline-block;
				}
			}
		}
	}
	.slider-zone {
		.talk-banner {
			display: none;
		}
		.talk-banner.in-mobile {
			display: block;
			padding: 16px 15px;

			h2 {
				margin-bottom: 20px;
			}
		}
		.carousel-indicators {
			bottom: 0px;

			li {
				width: 8px;
				height: 8px;
				margin: 3px 3px 16px;
			}
		}
		.carousel-inner {
			.item {
				.carousel-caption {
					padding-top: 13px;

					h2 {
						font-size: 15px;
						margin-bottom: 0px;
						padding-bottom: 9px;

						&:after {
							width: 100px;
							border-top: solid 1px $yellow-color;
						}
					}
					h1 {
						font-size: 14px;
						line-height: 20px;
						margin-bottom: 30px;
					}
				}
			}
		}
	}
	.title h2 {
		font-size: 25px;
	}
	.document-search {
		padding: 66px 0 0px;

		.document-box.mid-box {
			margin-top: 0px;
		}
		.document-box {
			margin-bottom: 93px;
		}
	}
	.our-services {
		.services-section {
			margin-bottom: 20px;
			margin-top: 76px;

			ul#test {
				position: relative;

				li.list-1 {
					left: 0px;
					top: 0px;
				}
				li.list-2 {
					left: 0px;
					top: 0px;
				}
				li.list-3 {
					left: 0px;
					top: 0px;
				}
			}
			ul#test1 {
				position: relative;

				li.list-1 {
					left: 0px;
					top: 0px;
				}
				li.list-2 {
					left: 0px;
					top: 0px;
				}
				li.list-3 {
					left: 0px;
					top: 0px;
				}
			}
			ul {
				li {
					max-width: 100%;

					.circle-box {
						display: none;
					}
					border: none;
					background: $main-blue;
					margin-bottom: 14px;
					padding: 0px;

					a {
						padding: 17px 10px;
						text-align: center;

						h3 {
							font-size: 17px;
							color: #fff;
							text-transform: uppercase;
							font-weight: 600;
						}
						p {
							text-align: center;
							color: #fff;
							font-weight: 400;
						}
					}
					&:hover {
						.circle-box {
							display: none;
						}
					}
				}
			}
			.bigcircle {
				background: $main-blue;
				width: 100%;
				margin: 0 auto;
				padding: 10px 10px;
				@include border-radius(15px);
				height: 100%;

				.circle-content {
					padding-top: 0px;
					width: 100%;
					max-width: 100%;
					text-align: center;
					margin: 0 auto;
					background: $white-color;
					@include border-radius(15px);
					padding-bottom: 20px;

					h4 {
						font-size: 16px;
						font-weight: 600;
						margin-bottom: 10px;
						padding: 11px 20px 0;
					}
					p {
						font-size: 14px;
						line-height: 20px;
					}
					.title {
						background: $main-blue;

						h3 {
							font-size: 19px;
							margin-bottom: 6px;
							padding: 22px 0px;
						}
					}
				}
			}
		}
	}
	.pricing-section {
		.pricing-box.yellow-box {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}


	footer#footer-sec{

		.footer-links{
			margin-bottom:30px;
		}


.copyright {
    padding: 14px 30px;

    p{    font-size: 14px;

    	
    }
}



	}






}