@import "variables";
@import "mixin";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

Ghtml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: $font-color;
	overflow-x: hidden;
	line-height: 22px
}
::-webkit-input-placeholder {
	opacity: 1
}
::-moz-placeholder {
	opacity: 1
}
:-ms-input-placeholder {
	opacity: 1
}
:-moz-placeholder {
	opacity: 1
}
ol, ul {
	list-style: none outside none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
caption, th, td {
	font-weight: normal;
	text-align: left
}
h1, h2, h3, h4, h5, h6 {
	color: $black-color;
	font-weight: 600
}
html {
	font-size: 100%
}
a:focus {
	outline: medium none !important
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block
}
audio, canvas, video {
	display: inline-block
}
audio:not([controls]) {
	display: none
}
a {
	color: $black-color;
	font-size: 13px
}
a:hover {
	color: $black-color;
	text-decoration: none
}
img {
	box-sizing: border-box;
	height: auto;
	max-width: 100%
}
p {
	font-weight: 400;
	line-height: 20px;
	font-size: 16px;
}
.clearfix {
	*zoom: 1
}
.clearfix:before, .clearfix:after {
	display: table;
	content: "";
	line-height: 0
}
.clearfix:after {
	clear: both
}
a.user-conversation {
	background: $yellow-color;
	color: $black-color;
	font-size: 18px;
	@include border-radius(50%);
	width: 60px;
	height: 60px;
	line-height: 60px;
	position: fixed;
	bottom: 30px;
	text-align: center;
	right: 30px;
	padding-top: 12px;
	box-shadow: 1px 2px 11px 1px rgba(0, 0, 0, 0.2);

	&:hover {
		box-shadow: 1px 2px 11px 1px $yellow-color;
	}
	img {
		width: 36px;
		height: auto;
		display: block;
		margin: 0 auto;
	}
}
#lets-talk-model {
	.modal-dialog {
		max-width: 400px;
		width: 100%;

		.modal-header {
			border-bottom: none;

			h4.modal-title {
				color: $black-color;
				font-size: 26px;
				font-weight: 700;
				text-align: center;
			}
		}
		.modal-body {
			padding: 15px 30px;
		}
		.form-group {
			input.form-control {
				background: $white-color;
				border: 1px solid rgba(0, 0, 0, 0.3);
				border-radius: 3px;
				box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.04) inset;
				color: #393939;
				display: block;
				font-size: 15px;
				height: 48px;
				line-height: normal;
				margin: 0;
				padding: 0 20px;
				text-align: left;
			}
			button.button.submit {
				background: $yellow-color;
				border: medium none;
				border-radius: 5px;
				color: $black-color;
				font-size: 18px;
				font-weight: 600;
				line-height: 50px;
				margin-bottom: 0;
				padding: 0;
				text-transform: uppercase;
				width: 100%;
			}
			p {
				color: $black-color;
				font-size: 13px;
				font-weight: 600;
				text-align: center;
			}
		}
	}
}
header {
	.head-mid {
		padding: 11px 0;

		a.logo {
			display: block;

			img {
				width: 132px;
			}
		}
		.top-links {
			display: inline-block;
			width: 100%;
			text-align: right;
			margin-bottom: 21px;
			margin-top: 7px;

			li {
				display: inline-block;
				margin-left: 11px;

				&.login {
					a {
						background: $main-blue;
					}
				}
				a {
					display: block;
					width: 163px;
					text-align: center;
					font-size: 17px;
					color: $white-color;
					font-weight: 700;
					text-transform: uppercase;
					background: $yellow-color;
					padding: 11px 0;

					span.icon {
						margin-right: 10px;
					}
				}
			}
		}
		.head-right {
			display: inline-block;
			width: 100%;

			.call {
				float: left;
				font-size: 31px;
				font-weight: 700;
				color: $main-blue;
				text-transform: uppercase;
				padding-top: 7px;
				margin-left: 67px;

				span {
					color: $yellow-color;
					font-size: 24px;

					i {
						font-size: 37px;
						-ms-transform: rotate(45deg);
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
						position: relative;
						top: 5px;
					}
				}
			}
			.search-from {
				float: right;
				width: 100%;
				max-width: 405px;

				form.form-search {
					margin-top: 0px;
					background: $white-color;
					border: solid 1px $search-border;

					input.form-control {
						float: left;
						width: 100%;
						max-width: 355px;
						background: none;
						border: none;
						color: $black-color;
						font-size: 13px;
						line-height: 34px;
						text-transform: none;
						padding: 0px 14px;
						opacity: 1;
						height: 45px;
					}
					button.btn.btn-sm {
						float: left;
						background: $main-blue;
						border: none;
						color: #fff;
						padding: 0;
						text-align: center;
						width: 100%;
						max-width: 48px;
						font-size: 17px;
						line-height: 47px;
						border-radius: 0px;
					}
				}
			}
		}
	}
	.head-main {
		background: $main-blue;

		.sidebar-nav {
			background: $dark-blue-color;
			width: 100%;
			float: left;
			max-width: 250px;
			margin-right: 3px;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					position: relative;
					width: 100%;
					z-index: 999;

					a.Currency {
						font-size: 15px;
						color: $white-color;
						font-weight: 600;
						text-transform: uppercase;
						padding: 7px 14px;

						i {
							float: right;
							color: $yellow-color;
							margin-top: 11px;
							font-size: 20px;
						}
					}
					a {
						line-height: 40px;
						padding: 0 12px;
						margin: 0 12px;
						color: #fff;
						text-decoration: none;
						display: block;

						&:hover, &:focus, &:active {
							color: $yellow-color;
						}
					}
					ul {
						background-color: $dark-blue-color;
						position: absolute;
						left: 0;
						top: 54px; /* make this equal to the line-height of the links (specified below) */
						width: 100%;
						display: none;

						li {
							position: relative;
							margin: 0;
							display: block;

							&.sidebardropdown {
								a {
									background-image: url(../images/arrow-right.png);
									background-position: 94% 18px;
									background-repeat: no-repeat;
								}
								ul {
									li {
										&.sidebardropdown {
											a {
												background-image: url(../images/arrow-right.png);
												background-position: 94% 18px;
												background-repeat: no-repeat;
											}
											ul {
												li {
													a {
														background: none;
													}
												}
											}
										}
										a {
											background: none;
										}
									}
								}
							}
							a {
								border-bottom: solid 1px $main-blue;
								margin: 0 0px;
								padding: 0 26px;
							}
							ul {
								position: absolute;
								top: 0;
								left: 250px; /* make this equal to the width of the sub nav above */
								margin: 0;
							}
							&:last-child {
								border-bottom: none;
							}
						}
					}
				}
			}
		}
	}
	.navigation {
		float: left;

		.navbar {
			min-height: 100%;
			border: none;
			margin-bottom: 0px;

			.navbar-collapse {
				padding-left: 0px;
				padding-right: 0px;
				box-shadow: none;
				border: none;

				.navbar-nav {
					float: none;

					li {
						a {
							font-size: 17px;
							color: $white-color;
							text-transform: uppercase;
							font-weight: 400;
							padding: 17px 14px;

							&:hover {
								color: $yellow-color;
								background: none;
							}
							&:focus {
								background: none;
							}
						}
						&.active {
							a {
								color: $yellow-color;
								background: none;
							}
						}
					}
				}
			}
		}
	}
	.mini-cart {
		background: $yellow-color;
		float: right;
		width: 100%;
		position: relative;
		max-width: 203px;
		margin-top: -14px;

		&:before {
			content: "";
			position: absolute;
			top: 5px;
			width: 0;
			left: -12px;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 12px solid rgba(225, 175, 14, 0.9);
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);/* Rotate Origin */
		}
		a {
			font-size: 15px;
			font-weight: 700;
			color: $white-color;
			display: block;
			padding: 23px 14px;
			text-transform: uppercase;

			i {
				font-size: 22px;
				float: left;
				margin-right: 10px;
			}
		}
	}
}
.slider-zone {
	.carousel-indicators {
		li {
			width: 13px;
			height: 13px;
			border: none;
			background: $white-color;
			margin: 3px 6px 16px;/* Rotate */
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);/* Rotate Origin */
			-webkit-transform-origin: 0 100%;
			-moz-transform-origin: 0 100%;
			-ms-transform-origin: 0 100%;
			-o-transform-origin: 0 100%;
			transform-origin: 0 100%;
			border-radius: 0px;

			&.active {
				background: $yellow-color;
			}
		}
	}
	.carousel-inner {
		.item {
			img {
				width: 100%;
			}
			.carousel-caption {
				left: 0px;
				right: 0px;
				background: rgba(6, 27, 58, 0.6);
				top: 0px;
				bottom: 0px;
				text-align: left;
				padding-top: 13%;

				h2 {
					color: $yellow-color;
					font-weight: bold;
					font-size: 33px;
					text-transform: uppercase;
					margin-bottom: 18px;
					position: relative;
					padding-bottom: 17px;

					&:after {
						content: "";
						position: absolute;
						left: 0px;
						bottom: 0px;
						border-top: solid 3px $yellow-color;
						width: 150px;
					}
				}
				h1 {
					color: $white-color;
					font-weight: bold;
					font-size: 38px;
					line-height: 49px;
					text-transform: none;
					margin-bottom: 30px;
				}
				a.btn.button {
					background: $yellow-color;
					width: 100%;
					margin: 0 auto;
					max-width: 220px;
					text-align: center;
					color: $white-color;
					font-size: 20px;
					@include border-radius(30px);
					line-height: 39px;
					font-weight: 600;
					text-transform: uppercase;

					&:hover {
						background: $main-blue;
						color: $white-color;
					}
				}
			}
		}
	}
	.talk-banner {
		background: $white-color;
		@include border-radius(5px);
		text-align: center;
		padding: 35px 15px;
		text-shadow: none;
		margin-top: 19px;

		h2 {
			font-weight: 800;
			font-size: 20px !important;
			color: $black-color !important;
			text-transform: none;

			&:after {
				display: none;
			}
		}
		button.lets-talk {
			background: $yellow-color;
			color: $black-color;
			font-size: 18px;
			@include border-radius(5px);
			border: none;
			line-height: 50px;
			padding: 0px;
			width: 100%;
			font-weight: 600;
			text-transform: uppercase;
			margin-bottom: 14px;

			&:hover, &:focus {
				outline: none;
				border: none;
			}
		}
		span {
			font-weight: 600;
			font-size: 12px;
			color: $black-color;
			text-transform: none;
		}
	}
	.talk-banner.in-mobile {
		display: none;
	}
}
.title {
	position: relative;
	text-align: center;

	h2 {
		font-size: 34px;
		color: $black-color;
		text-align: center;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;

		span {
			font-weight: 400;
		}
	}
	span.bar-icon {
		width: 13px;
		height: 13px;
		display: block;
		border: solid 2px $yellow-color;
		background: none;
		margin: 3px auto 16px;/* Rotate */
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);/* Rotate Origin */
		-webkit-transform-origin: 0 100%;
		-moz-transform-origin: 0 100%;
		-ms-transform-origin: 0 100%;
		-o-transform-origin: 0 100%;
		transform-origin: 0 100%;
		border-radius: 0px;

		&:before {
			content: "";
			position: absolute;
			top: -33px;
			left: -63px;
			border-top: solid 2px $yellow-color;
			width: 64px;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);/* Rotate Origin */
		}
		&:after {
			content: "";
			position: absolute;
			top: 40px;
			right: -65px;
			border-top: solid 2px $yellow-color;
			width: 64px;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);/* Rotate Origin */
		}
	}
}
.document-search {
	background: $grey-bg-color;
	padding: 130px 0;

	.document-box {
		background: $white-color;
		border-top: solid 8px $yellow-color;
		text-align: center;
		padding: 0 26px;

		.icon-img {
			width: 109px;
			height: 109px;
			line-height: 109px;
			background: $white-color;
			@include border-radius(50%);
			display: block;
			margin: -50px auto 0;
			@include box-shadow(0, 0px, 14px, 6px, rgba(0, 0, 0, 0.1));
		}
		h2 {
			color: $black-color;
			font-size: 24px;
			text-transform: uppercase;
			line-height: 30px;
			font-weight: 700;
			margin-bottom: 15px;
			margin-top: 15px;
		}
		p {
			color: $document-color;
			font-size: 18px;
			line-height: 28px;
			font-weight: 400;
			margin-bottom: 32px;
		}
		a.btn.button {
			background: $yellow-color;
			width: 100%;
			margin: 0px auto -23px;
			max-width: 220px;
			text-align: center;
			color: $white-color;
			font-size: 20px;
			@include border-radius(30px);
			line-height: 39px;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
	.document-box.mid-box {
		margin-top: -40px;
	}
}
.training-courses {
	padding: 50px 0px;

	p {
		text-align: center;
		color: $document-color;
		line-height: 25px;
	}
	.courses-wrap {
		border: solid 1px $grey-light-border;
		padding: 20px 15px;
		margin-top: 40px;

		span.icon {
			display: block;
			text-align: center;
		}
		h3 {
			color: $main-blue;
			font-size: 20px;
			text-transform: uppercase;
			line-height: 30px;
			font-weight: 700;
			margin-bottom: 15px;
			margin-top: 15px;
			text-align: center;
		}
		p {
			color: $document-color;
			font-size: 15px;
			line-height: 22px;
			font-weight: 400;
			margin-bottom: 12px;
			text-align: left;
		}
		a.btn.button {
			background: $yellow-color;
			width: 100%;
			margin: 30px auto 0px;
			text-align: center;
			color: $white-color;
			font-size: 16px;
			@include border-radius(0px);
			line-height: 39px;
			font-weight: 600;
			text-transform: uppercase;
		}
	}
}
.our-services {
	padding: 30px 0px;

	p {
		text-align: center;
	}
	.services-section {
		position: relative;
		display: inline-block;
		width: 100%;
		margin-bottom: 130px;
		margin-top: 200px;

		ul {
			border: none;

			li {
				padding: 0 10px;
				position: relative;
				width: 100%;
				max-width: 424px;
				float: none;

				.circle-box {
					display: none;
					position: absolute;
					left: 0px;
					top: 0px;
					width: 148px;
					text-align: center;
					height: 148px;
					background: $yellow-color;
					@include border-radius(50%);

					span.icon {
						display: block;
						margin-top: 22px;
						margin-bottom: 9px;
					}
					h4 {
						color: $white-color;
						padding: 0 20px;
						font-size: 17px;
					}
				}
				a {
					display: block;
					text-align: center;
					padding: 0 40px;
					border: none;
					background: none;

					&:focus, &:hover {
						background: none;
						border: none;
					}
					h3 {
						font-size: 23px;
						color: $main-blue;
						margin-bottom: 10px;
						font-weight: 700;
					}
					p {
						font-size: 14px;
						color: $main-blue;
						font-weight: 600;
						padding: 0 0px;
					}
				}
				&:hover {
					.circle-box {
						display: block;
					}
				}
			}
		}
		ul#test {
			position: absolute;
			left: 0px;

			li.list-1 {
				left: 353px;
				top: -101px;

				.circle-box {
					left: -105px;
					top: -31px;
				}
			}
			li.list-2 {
				left: -114px;
				top: 52px;

				.circle-box {
					left: 133px;
					top: -169px;
				}
			}
			li.list-3 {
				left: -107px;
				top: 248px;

				.circle-box {
					left: 133px;
					top: -169px;
				}
			}
		}
		ul#test1 {
			position: absolute;
			right: 0px;

			li.list-1 {
				left: 77px;
				top: 122px;

				.circle-box {
					left: 133px;
					top: -169px;
				}
			}
			li.list-2 {
				left: 98px;
				top: 323px;

				.circle-box {
					left: 133px;
					top: -169px;
				}
			}
			li.list-3 {
				top: 517px;
				right: 359px;

				.circle-box {
					left: -110px;
					top: -44px;
				}
			}
		}
		.bigcircle {
			background: url(../images/circle-bg.png) no-repeat;
			width: 650px;
			margin: 0 auto;
			height: 650px;

			.circle-content {
				padding-top: 116px;
				width: 100%;
				max-width: 400px;
				text-align: center;
				margin: 0 auto;

				.title {
					h3 {
						color: $white-color;
						font-size: 27px;
						margin-bottom: 88px;
					}
				}
				h4 {
					color: $main-blue;
					font-size: 27px;
					font-weight: 700;
					margin-bottom: 20px;
				}
				p {
					font-size: 19px;
					font-weight: 400;
					line-height: 25px;
				}
			}
		}
	}
}
.tangible-products {
	padding: 40px 0px;

	.amazone-product {
		border: solid 1px $grey-light-border;
		margin-top: 40px;

		.product-img {
			background: $product-img-color;
			min-height: 308px;
			text-align: center;
			padding-top: 20px;
			margin-bottom: 17px;
		}
		h3 {
			color: $font-color;
			font-size: 16px;
			font-weight: 600;
			padding-left: 15px;
			margin-bottom: 10px;
		}
		span.price {
			color: $black-color;
			font-size: 19px;
			font-weight: 700;
			padding-left: 15px;
			margin-bottom: 17px;
			display: block;
			border-bottom: solid 1px $grey-light-border;
			padding-bottom: 15px;
		}
		a.btn.button {
			background: $yellow-color;
			width: 100%;
			margin: 0px auto 19px;
			max-width: 191px;
			text-align: center;
			color: $black-color;
			font-size: 17px;
			@include border-radius(30px);
			line-height: 33px;
			font-weight: 600;
			text-transform: uppercase;
			padding: 5px 22px;
			float: none;
			display: block;

			i {
				font-size: 35px;
				float: left;
			}
		}
	}
}
.pricing-section {
	padding: 60px 0;
	background: $priceing-bg;

	p {
		font-size: 17px;
		color: $font-color;
		text-align: center;
		font-weight: 400;
		line-height: 22px;
		margin-bottom: 80px;
	}
	.pricing-box {
		background: $white-color;
		display: inline-block;
		width: 100%;
		border: solid 1px rgba(0, 0, 0, 0.1);

		h3.price-name {
			background: $main-blue;
			text-align: center;
			font-size: 30px;
			margin-bottom: 43px;
			color: $white-color;
			padding: 29px 0px;
			position: relative;
			text-transform: uppercase;

			&::after {
				content: "";
				width: 0;
				height: 0;
				border-top: 20px solid $main-blue;
				border-left: 17px solid transparent;
				border-right: 17px solid transparent;
				position: absolute;
				bottom: -19px;
				left: 0;
				right: 0px;
				margin: 0 auto;
			}
		}
		.pricing-panel {
			text-align: center;
			margin-bottom: 20px;

			span.sign {
				color: $black-color;
				font-size: 24px;
				font-weight: 600;
				position: relative;
				top: -29px;
				margin-right: 13px;
			}
			span.price {
				color: $main-blue;
				font-size: 69px;
				font-weight: 700;
				position: relative;
			}
			span.year {
				color: $black-color;
				font-size: 20px;
				font-weight: 400;
				text-transform: uppercase;
			}
		}
		.pricing-disc p {
			font-size: 16px;
			padding: 0 40px;
			margin-bottom: 15px;
		}
		.pricing-icon {
			text-align: center;
			margin-bottom: 20px;
		}
		.pricing-Tble-DocNam {
			text-align: center;

			li {
				border-top: solid 1px $grey-light-border;
				line-height: 34px;
			}
		}
		.pricing-More {
			border-top: solid 1px $grey-light-border;
			padding-top: 20px;
			padding-bottom: 16px;

			a.more-btn.btn {
				width: 165px;
				background: $main-blue;
				font-size: 17px;
				text-transform: uppercase;
				color: $white-color;
				@include border-radius(30px);
				font-weight: 500;
				line-height: 30px;
				margin: 6px auto;
				@include box-shadow(0, 0px, 7px, 3px, rgba(203, 214, 230, 0.5));
				display: block;

				span.icon {
					margin-left: 6px;
				}
				&:hover {
					background: $yellow-color;
					color: $white-color;
				}
			}
		}
	}
	.pricing-box.yellow-box {
		margin-top: -17px;
		@include box-shadow(0, 10px, 17px, 6px, rgba(0, 0, 0, 0.1));

		h3.price-name {
			background: $yello-price;
			color: $white-color;
			padding: 37px 0;

			&::after {
				border-top: 20px solid $yello-price;
			}
		}
		.pricing-panel {
			text-align: center;
			margin-bottom: 20px;

			span.price {
				color: $yello-price;
				font-size: 69px;
				font-weight: 700;
				position: relative;
			}
		}
		.pricing-More {
			a.more-btn.btn {
				width: 165px;
				background: $yello-price;
				color: $white-color;
				@include box-shadow(0, 0px, 7px, 3px, rgba(203, 214, 230, 0.5));

				&:hover {
					background: $main-blue;
					color: $white-color;
				}
			}
		}
	}
}
#footer-sec {
	.footer-top {
		padding: 44px 0 1px;
		background: $footer-color;
		color: $white-color;

		.paypal img {
			width: 80px;
			margin-top: 22px;
		}
		a.footer-logo {
			display: block;
			margin-bottom: 13px;

			img {
				width: 184px;
			}
		}
		ul.social {
			li {
				display: inline-block;
				margin-right: 12px;

				a {
					color: $black-color;
					font-size: 22px;
					font-weight: 600;
					display: block;
					width: 50px;
					height: 50px;
					background: $white-color;
					line-height: 50px;
					@include border-radius(30px);
					text-align: center;
				}
			}
		}
		h4 {
			font-size: 16px;
			color: $white-color;
			margin-bottom: 15px;
		}
		ul {
			li {
				a {
					color: $footer-font-color;
					font-size: 14px;
					font-weight: 600;
				}
			}
		}
	}
	.copyright {
		background: $black-color;
		text-align: center;
		padding: 12px 0;

		p {
			color: $footer-font-color;
			font-weight: 600;
		}
	}
}
.content-pages {

	h1 {
		color: $main-blue;
		font-size: 30px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		margin: 30px 0px;
	}

	h2 {
		color: $black-color;
		font-size: 29px;
		font-weight: 600;
		text-transform: uppercase;
		text-align: center;
		margin: 30px 0px;
	}


	.breadcrumb {
		background: $light-border;

		ul {
			li {
				float: left;
				position: relative;

				a {
					display: block;
					padding-right: 40px;

					i {
						font-size: 30px;
						color: $main-blue;
					}
					&:after {
						content: "\f105";
						font-family: 'FontAwesome';
						position: absolute;
						right: 13px;
						font-size: 19px;
						top: 6px;
					}
				}
				span {
					color: $black-color;
					font-size: 22px;
					display: block;
					line-height: 30px;
				}
			}
		}
	}
	.form-sec {
		width: 100%;
		max-width: 1060px;
		margin: 40px auto 100px;
		background: $white-color;
		@include box-shadow(0, 0px, 45px, 3px, rgba(0, 0, 0, 0.1));

		.form-info {
			background: $main-blue;
			padding: 30px;

			h3 {
				color: $white-color;
				font-size: 28px;
				text-transform: uppercase;
				margin-bottom: 10px;
			}
			p {
				color: $white-color;
				font-size: 16px;
			}
			a.create-an-account {
				width: 100%;
				max-width: 290px;
				background: $yellow-color;
				color: $white-color;
				font-size: 17px;
				font-weight: 600;
				display: block;
				text-align: center;
				margin-top: 30px;
				padding: 10px 0px;
			}
		}
		.form-wrap {
			padding: 54px 40px 54px 10px;

			input[type=text], input[type=email], input[type=password] {
				border: solid 1px $text-field-color;
				background: #fff;
				width: 100%;
				font-size: 15px;
				padding: 10px 12px;
			}
			.form-group {
				input[type=submit] {
					background: $yellow-color;
					font-size: 17px;
					color: $white-color;
					font-weight: bold;
					display: block;
					border: none;
				}
			}
		}
	}
	.form-sec.login-sec {

		.form-wrap {
			h4 {
				color: $login-color;
				font-size: 28px;
				text-transform: uppercase;
				margin-bottom: 5px;
				font-weight: 700;
			}
			p {
				color: $font-color;
				font-size: 15px;
				font-style: italic;
				margin-bottom: 31px;
				font-weight: 300;
			}
		}
		.form-group {
			margin-bottom: 25px;

			a.forgot {
				color: $main-blue;
				font-size: 13px;
				display: block;
			}
			input[type=submit] {
				background: $yellow-color;
				font-size: 17px;
				color: $white-color;
				font-weight: bold;
				display: block;
				border: none;
				width: 100%;
				max-width: 296px;
				padding: 8px 0;
			}
		}
		.form-info {
			padding: 155px 75px;
		}
	}


	.form-sec.register-form{

.form-info{ text-align: center;
	padding:130px 60px;

		span.icon{
			width: 139px;
			height: 139px;
			background: $yellow-color;
			text-align: center;
			line-height: 139px;
			color: $main-blue;
			font-size: 89px;
			display: block;
			margin: 0 auto;
			@include border-radius(50%);
		}


h3{ font-weight: 700;
	margin-bottom: 20px;
	margin-top: 30px;
}

p{ font-size: 16px;
	font-weight: 300;
	margin-top: 30px;
	line-height: 25px;
}


}


}



}






@import "responsive";