$theme-color:#ffd564;
$theme-color-one:#0d5482;
$white-color:#ffffff;
$black-color:#000000;
$gray-color:#efefef;
$black-light-color:#333;
$black-medium-color:#494949;
$bg-box-color:#ededed;
$red-color:#ff4001;
$red-dark-color:#db3a04;
$footer-logo-bg-color:#7d99c3;
$footer-foor-color:#0d2953;
$white-color:#f7f7f7;
$white-light-color:#f7f7f7;
$white-dark-color:#e3e3e3;
$black-nor-color:#3c3c3c;
$font-nor-color:#797979;
$top-drop-menu-color:#838383;
$border-bottom-color:#9f9f9f;
$spas-bg-color:#ecebe9;
$gray-color-nor:#dddddd;
$bg-color-demo:#989898;
$left-border-color:#ababab;
$timeline-border-color:#c1c1c1;
$timeline-text-color:#7a7a7a;
$sky-blue-color:#009bad;
$sky-blue-light:#51c9d7;
$media-color:#565656;
$inupt-border-color:#cccccc;
$inner-bg-color:#fafafa;
$inner-img-bg-color:#eaeaea;
$yellow-color:#ffd564;
$size:16px;