.bs-slider {
	overflow: hidden;
	max-height: 941px;
	position: relative;
	background: #000000
}
.bs-slider:hover {
	cursor: -moz-grab;
	cursor: -webkit-grab
}
.bs-slider:active {
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing
}
.bs-slider .bs-slider-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.bs-slider > .carousel-inner > .item > img, .bs-slider > .carousel-inner > .item > a > img {
	margin: auto;
	width: 100% !important
}
.fade {
	opacity: 1
}
.fade .item {
	top: 0;
	z-index: 1;
	opacity: 0;
	width: 100%;
	position: absolute;
	left: 0 !important;
	display: block !important;
	-webkit-transition: opacity ease-in-out 1s;
	-moz-transition: opacity ease-in-out 1s;
	-ms-transition: opacity ease-in-out 1s;
	-o-transition: opacity ease-in-out 1s;
	transition: opacity ease-in-out 1s
}
.fade .item:first-child {
	top: auto;
	position: relative
}
.fade .item.active {
	opacity: 1;
	z-index: 2;
	-webkit-transition: opacity ease-in-out 1s;
	-moz-transition: opacity ease-in-out 1s;
	-ms-transition: opacity ease-in-out 1s;
	-o-transition: opacity ease-in-out 1s;
	transition: opacity ease-in-out 1s
}
.control-round .carousel-control {
	top: 47%;
	opacity: 0;
	width: 45px;
	height: 45px;
	z-index: 100;
	color: #ffffff;
	display: block;
	font-size: 24px;
	cursor: pointer;
	overflow: hidden;
	line-height: 43px;
	text-shadow: none;
	position: absolute;
	font-weight: normal;
	background: transparent;
	-webkit-border-radius: 100px;
	border-radius: 100px
}
.control-round:hover .carousel-control {
	opacity: 1
}
.control-round .carousel-control.left {
	left: 1%
}
.control-round .carousel-control.right {
	right: 1%
}
.control-round .carousel-control.left:hover, .control-round .carousel-control.right:hover {
	color: #fdfdfd;
	background: rgba(0, 0, 0, 0.5);
	border: 0px transparent
}
.control-round .carousel-control.left>span:nth-child(1) {
	left: 45%
}
.control-round .carousel-control.right>span:nth-child(1) {
	right: 45%
}
.indicators-line > .carousel-indicators {
	right: 0%;
	bottom: 160px;
	left: 0;
	width: 100%;
	height: 20px;
	font-size: 0;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 1px;
	margin:0 auto;

}
.indicators-line > .carousel-indicators li {
	padding: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #fff;
	text-indent: 0;
	overflow: hidden;
	text-align: left;
	position: relative;
	letter-spacing: 1px;
	background: none;
	-webkit-font-smoothing: antialiased;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-right: 11px;
	-webkit-transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99);
	transition: all 0.5s cubic-bezier(0.22, 0.81, 0.01, 0.99);
	z-index: 10;
	cursor: pointer
}
.indicators-line > .carousel-indicators li:last-child {
	margin-right: 0
}
.indicators-line > .carousel-indicators li.active {
	margin: 1px 11px 1px 1px;
	background: #fff;
	position: relative;
	-webkit-transition: box-shadow 0.3s ease;
	-moz-transition: box-shadow 0.3s ease;
	-o-transition: box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease
}
/*.indicators-line > .carousel-indicators .active:before {
	transform: scale(0.5);
	background-color: #fff;
	content: "";
	position: absolute;
	left: -1px;
	top: -1px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	-webkit-transition: background-color 0.3s ease;
	-moz-transition: background-color 0.3s ease;
	-o-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease
}*/
.slide_style_left {
	text-align: left !important
}
.slide_style_right {
	text-align: right !important
}
.slide_style_center {
	text-align: center !important
}
.slide-text {
	left: 0;
	bottom: 185px;
	right: 0;
	margin: auto;
	padding: 10px;
	position: absolute;
	text-align: left;
	padding: 10px 85px
}
.slide-text > h1 {
	font-size: 87px;
font-weight: bold;
color: #fff;
text-transform: uppercase;
margin-bottom: 27px;
	display: inline-block;
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s
}
.slide-text > p {
  padding: 0;
  font-size: 23px;
  font-weight: 600;
  color: #fff;
	font-weight: 600;
	margin-bottom: 40px;
	letter-spacing: 1px;
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s
}

.slide-text > a.btn-default {
background:#ff4001 ;
border-radius: 0;
  color: #fff;
  font-size: 36px;
  font-weight: 400;
  padding: 10px 25px;
  text-transform:capitalize;
	white-space: nowrap;
	border: none;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out
}

.slide-text > a.btn-default:hover{background:#009bad  ;}

/*.slide-text > a.btn-primary {
	color: #ffffff;
	cursor: pointer;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	margin-left: 10px;
	text-align: center;
	padding: 17px 30px;
	white-space: nowrap;
	letter-spacing: 1px;
	background: #00bfff;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out
}*/

.slide-text > a:hover,
.slide-text > a:active {
	color: #ffffff;
	background: #f77142;
	-webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
	transition: background 0.5s ease-in-out, color 0.5s ease-in-out
}


@media (min-width: 992px) and (max-width: 1199px) {

.slide-text {
  top: 20%;
}


.slide-text > a.btn-default {
  font-size: 13px;
}

.indicators-line > .carousel-indicators {
  bottom: 33%;
}


.slide-text > h1 {
  font-size: 59px;
   margin-bottom: 7px;
}

.slide-text > p {
  font-size: 17px;
  margin-bottom: 15px;
  padding: 0;
}



}

@media (min-width: 768px) and (max-width: 991px) {

.slide-text {
  padding: 10px 50px;
    top: 45%;
}

.slide-text h1 {
  font-size: 47px;
  line-height: 46px;
  margin-bottom: 10px;
}
.slide-text > p {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px;
}

.indicators-line > .carousel-indicators {
  bottom: 30%;
}

}


@media  (max-width:767px) {

	.slide-text {
		padding: 10px 23px;
		top: 13%;

	}
	.slide-text h1 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 10px
	}
.slide-text > p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 13px;
}
	.control-round .carousel-control {
		display: none
	}

.indicators-line > .carousel-indicators {
  bottom: 58%;
}



}


@media  (max-width:479px) {
	.slide-text {
		padding: 0px 30px
	}
.slide-text h1 {
  font-size: 25px;
  line-height: 29px;
  margin-bottom: 5px;
}
.slide-text > p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 10px;
}
	.slide-text > a.btn-default, .slide-text > a.btn-primary {
		font-size: 10px;
		line-height: 10px;
		margin-right: 0px;
		text-align: center;
		padding: 10px 15px
	}
	.indicators-line > .carousel-indicators {
		display: none
	}
}

.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity:1;
}

.dropdown-menu {
  opacity:.3;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.caret-up {
    width: 0;
    height: 0;
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;

    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    /* overflow: hidden; */
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 200px;
    opacity: 1;
}

/************************** pricing structure ****************************/
.pricing-table .col-lg-3.col-md-3.col-sm-3 {
    padding: 0 3px;
}
.pricing-table {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    width: 100%;
}
.pricing-column {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    display: block;
    list-style: outside none none;
    padding: 0;
    transition: all 0.3s ease 0s;
}
.pricing-column li.omsc-pricing-title {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.03) 100%) repeat scroll 0 0;
    border-top-style: solid;
    border-top-width: 3px;
    font-size: 130%;
    font-weight: bold;
    padding-bottom: 1.3em;
    padding-top: 1.3em;
    color: #ff4001;
}
.pricing-column li.omsc-pricing-title {
    border-top-color: #ff4001;
}
.pricing-column li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    display: block;
    padding: 12px;
    text-align: center;
}
.pricing-column li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    display: block;
    padding: 12px;
    text-align: center;
}
.pricing-column li.omsc-pricing-title .omsc-pricing-title-comment {
    font-size: 75%;
    font-style: italic;
    font-weight: normal;
    margin-top: 0.1em;
    color: #000;
}
.pricing-column li {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
    display: block;
    padding: 12px;
    text-align: center;
}
.pricing-column li:nth-child(2n) {
    background: rgba(0, 0, 0, 0.02) none repeat scroll 0 0;
}
.pricing-column li span {
    color: #00a4c0;
}
.pricing-column:hover {
    box-shadow: 0 5px 30px #ddd;
}
.pricing-column li a {
    color: #ff4001;
    text-decoration: none;
}

.pay-like-radio{
    position: relative;
}
.pay-like-radio [type="radio"]:checked, [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.pay-like-radio [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
.pay-like-radio [type="radio"]:checked + label:before,
.pay-like-radio [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 26px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
.pay-like-radio p{
    margin-bottom: 18px;;
}
.pay-like-radio [type="radio"]:checked + label:after,
.pay-like-radio [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 18px;
  height: 18px;
  background: #ff4001;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.pay-like-radio [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.pay-like-radio [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.pay-like-radio span {
    margin-left: 10px;
    margin-top: 5px;
    display: inline-block;
}
span.colm-half {
    width: 48%;
    display: inline-block;
    font-size: 18px;
}
.tick-informed-checkbox [type="checkbox"]:not(:checked),
.tick-informed-checkbox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.tick-informed-checkbox [type="checkbox"]:not(:checked) + label,
.tick-informed-checkbox [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.tick-informed-checkbox [type="checkbox"]:not(:checked) + label:before,
.tick-informed-checkbox [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.tick-informed-checkbox [type="checkbox"]:not(:checked) + label:after,
.tick-informed-checkbox [type="checkbox"]:checked + label:after {
  content: '?';
  position: absolute;
  top: .1em; left: .3em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
.tick-informed-checkbox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.tick-informed-checkbox [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.tick-informed-checkbox [type="checkbox"]:disabled:not(:checked) + label:before,
.tick-informed-checkbox [type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.tick-informed-checkbox [type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.tick-informed-checkbox [type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
.tick-informed-checkbox [type="checkbox"]:checked:focus + label:before,
.tick-informed-checkbox [type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
.tick-informed-checkbox label:hover:before {
  border: 2px solid #4778d9!important;
}
.informed-about {
    font-weight: bold;
    padding-bottom: 15px;
}

.tick-checkbox{
 position: relative;
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
}
.styled-checkbox:hover + label:before {
  background: #f35429;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #f35429;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 12px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(48deg);
          transform: rotate(48deg);
}
.tick-checkbox > p {
    margin-bottom: 8px;
}
.principles-data .principles-data-block .content-sub-title {
    margin: 0 auto;
    max-width: 500px;
}
.principles-data .principles-data-block .content-sub-title p {
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
}
.principles-data .principles-data-block .content-sub-title p a{
    text-decoration: none;
    color: #ff4001;
    font-size: 20px;
}
/************************** pricing structure ****************************/


/********************************* Horizontal Accordian ******************************/

.single-faq-section {
    padding: 40px 0;
}
.single-faq-section .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: transparent;
}

.single-faq-section .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: transparent;
    border-color: transparent;
}

.panel-title {
    font-size: 14px;
}

.single-faq-section .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    border: solid 1px #ddd;
    background: #f2f2f2;
    border-radius: 5px;
}

.single-faq-section .more-less {
    float: right;
    color: #fff;
    background: #ff4001;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 9px;
    padding-top: 5px;
    border-radius: 50%;
    padding-left: 2px;
    margin-top: -3px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}
.single-faq-section .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
    border: solid 1px #ddd;
    border-top: 0;
    margin-top: -4px;
}
/********************************* Horizontal Accordian ******************************/