body {
    font-family: 'open_sansregular';
    line-height: 24px;
    margin: 0;
    padding: 0px;
    color: #303030;
    font-size: 14px;
    background: #efefef;
}

@font-face {
  font-family: 'open_sansregular';
  src: url(' ../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img {
  max-width: 100%;
  display: block
}
a {
  text-decoration: none
}
a:hover {
  text-decoration: none
}
ul {
  margin: 0;
  padding: 0;
  list-style: none
}
.right-float{
  float: right;
  margin-top: 5px;
}
.top-bar {
    background: #2249a3;
    color: #ffffff;
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0;
    height: 62px;
}
.be-user-nav >li.dropdown > a img {
    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}
.top-navbar.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.be-user-nav >li.dropdown a{
  color: #ffffff;
}
.be-user-nav>li.dropdown .dropdown-menu .user-info {
    background-color: #0096a7;
    color: #fff;
    overflow: hidden;
    padding: 20px 15px 14px;
    border-radius: 2px 2px 0 0;
    margin-bottom: 7px;
}
.be-user-nav>li.dropdown .dropdown-menu .user-info .user-name {
    display: block;
    font-size: 19px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.be-user-nav > li.dropdown .dropdown-menu {
    width: 220px;
    padding: 0 0 7px;
    margin-top: 10px;
}
.be-top-header .navbar-nav >li.dropdown .dropdown-menu {
    border-radius: 3px;
    margin-top: 12px;
}
.be-top-header .be-user-nav>li.dropdown .dropdown-menu:after {
    left: auto;
    right: 13px;
    border-bottom-color: #4285f4;
}
.be-user-nav>li.dropdown .dropdown-menu .user-info .user-position.online:after {
    background-color: #6cd187;
    border-color: #6cd187;
}
.be-user-nav>li.dropdown .dropdown-menu .user-info .user-position:after {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    left: 0;
    top: 9px;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    background-color: transparent;
    display: block;
}
.be-user-nav>li.dropdown .dropdown-menu .user-info .user-position {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 13px;
    position: relative;
}
.be-top-header .be-user-nav>li.dropdown .dropdown-menu:after {
    left: auto;
    right: 13px;
    border-bottom-color: #4285f4;
}
.be-top-header .navbar-nav>li.dropdown .dropdown-menu:after, .be-top-header .navbar-nav>li.dropdown .dropdown-menu:before {
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -8px;
    content: "";
    display: inline-block;
    left: 42px;
    margin-left: -6px;
    position: absolute;
}
.open>.dropdown-menu {
    display: block;
}
.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.navbar-right {
    float: none!important;
    margin-right: 0;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}
.topbar-space{
}
.topbar-space span{
  display: inline-block;
  vertical-align: middle;
}
.topbar-space .welcome-text{
  display: inline-block;
  vertical-align: middle;
}
.topbar-space .user-welcome{
  display: inline-block;
  vertical-align: middle;
}
.be-user-nav > li.dropdown .dropdown-menu li a {
    color: #303030;
    font-size: 14px;
    padding: 6px 20px;
    margin: 0;
}
.be-user-nav > li.dropdown .dropdown-menu li a i {
    width: 18px;
}
.be-user-nav > li.dropdown .dropdown-menu li a:hover{
    background: #fd4002;
    color: #fff;
}
.be-user-nav > li.dropdown .dropdown-menu li a:hover i {
    color: #fff;
}
.left-sidebar-wrapper {
    background: #fff;
    bottom: 0;
    height: 100%;
    margin-top: 62px;
    min-height: 100%;
    position: fixed;
    top: 0;
    width: 280px;
    z-index: 1000;
    padding: 0;
    box-shadow: 0 0 60px #c7c6c6;
}
.left-sidebar-wrapper .user-photo{
    padding: 30px 0;
}
.user-wrapper {
    text-align: center;
    border-bottom: solid 1px #e4e6ea;
}
.user-wrapper .user-photo a {
    text-align: center;
}
.user-wrapper .user-photo img{
    margin:0 auto;
    max-width: 82px;
    max-height: 82px;
    border-radius: 50%;
    margin-bottom: 6px;
}
.user-wrapper .user-photo  a{
    color: #1c1c1c;
    font-size: 16px;
    text-decoration: none;
}
.right-be-content {
    margin-top: 92px;
    margin-left: 310px;
    padding-right: 20px;
}
.right-be-content h1{
    color: #2249a3;
    font-size: 24px;
    margin: 0;
    margin-bottom: 30px;
    font-weight: bold;
}
.right-be-content .white-bar{
    background: #fff;
    padding: 20px 20px;
    margin-bottom: 30px;
}
.right-be-content .white-bar .title{
    color: #2249a3;
    font-size: 22px;
    margin: 0;
    font-weight: bold;
}
.right-be-content .white-bar i{
    font-weight: bold;
    font-size: 15px;
    color: #323232;
}
.right-side{
    float: right;
}
.course-listing-box{
    background: #fff;
}
.course-listing-box img {
    width: 100%;
}
.course-listing-box-2 {
    padding: 20px 20px;
}
.course-listing-box-2 .sub-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #4e4e4e;
}
.course-listing-box-2 p{
    margin-bottom: 14px;
    font-size: 14px;
}
.course-listing-box a{
    background: #fd4002;
    padding: 8px 12px;
    display: block;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
}
.course-listing-box a:hover{
    background: #0096a7;
    text-decoration: none;
}
.course-listing-right{
    margin-bottom: 40px;
}
.table-white{
    background: #fff;
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
}
.table-white table tr th {
    text-align: center;
    text-transform: uppercase;
    padding: 14px 8px;
}
.table-white .table {
    margin-bottom: 0;
}
.table-white table tr td {
    padding: 18px 8px;
}
.pending-btn{
    background: #fd4002;
    padding: 4px 12px;
    color: #fff;
}
.completed-btn{
    background: #0096a7;
    padding: 4px 12px;
    color: #fff;
}
.points{
    color: #0198aa;
}
.title-box {
    background: #fff;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
footer {
    background: #414141;
    padding: 35px 0;
    margin-left: 280px;
    position: relative;
    z-index: 99999;
    padding-left: 10px;
}
.copyright {
    color: #fff;
    font-size: 14px;
}
.copyright span{
    color: #fd4002;
}
footer h2{
    color: #fff;
    font-size: 19px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
}
footer li{
    color: #fff;
}
footer li i {
    color: #ff4001;
    font-size: 19px;
    width: 20px;
}
.griffin-logo {
    display: inline-block;
    vertical-align: middle;
    border-right: solid 1px #fff;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 9px;
}
.partner-logo {
    display: inline-block;
    vertical-align: middle;
    padding-top: 4px;
    margin-left: 10px;
    padding: 5px 0;
}
/***************************** left-side menu *************************************/

.eos-menu,
.eos-menu *,
.eos-menu *:before,
.eos-menu *:after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.eos-menu {
    font-size: 14px;
    color: #eee;
}

.eos-menu li {
    list-style: none;
}

.eos-menu .eos-menu-content {
    position: absolute;
    width: 100%;
    overflow-y: hidden;
    height: 0px;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.eos-menu .eos-group-content {
    overflow-y: hidden;
    height: 0px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.eos-menu .eos-menu-title,
.eos-menu .eos-group-title,
.eos-menu .eos-item {
    height: auto !important;
    line-height: 40px;
    background: transparent !important;
    border-color: #e4e6ea !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-bottom: 1px solid transparent;
    padding: 6px 0;
    color: #414141;
    text-transform: uppercase;
}

.eos-menu .eos-menu-title .fa,
.eos-menu .eos-group-title .fa,
.eos-menu .eos-item .fa {
    line-height: 40px;
    margin-right: 8px;
}

.eos-menu .eos-menu-title:hover,
.eos-menu .eos-group-title:hover,
.eos-menu .eos-item:hover {
    cursor: pointer;
    background:#234aa4 !important;

}
/*.eos-menu .eos-group-content:hover li a{
    background: transparent !important;
    color: #fd4002 !important
}*/
.eos-menu .eos-group-content .eos-item {
    background: #263442;
    padding-left: 30px !important;
}

.eos-menu .eos-item a {
    color: #414141 !important;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.eos-menu .eos-pull-right {
    float: right;
}

.eos-menu .auto-height {
    height: auto;
}
.eos-menu .eos-item:hover {
    background: #234aa4 !important;
}
.eos-menu .eos-item:hover a{
    color: #fff !important;
}

@media (min-width: 768px) {
    .eos-menu .eos-menu-title {
        display: none;
    }
    .eos-menu .eos-menu-content {
        height: auto;
        position: inherit;
    }
}

/***************************** left-side menu *************************************/


/******************************* Media ********************************/

@media (max-width:1199px) and (min-width:980px) {
.left-sidebar-wrapper {
    width: 200px;
}
.right-be-content {
    margin-left: 230px;
}
}

@media (max-width:979px) and (min-width:768px) {
.left-sidebar-wrapper {
    width: 190px;
}
.right-be-content {
    margin-left: 210px;
}
footer {
    margin-left: 190px;
}
}

@media (max-width:767px) {

}

@media(min-width:320px) and (max-width:480px) {
  
}

/******************************* Media ********************************/