body {
    font-family: 'open_sansregular';
    line-height: 24px;
    margin: 0;
    padding: 0px;
    color: #303030;
    font-size: 14px;
}

@font-face {
  font-family: 'open_sansregular';
  src: url(' ../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img {
  max-width: 100%;
  display: block
}
a {
  text-decoration: none
}
a:hover {
  text-decoration: none
}
ul {
  margin: 0;
  padding: 0;
  list-style: none
}
.wrapper-pdf{
   width: 595px;
   margin:0 auto; 
}
.top-header{
    width: 595px;
    height: 272px;
    background-image: url(../images/top-bar.png);
    background-repeat: no-repeat;
}
.top-bar{
    position: relative;
}
.top-bar-caption {
    color: #6d750b;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 595px;
    font-size: 22px;
    text-align: center;
    font-family: 'open_sanssemibold';
}
.certifies-name {
    color: #000;
    font-size: 35px;
    text-align: center;
    font-family: 'open_sansbold';
    margin: 30px 0 60px;
}
.certifies-message-center {
    color: #737c15;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 40px;
}
.certifies-course-center {
    color: #000000;
    font-size: 28px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 80px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.certificate-number {
    
    margin-left: 300px;
    margin-bottom: 20px;
}
.certificate-number .awarded-date{
    color: #6f6f6f;
    font-family: 'open_sansbold';
}
.certificate-number .certificate-no{
    color: #6f6f6f;
    font-family: 'open_sansbold';
}
.certificate-number .awarded-date .date{
    color: #000000;
    font-family: 'open_sansregular';
}
.certificate-number .certificate-no .number{
    color: #000000;
    font-family: 'open_sansregular';
}
.footer-section{
    position: relative;
}

/*.footer-section .pass-tag {
    position: absolute;
    top: -40px;
    left: 30px;
}*/
.footer-section .bottom-email {
    position: absolute;
    bottom:30px;
    left: 0;
    right: 0;
    width: 595px;
    margin: 0 auto;
    z-index: 1050;
    color: #fff;
    text-align: center;
}
.footer-section .email{
    font-size: 12px;
}
.footer-section .email strong{
    color: #acb71d;
}
.footer-section .website{
    color: #acb71d;
}
.clear-both{
    clear: both;
}

.footer-pass{
    background-image:url(../images/footer-pass.png);
    background-repeat: no-repeat;
    width: 595px;
    height: 292px;
}
.footer-pass .sign-caption {
    margin-left: 300px;
}
.footer-pass .sign-caption p {
    color: #757576;
    margin-bottom: 8px;
    margin-top: 0;
    line-height: 14px;
    font-family: 'open_sansbold';
    font-size: 12px;
}
.footer-pass .bottom-email {
    color: #fff;
    text-align: center;
    margin-top: 60px;
}
.footer-pass .email {
    font-size: 12px;
}
.footer-pass .email strong {
    color: #acb71d;
}
.footer-pass .website {
    color: #acb71d;
}