body {
    font-family: 'open_sansregular';
    line-height: 24px;
    margin: 0;
    padding: 0px;
    color: #303030;
    font-size: 14px;
    background: #efefef;
}

@font-face {
  font-family: 'open_sansregular';
  src: url(' ../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

img {
  max-width: 100%;
  display: block
}
a {
  text-decoration: none
}
a:hover {
  text-decoration: none
}
ul {
  margin: 0;
  padding: 0;
  list-style: none
}
.btn-common{
    background: #ff4001 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    padding: 8px 18px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'open_sansbold';
	text-decoration:none;
}
.btn-common:hover{
    background-color: #0096a7;
	text-decoration:none;
}
.right-float{
  float: right;
  margin-top: 5px;
}
.top-bar {
    background: #2249a3;
    color: #ffffff;
    position: fixed;
    z-index: 99999;
    width: 100%;
    top: 0;
    height: 62px;
}
.dashboard-profile-section .heading-dashboard h1 span {
    float: right;
}
.dashboard-profile-section .heading-dashboard h1 span .btn-common {
    font-size: 15px;
    padding: 5px 12px;
}
.dashboard-profile-section .heading-dashboard h1 span .btn-common:hover {
	color:#fff;
}
.be-user-nav >li.dropdown > a img {
    max-width: 32px;
    max-height: 32px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}
.top-navbar.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}
.be-user-nav >li.dropdown a{
  color: #ffffff;
}
.be-user-nav>li.dropdown .dropdown-menu .user-info {
    background-color: #0096a7;
    color: #fff;
    overflow: hidden;
    padding: 20px 15px 14px;
    border-radius: 2px 2px 0 0;
    margin-bottom: 7px;
}
.be-user-nav>li.dropdown .dropdown-menu .user-info .user-name {
    display: block;
    font-size: 19px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.be-user-nav > li.dropdown .dropdown-menu {
    width: 220px;
    padding: 0 0 7px;
    margin-top: 10px;
}
.be-top-header .navbar-nav >li.dropdown .dropdown-menu {
    border-radius: 3px;
    margin-top: 12px;
}
.be-top-header .be-user-nav>li.dropdown .dropdown-menu:after {
    left: auto;
    right: 13px;
    border-bottom-color: #4285f4;
}
.be-user-nav>li.dropdown .dropdown-menu .user-info .user-position.online:after {
    background-color: #6cd187;
    border-color: #6cd187;
}
.be-user-nav>li.dropdown .dropdown-menu .user-info .user-position:after {
    content: "";
    position: absolute;
    height: 7px;
    width: 7px;
    left: 0;
    top: 9px;
    border: 1px solid #f0f0f0;
    border-radius: 50%;
    background-color: transparent;
    display: block;
}
.be-user-nav>li.dropdown .dropdown-menu .user-info .user-position {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 13px;
    position: relative;
}
.be-top-header .be-user-nav>li.dropdown .dropdown-menu:after {
    left: auto;
    right: 13px;
    border-bottom-color: #4285f4;
}
.be-top-header .navbar-nav>li.dropdown .dropdown-menu:after, .be-top-header .navbar-nav>li.dropdown .dropdown-menu:before {
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    top: -8px;
    content: "";
    display: inline-block;
    left: 42px;
    margin-left: -6px;
    position: absolute;
}
.open>.dropdown-menu {
    display: block;
}
.navbar-right .dropdown-menu {
    left: auto;
    right: 0;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.navbar-right {
    float: none!important;
    margin-right: 0;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}
.topbar-space{
}
.topbar-space span{
  display: inline-block;
  vertical-align: middle;
}
.topbar-space .welcome-text{
  display: inline-block;
  vertical-align: middle;
}
.topbar-space .user-welcome{
  display: inline-block;
  vertical-align: middle;
}
.be-user-nav > li.dropdown .dropdown-menu li a {
    color: #303030;
    font-size: 14px;
    padding: 6px 20px;
    margin: 0;
}
.be-user-nav > li.dropdown .dropdown-menu li a i {
    width: 18px;
}
.be-user-nav > li.dropdown .dropdown-menu li a:hover{
    background: #fd4002;
    color: #fff;
}
.be-user-nav > li.dropdown .dropdown-menu li a:hover i {
    color: #fff;
}
.left-sidebar-wrapper {
    background: #fff;
    bottom: 0;
    /*height: 100%;*/
    margin-top: 62px;
    /*min-height: 100%;*/
    position: fixed;
    top: 0;
    width: 280px;
    z-index: 1000;
    padding: 0;
    box-shadow: 0 0 60px #c7c6c6;
    overflow-y: scroll;
}
/*.left-sidebar-wrapper::-webkit-scrollbar {
    width: 6px;
    background-color: #fff;
} 
.left-sidebar-wrapper::-moz-scrollbar {
    width: 6px;
    background-color: #fff;
} 
.left-sidebar-wrapper::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #fff;
}
.left-sidebar-wrapper::-webkit-scrollbar-track {
    width: 6px;
    background-color: #fff;
}*/
.left-sidebar-wrapper .user-photo{
    padding: 30px 0;
}
.user-wrapper {
    text-align: center;
    border-bottom: solid 1px #e4e6ea;
}
.user-wrapper .user-photo a {
    text-align: center;
}
.user-wrapper .user-photo img{
    margin:0 auto;
    max-width: 82px;
    max-height: 82px;
    border-radius: 50%;
    margin-bottom: 6px;
}
.user-wrapper .user-photo  a{
    color: #1c1c1c;
    font-size: 16px;
    text-decoration: none;
}
.right-be-content {
    margin-top: 92px;
    margin-left: 310px;
    padding-right: 20px;
}
.right-be-content h2{
    font-size: 22px;
    padding-bottom: 15px;
    font-family: 'open_sansbold';
}
.right-be-content .progress-bar-section {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 25px;
}
.right-be-content .progress-bar-section hr{
    display: block;
	border-bottom:1px solid #ddd;
}
/*.right-be-content .progress-bar-section a{
    background: #fd4002 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'open_sansbold';
}
.right-be-content .progress-bar-section a:hover{
    text-decoration: none;
    background: #2249a3 none repeat scroll 0 0;
}*/
.right-be-content .back-check-btn{
    background: #fd4002 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'open_sansbold';
}
.right-be-content .back-check-btn:hover{
    text-decoration: none;
    background: #2249a3 none repeat scroll 0 0;
}
.right-be-content .progress-bar-section progress[value] {
    margin: 0;
}
.right-be-content .progress-bar-section .active-quiz-video{
   color: #2249a3;
   font-family: "open_sansbold";
   margin-bottom: 15px;
}
.right-be-content h1{
    color: #2249a3;
    font-size: 24px;
    margin: 0;
    margin-bottom: 25px;
    font-weight: bold;
}
.right-be-content h3{
    color: #2249a3;
    font-size: 22px;
    margin: 0;
    margin-bottom: 25px;
    font-weight: bold;
}
.right-be-content .white-bar{
    background: #fff;
    padding: 20px 20px;
    margin-bottom: 30px;
}
.right-be-content .white-bar .title{
    color: #2249a3;
    font-size: 22px;
    margin: 0;
    font-weight: bold;
}
.right-be-content .white-bar i{
    font-weight: bold;
    font-size: 15px;
    color: #323232;
}
.right-side{
    float: right;
}
.course-listing-box{
    background: #fff;
}
.course-listing-box img {
    width: 100%;
}
.course-listing-box-2 {
    padding: 20px 20px;
}
.course-listing-box-2 .sub-title {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #4e4e4e;
}
.course-listing-box-2 p{
    margin-bottom: 14px;
    font-size: 14px;
}
.course-listing-box a{
    background: #fd4002;
    padding: 8px 12px;
    display: block;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
}
.course-listing-box a:hover{
    background: #0096a7;
    text-decoration: none;
}
.course-listing-right{
    margin-bottom: 40px;
}
.table-white{
    background: #fff;
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
}
.table-white table tr th {
    text-align: center;
    text-transform: uppercase;
    padding: 14px 8px;
}
.table-white .table {
    margin-bottom: 0;
}
.table-white table tr td {
    padding: 18px 8px;
    width: 25%;
}
.pending-btn{
    background: #fd4002;
    padding: 4px 12px;
    color: #fff;
    width: 100px;
    display: inline-block;
}
.completed-btn{
    background: #0096a7;
    padding: 4px 12px;
    color: #fff;
    width: 100px;
    display: inline-block;
}
.points{
    color: #0198aa;
}
.title-box {
    background: #fff;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.req {
  color: #f00; }

.required-server {
  color: #f00; }

footer {
    background: #414141;
    padding: 35px 0;
    margin-left: 280px;
    position: relative;
    z-index: 1040;
    padding-left: 10px;
}
.copyright {
    color: #fff;
    font-size: 14px;
}
.copyright span{
    color: #fd4002;
}
footer h2{
    color: #fff;
    font-size: 19px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
}
footer li{
    color: #fff;
}
footer li i {
    color: #ff4001;
    font-size: 19px;
    width: 20px;
}
.griffin-logo {
    display: inline-block;
    vertical-align: middle;
    border-right: solid 1px #fff;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 9px;
}
.partner-logo {
    display: inline-block;
    vertical-align: middle;
    padding-top: 4px;
    margin-left: 10px;
    padding: 5px 0;
}
.white-bg{
    background:#fff;
    padding: 30px;
    margin-bottom: 30px;
}
.right-side-edit{
    float: right;
}
.right-side-edit a{
    color: #414141;
    text-decoration: none;
}
.right-side-edit a:hover{
    color: #fd4002;
}
.dashboard-profile-section .heading-dashboard{
    border-bottom: solid 1px #ddd;
}
.dashboard-profile-section .heading-dashboard h1{
    margin-bottom: 18px;
}
.dashboard-profile-section .heading-dashboard h2{
    margin-bottom: 18px;
    color: #2249a3;
    font-size: 24px;
    margin: 0;
    font-weight: bold;
    padding: 15px 0;
}
.dashboard-profile-section .dashboard-my-profile {
    margin-top: 20px;
    position: relative;
}
.dashboard-profile-section .bottom-my-profile label{
    font-family: 'open_sanssemibold';
}
.dashboard-profile-section .bottom-my-profile input[type="text"],.dashboard-profile-section .bottom-my-profile input[type="password"]{
    box-shadow: none;
    border-radius: 0;
    height: 40px;
    margin-top: 5px;
}
.dashboard-profile-section .bottom-my-profile select{
    box-shadow: none;
    border-radius: 0;
    height: 40px;
    margin-top: 5px;
}
.dashboard-profile-section .bottom-my-profile .req{
    color: #f00;
}
.dashboard-profile-section .bottom-my-profile p{
    /* color: #2249a3; */
}
.dashboard-profile-section .bottom-my-profile {
    margin-bottom: 15px;
}
.dashboard-profile-section .bottom-my-profile input[type="submit"]{
    background: #ff4001 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    padding: 8px 18px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'open_sansbold';
}
.dashboard-profile-section .bottom-my-profile input[type="submit"]:hover{
    background-color: #0096a7;
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #eee;
}
.styled-checkbox:hover + label:before {
  background: #f35429;
}
.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
  background: #f35429;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 11px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.question-reply {
    background: transparent;
    margin-bottom: 50px;
    padding: 21px 25px;
    position: relative;
    border: solid 1px #40b4c2;
    border-bottom: solid 4px #40b4c2;
    width: 100%;
    font-family: 'open_sansbold';
    font-size: 20px;
}
.question-reply .arrow-down {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #40b4c2;
    position: absolute;
    bottom: -19px;
}
.question-reply .arrow-down:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 21px solid transparent;
    border-right: 21px solid transparent;
    border-top: 21px solid #fff;
    position: absolute;
    top: -23px;
    left: -21px;
}
.textarea-answer-box {
    border: 0;
    padding: 20px;
    box-shadow: 0 0 20px #e6e6e6;
}
.textarea-answer-box textarea{
    color: #787878;
    border: solid 1px #dddbdb;
    height: 300px;
    box-shadow: none;
    border-radius: 0;
}
.true-fales {
    font-size: 22px;
    font-style: normal;
    padding-top: 10px;
    font-family: 'open_sanssemibold';
}
.site-video video {
    width: 100%;
}
.pie-chart {
    background: #f4f4f4;
    text-align: center;
    padding: 60px 0;
}
.pie-chart img {
    margin: 0 auto;
}
.report-chart .report-list {
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.report-chart .report-list i{
    margin-right: 5px;
}
.report-chart .center-image {
    margin-bottom: 30px;
}
.report-chart .center-image img{
    margin: 0 auto;
}
.report-list .report-info-first {
    /*font-family: 'open_sansextrabold';*/
    font-family: 'open_sansbold';
    color: #2249a3;
    font-size: 14px;
}
.report-list .report-info-second {
    font-size: 14px;
}
.result-now{
    background: #40b4c2;
    padding: 15px;
    margin-top: 25px;
}
.result-now .marks-right{
    float: right;
}
.result-now .marks-number{
    font-size: 23px;
    font-family: 'open_sansbold';
    color: #fff;
}
.pre-next-section{
    margin-bottom: 30px;
}
.pre-next-section .pagination-pre-next {
    background: #fd4002;
    border: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-family: 'open_sansbold';
    outline: 0;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
}
.pre-next-section .pagination-pre-next:hover {
    background: #40b4c2;
    text-decoration: none;
}
.pre-next-section .right-next-side{
    float: right;
}
.pre-next-section .pagination-next-pre {
    text-align: center;
    margin-top: 10px;
}
.pre-next-section .pagination-next-pre li{
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.pre-next-section .pagination-next-pre li a {
    text-align: center;
    display: inline-block;
    margin: 0 4px;
    padding: 0 0;
    text-decoration: none;
    color: #ffffff;
    background: #40b4c2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 3px;
}
.pre-next-section .pagination-next-pre li.active a{
    text-decoration: none;
    background: #fd4002;
}
.pre-next-section .pagination-next-pre li a:hover {
    text-decoration: none;
    background: #fd4002;
}
.submit-answer-btn a {
    background: #fd4002 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-family: "open_sansbold";
    font-size: 16px;
    margin-bottom: 30px;
    outline: 0 none;
    padding: 12px 20px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}
.submit-answer-btn a:hover {
    background: #40b4c2 none repeat scroll 0 0;
    text-decoration: none;
}
.sub-question{
    margin-bottom: 20px;
    margin-left: 60px;
}
.sub-question p{
    font-family: 'open_sanssemibold';
}
body .white-popup {
    position: relative;
    background: #FFF;
    padding: 0;
    width: auto;
    max-width: 580px;
    margin: 0 auto;
}
body .white-popup button.mfp-close {
    background: #fd4002;
    opacity: 1;
    color: #fff !important;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    line-height: 33px;
    font-size: 20px;
    right: -10px;
    top: -10px;
}
span.right-tick {
    background: transparent;
    border: solid 3px #5fcb08;
    color: #fff;
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    font-size: 44px;
    padding-top: 14px;
    margin-right: 10px;
    vertical-align: middle;
    background: #5fcb08;
}
span.right-wrong {
    background: transparent;
    border: solid 3px #dd0120;
    color: #fff;
    width: 80px;
    height: 80px;
    display: inline-block;
    text-align: center;
    font-size: 44px;
    padding-top: 14px;
    margin-right: 10px;
    vertical-align: middle;
    background:#dd0120;
}
span.content-caption {
    font-family: 'open_sansbold';
    font-size: 24px;
    vertical-align: middle;
    display: inline-block;
    color: #5fcb08;
}
span.content-caption.red {
    color: #dd0120;
}
a .fancy-radio-button .radio-active-bg{
    background: #fd4002 none repeat scroll 0 0;
    border: solid 1px #fd4002;
    color: #fff;
}
ul#inline-popups a {
    outline: 0;
    text-decoration: none;
}
.message-caption {
    padding: 15px;
    border-top: solid 1px #ddd;
}
.message-caption p {
    font-style: italic;
}
.footer-location {
    float: left;
    width: 20px;
}
.footer-address {
    float: left;
    width: 280px;
}
.complete-video-process {
    background: #6cd187 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 5px 12px;
}
.complete-video-process i {
    margin-right: 5px;
}
.notcomplete-video-process{
	background: #f00 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 5px 12px;
}

body .right-be-content .notcomplete-video-process a {
    background: transparent none repeat scroll 0 0;
    border-left: 2px solid #fff;
    color: #fff;
    float: right;
    font-size: 23px;
    padding: 0;
    text-decoration: none;
}
body .right-be-content .notcomplete-video-process a .play-quiz-text {
    font-size: 18px;
    vertical-align: top;
}
body .right-be-content .notcomplete-video-process a i {
    margin-left: 10px;
}
body .right-be-content .notcomplete-video-process a:hover{
    background: transparent none repeat scroll 0 0;
	text-decoration:none;
}
.comment-text{
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

.comment-text:before{
	content: "\f101";
	font-family:FontAwesome;
	margin-right:5px;
	
}
/*.footer-address {
    float: left;
    width: 380px;
}*/
/************************************ Slick Slider ************************************/
.slick-slide {
  margin: 0px 20px;
}
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    z-index: 1050;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color:#000;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -10px;
}
[dir='rtl'] .slick-prev
{
    right: -10px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -10px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -10px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
.slick-prev:before{
    font-family: FontAwesome;
    content: "\f104";
    font-size: 35px;
}
.slick-next:before {
    font-family: FontAwesome;
    content: "\f105";
    font-size: 35px;
}

/************************************ Slick Slider ************************************/

/******************************* Custom radio button *******************************/

a .fancy-radio-button {
    width: 100%;
    float: none;
    margin-bottom: 20px;
}
a .fancy-radio-button{
  position: relative;
}
a .fancy-radio-button .radio-oval {
    width: 70px;
    float: left;
}
/*a .fancy-radio-button .checkbox-oval {
    width: 70px;
    float: left;
}*/
a .fancy-radio-button label:before {
    content: "";
    width: 24px;
    height: 24px;
    background: #ff4001;
    position: absolute;
    left: 7px;
    top: 24px;
    box-sizing: border-box;
    border-radius: 50%;
}
a .fancy-radio-button .red-radio-oval label:before{
    background: #ea1241;
}

a .fancy-radio-button input[type="radio"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  top: calc(50% - 15px);
  cursor: pointer;
}

a .fancy-radio-button .bullet {
    position: relative;
    width: 45px;
    height: 45px;
    left: -3px;
    top: 14px;
    border: 5px solid #ff4001;
    opacity: 0;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
a .fancy-radio-button .red-radio-oval .bullet {
    border: 5px solid #ea1241;
}

a .fancy-radio-button input[type="radio"]:checked ~ .bullet {
  position:absolute;
  opacity: 1;
  animation-name: explode;
  animation-duration: 0.350s;
}

a .fancy-radio-button .line {
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #f5c10c;
  opacity:0;
}
a .fancy-radio-button .red-radio-oval .line{
  background: #ea1241;
}

a .fancy-radio-button .line.zero {
  left: 11px;
  top: -21px;
  transform: translateY(20px);
  width: 2px;
  height: 10px;
}

a .fancy-radio-button .line.one {
  right: -7px;
  top: -11px;
  transform: rotate(-55deg) translate(-9px);
}

a .fancy-radio-button .line.two {
  right: -20px;
  top: 11px;
  transform: translate(-9px);
}

a .fancy-radio-button .line.three {
  right: -8px;
  top: 35px;
  transform: rotate(55deg) translate(-9px);
}

a .fancy-radio-button .line.four {
  left: -8px;
  top: -11px;
  transform: rotate(55deg) translate(9px);
}

a .fancy-radio-button .line.five {
  left: -20px;
  top: 11px;
  transform: translate(9px);
}

a .fancy-radio-button .line.six {
  left: -8px;
  top: 35px;
  transform: rotate(-55deg) translate(9px);
}

a .fancy-radio-button .line.seven {
  left: 11px;
  bottom: -21px;
  transform: translateY(-20px);
  width: 2px;
  height: 10px;
}

a .fancy-radio-button input[type="radio"]:checked ~ .bullet .line.zero{
  animation-name:drop-zero;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

a .fancy-radio-button input[type="radio"]:checked ~ .bullet .line.one{
  animation-name:drop-one;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

a .fancy-radio-button input[type="radio"]:checked ~ .bullet .line.two{
  animation-name:drop-two;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

a .fancy-radio-button input[type="radio"]:checked ~ .bullet .line.three{
  animation-name:drop-three;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

a .fancy-radio-button input[type="radio"]:checked ~ .bullet .line.four{
  animation-name:drop-four;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

a .fancy-radio-button input[type="radio"]:checked ~ .bullet .line.five{
  animation-name:drop-five;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

a .fancy-radio-button input[type="radio"]:checked ~ .bullet .line.six{
  animation-name:drop-six;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

a .fancy-radio-button input[type="radio"]:checked ~ .bullet .line.seven{
  animation-name:drop-seven;
  animation-delay: 0.100s;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;
}

@keyframes explode {
  0%{
    opacity: 0;
    transform: scale(10);
  }
  60%{
    opacity: 1;
    transform: scale(0.5);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes drop-zero {
  0% {
    opacity: 0;
    transform: translateY(20px);
    height: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translateY(-2px);
    height: 0px;
    opacity:0;
  }
}

@keyframes drop-one {
  0% {
    opacity: 0;
    transform: rotate(-55deg) translate(-20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(-55deg) translate(9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-two {
  0% {
    opacity: 0;
    transform: translate(-20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translate(9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-three {
  0% {
    opacity: 0;
    transform: rotate(55deg) translate(-20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(55deg) translate(9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-four {
  0% {
    opacity: 0;
    transform: rotate(55deg) translate(20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(55deg) translate(-9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-five {
  0% {
    opacity: 0;
    transform: translate(20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translate(-9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-six {
  0% {
    opacity: 0;
    transform: rotate(-55deg) translate(20px);
    width: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: rotate(-55deg) translate(-9px);
    width: 0px;
    opacity:0;
  }
}

@keyframes drop-seven {
0% {
    opacity: 0;
    transform: translateY(-20px);
    height: 10px;
  }
  20% {
    opacity:1;
  }
  100% {
    transform: translateY(2px);
    height: 0px;
    opacity:0;
  }
}

span.content-right {
    background: #fff;
    border: solid 1px #dddbdb;
    display: block;
    margin-left: 60px;
    padding: 20px 20px;
    box-shadow: 0 0 33px #ebebeb;
    font-style: italic;
    min-height: 70px;
}
.submit-answer-btn input[type="submit"]{
    background: #fd4002;
    border: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-family: 'open_sansbold';
    outline: 0;
    padding: 12px 20px;
    margin-bottom: 30px;
}
.submit-answer-btn input[type="submit"]:hover{
    background: #40b4c2;
}

/******************************* Custom radio button *******************************/

/***************************** left-side menu *************************************/

.eos-menu,
.eos-menu *,
.eos-menu *:before,
.eos-menu *:after {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.eos-menu {
    font-size: 14px;
    color: #eee;
}

.eos-menu li {
    list-style: none;
}

.eos-menu .eos-menu-content {
    position: absolute;
    width: 100%;
    overflow-y: hidden;
    height: 0px;
    z-index: 10;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.eos-menu .eos-group-content {
    overflow-y: hidden;
    height: 0px;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.eos-menu .eos-menu-title,
.eos-menu .eos-group-title,
.eos-menu .eos-item {
    height: auto !important;
    line-height: 40px;
    background: transparent !important;
    border-color: #e4e6ea !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-bottom: 1px solid transparent;
    padding: 6px 0;
    color: #414141;
    text-transform: uppercase;
}

.eos-menu .eos-menu-title .fa,
.eos-menu .eos-group-title .fa,
.eos-menu .eos-item .fa {
    line-height: 40px;
    margin-right: 8px;
}

.eos-menu .eos-menu-title:hover,
.eos-menu .eos-group-title:hover,
.eos-menu .eos-item:hover {
    cursor: pointer;
    background:#234aa4 !important;

}
/*.eos-menu .eos-group-content:hover li a{
    background: transparent !important;
    color: #fd4002 !important
}*/
.eos-menu .eos-group-content .eos-item {
    background: #263442;
    padding-left: 30px !important;
}

.eos-menu .eos-item a {
    color: #414141 !important;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.eos-menu .eos-pull-right {
    float: right;
}

.eos-menu .auto-height {
    height: auto;
}
.eos-menu .eos-item:hover {
    background: #234aa4 !important;
}
.eos-menu .eos-item:hover a{
    color: #fff !important;
}

@media (min-width: 768px) {
    .eos-menu .eos-menu-title {
        display: none;
    }
    .eos-menu .eos-menu-content {
        height: auto;
        position: inherit;
    }
}

/***************************** left-side menu *************************************/

.footer-address a{
    color: #fff;
    text-decoration: none;
}
#myTermModal .modal-content {
   /*  background-color: #ff4001;
   color: #fff; */
    text-align: center;
}

#myTermModal .modal-header h4{
    color: #fff;
    text-transform: uppercase;
    font-family: 'open_sansbold';
    text-align: center;
}
#myTermModal .modal-body {
    padding: 15px 0;
}
#myTermModal .modal-footer{
    padding: 20px 0 0;
    text-align: center;
}
#myTermModal .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #2249a3;
}
#acceptTerm {
    background: #2249a3;
    color: #ffffff;
    border: 0;
    padding: 5px 20px;
    text-transform: uppercase;
    font-family: 'open_sansbold';
}
#myTermModal .styled-checkbox + label::before {
    border: solid 1px #ccc;
}
#myTermModal p {
    margin:0 0 5px;
}
#myTermModal .form-error{
    font-size: 12px;
}
body .required-server p {
    color: #f00;
}


/********************************** 3-october-2017 *********************************/

.progress-bar-section{
    background: #f6f6f6;
    border: solid 1px #dcdcdc;
    padding: 20px;
}
.progress-bar-section h2 {
    text-transform: uppercase;
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'open_sansbold';
}
.progress-content-report {
    border-bottom: solid 1px #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.progress-content-report:last-child {
    border: 0;
    padding: 0;
    margin: 0;
}
.progress-bar-section .media-content-box{}
.progress-bar-section .media-content-box h3{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'open_sanssemibold';
}
.progress-bar-system .course-completed-box {
    background: #5bc3a2;
    padding: 5px 12px;
    color: #fff;
    border-radius: 5px;
    border: solid 1px #44ab8a;
}
.progress-bar-system .course-completed-box i.fa.fa-check {
    background: #44ab8a;
    padding: 5px;
    margin-right: 5px;
    border-radius: 50%;
}
.progress-bar-system .right-smile{
    float: right;
}
.progress-bar-system .course-notcompleted-box {
    background: #fb3535;
    padding: 5px 12px;
    color: #fff;
    border-radius: 5px;
    border: solid 1px #cc0202;
}
.progress-bar-system .course-notcompleted-box i.fa.fa-times {
    background: #cc0202;
    padding: 3px 5px;
    margin-right: 5px;
    border-radius: 50%;
}
.progress-bar-system .course-notcompleted-box .play-quiz-now {
    float: right;
    border-left: solid 2px #fff;
}
.progress-bar-system .course-notcompleted-box .play-quiz-now a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}
.progress-bar-system .course-notcompleted-box .play-quiz-now a i {
    font-size: 24px;
    display: inline-block;
    vertical-align: top;
}
.progress-bar-system .course-notcompleted-box .play-quiz-now a strong{
    text-transform: uppercase;
}

.progress {
  height: 35px;
  margin-bottom: 10px;

}
.progress .skill {
  font-size:12px;
  line-height: 35px;
  padding: 0;
  margin: 0 0 0 10px;
  text-transform: uppercase;
  font-family: 'open_sanssemibold';
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}


/********************************** 3-october-2017 *********************************/


/************************************ 13-nov-2017 ************************************/

a .fancy-radio-button .control-group {
  display: inline-block;
  vertical-align: top;
}
a .fancy-radio-button .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
}
a .fancy-radio-button .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
a .fancy-radio-button .control__indicator {
    position: absolute;
    top: 22px;
    left: 10px;
    height: 24px;
    width: 24px;
    background: #ff4001;
}
a .fancy-radio-button .control--radio .control__indicator {
  border-radius: 50%;
}
a .fancy-radio-button .control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
a .fancy-radio-button .control input:checked ~ .control__indicator {
    background: #ff4001;
}
a .fancy-radio-button .control:hover input:not([disabled]):checked ~ .control__indicator,
a .fancy-radio-button .control input:checked:focus ~ .control__indicator {
  background: #ff4001;
}
a .fancy-radio-button .control input:disabled ~ .control__indicator {
  background: #ff4001;
  opacity: 0.6;
  pointer-events: none;
}
a .fancy-radio-button .control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
a .fancy-radio-button .control input:checked ~ .control__indicator:after {
  display: block;
}
a .fancy-radio-button .control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 7px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
a .fancy-radio-button .control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
a .fancy-radio-button .control--radio .control__indicator:after {
  left: 7px;
  top: 7px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
}
a .fancy-radio-button .control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
a .fancy-radio-button.checkbox-label label:before {
    display: none;
}
a .fancy-radio-button span.checkbox-content {
    background: #fff;
    border: solid 1px #dddbdb;
    display: block;
    margin-left: 30px;
    padding: 20px 20px;
    box-shadow: 0 0 33px #ebebeb;
    font-style: normal;
    font-weight: normal;
    min-height: 70px;
}
/************************************ 13-nov-2017 ************************************/

/******************************* Media ********************************/

@media (max-width:1199px) and (min-width:980px) {
.left-sidebar-wrapper {
    width: 200px;
}
.right-be-content {
    margin-left: 230px;
}
.footer-address {
    float: left;
    width: 180px;
}
.mailto-email {
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    word-wrap: break-word;
    text-decoration: none;
}
.mailto-email {
    text-decoration: none;
    color:#fff;
}
footer {
    margin-left: 200px;
}
.footer-address {
    float: left;
    width: 200px;
}
}

@media (max-width:979px) and (min-width:768px) {
.left-sidebar-wrapper {
    width: 190px;
}
.right-be-content {
    margin-left: 210px;
}
footer {
    margin-left: 190px;
}
.eos-menu .eos-menu-title, .eos-menu .eos-group-title, .eos-menu .eos-item {
    padding: 2px 0;
    font-size: 12px;
}
.course-listing-box-2 .sub-title {
    font-size: 14px;
}
.course-listing-box-2 p {
    font-size: 13px;
    line-height: 22px;
}
.course-listing-box {
    margin-bottom: 25px;
}
.right-be-content h1 {
    font-size: 22px;
}
.footer-address {
    float: left;
    width: 130px;
}
.mailto-email {
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    word-wrap: break-word;
    text-decoration: none;
}
.mailto-email {
    text-decoration: none;
    color:#fff;
}
.footer-address {
    float: left;
    width: 120px;
}
}

@media (max-width:767px) {
.left-sidebar-wrapper {
    position: relative;
    top: 0;
    width: 100%;
    margin-top: 110px;
}
.right-be-content {
    margin-top: 20px;
    margin-left: 0;
    padding: 0 20px;
}
.user-wrapper {
    display: none;
}
.top-bar {
    height: auto;
}
.right-float {
    float: none;
    margin-top: 0;
    text-align: center;
    border-top: solid 1px #fff;
}
.topbar-space .user-welcome .navbar-nav {
    margin: 0;
}
.topbar-space .welcome-text {
    display: none;
}
.be-user-nav > li.dropdown .dropdown-menu {
    width: 220px;
    padding: 0 0 7px;
    margin-top: 10px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: #fff;
}
.eos-menu .eos-menu-content {
    background: #fff;
}
.course-listing-box {
    background: #fff;
    margin-bottom: 25px;
}
footer {
    margin-left: 0;
    padding: 35px 20px;
    z-index: 1050;
}
.copyright {
    margin-bottom: 15px;
}
footer img {
    margin-bottom: 10px;
}
.griffin-logo {
    width: 70%;
}
.footer-address {
    float: left;
    width: 220px;
}
.mailto-email {
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    word-wrap: break-word;
    text-decoration: none;
}
.mailto-email {
    text-decoration: none;
    color:#fff;
}
.question-reply{
    font-size:16px;
}
.right-be-content h1 {
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 25px;
    text-align: center;
}
}

@media(min-width:320px) and (max-width:480px) {

}

/******************************* Media ********************************/



#change-profile-pic {
    background: #fd4002 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
	border-radius:0;
}
#change-profile-pic:hover {
    background: #0096a7 none repeat scroll 0 0;
    text-decoration: none;
}
#profile_pic_modal .modal-header {
    background: #0096a7 none repeat scroll 0 0;
    color: #fff;
    padding: 0;
}
#profile_pic_modal .modal-header h3 {
    font-weight: bold;
    margin: 0;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
	font-family: 'open_sansextrabold';
}
#profile_pic_modal .modal-header button.close {
    background: #fd4002 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    height: 30px;
    opacity: 1;
    padding: 0;
    position: relative;
    right: -10px;
    text-shadow: none;
    top: -5px;
    width: 30px;
}
#profile_pic_modal .modal-body p strong{
	color:#fd4002;
}
#save_crop {
    background: #0096a7 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
	border-radius:0;
}
#save_crop:hover {
    background:#fd4002  none repeat scroll 0 0;
    text-decoration: none;
}

#myModalView .modal-header {
    background: #0096a7 none repeat scroll 0 0;
    color: #fff;
    padding: 0;
}
#myModalView .modal-header h4 {
    font-weight: bold;
    margin: 0;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
	font-family: 'open_sansextrabold';
}
#myModalView .modal-header button.close {
    background: #fd4002 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    height: 30px;
    opacity: 1;
    padding: 0;
    position: relative;
    right: -10px;
    text-shadow: none;
    top: -5px;
    width: 30px;
}
#myModalView .modal-body p strong{
	color:#fd4002;
}

#myModalView .modal-footer .btn {
    background: #0096a7 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
	border-radius:0;
}
#myModalView .modal-footer .btn:hover {
    background:#fd4002  none repeat scroll 0 0;
    text-decoration: none;
}
.takequizagain {
    color: #2249a3;
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
}
.takequizagain i {
    font-size: 16px;
}
.disable-cursor {
    cursor: no-drop;
    opacity: 0.2;
}
.checkbox-martp {
    margin-top: 42px;
}
table > thead > tr > th{
    text-align: left;
}
table tr td {
    text-align: left;
}
table tr td.text-center{
    text-align: left;
}