@media print {
    body {
            -webkit-print-color-adjust: exact;
            -moz-print-color-adjust: exact;
            -o-print-color-adjust: exact;
            -ms-print-color-adjust: exact;
            print-color-adjust: exact;
    }
    .wrapper-pdf{
   width: 595px;
   margin:0 auto; 
}
.top-header{
    width: 595px;
    height: 272px;
    background-image: url(../images/top-bar.png);
    background-repeat: no-repeat;
}
.top-bar{
    position: relative;
}
.top-bar-caption {
    color: #6d750b;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 595px;
    font-size: 22px;
    text-align: center;
    font-family: 'open_sanssemibold';
}
.certifies-name {
    color: #000;
    font-size: 35px;
    text-align: center;
    font-family: 'open_sansbold';
    margin: 30px 0 60px;
}
.certifies-message-center {
    color: #737c15;
    font-size: 20px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 40px;
}
.certifies-course-center {
    color: #000000;
    font-size: 28px;
    text-align: center;
    line-height: 28px;
    margin-bottom: 80px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.certificate-number {
    float: right;
    margin-right: 110px;
    margin-bottom: 20px;
}
.certificate-number .awarded-date{
    color: #6f6f6f;
    font-family: 'open_sansbold';
}
.certificate-number .certificate-no{
    color: #6f6f6f;
    font-family: 'open_sansbold';
}
.certificate-number .awarded-date .date{
    color: #000000;
    font-family: 'open_sansregular';
}
.certificate-number .certificate-no .number{
    color: #000000;
    font-family: 'open_sansregular';
}
.footer-section{
    position: relative;
}
.footer-section .sign-caption {
    position: relative;
}
.footer-section .sign-caption p {
    color: #757576;
    margin-bottom: 8px;
    margin-top: 0;
    line-height: 14px;
    font-family: 'open_sansbold';
    font-size: 12px;
}
/*.footer-section .pass-tag {
    position: absolute;
    top: -40px;
    left: 30px;
}*/
.footer-section .bottom-email {
    position: absolute;
    bottom:30px;
    left: 0;
    right: 0;
    width: 595px;
    margin: 0 auto;
    z-index: 1050;
    color: #fff;
    text-align: center;
}
.footer-section .email{
    font-size: 12px;
}
.footer-section .email strong{
    color: #acb71d;
}
.footer-section .website{
    color: #acb71d;
}
.clear-both{
    clear: both;
}

.footer-pass{
    background-image:url(../images/footer-pass.png);
    background-repeat: no-repeat;
    width: 595px;
    height: 292px;
}
.footer-pass .sign-caption {
    position: relative;
    float: right;
    margin-right: 70px;
}
.footer-pass .sign-caption p {
    color: #757576;
    margin-bottom: 8px;
    margin-top: 0;
    line-height: 14px;
    font-family: 'open_sansbold';
    font-size: 12px;
}
.footer-pass .bottom-email {
    color: #fff;
    text-align: center;
    margin-top: 60px;
}
.footer-pass .email {
    font-size: 12px;
}
.footer-pass .email strong {
    color: #acb71d;
}
.footer-pass .website {
    color: #acb71d;
}
}
