body {
	margin: 0;
	padding: 0;
	font-family:Verdana, Geneva, sans-serif;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}


@font-face {
    font-family: 'rockwellregular';
    src: url('../fonts/rock-webfont.eot');
    src: url('../fonts/rock-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rock-webfont.woff') format('woff'),
         url('../fonts/rock-webfont.ttf') format('truetype'),
         url('../fonts/rock-webfont.svg#rockwellregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}


header {
	background: #fff;
	border-bottom:solid 1px #e0e2e3;
	width: 100%;
}
header .brandLogo {
	overflow: hidden;
	padding: 0;
}
nav {
	margin: 0 0 0;
	overflow: hidden;
	padding: 0;
	
}



.navbarbg {
	background: #0a1016; /* Old browsers */
background: -moz-linear-gradient(top, #0a1016 0%, #202621 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a1016), color-stop(100%,#202621)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0a1016 0%,#202621 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0a1016 0%,#202621 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0a1016 0%,#202621 100%); /* IE10+ */
background: linear-gradient(to bottom, #0a1016 0%,#202621 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a1016', endColorstr='#202621',GradientType=0 ); /* IE6-9 */
	height:auto;
    width: 100%;
	position: relative;
	z-index: 1;
}




#navcontainer ul li { display:inline-block; float:left;}

#navcontainer ul li a
{
text-shadow: none;
	color: #aedfee;
	float:left;
	text-align: center;
background: #202621; /* Old browsers */
background: -moz-linear-gradient(top, #202621 0%, #0a1116 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202621), color-stop(100%,#0a1116)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #202621 0%,#0a1116 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #202621 0%,#0a1116 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #202621 0%,#0a1116 100%); /* IE10+ */
background: linear-gradient(to bottom, #202621 0%,#0a1116 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202621', endColorstr='#0a1116',GradientType=0 ); /* IE6-9 */
	 font-family: 'rockwellregular';
	 transition: all 0.5s ease 0s;
	font-size: 14px;
	margin-left:6px;
	padding-left:8px; padding-right:8px;
	padding-top:14px;
	padding-bottom:14px;
	width:72px;
	text-decoration:none;



}

#navcontainer ul li a:hover
{
background: #fc60c6; /* Old browsers */
background: -moz-linear-gradient(top, #fc60c6 0%, #d00283 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc60c6), color-stop(100%,#d00283)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* IE10+ */
background: linear-gradient(to bottom, #fc60c6 0%,#d00283 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc60c6', endColorstr='#d00283',GradientType=0 ); /* IE6-9 */
	color: #fff;
	text-decoration:none;

}


#navcontainer ul li a.active
{
background: #fc60c6; /* Old browsers */
background: -moz-linear-gradient(top, #fc60c6 0%, #d00283 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc60c6), color-stop(100%,#d00283)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* IE10+ */
background: linear-gradient(to bottom, #fc60c6 0%,#d00283 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc60c6', endColorstr='#d00283',GradientType=0 ); /* IE6-9 */
	color: #fff;
	text-decoration:none;

}


.slides img{width:100%;}


.search-box input{ height:24px; background-color:#aedfee; -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:solid 1px #aedfee; font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#000;  font-family: 'rockwellregular'; font-weight:normal; background-image:url(../images/search-icon.png); background-position:right center; background-repeat:no-repeat; margin-top:9px; 	
	behavior: url(PIE.htc);}

.advance-search a{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:solid 2px #445157;  font-family: 'rockwellregular'; font-size:14px; color:#aedfee; padding-left:15px; padding-right:15px;  margin-top:8px; text-decoration:none;}

.advance-search a{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:solid 2px #445157;  font-family: 'rockwellregular'; display:block; font-size:14px; color:#aedfee; text-align:center; line-height:30px;  margin-top:8px; 	
	behavior: url(PIE.htc); text-decoration:none;}

.advance-search a:hover{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
background: #fc60c6; /* Old browsers */
background: -moz-linear-gradient(top, #fc60c6 0%, #d00283 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc60c6), color-stop(100%,#d00283)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* IE10+ */
background: linear-gradient(to bottom, #fc60c6 0%,#d00283 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc60c6', endColorstr='#d00283',GradientType=0 ); /* IE6-9 */
text-decoration:none;
border-radius: 5px; border:solid 2px #445157; text-decoration:none;  font-family: 'rockwellregular'; font-size:14px; color:#fff;  margin-top:8px;}

.advance-search a.active{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
background: #fc60c6; /* Old browsers */
background: -moz-linear-gradient(top, #fc60c6 0%, #d00283 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc60c6), color-stop(100%,#d00283)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* IE10+ */
background: linear-gradient(to bottom, #fc60c6 0%,#d00283 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc60c6', endColorstr='#d00283',GradientType=0 ); /* IE6-9 */
text-decoration:none;
border-radius: 5px; border:solid 2px #445157; text-decoration:none;  font-family: 'rockwellregular'; font-size:14px; color:#fff;  margin-top:8px;}

.track-title{font-family: 'rockwellregular'; color:#afdeec; font-size:14px;}

.newly-added a{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:solid 2px #445157;  font-family: 'rockwellregular'; font-size:14px; color:#aedfee;  padding-left:15px; margin-top:8px; text-decoration:none;}

.newly-added a{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:solid 2px #445157;  font-family: 'rockwellregular'; display:block; font-size:14px; color:#aedfee;  padding-left:15px; margin-top:8px; text-decoration:none;
	
	behavior: url(PIE.htc);}

.newly-added a:hover{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
background: #fc60c6; /* Old browsers */
background: -moz-linear-gradient(top, #fc60c6 0%, #d00283 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc60c6), color-stop(100%,#d00283)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* IE10+ */
background: linear-gradient(to bottom, #fc60c6 0%,#d00283 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc60c6', endColorstr='#d00283',GradientType=0 ); /* IE6-9 */
text-decoration:none;
border-radius: 5px; border:solid 2px #445157;  font-family: 'rockwellregular'; font-size:14px; color:#fff; padding-left:15px; margin-top:8px; text-decoration:none;}



.newly-added a.active{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
background: #fc60c6; /* Old browsers */
background: -moz-linear-gradient(top, #fc60c6 0%, #d00283 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc60c6), color-stop(100%,#d00283)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* IE10+ */
background: linear-gradient(to bottom, #fc60c6 0%,#d00283 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc60c6', endColorstr='#d00283',GradientType=0 ); /* IE6-9 */
text-decoration:none;
border-radius: 5px; border:solid 2px #445157;  font-family: 'rockwellregular'; font-size:14px; color:#fff; padding-left:15px; margin-top:8px; text-decoration:none;}


.play-area{background: #202621; /* Old browsers */
background: -moz-linear-gradient(top, #202621 0%, #0a1116 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202621), color-stop(100%,#0a1116)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #202621 0%,#0a1116 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #202621 0%,#0a1116 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #202621 0%,#0a1116 100%); /* IE10+ */
background: linear-gradient(to bottom, #202621 0%,#0a1116 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202621', endColorstr='#0a1116',GradientType=0 ); /* IE6-9 */
width:220px;
color:#aedfee; margin-left:20px; padding-top:12px; padding-left:10px; padding-bottom:8px;

}

.volium-area{
color:#aedfee; 

}

.mar-left-15{margin-left:10px;}

.content-section h1{font-size:28px; color:#2a2a2a; font-family: 'rockwellregular';}

.signup-bt {
	
		background: #fb60c6;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fb60c6), to(#d00384));
	background: -webkit-linear-gradient(#fb60c6, #d00384);
	background: -moz-linear-gradient(#fb60c6, #d00384);
	background: -ms-linear-gradient(#fb60c6, #d00384);
	background: -o-linear-gradient(#fb60c6, #d00384);
	background: linear-gradient(#fb60c6, #d00384);
	-pie-background: linear-gradient(#fb60c6, #d00384); /* Old browsers */
	behavior: url(PIE.htc);
	position:relative;
	
	
	display:inline-block;
	color:#fff;
	transition: all 0.5s ease 0s;
	padding:8px;
		padding-left:15px; padding-right:15px;
	font-size:16px;
	text-decoration:none;
	text-align:center;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-decoration:none;
	
}
.signup-bt:hover {
    background: #daf6ff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#daf6ff), to(#afe0ee));
	background: -webkit-linear-gradient(#daf6ff, #afe0ee);
	background: -moz-linear-gradient(#daf6ff, #afe0ee);
	background: -ms-linear-gradient(#daf6ff, #afe0ee);
	background: -o-linear-gradient(#daf6ff, #afe0ee);
	background: linear-gradient(#daf6ff, #afe0ee);
	-pie-background: linear-gradient(#daf6ff, #afe0ee); /* Old browsers */
	behavior: url(PIE.htc);
	position:relative;
	text-decoration:none;
	
	
	
color:#000;
	text-decoration:none;
}



.signin-bt {
	
	  background: #daf6ff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#daf6ff), to(#afe0ee));
	background: -webkit-linear-gradient(#daf6ff, #afe0ee);
	background: -moz-linear-gradient(#daf6ff, #afe0ee);
	background: -ms-linear-gradient(#daf6ff, #afe0ee);
	background: -o-linear-gradient(#daf6ff, #afe0ee);
	background: linear-gradient(#daf6ff, #afe0ee);
	-pie-background: linear-gradient(#daf6ff, #afe0ee); /* Old browsers */
	behavior: url(PIE.htc);
	position:relative;
	text-decoration:none;
	
color:#000;
	display:inline-block;
	transition: all 0.5s ease 0s;
	padding:8px;
	margin-left:15px;
	padding-left:15px; padding-right:15px;
	font-size:16px;
	text-decoration:none;
	text-align:center;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	
}
.signin-bt:hover {
	background: #fb60c6;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fb60c6), to(#d00384));
	background: -webkit-linear-gradient(#fb60c6, #d00384);
	background: -moz-linear-gradient(#fb60c6, #d00384);
	background: -ms-linear-gradient(#fb60c6, #d00384);
	background: -o-linear-gradient(#fb60c6, #d00384);
	background: linear-gradient(#fb60c6, #d00384);
	-pie-background: linear-gradient(#fb60c6, #d00384); /* Old browsers */
	behavior: url(PIE.htc);
	position:relative;
	text-decoration:none;
color:#FFF;
	text-decoration:none;
}


.readmore-bt {
  background: #daf6ff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#daf6ff), to(#afe0ee));
	background: -webkit-linear-gradient(#daf6ff, #afe0ee);
	background: -moz-linear-gradient(#daf6ff, #afe0ee);
	background: -ms-linear-gradient(#daf6ff, #afe0ee);
	background: -o-linear-gradient(#daf6ff, #afe0ee);
	background: linear-gradient(#daf6ff, #afe0ee);
	-pie-background: linear-gradient(#daf6ff, #afe0ee); /* Old browsers */
	behavior: url(PIE.htc);
	position:relative;
color:#000;
	display:inline-block;
	padding:8px;
	padding-left:15px; padding-right:15px;
	font-size:16px;
	text-decoration:none;
	transition: all 0.5s ease 0s;
	text-align:center;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
text-decoration:none;
	
}
.readmore-bt:hover {
	background: #fb60c6;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fb60c6), to(#d00384));
	background: -webkit-linear-gradient(#fb60c6, #d00384);
	background: -moz-linear-gradient(#fb60c6, #d00384);
	background: -ms-linear-gradient(#fb60c6, #d00384);
	background: -o-linear-gradient(#fb60c6, #d00384);
	background: linear-gradient(#fb60c6, #d00384);
	-pie-background: linear-gradient(#fb60c6, #d00384); /* Old browsers */
	behavior: url(PIE.htc);
	position:relative;
	text-decoration:none;
color:#FFF;
	text-decoration:none;
}


/* This button was generated using CSSButtonGenerator.com */


.slider-bg{background-color:#f5f5f5;}

.carousel{ border-left:solid 15px #FFF; border-right:solid 15px #FFFFFF;
    line-height: 1;
    border-bottom:0px;
	border-top:0px;
    margin:0px;
    position: relative;}
	
.container-pad{ margin-left:15px; margin-right:15px;}

.footer-border  {
	border-top:solid 1px #fec5e7;
	padding: 15px 0px;
	margin-top:20px;
}
.footer ul {
	margin: 0;

}
.footer li {
	color: #95d3e7;
	float: left;
	font-family: 'rockwellregular';
	text-align: center;
}
.footer li a {
	color: #d60f8c;
	transition: all 0.5s ease 0s;
	padding: 5px;
	text-decoration: none;
	font-size: 14px;
}
.footer li a:hover {
	color: #95d3e7;
}

.footer a:hover, .footer a:focus {
	color: #eddbfa;
	text-decoration: underline;
	outline: none;
}


.footer .social h1{float:left; color:#f048b5; font-size:18px; font-family: 'rockwellregular'; margin-top:0px;} 

.footer .social ul {
	margin: 0;
	

}
.footer .social li {
	float:left;
	margin-top:5px;
	text-align: center;
}
.footer .social li a {
	color: #fff;
	transition: all 0.5s ease 0s;
	padding: 5px;
	margin-left:15px;
	text-decoration: none;
	font-size: 14px;
}

.facebook{background-color:#0175d5; padding:5px;  -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px; width:15px; display:block; behavior: url(PIE.htc);
 }

.twitter{background-color:#4ebeec; padding:5px;  -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px; width:15px; display:block; behavior: url(PIE.htc);
 }

.google-plus{background-color:#fc4dcb; padding:5px;  -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px; width:15px; display:block;  behavior: url(PIE.htc);
}

.linkdin{background-color:#003e58; padding:5px;  -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px; width:15px; display:block; behavior: url(PIE.htc);
 }

.footer .social li a:hover {
	color: #fff;
	opacity:0.5;
	text-decoration:none;
}

.footer .social a:hover, footer .social a:focus {
	color: #eddbfa;
	text-decoration: underline;
	outline: none;
}


.pad-left-right85{padding-left:85px; padding-right:85px;}


/*===================inner page============*/

#service-blue-link ul
{
margin:0px;
padding:0px;
list-style-type: none;

}


#service-blue-link  ul li { line-height:34px; font-family: 'rockwellregular'; color:#AEDFEE; border-bottom:solid 1px #445157; }
#service-blue-link  ul li a
{
text-decoration: none;
font-size:14px; 
color: #AEDFEE;
font-family: 'rockwellregular';

}

#service-blue-link  ul li a:hover
{
color:#f24ab6;

}

#service-blue-link  ul li a.active
{
color:#f24ab6;

}



.trend-music{background: #AEDFEE; padding:8px;
font-family: 'rockwellregular';
font-size:18px;
	color: #fff;}

.inner-pageimg{float:left; }
	.inner-playimg{float:left;}
.post-content-wrap {
    float: left;
    margin: 0 0 0 1%;
   
}
.post-content-wrap .hading{font-size:18px; color:#f24bb7; font-family: 'rockwellregular'; margin-bottom:15px;}
.post-content-wrap .hading-top{font-size:14px; color:#0088CC; font-family: 'rockwellregular';}


	
	.tag-bt {
  margin: 5px 0;
  padding: 0;
  position: relative;
}

.tag-bt a {
  float: left;
  height: 24px;
  line-height: 24px;
  position: relative;
  margin-top:16px;
  margin-right:25px;
  padding: 0 10px 0 14px;
  background: #e52fa3;
 -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
  color: #fff;
  font-size: 12px;
  text-decoration: none; 
} 

.tag-bt a:after {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #e52fa3;
  border-style: solid;
  border-width: 12px 0 12px 12px;  
}

.tag-bt a:hover {
  background: #555;
}

.tag-bt a:hover:after {
  border-color: transparent transparent transparent #555;
}
	
	/*.tag-bt a{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;  background-color:#aedfee;  font-family: 'rockwellregular'; display:block; font-size:14px; color:#36464a; margin-right:15px;  padding-left:15px; padding-right:15px; margin-top:8px; text-decoration:none;
	
	behavior: url(PIE.htc);}
	
		.tag-bt a:hover{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;  background-color:#e0259c;  font-family: 'rockwellregular'; display:block; font-size:14px; color:#fff; margin-right:15px;  padding-left:15px; padding-right:15px; margin-top:8px; text-decoration:none;
	
	behavior: url(PIE.htc);}
	
	*/
	
		.download-bt a{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:solid 1px #e5e5e5; background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */ font-family: 'rockwellregular'; display:inline-block; font-size:14px; color:#36464a; margin-right:15px;  padding-left:15px; padding-right:15px; margin-top:8px; text-decoration:none;
	behavior: url(PIE.htc); line-height:24px; margin-top:20px;}
	
		.download-bt a:hover{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px; border:solid 1px #e5e5e5; background-color:#e0259c;  font-family: 'rockwellregular'; display:inline-block; font-size:14px; color:#e733a6; margin-right:15px;  padding-left:15px; padding-right:15px; margin-top:8px; text-decoration:none;
	
	behavior: url(PIE.htc); margin-top:20px;}
	
.font12{font-size:12px; color:#999;}
.music-zig-zag{background-image:url(../images/music-zigzag.jpg); width:100%; height:72px;}	

.play-area-inner {float:left; width:88%; margin-left:1%; float:left;}

.mar-8{margin-right:8px;}

.container-top25{padding-top:30px;}	

.container-bot25{padding-bottom:30px;}	

.music-list-row{background-color:#aedfee; height:1px; margin-top:20px; margin-bottom:20px;}


.alert{
	margin: 20px auto;
	width: 70%;
}
#login-block{	 
	padding-top: 50px;
	padding-bottom: 25px;
}
#login-block h3{
	color: #e42ca1;
	 font-family: 'rockwellregular';
	text-align: center;
	font-size:2.5em;
	 opacity: 0.8;
	font-weight: normal;
 
}

.login-width{max-width:480px; margin-left:auto; margin-right:auto;}

.login-box{
	max-width:480px;	
	background: transparent url(../img/login-bg.png) repeat;
	border:7px solid rgba(172, 222, 237, 0.31);
	-webkit-background-clip: padding-box; /* for Safari */
	-moz-background-clip: padding-box; /* for old Firefox */
	-o-background-clip: padding-box; /* for old Firefox */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding-bottom: 20px;
}

.login-logo{
	 text-align: center;
	 padding: 15px 0 10px;
}

.login-logo img{
	border:0;
}
.login-form form p{
	width:71%;
	margin: 5px auto 10px;
	color: #EB3BAC;
    font-family: 'rockwellregular';
    font-size: 14px;
}
/* for logo animation */
.login-logo a{
	opacity: 0.7; 
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease; 
}
.login-logo a:hover{
	opacity: 1; 
}

.login-box hr{
	margin:10px auto 20px;
	width:70%;
	border-top:1px solid #dddbda;
	border-bottom:1px solid #FFF;
}

/* Login Form */
.login-form input{
	display: block;
	
	margin:0 auto 15px;
	background:#F9F9F9;
	width:70%;
	background: #F9F9F9;
	border:1px solid #E5F5F9;
	color:#6c6c6c;
	font-size:14px;
	padding-left:8px; padding-right:8px;
	
}

.login-form input [type="checkbox"]{
	display: block;
	width:10%!important;
	margin:0 auto 15px;
	background:#F9F9F9;
	width:70%;
	background: #F9F9F9;
	border:1px solid #E5F5F9;
	color:#6c6c6c;
	font-size:14px;
	padding-left:8px; padding-right:8px;
	
}

.login-form input [type="email"]{
	display: block;
	margin:0 auto 15px;
	background:#F9F9F9;
	width:70%;
	background: #f4f2f2;
	border:1px solid #E5F5F9;
	color:#6c6c6c;
	font-size:14px;
	padding-left:8px; padding-right:8px;
	width:70%;
	
}

/* Login Button */
.btn.btn-red {
	width: 120px;
	display:block;
	margin: 20px auto 20px;
	color: white;
	 font-family: 'rockwellregular';
	 font-size:14px;
	text-transform:uppercase ;	
	
background: #fa5bc2; /* Old browsers */
background: -moz-linear-gradient(top, #fa5bc2 0%, #d20787 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa5bc2), color-stop(100%,#d20787)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fa5bc2 0%,#d20787 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fa5bc2 0%,#d20787 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fa5bc2 0%,#d20787 100%); /* IE10+ */
background: linear-gradient(to bottom, #fa5bc2 0%,#d20787 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5bc2', endColorstr='#d20787',GradientType=0 ); /* IE6-9 */ 
	border: 1px solid #fb6cc9;

	-webkit-transition: background .5s ease-in-out;
	-moz-transition: background .5s ease-in-out;
	-o-transition: background .5s ease-in-out;
	transition: background .5s ease-in-out;
	
}
.btn.btn-red:hover {	 
background: #1f2520; /* Old browsers */
background: -moz-linear-gradient(top, #1f2520 0%, #0b1217 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1f2520), color-stop(100%,#0b1217)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #1f2520 0%,#0b1217 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #1f2520 0%,#0b1217 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #1f2520 0%,#0b1217 100%); /* IE10+ */
background: linear-gradient(to bottom, #1f2520 0%,#0b1217 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f2520', endColorstr='#0b1217',GradientType=0 ); /* IE6-9 */ 
} 
.btn.btn-red.btn-reset{
	width: 180px;
}
.login-links{
	text-align: center;
}
.login-links a{
	color: #6c6c6c; 
	display:inline-block;
	padding:5px;
	  font-family: 'rockwellregular';
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;;
}
.login-links a:hover{
	text-decoration: none;
	color:#e13c3c;
}

label.checkbox {
	width: 70%;
	display: block;
	margin: 0 auto;
}
label.checkbox input{
	width:25px;
	margin: 4px 0 0;
	padding: 0;
	background: none;
	border: 0;
}
#footer-text, #footer-text a{
	text-align: center;
	color:#FFF;
	opacity: 1;
	text-shadow: 1px 1px 1px #000;
}

/* Social Login */
.social-login{
	margin:10px 0 5px;
}
.social-login .btn{ 
   text-align: center;
    margin: 5px auto;
    color:#FFF;
    text-shadow: 1px 1px 1px #333;
    width:90%
    -webkit-box-shadow:  0px 0px 10px #FFF;
	-moz-box-shadow:  0px 0px 10px #FFF;
	box-shadow: 0px 0px 10px #FFF;
}
 
.btn.btn-facebook {
	border: 1px solid #2D4479;
	-webkit-box-shadow: inset 0 1px 2px #5272BF, 0px 0px 15px #FFF;
	-moz-box-shadow: inset 0 1px 2px #5272bf, 0px 0px 15px #FFF;
	box-shadow: inset 0 1px 2px #5272BF, 0px 0px 15px #FFF;
	background: #385496;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#4365B4),color-stop(100%,#385496));
	background-image: -webkit-linear-gradient(top,#4365B4,#385496);
	background-image: -moz-linear-gradient(top,#4365B4,#385496);
	background-image: -o-linear-gradient(top,#4365B4,#385496);
	background-image: linear-gradient(top,#4365B4,#385496);
	font-size:12px;
}
.btn.btn-facebook:hover {
	background: #365293;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#4365B4),color-stop(100%,#365293));
	background-image: -webkit-linear-gradient(top,#4365B4,#365293);
	background-image: -moz-linear-gradient(top,#4365B4,#365293);
	background-image: -o-linear-gradient(top,#4365B4,#365293);
	background-image: linear-gradient(top,#4365B4,#365293);
	-webkit-transition: box-shadow .05s ease-in-out;
	-moz-transition: box-shadow .05s ease-in-out;
	-o-transition: box-shadow .05s ease-in-out;
	transition: box-shadow .05s ease-in-out;
}

.btn.btn-twitter {
	border: 1px solid #2189FF;
	-webkit-box-shadow: inset 0 1px 2px #8DC2FF, 0px 0px 15px #FFF;
	-moz-box-shadow: inset 0 1px 2px #8dc2ff, 0px 0px 15px #FFF;
	box-shadow: inset 0 1px 2px #8DC2FF, 0px 0px 15px #FFF;
	background: #4A9EFF;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#73B4FF),color-stop(100%,#4A9EFF));
	background-image: -webkit-linear-gradient(top,#73B4FF,#4A9EFF);
	background-image: -moz-linear-gradient(top,#73B4FF,#4A9EFF);
	background-image: -o-linear-gradient(top,#73B4FF,#4A9EFF);
	background-image: linear-gradient(top,#73B4FF,#4A9EFF);
	font-size:12px;
}

.btn.btn-twitter:hover {
	background: #459CFF;
	background-size: 100%;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#73B4FF),color-stop(100%,#459CFF));
	background-image: -webkit-linear-gradient(top,#73B4FF,#459CFF);
	background-image: -moz-linear-gradient(top,#73B4FF,#459CFF);
	background-image: -o-linear-gradient(top,#73B4FF,#459CFF);
	background-image: linear-gradient(top,#73B4FF,#459CFF);
	-webkit-transition: box-shadow .05s ease-in-out;
	-moz-transition: box-shadow .05s ease-in-out;
	-o-transition: box-shadow .05s ease-in-out;
	transition: box-shadow .05s ease-in-out;
}

.fb-login, .twit-login{
	-webkit-animation-delay: .8s;
	-moz-animation-delay: .8s;
	-o-animation-delay: .8s;
	animation-delay: .8s;
}


.upload-form{
    border: 7px solid rgba(172, 222, 237, 0.31);
    max-width: 100%;
	padding:40px;
	margin-bottom:25px;
}

.upload-form input[type="text"], textarea, input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="url"],  input[type="tel"], input[type="color"], .uneditable-input {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #e5f5f9;
    color: #6C6C6C;
    display: block;
    font-size: 14px;
    margin: 0 auto 15px;
    padding-left: 8px;
    padding-right: 8px;
    width: 97%!important;
}
 
 
 .upload-form select {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #e5f5f9;
    color: #6C6C6C;
    display: block;
    font-size: 14px;
	height:38px;
    margin: 0 auto 15px;
    padding-left: 8px;
    padding-right: 8px;
    width: 99%;
}

 .upload-form h4{
color: #E42CA1;
    font-family: 'rockwellregular';
    font-size: 2.5em;
    font-weight: normal;
    opacity: 0.8;
    text-align: center;}

 
.form-lable{font-size:14px; margin-left:10px; color:#eb3bac;  font-family: 'rockwellregular';} 
.content{height:600px;  overflow:auto; }
.address-info  h3 {
	margin-top:0px;
	font-family: 'rockwellregular';
    color: #000;
    font-size: 24px;
}

.address-info23  {
	margin-top:0px;
    color: #000;
    font-family: 'rockwellregular';
    font-size: 24px;
 
}

.address-info {
    background-color: rgba(172, 222, 237, 0.31);
	border: 5px solid #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    float: left;
    margin-bottom: 40px;
    padding: 0px 10px 10px;
    width: 95.323652%;
}


.contact-form {
    color: #666666;
	border: 5px solid #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    font: 13px/1.55 'Open Sans',Helvetica,Arial,sans-serif;
    margin: 0;
	
    outline: medium none; padding:25px;
}


.contact-form header {
    border-bottom: 1px solid #EEEEEE;
    color: #272727;
    display: block;
    font-family: 'rockwellregular';
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 13px;
    padding: 0 0 9px;
}


.contact-form .label {
    color: #333;
    display: inline-block;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;

}



.contact-form input[type="text"],  input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], .uneditable-input {
background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #E5F5F9;
    color: #6C6C6C;
    display: block;
    font-size: 14px;
    margin: 0 auto 15px;
	height:35px;
    padding-left: 8px;
    padding-right: 8px;
	width:100%!important;
	
   
}

.contact-form textarea{background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #E5F5F9;
    color: #6C6C6C;
    display: block;
    font-size: 14px;
    margin: 0 auto 15px;
	height:155px;
    padding-left: 8px;
    padding-right: 8px;
	width:100%!important;}

.register input[type="text"],  input[type="password"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="color"], .uneditable-input {
background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #E5F5F9;
    color: #6C6C6C;
    display: block;
    font-size: 14px;
    margin: 0 auto 15px;
	height:31px;
    padding-left: 8px;
    padding-right: 8px;
	width:70%!important;
	
	
   
}

.send-bt{background: #fc60c6; /* Old browsers */
background: -moz-linear-gradient(top, #fc60c6 0%, #d00283 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fc60c6), color-stop(100%,#d00283)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fc60c6 0%,#d00283 100%); /* IE10+ */
background: linear-gradient(to bottom, #fc60c6 0%,#d00283 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc60c6', endColorstr='#d00283',GradientType=0 ); /* IE6-9 */
	color: #fff; -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px; font-size:16px;  font-family:"Trebuchet MS"; padding-top:10px; padding-bottom:10px; padding-left:15px; padding-right:15px; display:inline-block; text-decoration:none;  margin-top:25px;  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;  -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-style: none none solid;
    cursor: pointer;
	margin-bottom:25px;
    }
.send-bt:hover{background-color:#cacaca; font-size:16px; color:#FFF; font-family:"Trebuchet MS";  display:inline-block; text-decoration:none;}

.google-map {
    border: 5px solid #FFFFFF;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    height: 338px;
	margin-bottom:50px;
    width: 98%;
}

 .jwbackground {
    background: url("../images/music-zigzag.jpg") repeat-x scroll center center / 255px 60px rgba(0, 0, 0, 0)!important;
    left: 10px;
    position: absolute;
	top:3px!important;
    right: 10px;
}

.jwtimeSliderBuffer {
    background: url("../images/music-plyer-hover.png") repeat-x scroll center center / 2px 30px rgba(0, 0, 0, 0)!important;
    left: 0;
    right: 0;

}

 .jwtimeSliderProgressCapRight {
    background: url("") no-repeat scroll center center / 3px 30px rgba(0, 0, 0, 0)!important;
    width: 3px;
}

.jwtimeSliderProgress {
    background: url("../images/music-plyer-hover-buffer.png") repeat-x scroll center center / 122px 30px rgba(0, 0, 0, 0)!important;
    left: 0;
	
    right: 3px;
}

#myElement2_controlbar .jwplay.jwtoggle button {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAeCAYAAAA2Lt7lAAAAMklEQVR42mP4//8/Ay0xw6gFoxYMYQuAYDMaRgco8qMWjFowasGoBaMWjFY4oxaMcAsAawHAM0cJmtQAAAAASUVORK5CYII=") no-repeat scroll center center / 24px 30px rgba(0, 0, 0, 0);
    width: 20px!important;
}

span.jwcontrolbar .jwtext {
    padding: 2px 5px!important;
    text-align: center;
}

span.jwcontrolbar buttoncontainer, span.jwcontrolbar button {
    border: medium none;
    cursor: pointer;
    display: inline-block;
    height: 100%;
    margin-top: 2px!important;
}

span.jwcontrolbar .jwrailgroup span {
    position: absolute;
    top: 3px!important;
}

 .jwtimeSliderRail {
    background: url("") repeat-x scroll center center / 2px 30px rgba(0, 0, 0, 0)!important;
    left: 0;
    right: 0;
}

 .jwcapLeft {
    background: url("") no-repeat scroll center center / 10px 30px rgba(0, 0, 0, 0)!important;
    width: 10px;
}

.jwplayer {
    min-height: 0;
    opacity: 0;
    position: relative;
    transition: opacity 0.25s ease 0s;
    width: 100% !important;
}
 
.jwplay button {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAeCAYAAAA2Lt7lAAAAaUlEQVR42u3VwQkAIQxE0RSkba4FWWA2yF4EEUczB9kE5vofeFFUVZiTAAK4FLB7bEnAQ4D6DYJ2AAg6AZYgD2AKeQJDiAF0EBMotswAWpjxRF3YExiGPYBp+ARYCu8AUBgG4sMJ4GfAC2j4Yr2KpEa1AAAAAElFTkSuQmCC") no-repeat scroll center center / 24px 30px rgba(0, 0, 0, 0);
    bottom: 57px;
	left:-4px;
    position: absolute;
    width: 24px;
} 
 
.advance-search-form{
    border: 7px solid rgba(172, 222, 237, 0.31);
    max-width: 100%;
	padding-left:15px; padding-right:15px;
	margin-bottom:25px;
}

.advance-search-form input[type="text"], textarea, input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="url"],  input[type="tel"], input[type="color"], .uneditable-input {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #e5f5f9;
    color: #6C6C6C;
    display: block;
    font-size: 14px;
    margin: 0 auto 15px;
    padding-left: 8px;
    padding-right: 8px;
    width: 92%;
}
 
 
 .advance-search-form select {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid #e5f5f9;
    color: #6C6C6C;
    display: block;
    font-size: 14px;
	height:39px;
	line-height:36px;
    margin: 0 auto 15px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
} 
 
  .advance-search-form h2 {
margin-top:15px;
	font-family: 'rockwellregular';
    color: #000;
    font-size: 24px;
} 
 .search-bt {-webkit-border-radius: 5px;
-moz-border-radius: 5px;
background: #fb5fc5; /* Old browsers */
background: -moz-linear-gradient(top, #fb5fc5 0%, #d10585 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb5fc5), color-stop(100%,#d10585)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fb5fc5 0%,#d10585 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fb5fc5 0%,#d10585 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fb5fc5 0%,#d10585 100%); /* IE10+ */
background: linear-gradient(to bottom, #fb5fc5 0%,#d10585 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb5fc5', endColorstr='#d10585',GradientType=0 ); /* IE6-9 */
border-radius: 5px; border:solid 2px #fd87d4;  font-family: 'rockwellregular'; display:block; font-size:14px; color:#fff; text-align:center; line-height:30px;  margin-top:8px; width:100px; margin-left:auto; margin-right:auto;
	behavior: url(PIE.htc); text-decoration:none; padding-top:4px; padding-bottom:4px; padding-left:15px; padding-right:15px; margin-top:25px;}

.search-bt:hover{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
background: #d10585; /* Old browsers */
background: -moz-linear-gradient(top, #d10585 0%, #fb5fc5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d10585), color-stop(100%,#fb5fc5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d10585 0%,#fb5fc5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d10585 0%,#fb5fc5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d10585 0%,#fb5fc5 100%); /* IE10+ */
background: linear-gradient(to bottom, #d10585 0%,#fb5fc5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d10585', endColorstr='#fb5fc5',GradientType=0 ); /* IE6-9 */
text-decoration:none;
border-radius: 5px; border:solid 2px #fd87d4; text-decoration:none;  font-family: 'rockwellregular'; font-size:14px; color:#fff;  margin-top:25px;}




.upload-bt {-webkit-border-radius: 5px;
-moz-border-radius: 5px;
background: #fb5fc5; /* Old browsers */
background: -moz-linear-gradient(top, #fb5fc5 0%, #d10585 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb5fc5), color-stop(100%,#d10585)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fb5fc5 0%,#d10585 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fb5fc5 0%,#d10585 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fb5fc5 0%,#d10585 100%); /* IE10+ */
background: linear-gradient(to bottom, #fb5fc5 0%,#d10585 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb5fc5', endColorstr='#d10585',GradientType=0 ); /* IE6-9 */
border-radius: 5px; border:solid 2px #fd87d4;  font-family: 'rockwellregular'; display:block; font-size:14px; color:#fff; text-align:center; line-height:30px;  margin-top:8px; 
	behavior: url(PIE.htc); text-decoration:none; padding-top:10px; padding-bottom:10px; padding-left:15px; padding-right:15px; margin-top:25px;}

.upload-bt:hover{-webkit-border-radius: 5px;
-moz-border-radius: 5px;
background: #d10585; /* Old browsers */
background: -moz-linear-gradient(top, #d10585 0%, #fb5fc5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d10585), color-stop(100%,#fb5fc5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #d10585 0%,#fb5fc5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #d10585 0%,#fb5fc5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #d10585 0%,#fb5fc5 100%); /* IE10+ */
background: linear-gradient(to bottom, #d10585 0%,#fb5fc5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d10585', endColorstr='#fb5fc5',GradientType=0 ); /* IE6-9 */
text-decoration:none;
border-radius: 5px; border:solid 2px #fd87d4; text-decoration:none;  font-family: 'rockwellregular'; font-size:14px; color:#fff;  margin-top:25px;}

.upload-music a{background: #fb5fc5; /* Old browsers */
background: -moz-linear-gradient(top, #fb5fc5 0%, #d10585 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb5fc5), color-stop(100%,#d10585)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fb5fc5 0%,#d10585 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fb5fc5 0%,#d10585 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fb5fc5 0%,#d10585 100%); /* IE10+ */
background: linear-gradient(to bottom, #fb5fc5 0%,#d10585 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb5fc5', endColorstr='#d10585',GradientType=0 ); /* IE6-9 */ padding-top:10px; padding-bottom:10px; padding-left:15px; padding-right:15px; color:#FFF; display:block; font-family: 'rockwellregular'; font-size:22px;}

.upload-music a:hover{background: #202621; /* Old browsers */
background: -moz-linear-gradient(top, #202621 0%, #0a1116 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202621), color-stop(100%,#0a1116)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #202621 0%,#0a1116 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #202621 0%,#0a1116 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #202621 0%,#0a1116 100%); /* IE10+ */
background: linear-gradient(to bottom, #202621 0%,#0a1116 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202621', endColorstr='#0a1116',GradientType=0 ); /* IE6-9 */
	 font-family: 'rockwellregular'; padding-top:10px; padding-bottom:10px; padding-left:15px; padding-right:15px; color:#FFF; text-decoration:none;}


.newely-music a{background: #202621; /* Old browsers */
background: -moz-linear-gradient(top, #202621 0%, #0a1116 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202621), color-stop(100%,#0a1116)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #202621 0%,#0a1116 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #202621 0%,#0a1116 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #202621 0%,#0a1116 100%); /* IE10+ */
background: linear-gradient(to bottom, #202621 0%,#0a1116 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202621', endColorstr='#0a1116',GradientType=0 ); /* IE6-9 */ padding-top:10px; padding-bottom:10px; padding-left:15px; padding-right:15px; color:#FFF; display:block; font-family: 'rockwellregular'; font-size:22px;}

.newely-music a:hover{background: #202621; /* Old browsers */
background: -moz-linear-gradient(top, #202621 0%, #0a1116 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#202621), color-stop(100%,#0a1116)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #202621 0%,#0a1116 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #202621 0%,#0a1116 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #202621 0%,#0a1116 100%); /* IE10+ */
background: linear-gradient(to bottom, #202621 0%,#0a1116 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#202621', endColorstr='#0a1116',GradientType=0 ); /* IE6-9 */
	 font-family: 'rockwellregular'; padding-top:10px; padding-bottom:10px; padding-left:15px; padding-right:15px; color:#FFF; text-decoration:none;}
	 
	 
.content-inner h1{font-size:24px; font-family:  'rockwellregular'; border-bottom:solid 1px #aedfee;}	 

.content-inner h2{font-size:18px; font-family: 'rockwellregular'; color:#aedfee; font-weight:normal;}

.sucess{font-size:14px; font-family:  'rockwellregular'; color:#0C9;}
.error{font-size:14px; font-family:  'rockwellregular'; color:#F00;}  	 
 
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (max-width: 479px) {
	#login-block{	 
		padding-top: 10px;
		padding-bottom: 25px;
	}
	
}

/* Tablet Portrait Size to Tablet Landscape Size (devices and browsers)
=================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px){
	#login-block {	 
		margin: 0 auto;
		width: 420px;
	}
	
}


	
/*****************************************************Media Query****************************************************/

/*****************************************************i pad landscape****************************************************/
@media(width:1024px) {
	 .contact-iocn-box{margin-right:15px;}
	 .apply-mar-right{margin-right:15px;}
	 .pad-left-right85{padding-left:45px; padding-right:45px;}
	 .container-pad{ margin-left:15px; margin-right:15px;}
#navcontainer ul li a {
    background: linear-gradient(to bottom, #202621 0%, #0A1116 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #AEDFEE;
    float: left;
    font-family: 'rockwellregular';
    font-size: 10px;
    margin-left: 6px;
    padding: 8px 8px;
    text-align: center;
    text-shadow: none;
    transition: all 0.5s ease 0s;
    width: 45px;
}

.footer .social li a {
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 7px;
    padding: 5px;
    text-decoration: none;
    transition: all 0.5s ease 0s;
}

.search-box input {
    background-color: #AEDFEE;
    background-image: url("../images/search-icon.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #AEDFEE;
    border-radius: 5px;
    color: #000000;
    font-family: 'rockwellregular';
    font-size: 14px;
    font-weight: normal;
    height: 24px;
    margin-top: 4px;
}

.advance-search a {
    border: 2px solid #445157;
    border-radius: 5px;
    color: #AEDFEE;
    display: block;
    font-family: 'rockwellregular';
    font-size: 10px;
    line-height: 26px;
    margin-top: 4px;
    text-align: center;
}

.advance-search a:hover {
    border: 2px solid #445157;
    border-radius: 5px;
    color: #AEDFEE;
    display: block;
    font-family: 'rockwellregular';
    font-size: 10px;
    line-height: 26px;
    margin-top: 4px;
    text-align: center;
}

.newly-added a {
    border: 2px solid #445157;
    border-radius: 5px;
    color: #AEDFEE;
    display: block;
	height:26px;
    font-family: 'rockwellregular';
    font-size: 10px;
    margin-top: 4px;
    padding-left: 15px;
}

.newly-added a:hover {
    border: 2px solid #445157;
    border-radius: 5px;
    color: #AEDFEE;
    display: block;
    font-family: 'rockwellregular';
    font-size: 10px;
    margin-top: 4px;
    padding-left: 15px;
}

.play-area {
    background: linear-gradient(to bottom, #202621 0%, #0A1116 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #AEDFEE;
    margin-left: 20px;
	font-size:11px;
    padding-bottom: 4px;
    padding-left: 0px;
    padding-top: 6px;

}

.mar-left-15 {
    margin-left: 4px;
}

}

@media (width:980px) { .pad-left-right85{padding-left:0px; padding-right:0px;}
	 .container-pad{ margin-left:0px; margin-right:0px;}
	 #navcontainer ul li a {
    background: linear-gradient(to bottom, #202621 0%, #0A1116 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #AEDFEE;
    float: left;
    font-family: 'rockwellregular';
    font-size: 14px;
    margin-left: 6px;
    padding: 10px 8px 10px;
    text-align: center;
    text-shadow: none;
    transition: all 0.5s ease 0s;
    width: 72px;
}
	 }
	 
	 @media (width:600px) {.pad-left-right85{padding-left:15px; padding-right:15px;}
	 .container-pad{ margin-left:15px; margin-right:15px;}}

@media(min-width:768px) and (max-width:979px) {
.left-area-none{display:none!important;}
	.contact-iocn-box{margin-right:15px;}
	 .apply-mar-right{margin-right:15px;}
	
.signup-bt {
	
	background: #fb60c6; /* Old browsers */
background: -moz-linear-gradient(top, #fb60c6 0%, #d00384 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb60c6), color-stop(100%,#d00384)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* IE10+ */
background: linear-gradient(to bottom, #fb60c6 0%,#d00384 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb60c6', endColorstr='#d00384',GradientType=0 ); /* IE6-9 */
	display:inline-block;
	color:#fff;
	transition: all 0.5s ease 0s;
	padding:4px;
		padding-left:5px; padding-right:5px;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	
}
.signup-bt:hover {
	background: #daf6ff; /* Old browsers */
background: -moz-linear-gradient(top, #daf6ff 0%, #afe0ee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daf6ff), color-stop(100%,#afe0ee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* IE10+ */
background: linear-gradient(to bottom, #daf6ff 0%,#afe0ee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daf6ff', endColorstr='#afe0ee',GradientType=0 ); /* IE6-9 */
color:#000;
	text-decoration:none;
}



.signin-bt {
	background: #daf6ff; /* Old browsers */
background: -moz-linear-gradient(top, #daf6ff 0%, #afe0ee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daf6ff), color-stop(100%,#afe0ee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* IE10+ */
background: linear-gradient(to bottom, #daf6ff 0%,#afe0ee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daf6ff', endColorstr='#afe0ee',GradientType=0 ); /* IE6-9 */
color:#000;
	display:inline-block;
	transition: all 0.5s ease 0s;
	padding:4px;
	margin-left:5px;
	padding-left:5px; padding-right:5px;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	
}
.signin-bt:hover {
	background: #fb60c6; /* Old browsers */
background: -moz-linear-gradient(top, #fb60c6 0%, #d00384 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb60c6), color-stop(100%,#d00384)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* IE10+ */
background: linear-gradient(to bottom, #fb60c6 0%,#d00384 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb60c6', endColorstr='#d00384',GradientType=0 ); /* IE6-9 */
color:#FFF;
	text-decoration:none;
}


#navcontainer ul li a {
    background: linear-gradient(to bottom, #202621 0%, #0A1116 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #AEDFEE;
    float: left;
    font-family: 'rockwellregular';
    font-size: 14px;
    margin-left: 6px;
    padding: 10px 8px 10px;
    text-align: center;
    text-shadow: none;
    transition: all 0.5s ease 0s;
    width: 76px;
}

.pad-left-right85{padding-left:0px; padding-right:0px;}
.contact-iocn-box .eamil{font-size:18px; }

.container-pad{ margin-left:0px; margin-right:0px;}


.content-section h1 {
    color: #2A2A2A;
    font-family: 'rockwellregular';
    font-size: 22px;
}
.slideCarousel {
	height: auto;
	width: 100%;
}

}
 @media(max-width:767px) {
	.left-area-none{display:none!important;}


.contact-iocn-box .eamil{font-size:18px; }

.slideCarousel {
	height: auto;
	width: 100%;
}

	 
}

/*****************************************************i pad landscape****************************************************/

@media (min-width:320px) and (max-width:480px) {

.padidng-top30{padding-top:20px;}
.pad-left-right85{padding-left:10px; padding-right:10px;}
.container-pad{ margin-left:10px; margin-right:10px;}
.play-area{background: linear-gradient(to bottom, #202621 0%, #0A1116 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #AEDFEE;
    margin-left: 20px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-top: 2px;
	margin-bottom:5px;

	
}

footer .social h1 {
    color: #F048B5;
    float: left;
    font-family: 'rockwellregular';
    font-size: 18px;
    margin-left: 10px;
    margin-top: 0;
}

.signup-bt {
	
	background: #fb60c6; /* Old browsers */
background: -moz-linear-gradient(top, #fb60c6 0%, #d00384 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb60c6), color-stop(100%,#d00384)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* IE10+ */
background: linear-gradient(to bottom, #fb60c6 0%,#d00384 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb60c6', endColorstr='#d00384',GradientType=0 ); /* IE6-9 */
	display:inline-block;
	color:#fff;
	transition: all 0.5s ease 0s;
	padding:4px;
		padding-left:5px; padding-right:5px;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	
}
.signup-bt:hover {
	background: #daf6ff; /* Old browsers */
background: -moz-linear-gradient(top, #daf6ff 0%, #afe0ee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daf6ff), color-stop(100%,#afe0ee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* IE10+ */
background: linear-gradient(to bottom, #daf6ff 0%,#afe0ee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daf6ff', endColorstr='#afe0ee',GradientType=0 ); /* IE6-9 */
color:#000;
	text-decoration:none;
}



.signin-bt {
	background: #daf6ff; /* Old browsers */
background: -moz-linear-gradient(top, #daf6ff 0%, #afe0ee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daf6ff), color-stop(100%,#afe0ee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* IE10+ */
background: linear-gradient(to bottom, #daf6ff 0%,#afe0ee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daf6ff', endColorstr='#afe0ee',GradientType=0 ); /* IE6-9 */
color:#000;
	display:inline-block;
	transition: all 0.5s ease 0s;
	padding:4px;
	margin-left:5px;
	padding-left:5px; padding-right:5px;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	
}
.signin-bt:hover {
	background: #fb60c6; /* Old browsers */
background: -moz-linear-gradient(top, #fb60c6 0%, #d00384 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb60c6), color-stop(100%,#d00384)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* IE10+ */
background: linear-gradient(to bottom, #fb60c6 0%,#d00384 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb60c6', endColorstr='#d00384',GradientType=0 ); /* IE6-9 */
color:#FFF;
	text-decoration:none;
}

	.flex-caption {width:290px;  background-image:url(../images/caption-bg.png); background-repeat:repeat; position: absolute; margin-left:0px; top:0px; text-align: center; padding-top:0px; padding-bottom:15px; padding-left:15px; padding-right:15px;}

.flex-caption h1{font-size:14px; text-align:left; color:#22e8f5; font-family: 'rockwellregular'; margin-bottom:0px;}
.flex-caption p{font-size:12px; text-align:left; line-height:14px; margin-top:0px; color:#aedfee; font-family: 'rockwellregular';}

}

 @media (min-width:360px) and (max-width:640px) {
	 .padidng-top30{padding-top:20px;}
	 
	 .play-area{background: linear-gradient(to bottom, #202621 0%, #0A1116 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #AEDFEE;
    margin-left: 20px;
    padding-bottom: 9px;
    padding-left: 10px;
    padding-top: 2px;
	margin-bottom:5px;

	
}

.pad-left-right85{padding-left:10px; padding-right:10px;}
.container-pad{ margin-left:10px; margin-right:10px;}

	.flex-caption {width:290px;  background-image:url(../images/caption-bg.png); background-repeat:repeat; position: absolute; margin-left:0px; top:0px; text-align: center; padding-top:0px; padding-bottom:15px; padding-left:15px; padding-right:15px;}

.flex-caption h1{font-size:14px; text-align:left; color:#22e8f5; font-family: 'rockwellregular'; margin-bottom:0px;}
.flex-caption p{font-size:12px; text-align:left; line-height:14px; margin-top:0px; color:#aedfee; font-family: 'rockwellregular';}

.signup-bt {
	
	background: #fb60c6; /* Old browsers */
background: -moz-linear-gradient(top, #fb60c6 0%, #d00384 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb60c6), color-stop(100%,#d00384)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* IE10+ */
background: linear-gradient(to bottom, #fb60c6 0%,#d00384 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb60c6', endColorstr='#d00384',GradientType=0 ); /* IE6-9 */
	display:inline-block;
	color:#fff;
	transition: all 0.5s ease 0s;
	padding:4px;
		padding-left:5px; padding-right:5px;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	
}
.signup-bt:hover {
	background: #daf6ff; /* Old browsers */
background: -moz-linear-gradient(top, #daf6ff 0%, #afe0ee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daf6ff), color-stop(100%,#afe0ee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* IE10+ */
background: linear-gradient(to bottom, #daf6ff 0%,#afe0ee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daf6ff', endColorstr='#afe0ee',GradientType=0 ); /* IE6-9 */
color:#000;
	text-decoration:none;
}



.signin-bt {
	background: #daf6ff; /* Old browsers */
background: -moz-linear-gradient(top, #daf6ff 0%, #afe0ee 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#daf6ff), color-stop(100%,#afe0ee)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #daf6ff 0%,#afe0ee 100%); /* IE10+ */
background: linear-gradient(to bottom, #daf6ff 0%,#afe0ee 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#daf6ff', endColorstr='#afe0ee',GradientType=0 ); /* IE6-9 */
color:#000;
	display:inline-block;
	transition: all 0.5s ease 0s;
	padding:4px;
	margin-left:5px;
	padding-left:5px; padding-right:5px;
	font-size:12px;
	text-decoration:none;
	text-align:center;
	-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
	
}
.signin-bt:hover {
	background: #fb60c6; /* Old browsers */
background: -moz-linear-gradient(top, #fb60c6 0%, #d00384 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb60c6), color-stop(100%,#d00384)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fb60c6 0%,#d00384 100%); /* IE10+ */
background: linear-gradient(to bottom, #fb60c6 0%,#d00384 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb60c6', endColorstr='#d00384',GradientType=0 ); /* IE6-9 */
color:#FFF;
	text-decoration:none;
}

}


/*****************************************************Media Query****************************************************/
