	html,body {height:100%}
	body {overflow-y:scroll}

	a {color:#2992c8}
	a:hover,a:focus {color:#056495}
	a,button,.btn {outline:none !important;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none}
	a,a:hover,a:focus {text-decoration:none}

    /* Custom code written for multi-select on 10-10-2014 */
    .valclass{
        display: none;
    }
    
    .num-red{
        color: red;
        margin: 0!important;
    }


/* bootstrap framework adjustments */
	textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover, .uneditable-input:hover,textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus,.btn-primary:hover, .btn-warning:hover, .btn-danger:hover, .btn-success:hover, .btn-info:hover, .btn-inverse:hover,.btn-default:hover,.form-control:hover,.form-control:focus,.has-success .form-control:focus,.has-warning .form-control:focus,.has-error .form-control:focus {-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
	textarea, input[type="text"], input[type="submit"] {-webkit-appearance: none}
	form {margin-bottom:0}
	label {font-weight:normal;display:block}
	input[type="radio"], input[type="checkbox"] {margin-top:3px}
	fieldset + fieldset {margin-top:20px}
	legend {font-size:16px;position:relative;margin:0;border:none}
	legend:after {content:'';display:block;height:16px;width:100%;margin-top:2px;border-top:none}
	fieldset .row + .row {margin-top:20px}
	.input-lg {-webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius:1px}
	.help-block {font-size:11px}
	.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {border-color:#C0C0C0 #D9D9D9 #D9D9D9}
	.form-control + .input-group-btn > .btn {margin-left:-1px}
	.form-control + .input-group-btn > .btn + .btn {margin-left:-5px}

	.row + .row {margin-top:24px}

	.label, .badge {padding:0 4px;font-size:11px;line-height:14px;border:1px solid #777}
	.label-danger, .badge-danger {background:#cb1111;border:1px solid #9f0c0c}
	.label-info, .badge-info {background:#2BA6CB;border:1px solid #2284A1}
	.label-warning, .badge-warning {background:#FAA937;border:1px solid #e78a06}
	.label-success, .badge-success {background:#5DA423;border:1px solid #457A1A}

	.dropdown {position:relative}
	.dropdown-menu {font-size:13px;padding:0}
	.dropdown-menu > li > a {padding:3px 10px}
	.dropdown-menu li + li {border-top:1px solid #e1e1e1}

	.table {margin:0}
	.table .col_small {width:80px}
	.table .col_center {text-align:center}

	.progress-small {height: 12px}

	address p {margin:0;font:300 15px/18px 'Roboto', sans-serif}
	address p + p {margin-top:6px}
	address .addres_name {font-size:20px;line-height:24px;margin-bottom:6px}

	body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {margin-right:0}
	.modal-content {border-color:rgba(0,0,0,.2)}
	.modal-header {background:#f2f2f2;border-color: rgba(0,0,0,.12);padding:10px 15px}
	.modal-header h4,.modal-header h3 {margin:2px 0 0;font-weight:300;font-family: 'Roboto', sans-serif;font-size:16px;line-height:20px}
	.modal-header .close {margin-top:2px;opacity:0.2}
	.modal-header .close:hover,.modal-header .close:focus {opacity:0.6}
	.modal-backdrop, .modal-backdrop.fade {opacity:.4}
	.modal-backdrop {background:#000}
	.bodyBG {background: url(../images/Website-Landing-Page.png) ; background-size:100% 100%; opacity:1 }
	.modal-footer {padding:10px 15px 11px}

	.alert {-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;border-width:0 0 0 4px;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;padding:12px 20px 12px 14px;color:#333}
	.alert .close {top:0}
	.alert .alert-link {color:#2992C8;font-weight:normal}

	.pagination li > a:hover, .pagination .active > a, .pagination .active > span {-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;background:#fff;color:#333;border-color:#bbb}
	.pagination li > a, .pagination li > span {color:#333}

	.img-thumbnail {-webkit-box-shadow: none;-moz-box-shadow: none;height: 100px; box-shadow: none;border:1px solid #e1e1e1;padding:3px;background-color:#fff}

	.ui-widget {font-size:13px}

	input[type="checkbox"]:checked::after, .checkbox input[type="checkbox"]:checked::after, .checkbox-inline input[type="checkbox"]:checked::after {content: url(../img/checkmark.png);top:-5px;width:21px;height:21px}

	.nav-tabs > li > a {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;padding:6px 10px;background:#f4f4f4}
	.nav-tabs > li > a:hover {background:#f4f4f4;color:#333}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {line-height:20px;padding:6px 10px 7px;border-top-width:0}
	.tab-content {padding:10px}

	.nav-pills > li > a {padding:6px 14px;font-size:15px;color:#333;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
	.nav-pills > li.active > a,.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {font-weight:700}

	/* bordered tabs  */
    .tabbable-bordered > .nav-tabs { margin: 0; border: none; }
    .tabbable-bordered > .tab-content { min-height: 150px; border:1px solid #ddd; padding: 10px; }
    .tabbable-bordered .nav-tabs > li { margin-right: 2px}
    .tabbable-bordered .nav-tabs > li > a { margin-right: 0; padding: 6px 10px;background:#f4f4f4;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0; }

    .tabbable-bordered .nav-tabs > li.active { margin-top: 0; position: relative; }
    .tabbable-bordered .nav-tabs > li.active > a { background:#fff;padding:6px 10px 8px;line-height:20px; border-color: #ddd #ddd transparent;border-top-width:0;-webkit-box-shadow: 0 -2px 0 #ddd;-moz-box-shadow: 0 -2px 0 #ddd;box-shadow: 0 -2px 0 #ddd; }

    .tabs-below.tabbable-bordered .nav-tabs > li > a { margin-top:2px }
    .tabs-below.tabbable-bordered .nav-tabs > li.active > a{ border-color: transparent #ddd #ddd;padding:9px 10px 6px;border-bottom-width:0;margin-top:0;position:relative;top:-1px }

    .tabs-left.tabbable-bordered .nav-tabs > li {margin-right:0}
    .tabs-left.tabbable-bordered .nav-tabs > li > a { margin-right:2px }
    .tabs-left.tabbable-bordered .nav-tabs > li.active > a{ border-color: #ddd transparent #ddd #ddd;padding:6px 10px 6px 9px;border-top-width:1px;border-left-width:0;margin-right:0;position:relative;right:-1px }
    .tabs-left > .nav-tabs {float:left}
	.tabs-left > .nav-tabs li,.tabs-right > .nav-tabs li {display:block;float:none;margin-bottom:2px}
	.tabs-left .tab-content,.tabs-right .tab-content {overflow:hidden}

    .tabs-right.tabbable-bordered .nav-tabs > li {margin-right:0}
    .tabs-right.tabbable-bordered .nav-tabs > li > a { margin-left:2px }
    .tabs-right.tabbable-bordered .nav-tabs > li.active > a{ border-color: #ddd #ddd #ddd transparent;padding:6px 10px 6px 13px;border-top-width:1px;border-right-width:0;margin-left:0;position:relative;left:-1px }
	.tabs-right > .nav-tabs {float:right}

    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus,.tabs-below > .nav-tabs > li > a:hover, .tabs-below > .nav-tabs > li > a:focus,.tabs-left > .nav-tabs > li > a:hover, .tabs-left > .nav-tabs > li > a:focus,.tabs-right > .nav-tabs > li > a:hover, .tabs-right > .nav-tabs > li > a:focus {border-color:transparent}

	.panel-group .panel-default .panel-heading {background:#f8f8f8;border:none}
	.panel-group .panel + .panel {margin:0;border-top:none}
	.panel-group .panel .panel-heading {height:34px;padding:0}
	.panel-group .panel .panel-heading .panel-title {font:normal 13px/34px Arial,Helvetica,sans-serif}
	.panel-group .panel .panel-heading .panel-title a {display:block;padding:0 25px 0 15px;color:#333;position:relative}
	.panel-group .panel .panel-heading .panel-title a [class^="icon-"], .panel-group .panel .panel-heading .panel-title a [class*=" icon-"] {position:absolute;right:10px;top:10px}
	.panel-group .sect_active .panel-heading a {font-weight:700}
	.panel-body-narrow {padding:8px}

/* typeahead */
	.twitter-typeahead { width: 100%; position: relative; }
	.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint { margin-bottom: 0; width: 100%; position: absolute; top: 0; left: 0; }
	.twitter-typeahead .tt-hint { color: #a1a1a1; z-index: 1; height:30px; padding: 5px 12px; border: 1px solid transparent; }
	.twitter-typeahead .tt-query { z-index: 2 }
	.tt-dropdown-menu { min-width: 160px; margin-top: 2px; padding:0; background-color: #fff; border-width:0 1px 1px;border-style:solid;border-color:#ccc;border-color:rgba(0,0,0,.2);-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);-moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);box-shadow: 0 2px 4px rgba(0,0,0,.2);}
	.tt-suggestion { display: block; padding: 6px 14px;position:relative }
	.tt-suggestion.tt-is-under-cursor { color: #fff ; background-color: #0081c2 }
	.tt-suggestion.tt-is-under-cursor a,.tt-suggestion.tt-is-under-cursor .text-muted {color:#fff}
	.tt-suggestion p { margin: 0;line-height:16px }
	.tt-dropdown-menu .sg_desc {font-size:11px}


/* top header */
	#top_header {border-bottom:1px solid #e1e1e1;height:107px;padding:8px 0;}

	/* main logo */
	#top_header .logo_main {display:inline-block;height:40px;line-height:40px}

	/* search form */
	#top_header .main_search {padding:5px 0 0;margin:0;position:relative;z-index:101}
	#top_header .main_search input {padding-right:32px}
	#top_header .main_search button {position:absolute;right:3px;top:8px;color:#fff;border:none;cursor:pointer;font-size:14px;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;line-height:20px;z-index:10}
	#top_header .main_search .twitter-typeahead .tt-query, #top_header .main_search .twitter-typeahead .tt-hint {padding-left:12px}
	#top_header .main_search .tt-dropdown-menu {min-width:100%}

	/* notifications */
	.notification_dropdown {display:inline-block;text-align:left;vertical-align:middle;position:relative}
	.notification_dropdown .notification_icon {color:#333;position:relative;display:block}
	.notification_dropdown .notification_icon span {display:block;position:absolute;top:-5px;right:-8px}
	.notification_dropdown .dropdown-menu {width:220px;margin-left:-102px}
	.notification_dropdown .dropdown-menu:before {content: '';display: inline-block;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 7px solid #ccc;border-bottom-color: rgba(0, 0, 0, 0.2);position: absolute;top: -7px;left: 50%;margin-left:-3px}
	.notification_dropdown .dropdown-menu:after {content: '';display: inline-block;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #f7f7f7;position: absolute;top: -6px;left: 50%;margin-left:-2px}
	.notification_dropdown .dropdown-menu-wide {width:280px;margin-left:-132px}
	.notification_dropdown .dropdown_heading {background:#f7f7f7;height:32px;line-height:34px;border-bottom:1px solid #e3e3e3;padding:0 10px;font-weight:700}
	.notification_dropdown .dropdown_content {padding:10px}
	.notification_dropdown .dropdown_footer {border-top:1px solid #e3e3e3;padding:10px}
	.notification_dropdown .dropdown_footer .dropdown_actions a {padding:0 2px;color:#333;font-size:14px}
	.notification_separator {width:1px;height:24px;background:#e1e1e1;text-indent:9999px;display:inline-block;position:relative;top:4px;margin:0 10px 0 14px;vertical-align:middle}
	.dropdown_items {margin:0;padding:0}
	.dropdown_items li {list-style:none;display:block;line-height:14px;font-size:11px;margin:0;position:relative}
	.dropdown_items li + li {border-top:1px dashed #e3e3e3;padding-top:5px;margin-top:5px}
	.dropdown_items li .indicator {position:absolute;top:1px;right:2px;color:#cb1111;font-size:14px}
	.dropdown_items li + li .indicator {top:6px}
	.dropdown_items h3 {font-size:12px;line-height:16px;margin:0 0 2px;font-weight:700}
	.dropdown_items h3 .small_info {float:right;margin-left:4px}
	.dropdown_items p {margin:0}
	.dropdown_items .small_info,.dropdown_items .large_info {color:#999;font-weight:normal}
	.dropdown_items .large_info {padding:2px 0 0}

	/* user menu */
	#top_header .notification_icon {margin-top:6px}
	#top_header .user_info {display:block}
	#top_header .user_info img {padding:2px;border:1px solid #e1e1e1;background:#fff;width:38px;height:38px}
	#top_header .user_info .caret {vertical-align:middle;margin-left:4px;margin-top:4px}
	#top_header .dropdown-menu {margin-top:8px}

/* navigation */
	#top_navigation {position:relative;display:block;padding:8px 0;border-bottom:1px solid #e1e1e1;background:#f9f9f9}
	#mobile_navigation {display:none;padding:12px 0;border-bottom:1px solid #e1e1e1;background:#f9f9f9}

	/* top icon navigation */
	.top_ico_nav {list-style:none;margin:0;padding:0}
	.top_ico_nav li {float:left;margin-right:2px}
	.top_ico_nav li a {border:1px solid #e1e1e1;min-width:100px;height:78px;text-align:center;display:block;color:#333;padding:12px 5px 10px;background:#fff;position:relative}
	.top_ico_nav li a i {display:inline-block;line-height:30px}
	.top_ico_nav li a:hover,.top_ico_nav li.active a {background:#f8f8f8}
	.top_ico_nav li a span.menu_label {display:block;font-size:12px;font-weight:300;font-family: 'Roboto', sans-serif;padding-top:4px}
	.top_ico_nav .label {position:absolute;right:-4px;top:-4px}

	/* side icon navigation */
	.side_ico_nav {list-style:none;margin:0;border-right:1px solid #e1e1e1;padding:0}
	.side_ico_nav li a {text-align:center;display:block;color:#333;padding:10px 0;border-width:1px 0 1px 3px;border-style:solid;border-color:transparent}
	.side_ico_nav li + li a {margin-top:2px}
	.side_ico_nav li a i {font-size:18px;color:#999}
	.side_ico_nav li a:hover i {font-size:18px;color:#999}
	.side_ico_nav li a:hover,.side_ico_nav li.active a {border-color:#e1e1e1;position:relative;left:1px;padding-right:2px;background:#fff;border-left:3px solid #555}
	.side_ico_nav li a:hover i,.side_ico_nav li.active a i {color:#333}
	.sidebar_right .side_ico_nav {border-right:none;border-left:1px solid #e1e1e1}
	.sidebar_right .side_ico_nav li a {border-width:1px 3px 1px 0}
	.sidebar_right .side_ico_nav li a:hover,.sidebar_right .side_ico_nav li.active a {left:-1px;padding-left:2px;padding-right:0;-webkit-box-shadow: 2px 0 0 0 #333;border-left:none;border-right:3px solid #555}

	/* top text navigation */
	.top_text_nav {margin:0;padding:0;position:relative}
	.top_text_nav > li {list-style:none;float:left;position:relative;margin-right:8px}
	.top_text_nav > li:last-child {margin-right:none}
	.top_text_nav > li > a {padding:0 12px;display:block;color:#333;font:300 13px/30px Arial,Helvetica,sans-serif;border:1px solid #e1e1e1;height:32px;background:#fff}
	.top_text_nav ul {display:none;min-width:202px;margin:0;padding:0;position:absolute;border-width:1px;border-color:#ddd;border-style:solid;z-index:90;-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.15);-moz-box-shadow: 0 2px 4px rgba(0,0,0,.15);box-shadow: 0 2px 4px rgba(0,0,0,.15)}
	.top_text_nav ul ul {border:1px solid #e3e3e3;margin-left:0;margin-top:-1px;-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.1);-moz-box-shadow: 2px 2px 3px rgba(0,0,0,.1);box-shadow: 2px 2px 3px rgba(0,0,0,.1)}
	.top_text_nav > li > ul {border-top-width:3px}
	.top_text_nav ul li {list-style:none;position:relative}
	.top_text_nav ul li a {padding:5px 10px;background:#fff;color:#333;display:block;white-space: nowrap;border-bottom:1px dashed #e1e1e1}
	.top_text_nav ul li:last-child > a {border-bottom:none}
	.top_text_nav li li.active > a,.top_text_nav > li ul li a:hover {background:#f4f4f4}
	.top_text_nav > li.active > a.isTopParent {border-bottom-color:transparent !important}
	.top_text_nav a.isTopParent,.top_text_nav a.isParent {position:relative;padding-right:30px}
	.top_text_nav a.fNiv i,.top_text_nav a.isParent i {position:absolute;right:8px;top:50%;margin-top:-7px;display:block}
	.top_text_nav a.isParent i {margin-top:-7px;right:10px}

	/* side text navigation */
	.side_text_nav {margin:0 0 10px;padding:0}
	.side_text_nav, .side_text_nav li { list-style: none }
	.side_text_nav > li {margin-bottom:2px}
	.side_text_nav > li + li {margin-top:2px}
	.side_text_nav li a { font:300 13px/22px Arial,Helvetica,sans-serif; padding: 6px 10px; color: #333; display: block; outline: none;}
	.side_text_nav > li > a { padding: 4px 10px;line-height:24px;font-weight:700;background:#fff; }
	.side_text_nav > li > a span {font-size:14px;margin-right:10px;/*color:#555*/}
	.side_text_nav > li ul {margin:2px 0 2px 10px;padding:0}
	.side_text_nav > li ul a {font-size:12px;line-height:16px}
	.side_text_nav > li li + li {margin-top:2px}
	.side_text_nav li .parent_active > a {font-weight:700;border-top: 1px dashed #e1e1e1;border-bottom: 1px dashed #e1e1e1;background:#f8f8f8}
	.side_text_nav a i { float: right; margin-top: 4px; margin-left: 2px; }
	.side_text_nav li li > a i { float: right; margin-top: 1px; margin-left: 2px; }
	.side_text_nav li li > a:hover { background-color: #f4f4f4}
	.side_text_nav > li > a:hover,.side_text_nav > .parent_active > a {border-color:rgba(0,0,0,.2)}
	.side_text_nav li.link_active {position:relative}
	.side_text_nav li.link_active > a:before {position:absolute;left:0;top:20%;height:60%;width:2px;background:#ccc;content:'';display:block}
	.side_text_nav > li > a:hover, .side_text_nav > .parent_active > a,.side_text_nav > li > a:hover span, .side_text_nav > .parent_active > a span {color:#fff}

	.top_ico_nav li a:hover,.top_ico_nav li.active a,.top_text_nav > li > a:hover,.top_text_nav > .active > a {z-index:100;border-color:rgba(0,0,0,.2)}

/* breadcrumbs */
	#breadcrumbs {/*margin:16px 0*/  float: left;
    height: 59px;
    padding-top: 22px;
    width: 100%;}
	#breadcrumbs ul {margin:0 5px;padding:0;overflow:hidden}
	#breadcrumbs li {float:left;list-style:none}
	#breadcrumbs li a,#breadcrumbs li span {font-size:12px;position:relative;display:block}
	#breadcrumbs li a:after {content:'';position:absolute;right:-19px;top:4px;height:0;width:0;border:4px solid transparent;border-left-color:#888}
	#breadcrumbs li a {margin-right:24px}

/* content */

	#wrapper_all {min-height:100%;height:auto;}
	#main_content_outer {width:100%;float:left;}
	#main_content {margin:0 0 0 240px;min-height:1px;}
	.main_section {margin-top:59px;}
	#main_content input[type="text"], input[type="password"], select, textarea {
    border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 7px;
}

	/* sidebar */
	#sidebar {width:249px;float:left;margin:0 0 3% -101%;position:relative; min-height:800px; padding-top:25px;}
	.sidebar_right #sidebar {float:right;margin:0 0 0 -220px}
	.sidebar_right #main_content {margin:0 240px 0 0}
	.sidebar_narrow #sidebar {width:70px}
	.sidebar_narrow #main_content {margin: 0 0 0 90px}
	.sidebar_narrow.sidebar_right #sidebar {margin: 0 0 0 -70px}
	.sidebar_narrow.sidebar_right #main_content {margin: 0 90px 0 0}


/* components */

	/* panels */
	.panel {margin-bottom:0;margin-bottom: 0;}
	.panel-default {border-color:#d3d3d3}
	.panel + .panel {margin-top:30px}
	.panel .panel-heading {height:36px;padding:0 10px}
	.panel .panel-heading .panel-title {font:700 15px/34px 'Roboto', sans-serif;margin:0; color:#1d70b7;}
	.panel .panel-heading .form-control {width:180px;margin-top:4px;height:26px;padding:3px 6px}
	.panel .panel-heading input[type=text] + select,.panel .panel-heading select + input[type=text] {margin-right:10px}
	.panel .panel-heading + .table tbody tr:first-child td,.panel .panel-heading + .table thead tr:first-child th {border-top:none}
	.panel .panel-heading > .btn-group,.panel .panel-heading > .btn {margin-top:2px}
	.panel .panel-heading > .btn-group-sm,.panel .panel-heading > .btn-sm {margin-top:5px}
	.panel-default > .panel-heading {background:#e8e8e8;border-bottom:1px solid #d3d3d3}

	.panel_controls {padding:10px;background:#fafafa;border-bottom:1px solid #e1e1e1}

	.panel_alt {background:#f7f7f7;border:1px solid #d3d3d3}
	.panel_alt .panel_alt_body {padding:20px}
	.panel_alt .panel_alt_title {margin-bottom:4px}
	.panel_alt .panel_alt_title i {font-size:32px;line-height:30px}
	.panel_alt .panel_alt_title span {font:300 24px/28px 'Roboto', sans-serif;padding-left:10px;vertical-align:6px}

	/* status boxes */
	.box_stat {background:#f7f7f7;border:1px solid #d3d3d3;min-height:60px;position:relative;text-align:center}
	.box_stat h4 {font:300 22px/24px 'Roboto', sans-serif;margin:8px 0 2px}
	.box_stat small {font-size:13px;display:block;color:#999}
	.box_stat .img_ind {height:100%;width:38px;border-left:1px solid #d3d3d3;display:block;position:absolute;right:0;top:0}
	.box_pos .img_ind {background:#eee url(../img/arrow_pos.png) no-repeat center center}
	.box_neg .img_ind {background:#eee url(../img/arrow_neg.png) no-repeat center center}
	.box_pos,.box_neg {padding-right:39px}
	.peity_chart {padding-right:47px}
	.box_stat .peity_wrapper {height:100%;width:46px;border-left:1px solid #e1e1e1;display:block;position:absolute;right:0;top:0;background:#eee;text-align:center}
	.box_stat .peity_wrapper .peity_bar_up,.box_stat .peity_wrapper .peity_bar_down {visibility:hidden}
	.box_stat .peity_wrapper .peity {margin-top:16px}
	.stat_wide h3 {font:300 15px/18px 'Roboto', sans-serif;margin:4px 0 8px}
	.stat_wide p {margin-bottom:0;font-size:11px}
	.box_ico {margin-left:50px;text-align:left;padding:0 20px}
	.box_stat .stat_ico {height:auto;width:51px;display:block;position:absolute;left:-51px;right:0;bottom:-1px;top:-1px;border:1px solid #f6f6f6;text-align:center}
	.stat_ico.stat_ico_1 {background-color:#0892cd;border-color:#0892cd}
	.stat_ico.stat_ico_2 {background-color:#7baf42;border-color:#7baf42}
	.stat_ico.stat_ico_3 {background-color:#efa91f;border-color:#efa91f}
	.stat_ico.stat_ico_4 {background-color:#f04b51;border-color:#f04b51}
	.box_stat .stat_ico i {color:#fff;font-size:28px;position:relative;top:10px}

	.box_stat_circular {height:90px;position:relative;background:#f7f7f7;overflow:hidden}
	.box_stat_circular_a,.box_stat_circular_b {width:50%;float:left;height:90px}
	.box_stat_circular_middle {position:absolute;left:50%;top:5px;margin-left:-40px;background:#fff;width:80px;height:80px;-webkit-border-radius: 40px;-moz-border-radius: 40px;border-radius: 40px;border:1px solid #d3d3d3}
	.box_stat_circular_middle .easy_chart {margin:4px 0 0 4px}
	.box_stat_circular_a {text-align:center;padding:20px 50px 0 10px;background:#eee;border:1px solid #d3d3d3}
	.box_stat_circular_b {padding:10px 10px 10px 50px;border-width:1px 1px 1px 0;border-style:solid;border-color:#d3d3d3}
	.box_stat_circular h4 {font:300 24px/28px 'Roboto', sans-serif;margin:0 0 2px}
	.box_stat_circular p {font:300 12px/17px 'Roboto', sans-serif}
	.box_stat_circular small {font-size:11px;display:block;color:#999}

	/* todo list  */
	.todo-list { overflow:hidden }
	.todo-list h4 { font-size: 11px; line-height: 24px; padding: 2px 10px; background: #f6f6f6; margin: 0; font-weight:700 }
	.todo-list ul { margin: 8px 14px 14px; min-height: 20px; padding:0 }
	.todo-list li { list-style: none; padding: 4px 8px; margin: 0 2px; position: relative; background: #fff; font-size: 15px; }
	.todo-list li + li { border-top: 1px solid #efefef }
	.todo-list li::before { content: ""; position: absolute; top: 10%; margin-left: -8px; width: 3px; height: 80%; background: none; }
	.todo-list li.high-pr::before { background: #C60F13 }
	.todo-list li.medium-pr::before { background: #f2aa00 }
	.todo-list li.low-pr::before { background: #5DA423 }
	.todo-list li.completed { color: #888; text-decoration: line-through; }
	.todo-list li input { vertical-align: -2px; margin: 0 4px; }

	/* charts */
	.chart_a {height:320px}
	.chart_b {height:220px}
	.chart_a,.chart_b {width:100%;overflow:hidden}
	.chart_wrapper {padding:10px}
	.flot_label {font-size:10px;text-align:center;padding:2px 6px;color:white}
	#flotTip {background: #292929;background: rgab(0,0,0,.8);color: #fff;font-size: 11px;padding: 2px 6px}
	.legendLabel + .legendColorBox {padding-left:10px}
	.axisLabel {font-size: 12px;position: absolute;text-align: center;}
	.yaxisLabel {left: 2px;top: 50%;transform: rotate(-90deg);transform-origin:0 0;-ms-transform: rotate(-90deg);-ms-transform-origin:0 0;-webkit-transform: rotate(-90deg);-webkit-transform-origin:0 0;}



	/* easy pie chart */
	.easyPieChart {position: relative;text-align: center;}
	.easyPieChart canvas {position: absolute;top: 0;left: 0;}
	.easyPieChart i {font-size:22px;color:#444;padding-top:20px;display:block}
	.easyPieChart span {font-size:13px;color:#999;display:block}

	/* combobox */
	.combobox {margin:0}
	.combobox .input-group-btn  {position:static}

	/* datepicker*/
	.datepicker {margin-top: 1px;padding:1px !important}
	.datepicker,.datepicker td,.datepicker th,.datepicker table tr td span {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0}
	.datepicker table tr td.today,.datepicker table tr td.today:hover,.datepicker table tr td.today.disabled,.datepicker table tr td.today.disabled:hover {background-color: #ffd76e;background-image: -moz-linear-gradient(top, #ffd76e, #ffd76e);background-image: -ms-linear-gradient(top, #ffd76e, #ffd76e);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffd76e), to(#ffd76e));background-image: -webkit-linear-gradient(top, #ffd76e, #ffd76e);background-image: -o-linear-gradient(top, #ffd76e, #ffd76e);background-image: linear-gradient(top, #ffd76e, #ffd76e);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd76e', endColorstr='#ffd76e', GradientType=0);border-color: #ffd76e #ffd76e #ffc221;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);}.datepicker table tr td.today:hover,.datepicker table tr td.today:hover:hover,.datepicker table tr td.today.disabled:hover,.datepicker table tr td.today.disabled:hover:hover,.datepicker table tr td.today:active,.datepicker table tr td.today:hover:active,.datepicker table tr td.today.disabled:active,.datepicker table tr td.today.disabled:hover:active,.datepicker table tr td.today.active,.datepicker table tr td.today:hover.active,.datepicker table tr td.today.disabled.active,.datepicker table tr td.today.disabled:hover.active,.datepicker table tr td.today.disabled,.datepicker table tr td.today:hover.disabled,.datepicker table tr td.today.disabled.disabled,.datepicker table tr td.today.disabled:hover.disabled,.datepicker table tr td.today[disabled],.datepicker table tr td.today:hover[disabled],.datepicker table tr td.today.disabled[disabled],.datepicker table tr td.today.disabled:hover[disabled] {background-color: #ffd76e;}.datepicker table tr td.today:active,.datepicker table tr td.today:hover:active,.datepicker table tr td.today.disabled:active,.datepicker table tr td.today.disabled:hover:active,.datepicker table tr td.today.active,.datepicker table tr td.today:hover.active,.datepicker table tr td.today.disabled.active,.datepicker table tr td.today.disabled:hover.active {background-color: #ffc93b \9;}
	.datepicker table tr td.selected,.datepicker table tr td.selected:hover,.datepicker table tr td.selected.disabled,.datepicker table tr td.selected.disabled:hover {background-color: #9e9e9e;background-image: -moz-linear-gradient(top, #b3b3b3, #808080);background-image: -ms-linear-gradient(top, #b3b3b3, #808080);background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(#808080));background-image: -webkit-linear-gradient(top, #b3b3b3, #808080);background-image: -o-linear-gradient(top, #b3b3b3, #808080);background-image: linear-gradient(top, #b3b3b3, #808080);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);border-color: #808080 #808080 #595959;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);color: #fff;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
	.datepicker table tr td.active,.datepicker table tr td.active:hover,.datepicker table tr td.active.disabled,.datepicker table tr td.active.disabled:hover,.datepicker table tr td span.active,.datepicker table tr td span.active:hover,.datepicker table tr td span.active.disabled,.datepicker table tr td span.active.disabled:hover {filter: none;color: #fff;text-shadow: none}
	.datepicker-inline {border:1px solid #c0c0c0;width:215px}

	/* timepicker */
	.bootstrap-timepicker {position: relative;}
	.bootstrap-timepicker input + i {top:8px;right:8px;pointer-events: none;position: absolute;}
	.bootstrap-timepicker-widget a.btn,.bootstrap-timepicker-widget input,.bootstrap-timepicker-widget table td a:hover {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
	.bootstrap-timepicker-widget table td {height:20px}
	.bootstrap-timepicker-widget table td a {padding:2px 0}
	.bootstrap-timepicker-widget.dropdown-menu {max-width:180px}
	.bootstrap-timepicker-widget.modal {margin:0;width:auto}
	.bootstrap-timepicker-widget.modal .modal-dialog {width:240px}
	.bootstrap-timepicker-widget .modal-content {padding:0}
	.bootstrap-timepicker .input-group-addon {cursor:pointer}

	/* iCheck */
	div[class*="icheckbox"],div[class*="iradio"] {display:inline-block;vertical-align:middle}
	.icheck_label {display:inline;font-size:14px;margin:0 0 0 5px;vertical-align:middle}
	#icheck_colors {margin:0;padding:0}
	#icheck_colors li {display:inline-block;height:20px;width:20px;margin-right:5px;position:relative;cursor:pointer}
	#icheck_colors li.active_color:before {position:absolute;bottom:-10px;border:4px solid transparent;border-bottom-color:#000;content:"";left:6px;display:block;height:0;width:0}

	/* noUI slider */
	.noUiSlider {margin:16px 0}
	.noUi-base {height:20px}
	.noUi-horizontal {width:100%}
	.noUi-background {background:#e5e5e5;border:none}
	.noUi-handle {border:1px solid #fff;background:#777;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;height:34px;width:18px;margin:-7px 0 0 -9px}
	.noUi-active {background:#333}
	.noUi-active:after {display:none}
	.noUi-target[disabled] .noUi-base {background:#e5e5e5;opacity:.7}

	/* multi fileupload */
	.multiupload .progress {margin:0;background:#fff}
	.multiupload .progress + .progress-extended {margin-top:10px}
	.table .upload_img,.table .download_img {width:88px}
	.table .upload_img .img-thumbnail,.table .download_img .img-thumbnail {max-height:88px;min-height:52px;height:auto;text-align:center}
	.table .download_img .img-thumbnail a {display:block}
	.table .upload_info p,.table .download_info p {margin:0}
	.table .upload_info .name,.table .download_info .name {font-size:13px;font-weight:700}
	.table .upload_info .size,.table .download_info .size {font-size:11px;color:#999;margin-bottom:12px}
	.table .upload_actions,.table .download_actions {vertical-align:middle;text-align:center}
	.template-upload tr,.template-download tr {overflow:hidden}

	/* fileupload widgets */
	.btn-file {position: relative;overflow: hidden;vertical-align: middle;}
	.btn-file > input {position: absolute;top: 0;right: 0;margin: 0;font-size: 23px;cursor: pointer;opacity: 0;filter: alpha(opacity=0);transform: translate(-300px, 0) scale(4);direction: ltr;}
	.btn-file + .fileupload-preview {font-weight:700;padding:0 5px 0 10px;vertical-align:middle}
	.fileupload {margin-bottom: 9px;}
	.fileupload .uneditable-input {display: inline-block;margin-bottom: 0;vertical-align: middle;cursor: text;}
	.fileupload .img-thumbnail {display: inline-block;margin-bottom: 5px;overflow: hidden;text-align: center;vertical-align: middle;}
	.fileupload .img-thumbnail > img {margin-left:auto;margin-right:auto;max-height:100%}
	.fileupload .btn {vertical-align: middle;}
	.fileupload-exists .fileupload-new,.fileupload-new .fileupload-exists {display: none;}
	.fileupload-inline .fileupload-controls {display: inline;}
	.fileupload-new .input-append .btn-file {-webkit-border-radius: 0 3px 3px 0;-moz-border-radius: 0 3px 3px 0;border-radius: 0 3px 3px 0;}
	.thumbnail-borderless .img-thumbnail {padding: 0;border: none;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
	.fileupload-new.thumbnail-borderless .im-thumbnail {border: 1px solid #ddd;}
	.fileupload .fileupload-preview + .close {vertical-align:middle}
	.control-group.warning .fileupload .uneditable-input {color: #a47e3c;border-color: #a47e3c;}
	.control-group.warning .fileupload .fileupload-preview {color: #a47e3c;}
	.control-group.warning .fileupload .img-thumbnail {border-color: #a47e3c;}
	.control-group.error .fileupload .uneditable-input {color: #b94a48;border-color: #b94a48;}
	.control-group.error .fileupload .fileupload-preview {color: #b94a48;}
	.control-group.error .fileupload .img-thumbnail {border-color: #b94a48;}
	.control-group.success .fileupload .uneditable-input {color: #468847;border-color: #468847;}
	.control-group.success .fileupload .fileupload-preview {color: #468847;}
	.control-group.success .fileupload .img-thumbnail {border-color: #468847;}

	/* wizard */
	.wizard{width: 100%;overflow:hidden}
	.wizard ol,.wizard ul{list-style: none}
	.wizard > .steps ol,.wizard > .steps ul{padding:0;margin:0}
	.wizard .audible{position: absolute;left: -999em;}
	.wizard > .steps{width: 100%}
	.wizard > .steps ul {margin:0 0 10px;border-bottom:1px solid #e3e3e3;padding-bottom:10px;overflow:hidden}
	.wizard > .steps li {float:left;position:relative;z-index:10;margin-right:20px}
	.wizard > .steps li:last-child {margin-right:0}
	.wizard > .steps a {display:block;text-align:center;padding:0 5px;color:#999;min-width:80px;line-height:40px;font-weight:300;font-family: 'Roboto', sans-serif;font-size:14px}
	.wizard > .steps .number {height:34px;width:34px;line-height:34px;border:1px solid #d2d2d2;background:#e8e8e8;display:inline-block;font-size:16px;margin-right:5px}
	.wizard > .steps {float: left}
	.wizard > .steps .current a {color:#333}
	.wizard > .steps .done a {color:#333}
	.wizard > .steps .done .number {background:#fff}
	.wizard > .steps .current a,.wizard > .steps .disabled a{cursor: default;}
	.wizard > .steps .error .number {background:#fff !important;color:#cc0000 !important;border-color:#cc0000 !important}
	.wizard > .steps .error a {color:#cc0000 !important}
	.wizard > .content{width: 100%;position:relative;overflow:hidden;-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out}
	.wizard > .content > .title{position: absolute;left: -999em;}
	.wizard > .content > .body{float: left;position: absolute;width: 100%;padding:20px}
	.wizard > .content .step_info h4 {font-weight:300;font-family: 'Roboto', sans-serif;font-size:20px}
	.wizard > .content .step_info p {font-size:12px;color:#666;margin-right:10px}
	.wizard > .content > .body > iframe{border: 0 none;width: 100%;height: 200px;}
	.wizard > .actions{width:100%;padding-top:10px;margin-top:10px;border-top:1px solid #e3e3e3}
	.wizard > .actions [aria-disabled="true"] a{color: #aaa;}
	.wizard > .actions ul {margin:0;overflow:hidden;padding:0 5px}
	.wizard > .actions .prev_step {float:left}
	.wizard > .actions .next_step,.wizard > .actions .last_step {float:right}

	/* wysiwg editor */
	.panel .cke_chrome {border:none !important}

	/* contact list */
	.contact_list h4 {margin:0;height:30px;font:300 13px/30px 'Roboto', sans-serif;background:#f8f8f8;padding:0 10px;border-bottom:1px solid #e1e1e1;cursor:pointer;text-transform:uppercase}
	.contact_list h4 i {float:right;position:relative;top:10px;right:4px}
	.contact_list ul {margin:0;padding:0}
	.contact_list ul li {list-style:none}
	.contact_list ul ul {overflow:hidden;padding:0 0 1%;border-bottom:1px solid #e1e1e1}
	.contact_list > ul > li:last-child h4,.contact_list > ul > li.last_visible h4 {border-bottom:none}
	.contact_list > ul > li:last-child ul,.contact_list > ul > li.last_visible ul {border-bottom:none;border-top: 1px solid #e1e1e1}
	.contact_list ul ul li {position:relative;padding:10px;margin:1% 0 0 1%;width:48%;float:left;border:1px dashed #e1e1e1}
	.contact_list .contact_list_username {margin:0 0 6px}
	.contact_list .contact_list_username a {font:300 15px/18px 'Roboto', sans-serif}
	.contact_list .contact_list_info {margin:0}
	.contact_list_no_result {padding:20px 20px 0;display:none}

	/* x-editable */
	.editable-error-block {margin-top:2px}

	/* file manager */
	.elfinder,.elfinder-toolbar,.elfinder-statusbar,.elfinder-cwd-file-wrapper,.elfinder-cwd-view-icons .elfinder-cwd-filename,.elfinder-cwd-icon,.elfinder-navbar-dir,.elfinder .elfinder-button-search input {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0}
	.panel .elfinder {border:none}
	.elfinder .elfinder-button-search input {margin:0}
	.elfinder-cwd-view-icons .elfinder-cwd-file-wrapper {height:auto;padding:4px;width:56px}
	.elfinder .elfinder-navbar,.elfinder-cwd-view-icons .elfinder-cwd-filename, .elfinder-cwd-view-list td {font-size:12px}
	.elfinder .elfinder-button {width:24px;height:24px}
	.elfinder-buttonset,.elfinder-button:first-child {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
	.elfinder .elfinder-button-search {width:200px;height:auto}
	.elfinder .elfinder-button-search input {width:200px;height:26px}
	.elfinder-statusbar {height:19px}

	/* gallery */
	.gal_lay_change {font-size:14px;display:inline-block;margin:7px 0 0 10px;cursor:pointer}
	.galMix {margin:0;padding:20px;min-height:110px}
	.galMix li {list-style:none}
	.galMix .gal_sort_list {display:none}
	.gal_no_result {display:none}

	.galMix.list .mix {display: none;opacity: 0;padding:14px 0 14px;width: 100%;overflow:hidden;border-bottom:1px solid #d7d7d7;background:#fff}
	.galMix.list .mix:hover {background:#f8f8f8}
	.galMix.list .mix .img_wrapper,.galMix.list .gal_sort_list .img_wrapper {float:left;width:20%;min-height:10px;text-align:center}
	.galMix.list .mix .img_wrapper img {display:inline-block;max-width:100%;max-height:100px}
	.galMix.list .mix .meta,.galMix.list .gal_sort_list .meta {float:left;width:20%;font-size:13px;text-align:center;padding:0 10px}
	.galMix.list .mix .meta.name,.galMix.list .gal_sort_list .meta.name {text-align:left}
	.galMix.list .mix .name h2 {overflow:hidden;font:300 16px/20px 'Roboto', sans-serif;margin:4px 0 2px}

	.galMix.grid {font-size:0}
	.galMix.grid .mix {display: none;opacity: 0;position: relative;width: 25%;vertical-align:middle}
	.galMix.grid .mix {text-align:center}
	.galMix.grid .mix .meta {display:none}
	.galMix.grid .mix .img_wrapper {display:inline-block;padding:10px;max-width:100%}
	.galMix.grid .mix .img_wrapper img {max-width:100%}

	.fail .gal_no_result {display:block;padding:40px 20px;text-align:center;font:300 20px/24px 'Roboto', sans-serif}
	.galMix.list .gal_sort_list {display:block;background:#f2f2f2;height:28px;line-height:28px;border-width:1px 0;border-style:solid;border-color:#e1e1e1}
	.galMix.fail .gal_sort_list {display:none}

	/* validation */
	input.parsley-error,textarea.parsley-error,select.parsley-error,.parsley-error .ms-selection .ms-list,.parsley-error .select2-container-multi .select2-choices,.parsley-error .input_validate {border:1px solid #cc0000 !important;background:#fff2f2 !important}
	.parsley-error-list {margin:0;padding:5px 0 0}
	.parsley-error-list li {list-style:none;font-size:12px;color:#cc0000}
	div.parsley-error .parsley-error-list {margin-top:5px}
	.parsley-error-list + label {margin-top:10px}

	/* lightbox */
	.mfp-nav {font-size:32px;color:#fff;opacity:.65;position:absolute;top:50%;margin-top:-16px;cursor:pointer;z-index:1000}
	.mfp-nav.icon-chevron-left {left:0;margin-left:20px}
	.mfp-nav.icon-chevron-right {right:0;margin-right:20px}

	/* Google Maps */
    .gmap { display: block; width: 100%; height: 350px; overflow: hidden; }
    .gmap_large { height: 500px }
    .gmap img { width: auto; max-width: none; }
    .infoWindow_content { max-width: 200px; font-size: 12px; }
    .infoWindow_content p { margin: 0; line-height: 1.3; }

	/* slickGrid */
	.slick-header {-webkit-box-shadow: 2px 0 6px rgba(0,0,0,.3);-moz-box-shadow: 2px 0 6px rgba(0,0,0,.3);box-shadow: 2px 0 6px rgba(0,0,0,.3);z-index:10}
	.slick-header-column.ui-state-default {min-height:34px}
	.slick-cell, .slick-headerrow-column {min-height:38px;line-height:24px;}
	.slick-top-panel {min-height:42px}
	.slick-top-panel .slider_wrapper {display:inline-block;vertical-align:middle;width:340px}
	.slick_grid .help-block {margin-bottom:0}
	.slick-cell.editable {border-width:1px 0 0;border-color:#ddd;background:#f2f2f2;padding:6px 10px 5px}
	.slick-cell .progress {margin:6px 0 0}
	.slick-cell .ui-datepicker-trigger {background:none;border:none;outline:none;position:absolute;right:12px;top:6px;font-size:14px}
	.slick-cell > .irs {padding:10px;background:#fff;position:absolute;width:160px;left:10px;bottom:-56px;border:1px solid rgba(0, 0, 0, 0.2);height:60px;-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);-moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);box-shadow: 0 2px 4px rgba(0,0,0,.2);}
	.slick-cell > .irs:before,.slick-cell > .irs:after {position:absolute;display:block;content:''}
	.slick-cell > .irs:before {left:9px;top:-12px;border: 6px solid rgba(255,255,255,0);border-bottom-color:rgba(0,0,0,.3)}
	.slick-cell > .irs:after {left:10px;top:-10px;border:5px solid rgba(255,255,255,0);border-bottom-color:#fff}
	.slick-row .slick-cell,.slick-header-columns .slick-header-column {border-right:1px dotted #ddd}
	.slick-header-columns .slick-header-column {padding-right:20px}
	.slick-long-text {-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);-moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);box-shadow: 0 2px 4px rgba(0,0,0,.2);z-index:10000;position:absolute;padding:10px;border:1px solid rgba(0, 0, 0, 0.2);width:260px;background:#fff}
	.slick-pager {border:none;border-top:1px solid #ddd;background:#fafafa;padding:0 5px;height:28px}
	.slick-pager .slick-pager-status {padding:5px}
	.slick-pager .slick-pager-nav .slick-item-nav {line-height:20px;display:inline-block;border:1px solid #eee;margin-right:2px;background:#fff;width:20px;height:20px;text-align:center}
	.slick-pager .slick-pager-nav .slick-item-nav-disabled {border-color:#eee !important;background:#fff !important}
	.slick-pager .slick-pager-nav .slick-item-nav i {height:18px;font-size:14px;vertical-align:top;display:block;line-height:18px;color:#333;cursor:pointer}
	.slick-pager .slick-pager-nav .slick-item-nav-disabled i {color:#ccc !important;cursor:default}
	.slick-pager .slick-pager-settings * {vertical-align:baseline}
	.slick-pager .slick-pager-settings .settings_expanded_active {color:#333;text-decoration:none;font-weight:700}
	.slick-columnpicker {position:absolute;z-index:20;background:#fff;border:1px solid rgba(0,0,0,.2);-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);-moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);box-shadow: 0 2px 4px rgba(0,0,0,.2);margin:0;padding:0;padding:10px}
	.slick-columnpicker li {list-style:none;display:block}
	.slick-columnpicker li + li {margin-top:4px}
	.slick-columnpicker hr {margin:10px 0}
	.slick-sort-indicator {width:5px;height:5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;background:#ddd;position:absolute;right:8px;top:10px}
	.slick-sort-indicator-asc,.slick-sort-indicator-desc {width:0;height:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border:5px solid rgba(255,255,255,0);background:none}
	.slick-sort-indicator-asc {border-top-color:#555}
	.slick-sort-indicator-desc {border-bottom-color:#555;top:5px}
	.slick-pager .slick-pager-nav {padding:4px}
	.slick-pager .slick-pager-settings {padding:5px}

	/* responsive table */
	.footable-row-detail-cell {background:#f6f6f6}
	.footable.breakpoint > tbody > tr > td > span.footable-toggle {cursor:pointer}

	/* bootbox */
	.bootbox.modal {overflow-y:auto}
	.bootbox-body {padding:20px 0;font-size:14px}
	.bootbox-body .lead {margin-bottom:0}

	/* chat */
	.chat_app .table > tbody > tr > td {border:none;padding:0}
	.chat_app .stat {width:12px;height:12px;-webkit-border-radius: 8px;-moz-border-radius: 8px;border-radius: 8px;display:inline-block;border-width:1px;border-style:solid;margin-right:10px;border:2px solid #fff !important}
	.chat_app .stat_offline {background:#cb1111}
	.chat_app .stat_online {background:#5da423}
	.chat_app .stat_busy {background:#faa937}
	.chat_users a {display:block;line-height:20px;color:#333;padding:8px;position:relative}
	.chat_users a:hover {background:#eee}
	.chat_messages {min-height:120px;max-height:540px;overflow:auto;padding:10px 14px 10px 10px;-webkit-overflow-scrolling: touch}
	.chat_message img {max-width:48px;margin-right:10px;border-color:#e3e3e3;float:left}
	.chat_message + .chat_message {margin-top:20px}
	.chat_message_body {padding:10px;border:1px solid #e3e3e3;position:relative;overflow:hidden}
	.chat_message_body:before {position:absolute;left:-21px;bottom:-21px;content:'';border:10px solid rgba(255,255,255,0);border-left-width:0;border-top-color:#e3e3e3;display:blok;width:0;height:0}
	.chat_message_body .chat_message_date {color:#999;font-size:11px}
	.chat_message_body p {margin:0;overflow:hidden}
	.chat_message_body p + p {margin-top:5px}
	.chat_message.ch_right .chat_message_body {background:#f8f8f8;border-color:#e3e3e3}
	.chat_message.ch_right img {float:right;margin-right:0;margin-left:10px}
	.chat_toolbar {margin-bottom:10px}

	/* faq/help */
	.faq_search {margin:0}
	.faq_accordions .panel-group + .heading_b {margin-top:20px}
	.link_boxed {padding:8px 16px;display:inline-block;font:300 18px/22px 'Roboto', sans-serif;cursor:pointer;color:#333;border:1px dashed #e3e3e3;position:relative}
	.link_boxed:hover {background:#f8f8f8;color:#333}
	.link_boxed_icon {margin-right:10px;font-size:32px;vertical-align:middle}
	.link_boxed .label {position: absolute;top:-6px;right:-4px}

	/* invoices */
	.invoice_top .heading_lg_sub {margin-bottom:10px !important}
	.invoice_top p {margin:0}
	.invoice_top p + p {margin-top:4px}
	.invoice_date {font-size:16px}
	.invoice_table {margin-bottom:50px}
	.invoice_table > tfoot > tr > th,.invoice_table > tfoot > tr > td {border-top:none}
	.invoice_table > tfoot > tr:first-child > th,.invoice_table > tfoot > tr:first-child  > td {border-top:1px solid #ddd}
	.invoice_table .grand_total {font-size:18px}
	.invoice_table .grand_total .col_total {background:#f4f4f4}
	.invoice_info {background:#f8f8f8;padding:10px 20px;border:1px solid #e3e3e3}


	/* mailbox */
	.mailbox_heading {border-bottom:1px solid #e3e3e3;padding:0 10px 10px}
	.mailbox_heading h1 {margin:0}
	.mailbox_nav {padding:10px 0 0}
	.mailbox_content table tr:first-child td {border-top:none}
	.mailbox_content table tr td {background:#f9f9f9}
	.mailbox_content table tfoot td {border-top:1px solid #e3e3e3 !important;background:#fff;padding-top:14px}
	.mailbox_content table a {color:#333}
	.mailbox_content .mbox_star span {color:#999;cursor:pointer}
	.mailbox_content .mbox_star span.star_hover {color:#333}
	.mailbox_content .unreaded {font-weight:700}
	.mailbox_content .unreaded td {background:#fff}
	.mail_message_top {max-height:70px;border-bottom:1px solid #e1e1e1;margin-bottom:10px;padding-bottom:10px;padding-top:10px}
	.mail_message_top .img-thumbnail {margin:2px 16px 0 16px;display:block;float:left}
	.mail_message_top .user_name {font:300 20px/24px 'Roboto', sans-serif;margin:0 0 4px}
	.mail_message_top .user_name span {font-size:14px}
	.mail_message_top .mail_address {font:300 15px/20px 'Roboto', sans-serif;margin:0;color:#888}
	.mail_message_top .mail_actions {float:right;padding:12px 10px 0 0}
	.mail_message_top .mail_actions .mail_date {font-size:12px;color:#888;margin-right:10px}
	.mail_message_content {padding:20px;font-size: 14px}
	.mail_message_content .mail_attachment {border-top:1px dashed #e3e3e3;padding-top:10px;margin-top:40px}
	.mail_message_content .mail_attachment p {font-size:12px}
	.mail_message_content .mail_attachment p span {margin-right:10px}
	.mail_message_content .mail_attachment p a {margin-left:30px}
	.mail_message_footer {padding:20px}


	/* user profile */
	.user_heading {height:96px;padding:0 20px}
	.user_heading .user_avatar {top:10px;position:relative;}
	.user_heading .user_heading_info {overflow:hidden;padding-top:14px}
	.user_heading .user_heading_info h1 {font:300 24px/28px 'Roboto', sans-serif;margin:0 0 4px}
	.user_heading .user_heading_info h2 {font:300 20px/24px 'Roboto', sans-serif;margin:0;color:#999}
	.user_heading .user_actions {font-size:0}
	.user_heading .user_actions a {display:inline-block;margin:0 8px;font-size:24px;color:#333;height:40px;width:46px;text-align:center;line-height:40px;border:1px solid #e6e6e6}

	.user_content {border-top:1px solid #e3e3e3;padding:40px 20px 20px}
	.user_form label {color:#888;line-height:30px;padding-top:0 !important}
	.user_form p {font-size:15px;padding-top:5px;line-height:22px}
	.user_form .editable .hidden_control {display:none}
	.user_form .form-group {margin-bottom:6px}
	.user_form .form-group + .heading_a {margin-top:30px}
	.user_form .form_submit {padding-top:20px}

	/* settings */
	.form_settings .tab-content {padding:20px}
	.form_settings .form-group + .form-group {border-top:1px dashed #e3e3e3;padding-top:15px}

/* footer */
	#footer_space {/*height: 120px;*/clear:both}
	#footer {height:107px;line-height:40px;margin-top:-40px;position:relative;border-top:0px solid #fff;}
	#footer ul {margin:0;padding:0;overflow:hidden}
	#footer li {list-style:none;display:inline-block;line-height:40px}
	#footer li + li {padding-left:5px}

/* helpers */
	.heading_lg {font:300 24px/28px 'Roboto', sans-serif;margin:0 0 20px}
	.heading_lg_sub {font:300 18px/22px 'Roboto', sans-serif;margin:0 0 0 20px;color:#999}
	.heading_lg + .heading_lg_sub {margin:-15px 0 20px}
	.heading_a {font:300 14px/16px 'Roboto', sans-serif;margin:0 0 16px;border-bottom:1px dashed #e3e3e3;padding:0 2px 6px}
	.heading_b {font:300 16px/18px 'Roboto', sans-serif;margin:0 0 16px;text-transform:uppercase;position:relative}
	.heading_b span {display:inline-block;background:#fff;position:relative;z-index:10;padding-right:10px}
	.heading_b:after {position:absolute;top:50%;left:0;width:100%;border-bottom:1px dashed #e3e3e3;height:0;content:'';display:block}
	.row + .heading_a,.heading_a + .row,.heading_a + .panel,.panel + .heading_a {margin-top:20px}

	.sepH_a { margin-bottom: 6px }
	.sepH_b { margin-bottom: 12px }
	.sepH_c { margin-bottom: 18px }
	.sepV_a { margin-right: 6px }
	.sepV_b { margin-right: 12px }
	.sepV_c { margin-right: 18px }
	.list_a,.list_b,.list_c,.list_d  {list-style:none;margin:0 0 10px}
	.list_a li,.list_b li,.list_c li,.list_d li {list-style:none;padding-left:26px}
	.list_a li {background: url(../img/bullet_a.html) no-repeat 10px 8px}
	.list_b li {background: url(../img/bullet_b.gif) no-repeat 10px 8px}
	.list_c li {background: url(../img/bullet_c.html) no-repeat 10px 8px}
	.list_d li {background: url(../img/bullet_d.gif) no-repeat 10px 8px}
	.overflow_visible {overflow:visible}
	.animated {-webkit-transition: height 0.2s !important;-moz-transition: height 0.2s !important;transition: height 0.2s !important}
	.form_sep + .form_sep {margin-top:10px;padding-top:10px;border-top:1px dashed #e3e3e3}
	.form_sep:before,.form_sep:after {content:"";display:table;}
	.form_sep:after {clear:both;}
	.req:after {content:"*";font-size:14px;color:/* #cc0000 */red;padding-left:4px}
	.icon_list {font-size:0;margin:0 0 10px;padding:0;border-width:1px 0 0 1px;border-style:dashed;border-color:#e3e3e3}
	.icon_list li {list-style:none;height:68px;max-height:68px;overflow:hidden;width:12.5%;display:inline-block;border-width:0 1px 1px 0;border-style:dashed;border-color:#e3e3e3;text-align:center;position:relative;padding:20px 0}
	.icon_list .glyphicon{font-size:20px}
	.icon_list [class*="li_"] {font-size:26px}
	.icon_list [class*="icon-"] {font-size:20px}
	.icon_list .icon_use {display:block;font-size:11px;padding:8px 5px 2px 5px;color:#999}
	.icon_list li:hover {background:#f4f4f4;color:#333;cursor:pointer}
	.icon_list li:hover .icon_use {color:#333}
	.sidebar_hidden #sidebar {display:none !important}
	.sidebar_hidden #main_content {margin-left:0 !important;margin-right:0 !important}
	tr.rowlink td {cursor: pointer}
	tr.rowlink td.nolink {cursor: auto}
	.placeholder {color:#999}


	/* style switcher */
	#style_switcher {position:fixed;z-index:1000;top:15%;right:0;margin-right:0;padding:10px;border-width:1px 0 1px 1px;border-style:solid;border-color:#e1e1e1;border-color:rgba(0,0,0,.2);background:#fff;width:191px}
	#style_switcher .switcher_toggle {position:absolute;left:-31px;top:10px;width:30px;height:30px;line-height:28px;text-align:center;border-width:1px 0 1px 1px;border-style:solid;border-color:#e1e1e1;border-color:rgba(0,0,0,.1);background:#eee;font-size:16px;color:#333}
	#style_switcher ul {margin:0;padding:0}
	#style_switcher li {list-style:none;float:left;width:26px;height:26px;margin-bottom:10px;text-indent:-9999px;cursor:pointer;-webkit-box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2)}
	#style_switcher li + li {margin-left:10px}
	#style_switcher li:nth-child(5n+6) {clear:left;margin-left:0}
	#style_switcher .style_items + .style_items {margin-top:20px}
	#style_switcher .style_title {font-size:12px;margin-bottom:12px;padding-bottom:2px;border-bottom:1px dashed #e1e1e1}
	#style_switcher .radio {font-size:12px;padding-top:0}
	#style_switcher .radio input {margin-top:2px}
	.style_active,.pattern_active {-webkit-border-radius: 26px;-moz-border-radius: 26px;border-radius: 26px;}
	#style_reset {margin-top:20px}
	.sidebar_hidden #sidebar_switch {display:none}

   .h1style{  text-align: center;color: #1d70b7;}

/* ===[ media queries ]=== */

	/* ===[ Large desktop ]=== */


.container {
    max-width: 100%;
    width: 100%;
}



		@media (min-width: 1200px) {
			/* boxed layout */
			.boxed {background:#fff;}
			.boxed #wrapper_all,.boxed #footer {/*width:1180px;*/width:99%;margin:0 auto;overflow:hidden}
			.boxed #wrapper_all {background:#fff;-webkit-box-shadow:0 -8px 8px rgba(0, 0, 0, 0.2);-moz-box-shadow: 0 -8px 8px rgba(0, 0, 0, 0.2);box-shadow: 0 -8px 8px rgba(0, 0, 0, 0.2);}
			.boxed #footer {margin-top:-40px;position:relative; padding-top:9px; }
			/*.boxed.pattern_1 {background:url(../img/patterns/pattern_1.png)}
			.boxed.pattern_2 {background:url(../img/patterns/pattern_2.png)}
			.boxed.pattern_3 {background:url(../img/patterns/pattern_3.png)}
			.boxed.pattern_4 {background:url(../img/patterns/pattern_4.png)}
			.boxed.pattern_5 {background:url(../img/patterns/pattern_5.png)}
			.boxed.pattern_6 {background:url(../img/patterns/pattern_6.png)}
			.boxed.pattern_7 {background:url(../img/patterns/pattern_7.png)}
			.boxed.pattern_8 {background:url(../img/patterns/pattern_8.png)}
			.boxed.pattern_9 {background:url(../img/patterns/pattern_9.png)}
			.boxed.pattern_10 {background:url(../img/patterns/pattern_10.png)}*/
			.full_width .container {max-width:100%;margin-left:20px;margin-right:20px}

		}

		@media (max-width: 1199px) {
			[class*="col-lg"] {margin-bottom:20px}
		}

	/* ===[ Tablets ]=== */
		@media (max-width: 1024px) {
			#style_switcher #layout_switch,#style_switcher #style_pattern {display:none}
			#sidebar{margin: 0 0 0 -102%;}
		}

	/* ===[ Desktop ]=== */
		@media (min-width: 992px) {
		}

	/* ===[ Phones, tablets and desktop ]=== */
		@media (max-width: 991px) {
			/* navigation */
			#mobile_navigation {display:block}
			#sidebar,#top_navigation.text_nav{display:none}
			.top_ico_nav {font-size:0;text-align:center;margin-top:8px}
			.top_ico_nav li {margin-bottom:8px;display:inline-block;float:none}
			.top_ico_nav li a {min-width:61px;height:auto;display:inline-block}
			.top_ico_nav li a span.menu_label {display:none}
			.top_ico_nav li a i {font-size:24px}
			.top_ico_nav .label {display:none}
			#main_content {margin:0 !important}
			.contact_list ul ul li {position:relative;padding:10px;margin:1% 1% 0;width:98%;float:none}
			.galMix.list .gal_sort_list {display:none}
			.galMix.list .mix .img_wrapper, .galMix.list .gal_sort_list .img_wrapper {width:auto;max-width:120px;margin:10px 0 0 10px}
			.galMix.list .mix .meta {float:none;overflow:hidden;margin-left:140px;text-align:left;width:auto}
			.galMix.list .mix .meta + .meta {margin-top:4px}
			.galMix.grid .mix {width:33%}
			.mail_message_top {max-height:none}
			.mail_message_top [class*="col-sm"] {margin:0}
			.mail_message_top .mail_actions {float:none;clear:both;padding-left:78px;overflow:hidden}
			.mail_message_top .mail_actions .mail_date {float:right}
			.mailbox_nav {margin:10px 0;padding:10px;border:1px dashed #e3e3e3}
			.mailbox_heading [class*="col-md"] {margin-bottom:0}
			.user_heading {height:82px}
			#style_switcher #sidebar_switch,#style_switcher #layout_switch,#style_switcher #style_pattern {display:none}
		}

		@media (min-width: 768px) and (max-width: 991px) {
			[class*="col-md"],[class*="col-lg"] {margin-bottom:20px}
		}

	/* ===[ Landscape phone to portrait tablet ]=== */
		@media (max-width: 767px) {
			/* content */
			body {padding-left:0;padding-right:0}
			.container {padding-left:20px;padding-right:20px}
			.col-xs-12 {clear:both}
			[class*="col-sm"],[class*="col-md"],[class*="col-lg"],[class*="col-xs"] {margin-bottom:20px}
			form [class*="col-sm"], form [class*="col-md"], form [class*="col-lg"], form [class*="col-xs"] {margin-bottom:10px}
			#top_header {height:110px}
			#top_header [class*="col-xs"] {margin-bottom:0}
			#top_header .col-xs-12 {padding-top:10px}
			.panel_heading .form-control {width:100px}
			.galMix.grid .mix {width:50%}
			.user_form label {line-height:1.4}
			.user_form p {padding-top:0}
			.mailbox_heading [class*="col-md"] {margin-bottom:10px}
			/* footer */
			#footer {height:auto;line-height:24px;padding:10px 0;text-align:center}
			#footer li {line-height:30px}
			#footer .text-right {text-align:center}
			#footer .row [class*="col-lg"] {min-height:24px}
		}

	/* ===[ Landscape phones and down ]=== */
		@media (max-width: 479px) {
			.galMix.grid .mix {width:100%}
		}



        /*################################### Custom Style ####################################### */
                .required-server p {
                    color: #CC0000;
                    font-size: 11px; font-family:arial;
                    list-style: none outside none;
                }

				 .error{
                    color: #CC0000;
                    font-size: 14px;
                    list-style: none outside none;
                }

				.flashmsgtext_error{
                    color: #CC0000;
                    font-size: 14px;
                    list-style: none outside none;
                }

                .flashmsg{
                    float: left;padding-left: 261px;
                }
                .flashmsgtext{
                    color: #48AC2E;
                    font-size: 12px;
                    list-style: none outside none;
                }
        		.col-sm-5{
					width: 99.667%;
				}
        /*########################################## End ######################################### */


.box-content {
    padding: 10px;
}

		.chat-box {
    color: #5f5f5f;
    font-size: 11px;
    line-height: 20px;
    list-style: none outside none;
    margin: 0;
}


.arrow-box-left:before {
    border-right-color: #b5cdd7;
    border-width: 7px;
    top: 6px;
}


.arrow-box-left:before {
    border-right-color: #b5cdd7;
    border-width: 7px;
    top: 6px;
}

.arrow-box-left:after, .arrow-box-left:before {
    border: medium solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    width: 0;
}


.arrow-box-left:after {
    border-right-color: #fafeff;
    border-width: 6px;
    top: 7px;
}

.arrow-box-left:after, .arrow-box-left:before {
    border: medium solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    width: 0;
}

.chat-box .arrow-box-left {
    margin-left: 65px;
    margin-right: 15px;
}



.file-upload {
   margin: 0 10px 10px;
   overflow: hidden;
   position: absolute;
   right: 0;
   top: 0;
}
.file-upload input.upload {
    cursor: pointer;
    font-size: 20px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#parsley_reg > input {
border: 1px solid rgb(222, 222, 222);
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 7px;
    width: 25%;
}

.chat-box .arrow-box-left, .chat-box .arrow-box-right {
    border-radius: 3px;
    margin-bottom: 15px;
    margin-top: 15px;
    min-height: 30px;
    padding: 5px 10px;
}


.arrow-box-left {
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.1);
}


.arrow-box-left {
    background: none repeat scroll 0 0 #fafeff;
    border: 1px solid #b5cdd7;
    box-sizing: content-box;
    position: relative;
}


hr.divider:after, li.divider:after {
    background: -moz-linear-gradient(left center , rgba(250, 250, 250, 0), #fafafa, rgba(250, 250, 250, 0)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 100%;
}

hr.divider, li.divider {
    background: -moz-linear-gradient(left center , rgba(205, 205, 205, 0), #cdcdcd, rgba(205, 205, 205, 0)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    height: 1px;
    position: relative;
}

.arrow-box-right.gray:before {
    border-left-color: #d8d8d8;
}

.arrow-box-right:before {
    border-left-color: #b5cdd7;
    border-width: 7px;
    top: 6px;
}

.arrow-box-right:after, .arrow-box-right:before {
    border: medium solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    left: 100%;
    pointer-events: none;
    position: absolute;
    width: 0;
}

.arrow-box-right:after {
    border-left-color: #fafeff;
    border-width: 6px;
    top: 7px;
}


.arrow-box-right:after, .arrow-box-right:before {
    border: medium solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    left: 100%;
    pointer-events: none;
    position: absolute;
    width: 0;
}

.chat-box .arrow-box-right {
    margin-left: 15px;
    margin-right: 65px;
}

.chat-box .arrow-box-left, .chat-box .arrow-box-right {
    border-radius: 3px;
    margin-bottom: 15px;
    margin-top: 15px;
    min-height: 30px;
    padding: 5px 10px;
}


.arrow-box-right.gray {
    border-color: #d8d8d8;
}

.arrow-box-right {
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.1);
}

.arrow-box-right {
    background: none repeat scroll 0 0 #fafeff;
    border: 1px solid #b5cdd7;
    box-sizing: content-box;
    position: relative;
}

.chat-box .info .time {
    float: right;
}

.chat-box .info {
    color: #949494;
}

.chat-box .info .name {
    float: left;
}
.chat-box .info .name strong {
    color: #2c596d;
    margin-right: 10px;
}

.arrow-box-right:before {
    border-left-color: #b5cdd7;
    border-width: 7px;
    top: 6px;
}

.mar-topright{margin-right:25px;}
.arrow-box-left:before {
    border-right-color: #b5cdd7;
    border-width: 7px;
    top: 6px;
}
.arrow-box-left:after {
    border-right-color: #fafeff;
    border-width: 6px;
    top: 7px;
}
.arrow-box-right:after {
    border-left-color: #fafeff;
    border-width: 6px;
    top: 7px;
}
.chat-box .info:after {
    clear: both;
}
.chat-box .info:after {
    content: "";
    display: table;
    line-height: 0;
}
.chat-box .info {
    border-radius: 2px;
    color: #949494;
}

.row1{ padding-top:20px;}
.left_space{ text-transform:capitalize;}
.back{margin-top:0;padding-right:19px; color: #1d70b7; font: 700 15px/34px 'Roboto',sans-serif; }



/*css by prateek 29-sept-14*/
.padding-left-0{padding-left:0;}
.padding-right-0{padding-right:0;}
.padding{padding:0;}

.top_ico_nav li .active-tab {background-color: #1d70b7;border: 1px solid #e1e1e1;color: #fff;display: block;height: 78px;min-width: 100px;padding: 12px 5px 10px;position: relative;text-align: center;}
#top_header .logo_admin{ width: 18%; float:left; }
#top_header .logo_admin a {
    float: left;
    /*margin-top: -8px;*/
    width:100%;
}
}
#footer .logo_admin{float: left;
text-align: left;
width: auto;}

#parsley_reg .form_sep label{font-weight:bold;}
.input-group-addon, .input-group-btn{width:13.3%;}

.datepicker  .datepicker-days table{width:100%;}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{resize:none;}
.filterHolder ,#company_id, #facility_id, #staff_id{width:15%;}
.upload_outer{width:30%;position:relative;}
.upload_profile_outer{width:69%;position:relative;}
.browseWidth {
    float: none;
    width: 70%;
}
table{color:#888;}
.pagination li > a, .pagination li > span{color:#888;}
.panel-body  label{color:#888;}
.margin-0-border-0{margin-top:0!important;border:0px solid #e3e3e3!important;}
.btn-sm, .btn-xs{border-radius: 0!important;font-size: 12px;line-height: 1.5; margin-left: 2px; padding: 5px 10px; width: 48.1%; }
@media screen and (-webkit-min-device-pixel-ratio:0){
.btn-sm, .btn-xs{width: 48.2%;}
}
.foot-pddng{padding-top:40px; font-size:12px; font-family:arial;}
.logo_admin img {
    margin-left: 6px;
    height: 90px;
}

.error > p {
    margin-top: -20px;
    margin-left: 20px;
}

}
@media only screen and (width: 1920px) {
.upload_outer{width:20%;}
}
@media only screen and (max-width: 1366px) {
.upload_profile_outer{width:103%;}
}
@media only screen and (width: 1280px) {
.upload_outer{width:35%;}

}


/* css end by prateek*/
.mail-upload-box{
	position: relative;
}
.mail-upload-box .btn-primary {
    background: none repeat scroll 0 0 #5bc0de;
    border-color: #46b8da;
    color: #fff;
    font-weight: bold;
    text-shadow: none;
     border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    padding: 4px 8px !important;
}
.mail-upload-box .file-attachments {
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 2;
}
.mail-upload-box .attach-mail-data {
    background: none repeat scroll 0 0 #efefef !important;
    color: #000;
    padding: 9px;
    width: 25%;
    display: inline-block;
    border: none;
}
.form_sep .add_field_button{
	margin-top: 5px;
}

.select_btn{
    color:#333;
    text-shadow:0 1px rgba(0,0,0,0.1);
    text-shadow:0 1px 0 #fff;
    background-color:#f3f3f3;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#f5f5f5),to(#f1f1f1));
    background-image:-webkit-linear-gradient(top,#f5f5f5,0%,#f1f1f1,100%);
    background-image:-moz-linear-gradient(top,#f5f5f5 0,#f1f1f1 100%);
    background-image:linear-gradient(to bottom,#f5f5f5 0,#f1f1f1 100%);
    background-repeat:repeat-x;border:1px solid #dcdcdc;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#fff1f1f1',GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
    }
.select_btn:hover, .select_btn:focus, .select_btn:active{
    color:#333;
    background-color:#e4e4e4;
    background-color:#e4e4e4 \9;
    background-image:-webkit-gradient(linear,left 0,left 100%,from(#f5f5f5),to(#e4e4e4));
    background-image:-webkit-linear-gradient(top,#f5f5f5,0%,#e4e4e4,100%);
    background-image:-moz-linear-gradient(top,#f5f5f5 0,#e4e4e4 100%);
    background-image:linear-gradient(to bottom,#f5f5f5 0,#e4e4e4 100%);
    background-repeat:repeat-x;border:1px solid #cfcfcf;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#ffe4e4e4',GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)
    }
}