/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size:14px; color:#333; line-height:24px; text-align:left;
	font-family:Tahoma, Geneva, sans-serif;
}


.main{ margin:5px auto; max-width:900px; width:100%;}
.main p{font-size:16px; color:#333; line-height:30px; margin-bottom:5px; padding: 6px 10px;}
.main p strong{font-size:18px;font-weight:700;}
.main span{font-size:25px; color:#333; font-weight:normal;}
.main tabel, td{ border:solid 1px #CCCCCC; vertical-align:text-top;}

.overview-main{ margin:0 auto; max-width:1310px; width:100%;}
.overview-main .bg-grey{ background:#c0c0c0;}
.overview-main .bg-grey p{padding:0px; line-height:18px; margin-bottom:0px;}


.overview-main p{font-size:12px; color:#333; line-height:24px; margin-bottom:5px; padding: 3px 0px;}
.overview-main p strong{font-size:12px; color:#333; font-weight:700;}
.overview-main span{font-size:20px; color:#333; font-weight:normal; padding:0px; display:block;}
.overview-main tabel, td{ border:solid 1px #000; vertical-align:text-top;}

.overview-main .bg-1{ background:#993366;color:#FFF;}
.overview-main .bg-1 p strong{ color:#FFF;}

.overview-main .bg-2{ background:#ccffcc;}
.overview-main .bg-2 p strong{ color:#333;}

.overview-main .bg-3{ background:#fcd5b4;}
.overview-main .bg-3 p strong{ color:#333;}

.overview-main .bg-4{ background:#ffcc00;}
.overview-main .bg-4 p strong{ color:#333;}

.overview-main .bg-5{ background:#b2a1c7;}
.overview-main .bg-5 p strong{ color:#FFF;}	